Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

.circleci/config.yml:

version: 2.1

setup: true

on_main_or_tag_filter: &on_main_or_tag_filter
  filters:
    branches:
      only: main
    tags:
      only: /^v\d+\.\d+\.\d+/

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v\d+\.\d+\.\d+/

orbs:
  path-filtering: circleci/path-filtering@1.2.0

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish
      - run:
          name: Update pypirc
          command: ./.circleci/update-pypirc.sh
      - run:
          name: Publish Python Tests package
          command: unset TWINE_USERNAME TWINE_PASSWORD && make publish-tests
  gh-release:
    docker:
      - image: cimg/node:20.19.0
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:20.19.0
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            pnpm install
      - run:
          name: Build UI
          command: pnpm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist
  trigger_private_renovate:
    docker:
      - image: cimg/base:2021.11
    resource_class: small
    steps:
      - run:
          name: Trigger private renovate
          command: |
            curl --request POST \
              --url $TOBIKO_PRIVATE_CIRCLECI_URL \
              --header "Circle-Token: $TOBIKO_PRIVATE_CIRCLECI_KEY" \
              --header "content-type: application/json" \
              --data '{
                "branch":"main",
                "parameters":{
                  "run_main_pr":false,
                  "run_sqlmesh_commit":false,
                  "run_renovate":true
                  }
              }'

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py|pyproject.toml python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true
            vscode/extensions/.* vscode true
          tag: "3.9"
      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_main_or_tag_filter
      - publish:
          <<: *on_main_or_tag_filter
          requires:
            - ui-build
      - trigger_private_renovate:
          <<: *on_tag_filter
          requires:
            - publish

Chore: Add the max identifier length to the mssql adapter
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Fix!: respect quoting setting in dbt
  sqlmesh/dbt/manifest.py
  tests/.gitignore
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_model.py
Due: python

Fix tests
  tests/dbt/test_transformation.py
Due: python

Fix: Mask credentials in duckdb attach for postgres, mysql logging
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

pr feedback
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

Chore: Add the max identifier length to the mssql adapter (#5527)
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Fix: Mask credentials in duckdb attach for postgres, mysql logging (#5528)
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

fix: ensure dbt BigQueryConfig dataset & project are set (#5526)
  sqlmesh/dbt/target.py
  tests/dbt/test_transformation.py
Due: python

Fix: Check whether the expired snapshot is among previously finalized snapshots if the environment is not finalized (#5521)
  sqlmesh/core/state_sync/db/snapshot.py
  tests/core/state_sync/test_state_sync.py
Due: python

chore: fix dbt test flakiness
  tests/conftest.py
  tests/dbt/conftest.py
  tests/dbt/test_model.py
Due: python

chore: fix dbt test flakiness (#5530)
  tests/conftest.py
  tests/dbt/conftest.py
  tests/dbt/test_model.py
Due: python

ignore partition_by config if dialect is snowflake
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

pr feedback
  sqlmesh/dbt/model.py
Due: python

assert the warning gets logged
  tests/dbt/test_transformation.py
Due: python

Disable sqlglot optimization for dbt projects
  .circleci/continue_config.yml
  sqlmesh/dbt/model.py
  tests/core/integration/test_dbt.py
  tests/core/integration/test_multi_repo.py
  tests/dbt/test_model.py
Due: python, common

fix for flaky test
  tests/dbt/test_model.py
Due: python

fix: dbt as_bool and as_number filters should return their original input values
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

Fix!: Allow expressions in scd type 2 models columns, check_cols in dbt
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/utils/pydantic.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_model.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/snapshots/items_snapshots.sql
Due: python

fix adapter logic to handle expressions
  sqlmesh/core/engine_adapter/base.py
Due: python

simplify layout component
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/LineageLayoutBase.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/node/useNodeMetadata.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/utils.ts
  web/common/src/components/VirtualList/VirtualList.tsx
Due: none

formatting
  web/common/src/components/Lineage/LineageLayoutBase.tsx
Due: none

fix(web_common): simplify layout component (#5533)
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/LineageLayoutBase.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/node/useNodeMetadata.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/utils.ts
  web/common/src/components/VirtualList/VirtualList.tsx
Due: none

set up lineage for vscode ext
  vscode/react/package.json
  vscode/react/postcss.config.js
  vscode/react/src/App.css
  vscode/react/src/main.tsx
  vscode/react/src/pages/ModelLineage.tsx
  vscode/react/src/pages/ModelLineageContext.ts
  vscode/react/src/pages/ModelNode.tsx
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/src/pages/help.ts
  vscode/react/src/pages/lineage.tsx
  vscode/react/tailwind.config.cjs
  vscode/react/tsconfig.json
  vscode/react/vite.config.js
Due: none

update packages
  pnpm-lock.yaml
Due: none

simplify colors
  vscode/react/src/App.css
  vscode/react/src/pages/ModelNode.tsx
Due: none

update css
  pnpm-lock.yaml
  vscode/react/package.json
  vscode/react/src/App.css
  vscode/react/src/pages/ModelLineage.tsx
Due: none

remove unused
  pnpm-lock.yaml
  vscode/react/package.json
  vscode/react/src/pages/ModelNode.tsx
Due: none

clean up
  vscode/react/src/pages/ModelNode.tsx
Due: none

fix node selection
  vscode/react/src/pages/ModelLineage.tsx
Due: none

remove grpah component from vscode ext
  vscode/react/src/App.css
  vscode/react/src/components/graph/CogIcon.tsx
  vscode/react/src/components/graph/Graph.css
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/ModelNodeHeaderHandles.tsx
  vscode/react/src/components/graph/SettingsControl.tsx
  vscode/react/src/components/graph/constants.ts
  vscode/react/src/components/graph/context.tsx
  vscode/react/src/components/graph/help.ts
  vscode/react/src/components/graph/types.ts
  vscode/react/src/components/graph/workers/index.ts
  vscode/react/src/components/graph/workers/lineage.ts
  vscode/react/src/pages/ModelLineage.tsx
  vscode/react/src/pages/ModelNode.tsx
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/tailwind.config.cjs
Due: none

adjust colors
  vscode/react/src/App.css
  vscode/react/src/pages/ModelLineage.tsx
Due: none

some pr comments
  pnpm-lock.yaml
  vscode/bus/src/brand.ts
  vscode/react/package.json
  vscode/react/src/pages/ModelLineage.tsx
  vscode/react/src/pages/ModelLineageContext.ts
  vscode/react/src/pages/ModelNode.tsx
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/src/pages/help.ts
  vscode/react/src/pages/lineage.tsx
Due: none

include common package directly
  pnpm-lock.yaml
  vscode/react/package.json
  vscode/react/src/App.css
  vscode/react/src/main.tsx
  vscode/react/src/pages/ModelLineage.tsx
  vscode/react/src/pages/ModelLineageContext.ts
  vscode/react/src/pages/ModelNode.tsx
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/src/pages/lineage.tsx
  vscode/react/tailwind.config.cjs
  vscode/react/tsconfig.json
  vscode/react/vite.config.js
Due: none

pr comments
  vscode/react/src/App.css
  vscode/react/src/pages/ModelLineage.tsx
  vscode/react/src/pages/ModelNode.tsx
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/src/pages/help.ts
  vscode/react/src/pages/lineage.tsx
Due: none

package
  pnpm-lock.yaml
Due: none

types
  vscode/bus/src/brand.ts
  vscode/react/src/pages/ModelLineageContext.ts
  vscode/react/src/pages/ModelNodeColumn.tsx
  vscode/react/src/pages/lineage.tsx
Due: none

formatting
  vscode/react/src/pages/ModelLineage.tsx
Due: none

Feat(sqlmesh_dbt): Add support for --project-dir and --profiles-dir (#5524)
  sqlmesh/core/config/loader.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/profile.py
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/operations.py
  tests/dbt/cli/test_global_flags.py
Due: python

making it key for model
  sqlmesh/core/context.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/loader.py
  sqlmesh/core/test/discovery.py
Due: python

moving to use eager loaded tests for testing
  sqlmesh/core/context.py
Due: python
