Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

Chore: rename clean-caches to clear-caches
  Makefile
Due: common

Fix: dont try to serialize engine adapter to sql in macro template method (#5455)
  sqlmesh/core/macros.py
Due: python

fix: use bitnami legacy for spark
  tests/core/engine_adapter/integration/docker/spark/Dockerfile
Due: python

Chore: rename clean-caches to clear-caches (#5472)
  Makefile
Due: common

fix: use bitnami legacy for spark (#5470)
  tests/core/engine_adapter/integration/docker/spark/Dockerfile
Due: python

Fix!: respect quoting setting in dbt
  sqlmesh/dbt/manifest.py
  tests/.gitignore
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_model.py
Due: python

fix: unicode in model name databricks (#5465)
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_databricks.py
Due: python

clean up
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/LineageColumnLevel/useColumns.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/layout/dagreLayout.worker.ts
  web/common/src/components/Lineage/node/NodeBase.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/utils.ts
Due: none

add components for lineage
  pnpm-lock.yaml
  web/common/.storybook/main.ts
  web/common/package.json
  web/common/src/components/Lineage/Lineage.css
  web/common/src/components/Lineage/LineageColumnLevel/ColumnLevelLineageContext.ts
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/LineageColumnLevel/useColumnLevelLineage.ts
  web/common/src/components/Lineage/LineageColumnLevel/useColumns.tsx
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageControlButton.tsx
  web/common/src/components/Lineage/LineageControlIcon.tsx
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/edge/FactoryEdgeWithGradient.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/layout/dagreLayout.worker.ts
  web/common/src/components/Lineage/node/NodeAppendix.tsx
  web/common/src/components/Lineage/node/NodeBadge.tsx
  web/common/src/components/Lineage/node/NodeBase.tsx
  web/common/src/components/Lineage/node/NodeContainer.tsx
  web/common/src/components/Lineage/node/NodeDivider.tsx
  web/common/src/components/Lineage/node/NodeHandle.tsx
  web/common/src/components/Lineage/node/NodeHandleIcon.tsx
  web/common/src/components/Lineage/node/NodeHandles.tsx
  web/common/src/components/Lineage/node/NodeHeader.tsx
  web/common/src/components/Lineage/node/NodePort.tsx
  web/common/src/components/Lineage/node/NodePorts.tsx
  web/common/src/components/Lineage/node/base-handle.tsx
  web/common/src/components/Lineage/node/base-node.tsx
  web/common/src/components/Lineage/node/useNodeMetadata.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelLineageContext.ts
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/stories/ModelNodeColumn.tsx
  web/common/src/components/Lineage/stories/help.ts
  web/common/src/components/Lineage/utils.ts
  web/common/tailwind.base.config.js
  web/common/tsconfig.base.json
Due: none

adjust node look
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.worker.ts
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/ModelName/ModelName.tsx
Due: none

adjust node widht
  web/common/src/components/Lineage/utils.ts
Due: none

adjust linegae story
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/edge/EdgeWithGradient.tsx
  web/common/src/components/Lineage/edge/FactoryEdgeWithGradient.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/node/NodeHeader.tsx
  web/common/src/components/Lineage/node/NodePort.tsx
  web/common/src/components/Lineage/node/NodePorts.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/stories/ModelNodeColumn.tsx
  web/common/src/components/Lineage/utils.ts
  web/common/tailwind.base.config.js
  web/common/tailwind.lineage.config.js
Due: none

tweak types to be more generic
  web/common/src/components/Lineage/LineageColumnLevel/ColumnLevelLineageContext.ts
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/LineageColumnLevel/help.ts
  web/common/src/components/Lineage/LineageColumnLevel/useColumnLevelLineage.ts
  web/common/src/components/Lineage/LineageColumnLevel/useColumns.tsx
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/edge/FactoryEdgeWithGradient.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/node/NodePort.tsx
  web/common/src/components/Lineage/node/NodePorts.tsx
  web/common/src/components/Lineage/node/useNodeMetadata.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelLineageContext.ts
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/stories/ModelNodeColumn.tsx
  web/common/src/components/Lineage/utils.ts
Due: none

adjust delay
  web/common/src/components/Lineage/stories/ModelLineage.tsx
Due: none

adjust utils
  web/common/src/components/Lineage/utils.ts
Due: none

split more to include in vscode and data catalog
  web/common/package.json
  web/common/src/components/Lineage/LineageColumnLevel/ColumnLevelLineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/edge/FactoryEdgeWithGradient.tsx
  web/common/src/components/Lineage/index.ts
  web/common/src/components/Lineage/layout/dagreLayout.ts
  web/common/src/components/Lineage/layout/dagreLayout.worker.ts
  web/common/src/components/Lineage/layout/help.ts
  web/common/src/components/Lineage/node/NodeBase.tsx
  web/common/src/components/Lineage/node/useNodeMetadata.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelLineageContext.ts
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/stories/dagreLayout.worker.ts
  web/common/src/components/Lineage/utils.ts
  web/common/vite.config.js
Due: none

typo
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/utils.ts
Due: none

packages
  pnpm-lock.yaml
  web/common/package.json
Due: none

clean up
  web/common/src/components/Lineage/LineageContext.ts
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/layout/dagreLayout.worker.ts
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
Due: none

css
  web/common/src/components/Lineage/node/NodeBase.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/VirtualList/FilterableList.css
  web/common/src/components/VirtualList/FilterableList.tsx
  web/common/tailwind.base.config.js
Due: none

move package
  web/common/package.json
Due: none

move package
  pnpm-lock.yaml
Due: none

update lock
  pnpm-lock.yaml
Due: none

update package
  pnpm-lock.yaml
  web/common/package-lock.json
  web/common/package.json
  web/common/tsconfig.build.json
Due: none

forgot
  web/common/src/components/CopyButton/CopyButton.tsx
Due: none

extra styling
  web/common/src/components/Input/Input.css
  web/common/src/components/Input/Input.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/MessageContainer/MessageContainer.css
  web/common/src/components/MessageContainer/MessageContainer.tsx
  web/common/src/components/Metadata/Metadata.css
  web/common/src/components/VirtualList/FilterableList.css
  web/common/src/styles/design/semantic-colors.css
  web/common/tailwind.base.config.js
Due: none

celan up
  web/common/src/components/Lineage/LineageControlButton.tsx
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/help.test.ts
  web/common/src/components/Lineage/node/NodeDetail.tsx
  web/common/src/components/VirtualList/VirtualList.tsx
Due: none

missing packager
  web/common/package.json
Due: none

missing packager
  pnpm-lock.yaml
Due: none

modify styling
  web/common/src/components/Lineage/LineageControlButton.tsx
  web/common/src/components/Lineage/help.test.ts
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/stories/ModelNode.tsx
  web/common/src/components/Lineage/utils.ts
  web/common/src/components/Typography/Information.tsx
  web/common/tailwind.base.config.js
  web/common/tailwind.config.js
  web/common/tailwind.lineage.config.js
Due: none

fix cll sytyling for source/expressions
  web/common/src/components/Lineage/LineageColumnLevel/FactoryColumn.tsx
  web/common/src/components/Lineage/help.ts
  web/common/src/components/Lineage/stories/ModelLineage.tsx
  web/common/src/components/Lineage/utils.ts
Due: none

adjust syncpack
  web/common/.syncpackrc
Due: none

fix test
  web/common/package.json
  web/common/src/components/Lineage/help.test.ts
Due: none

remove command
  web/common/package.json
Due: none

formatting
  web/common/package.json
Due: none

only cache data objects mantained by sqlmesh
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_snapshot_evaluator.py
Due: python

add option to toggle node dragging
  web/common/src/components/Lineage/LineageLayout.tsx
  web/common/src/components/Lineage/stories/Lineage.stories.tsx
  web/common/src/components/Lineage/stories/ModelLineage.tsx
Due: none

clean up
  web/common/src/components/Lineage/LineageLayout.tsx
Due: none

Chore: Cache results of get_data_objects (#5467)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_athena.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_transformation.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
