Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Feat!: Preliminary work to enable WAP support (#1759)
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/engines/commands.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

Chore!: bump sqlglot to v19.7.0
  setup.py
Due: python

Chore!: bump sqlglot to v19.7.0 (#1763)
  setup.py
Due: python

increase delay
  web/client/src/api/index.ts
  web/client/src/library/components/plan/PlanActions.tsx
Due: client

use const for delay time
  web/client/src/api/index.ts
Due: client

Chore: Increase timeout (#1764)
  web/client/src/api/index.ts
  web/client/src/library/components/plan/PlanActions.tsx
Due: client

Fix: Airflow tests
  sqlmesh/core/snapshot/evaluator.py
Due: python

formatting
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
Due: client

show running state
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
Due: client

remove duplicate
  web/client/src/library/components/plan/PlanActions.tsx
Due: client

fix plan flow and display tests (failed)
  web/client/src/api/index.ts
  web/client/src/context/project.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/PlanSidebar.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/main.tsx
  web/client/src/models/environment.ts
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan.ts
  web/server/console.py
Due: client, python

fix typo
  web/client/src/models/tracker-plan-apply.ts
Due: client

Add test
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Test columns_to_types as well
  tests/core/engine_adapter/test_mssql.py
Due: python

Chore(docs): unify and use more expressive time_column names (#1760)
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/guides/configuration.md
  docs/guides/incremental_time.md
  docs/guides/models.md
Due: none

Fix: Plan flow and display tests (failed) (#1751)
  web/client/src/api/index.ts
  web/client/src/context/project.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/PlanSidebar.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/main.tsx
  web/client/src/models/environment.ts
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan.ts
  web/server/console.py
Due: client, python

PR feedback
  sqlmesh/core/engine_adapter/mssql.py
Due: python

clean up plan component
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan-overview.ts
  web/client/src/models/tracker-plan.ts
Due: client

fix formatting
  web/client/src/library/components/plan/Plan.tsx
Due: client

dry up
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/models/tracker-plan-overview.ts
Due: client

Chore: Clean up plan component (#1765)
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan-overview.ts
  web/client/src/models/tracker-plan.ts
Due: client

Feat: Add support for duckdb extensions and connector config
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/target.py
  tests/core/test_connection_config.py
Due: python

Add docs and default fields
  docs/integrations/engines/duckdb.md
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/target.py
Due: python

Feat: Add support for duckdb extensions and connector config (#1766)
  docs/integrations/engines/duckdb.md
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/target.py
  tests/core/test_connection_config.py
Due: python

Fix(mssql): pymssql doesn't convert datetime.date objects (#1745)
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Feat: Add Iceberg WAP support to the Spark engine adapter
  sqlmesh/core/audit/definition.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

Fix databricks
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/spark.py
Due: python

chore: improve error message for rendering
  sqlmesh/core/renderer.py
Due: python

fix: redshift dbt connection timeout none
  sqlmesh/dbt/target.py
Due: python

fix: redshift dbt connection timeout none (#1771)
  sqlmesh/dbt/target.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
