Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Docs: edit and formatting pass on incremental guide (#3378)
  docs/guides/incremental_time_full_walkthrough.md
  mkdocs.yml
Due: none

minor edits
  docs/guides/incremental_time_full_walkthrough.md
Due: none

examples navbar
  docs/examples/incremental_time_full_walkthrough.md
  mkdocs.yml
Due: none

Update docs/examples/incremental_time_full_walkthrough.md
  docs/examples/incremental_time_full_walkthrough.md
Due: none

Incremental by Time Range Full Walkthrough (#3375)
  docs/examples/incremental_time_full_walkthrough.md
  docs/guides/ui/column_level_audit_trail.png
  docs/guides/ui/node_level_audit_trail.png
  mkdocs.yml
Due: none

Fix star macro when used with snowflake
  sqlmesh/core/macros.py
Due: python

Chore!: bump sqlglot to v25.31.2
  setup.py
  tests/core/engine_adapter/test_spark.py
Due: python

Chore!: bump sqlglot to v25.31.2 (#3384)
  setup.py
  tests/core/engine_adapter/test_spark.py
Due: python

Feat: expose a resolve_table helper in Jinja to get physical model names
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Chore: bump sqlglot to v25.31.4
  setup.py
  tests/core/engine_adapter/test_spark.py
Due: python

Chore: bump sqlglot to v25.31.4 (#3386)
  setup.py
  tests/core/engine_adapter/test_spark.py
Due: python

Feat: expose a resolve_table helper in Jinja to get physical model names (#3385)
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Refactor!: support complex expressions in clustered_by property
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
  web/server/api/endpoints/models.py
Due: python

Feat: add glob pattern matching to --paths (#3373)
  sqlmesh/core/config/loader.py
  tests/core/test_context.py
Due: python

Add examples section overview page
  docs/examples/incremental_time/column_level_audit_trail.png
  docs/examples/incremental_time/node_level_audit_trail.png
  docs/examples/incremental_time_full_walkthrough.md
  docs/examples/overview.md
  mkdocs.yml
Due: none

Refactor!: support complex expressions in clustered_by property (#3383)
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
  web/server/api/endpoints/models.py
Due: python

Test cloud engines during PR
  .circleci/continue_config.yml
Due: common

Correctly handle non-datetime time column in partitioning function
  sqlmesh/core/model/meta.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Refactor: make resolve_table consistent across evaluation contexts
  docs/concepts/models/python_models.md
  examples/ibis/models/ibis_full_model_python.py
  examples/sushi/models/order_items.py
  examples/sushi/models/raw_marketing.py
  examples/wursthall/models/db/order_f.py
  sqlmesh/core/context.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

remove extra word
  docs/examples/incremental_time_full_walkthrough.md
Due: none

Move partitioned_by property from ModelMeta to _Model
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
Due: python

Only run cloud tests in main
  .circleci/continue_config.yml
Due: common

Move _partition_by_columns property inline
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
Due: python

Update sqlmesh/core/model/definition.py
  sqlmesh/core/model/definition.py
Due: python

PR feedback
  sqlmesh/core/model/definition.py
Due: python

clarity and capitalization
  docs/examples/overview.md
Due: none

Docs: add examples section overview page (#3388)
  docs/examples/incremental_time/column_level_audit_trail.png
  docs/examples/incremental_time/node_level_audit_trail.png
  docs/examples/incremental_time_full_walkthrough.md
  docs/examples/overview.md
  mkdocs.yml
Due: none

Chore: update clustered_by model configuration documentation page
  docs/reference/model_configuration.md
Due: none

Chore: update clustered_by model configuration documentation page (#3390)
  docs/reference/model_configuration.md
Due: none

Refactor: make resolve_table consistent across evaluation contexts (#3389)
  docs/concepts/models/python_models.md
  examples/ibis/models/ibis_full_model_python.py
  examples/sushi/models/order_items.py
  examples/sushi/models/raw_marketing.py
  examples/wursthall/models/db/order_f.py
  sqlmesh/core/context.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

Attempt to fix CI by removing `.name` call
  sqlmesh/core/macros.py
Due: python

Fix(clickhouse): support non-datetime time column partitioning (#3357)
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Feat: Support pinning of the physical table version for forward-only models
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/dbt/model.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
Due: python

Fix star macro with snowflake dialect
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Edit BQ connection guide
  docs/integrations/engines/bigquery.md
Due: none

adding bigquery connection tutorial
  docs/integrations/bigquery/bigquery-1.png
  docs/integrations/bigquery/bigquery-2.png
  docs/integrations/bigquery/bigquery-3.png
  docs/integrations/bigquery/bigquery-4.png
  docs/integrations/bigquery/bigquery-5.png
  docs/integrations/bigquery/bigquery-6.png
  docs/integrations/engines/bigquery.md
Due: none

fixed image issues
  docs/integrations/engines/bigquery.md
  docs/integrations/engines/bigquery/bigquery-1.png
  docs/integrations/engines/bigquery/bigquery-2.png
  docs/integrations/engines/bigquery/bigquery-3.png
  docs/integrations/engines/bigquery/bigquery-4.png
  docs/integrations/engines/bigquery/bigquery-5.png
  docs/integrations/engines/bigquery/bigquery-6.png
Due: none

Add an integration test
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_integration.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
