Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

.circleci/config.yml:

version: 2.1

setup: true

on_main_or_tag_filter: &on_main_or_tag_filter
  filters:
    branches:
      only: main
    tags:
      only: /^v\d+\.\d+\.\d+/

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v\d+\.\d+\.\d+/

orbs:
  path-filtering: circleci/path-filtering@1.2.0

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish
      - run:
          name: Update pypirc
          command: ./.circleci/update-pypirc.sh
      - run:
          name: Publish Python Tests package
          command: unset TWINE_USERNAME TWINE_PASSWORD && make publish-tests
  gh-release:
    docker:
      - image: cimg/node:20.19.0
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:20.19.0
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            pnpm install
      - run:
          name: Build UI
          command: pnpm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist
  trigger_private_renovate:
    docker:
      - image: cimg/base:2021.11
    resource_class: small
    steps:
      - run:
          name: Trigger private renovate
          command: |
            curl --request POST \
              --url $TOBIKO_PRIVATE_CIRCLECI_URL \
              --header "Circle-Token: $TOBIKO_PRIVATE_CIRCLECI_KEY" \
              --header "content-type: application/json" \
              --data '{
                "branch":"main",
                "parameters":{
                  "run_main_pr":false,
                  "run_sqlmesh_commit":false,
                  "run_renovate":true
                  }
              }'

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py|pyproject.toml python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true
            vscode/extensions/.* vscode true
          tag: "3.9"
      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_main_or_tag_filter
      - publish:
          <<: *on_main_or_tag_filter
          requires:
            - ui-build
      - trigger_private_renovate:
          <<: *on_tag_filter
          requires:
            - publish

Update vscode/extension/tests/external_models.spec.ts
  vscode/extension/tests/external_models.spec.ts
Due: none

feat(vscode): startup extension on external models files (#5012)
  vscode/extension/package.json
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/tests/external_models.spec.ts
Due: none

feat: linting rule no unregistered external models
  examples/sushi/config.py
  sqlmesh/core/linter/rules/builtin.py
  tests/core/linter/test_builtin.py
Due: python

added better message
  sqlmesh/core/linter/rules/builtin.py
  vscode/extension/tests/quickfix.spec.ts
Due: python

Revert "Add odbc to engine_tests_cloud in circleci"
  .circleci/continue_config.yml
Due: common

fix(circleci): Add unixodbc-dev to common dependencies in install script
  .circleci/install-prerequisites.sh
Due: common

Revert "fix: change varchar(max) to varchar(8000) in integration tests"
  tests/core/engine_adapter/integration/test_integration.py
Due: python

fix(docs): update installation command and add tenant & workspace UUID to connection options for Fabric engine
  docs/integrations/engines/fabric.md
Due: none

fix(tests): change varchar(max) to varchar in table creation tests
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Fix: Dont normalize aliases in merge and when matched
  sqlmesh/core/dialect.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_config.py
Due: python

run cloud tests
  .circleci/continue_config.yml
Due: common

Chore!: bump sqlglot to v27.3.1
  pyproject.toml
Due: python

Chore!: bump sqlglot to v27.3.1 (#5015)
  pyproject.toml
Due: python

feat!: linting rule no unregistered external models (#5009)
  examples/sushi/config.py
  sqlmesh/core/linter/rules/builtin.py
  tests/core/linter/test_builtin.py
  vscode/extension/tests/quickfix.spec.ts
Due: python

Bump sqlglot
  pyproject.toml
Due: python

feat(circleci): add fabric to the list of cloud engines to test
  .circleci/continue_config.yml
Due: common

feat: linting rule for unregistered external models
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/linter/rules/helpers/__init__.py
  sqlmesh/core/linter/rules/helpers/lineage.py
  sqlmesh/core/linter/rules/helpers/yaml.py
  sqlmesh/lsp/completions.py
  sqlmesh/lsp/description.py
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  sqlmesh/lsp/rename.py
  tests/core/linter/test_builtin.py
  tests/lsp/test_description.py
  tests/lsp/test_reference.py
  tests/lsp/test_reference_external_model.py
Due: python

Feat: Add support for pre, post, on_virtual_update statements in config
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

pr feedback
  tests/core/test_context.py
Due: python

pr feedback 2
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  tests/core/test_config.py
Due: python

pr feedback 3
  tests/core/test_context.py
Due: python

Feat: Add support for pre, post, on_virtual_update statements in config (#4995)
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

Fix: Use merge instead over insert append when updating auto restatements
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

Add extra assertions
  tests/core/test_table_diff.py
Due: python

More selective deletes
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

Fix(table_diff): Correctly handle joins with composite keys where one or more of the key fields are null (#5007)
  sqlmesh/core/table_diff.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_table_diff.py
Due: python

Fix(cicd_bot): Include namespace in deploy command hint (#5006)
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

docs feedback
  docs/guides/configuration.md
  tests/core/test_integration.py
Due: python

Feat: Allow some control of table naming at the physical layer
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/common.py
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/hashing.py
  tests/core/test_config.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
Due: python

Update docs
  docs/reference/configuration.md
Due: none

PR feedback
  sqlmesh/core/config/root.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_config.py
  tests/core/test_snapshot.py
Due: python

feat(vscode): add test recognition to vscode
  sqlmesh/lsp/context.py
  sqlmesh/lsp/custom.py
  sqlmesh/lsp/main.py
  vscode/extension/src/lsp/custom.ts
  vscode/extension/src/tests/tests.ts
Due: python

docs: fix table formatting
  docs/reference/configuration.md
Due: none

docs: fix table formatting (#5020)
  docs/reference/configuration.md
Due: none

chore(vscode): refactor tests
  sqlmesh/lsp/main.py
  vscode/extension/tests/bad_setup.spec.ts
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/completions.spec.ts
  vscode/extension/tests/external_models.spec.ts
  vscode/extension/tests/find_references.spec.ts
  vscode/extension/tests/format.spec.ts
  vscode/extension/tests/go_to_definition.spec.ts
  vscode/extension/tests/hints.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/extension/tests/python_env.spec.ts
  vscode/extension/tests/quickfix.spec.ts
  vscode/extension/tests/rename_cte.spec.ts
  vscode/extension/tests/render.spec.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/tcloud.spec.ts
  vscode/extension/tests/utils.ts
  vscode/extension/tests/venv_naming.spec.ts
Due: python

chore(vscode): refactor tests (#5021)
  sqlmesh/lsp/main.py
  vscode/extension/tests/bad_setup.spec.ts
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/completions.spec.ts
  vscode/extension/tests/external_models.spec.ts
  vscode/extension/tests/find_references.spec.ts
  vscode/extension/tests/format.spec.ts
  vscode/extension/tests/go_to_definition.spec.ts
  vscode/extension/tests/hints.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/extension/tests/python_env.spec.ts
  vscode/extension/tests/quickfix.spec.ts
  vscode/extension/tests/rename_cte.spec.ts
  vscode/extension/tests/render.spec.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/tcloud.spec.ts
  vscode/extension/tests/utils.ts
  vscode/extension/tests/venv_naming.spec.ts
Due: python

Feat!: cancel submitted BigQuery jobs on keyboard interrupts
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python
