Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

feat: dbt adapter allow invalid ref for tests (#5207)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/utils/errors.py
  tests/dbt/test_model.py
Due: python

Fix: Improve tracking of var dependencies in dbt models
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/macros/test_dependencies.sql
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

use all vars when dynamic vars are detected
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/project.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

Fix!: Improve tracking of var dependencies in dbt models (#5204)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/macros/test_dependencies.sql
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

feat: make dbt loader multi core
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/dbt/loader.py
Due: python

Fix: Small fixes for seed models
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/seed.py
  tests/core/test_model.py
  tests/dbt/test_transformation.py
Due: python

Feat(dbt_cli): Add `--select` and `--exclude` options (#5200)
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/console.py
  sqlmesh_dbt/operations.py
  sqlmesh_dbt/selectors.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_run.py
  tests/dbt/cli/test_selectors.py
Due: python

Fix(fabric): Fix failing janitor test
  sqlmesh/core/engine_adapter/fabric.py
  tests/core/engine_adapter/integration/test_integration_fabric.py
Due: python

Disable parallelization on Fabric tests
  Makefile
Due: common

Enable fabric test for pr
  .circleci/continue_config.yml
Due: common

Revert "Disable parallelization on Fabric tests"
  Makefile
Due: common

Handle 'ItemDisplayNameNotAvailableYet' in warehouse creation
  sqlmesh/core/engine_adapter/fabric.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

adjustments
  .circleci/continue_config.yml
  Makefile
  pyproject.toml
  sqlmesh/core/config/loader.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/conftest.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

fix
  .circleci/manage-test-db.sh
  sqlmesh/core/engine_adapter/fabric.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Feat(dbt_cli): Add support for --vars
  sqlmesh/core/config/loader.py
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/error.py
  sqlmesh_dbt/operations.py
  sqlmesh_dbt/options.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_operations.py
Due: python

fix test
  sqlmesh_dbt/cli.py
Due: none

Add tests for YamlParamType
  sqlmesh_dbt/cli.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_options.py
Due: python

add hook to catch StashKey errors on teardown
  tests/conftest.py
Due: python

Set concurrent_tasks:1 on janitor test to help with Fabric
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Chore: fix dbt `relationships` manifest test
  tests/dbt/test_model.py
Due: python

Chore: fix dbt `references` manifest test (#5220)
  tests/dbt/test_model.py
Due: python

Fix: Cleanup of materialized view snapshots (#5213)
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Check if the target table exists when determining the value of the is_incremental flag
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/seed.py
  tests/core/test_integration.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/config.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

make styles exportable
  web/common/package.json
  web/common/src/components/Badge/Badge.tsx
  web/common/tailwind.base.config.js
  web/common/tailwind.config.js
  web/common/vite.config.js
Due: none

split tsconfig
  web/common/package.json
  web/common/tsconfig.base.json
  web/common/tsconfig.build.json
  web/common/tsconfig.json
  web/common/vite.config.js
Due: none

fix styling for dabge
  web/common/src/components/Badge/Badge.css
  web/common/src/components/Badge/Badge.tsx
  web/common/src/styles/design/semantic-colors.css
Due: none

fix case sensitivity
  sqlmesh/core/model/definition.py
Due: python

feat: widen dbt-core compatibility range
  .github/workflows/pr.yaml
  Makefile
  pyproject.toml
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/relation.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/util.py
  tests/dbt/conftest.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_integration.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
Due: python, common

Fix: Check if the target table exists when determining the value of the is_incremental flag (#5215)
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/seed.py
  tests/core/test_integration.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/config.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

Fix: Small fixes for seed models (#5217)
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/seed.py
  tests/core/test_model.py
  tests/dbt/test_transformation.py
Due: python

Add rows tracking
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/version.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_execution_tracker.py
  web/server/console.py
Due: python

Add engine support flags
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

Remove 'processed' and 'inserted' from console output
  sqlmesh/core/console.py
Due: python

Run cloud tests in CI
  .circleci/continue_config.yml
Due: common

Move all tracking into snapshot evaluator, remove seed tracker class
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_execution_tracker.py
Due: python

Use threading.local() instead of locks
  sqlmesh/core/execution_tracker.py
Due: python

Add flag for supporting row tracking to engine adapters
  .circleci/continue_config.yml
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Add BQ support and track bytes processed
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/version.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_execution_tracker.py
  web/server/console.py
Due: python

Fix tests and snowflake regex
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_table_diff.py
  tests/core/test_test.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
