Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Feat: BigQuery service account impersonation auth method (#3940)
  docs/integrations/engines/bigquery.md
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/target.py
  tests/cli/test_cli.py
Due: python

Feat: Allow opting out of the time_column being automatically added to the partitioned_by columns
  docs/concepts/models/model_kinds.md
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/migrations/v0074_add_partition_by_time_column_property.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/integrations/github/cicd/test_integration.py
  tests/schedulers/airflow/test_client.py
Due: python

fix attributes for SSO
  docs/cloud/features/single_sign_on.md
Due: none

Feat: Enable INCREMENTAL_UNMANAGED models in native projects
  docs/concepts/models/model_kinds.md
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Feat: Enable INCREMENTAL_UNMANAGED models in native projects (#3943)
  docs/concepts/models/model_kinds.md
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

raise error when there's duplicate model name
  sqlmesh/core/loader.py
Due: python

PR Feedback 11
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/schema.py
Due: python

PR Feedback 12
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/linter/definition.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_model.py
Due: python

Feat!: Allow opting out of the time_column being automatically added to the partitioned_by columns (#3941)
  docs/concepts/models/model_kinds.md
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/migrations/v0074_add_partition_by_time_column_property.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/integrations/github/cicd/test_integration.py
  tests/schedulers/airflow/test_client.py
Due: python

Chore: improve python model blueprint example docs
  docs/concepts/models/python_models.md
Due: none

Separate BQ user auth from account impersonation
  sqlmesh/core/config/connection.py
Due: python

Move import
  docs/integrations/engines/bigquery.md
  sqlmesh/core/config/connection.py
Due: python

Feat: separate BQ user auth from account impersonation (#3946)
  docs/integrations/engines/bigquery.md
  sqlmesh/core/config/connection.py
Due: python

perf: query tables with limit 0 when retrieving schema for tables wit… (#3935)
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

make sso docs more clear
  docs/cloud/features/single_sign_on.md
Due: none

Getting started tcloud docs (#3942)
  docs/cloud/features/single_sign_on.md
Due: none

Chore: improve python model blueprint example docs (#3948)
  docs/concepts/models/python_models.md
Due: none

test case and minor import change
  sqlmesh/core/loader.py
  tests/core/test_loader.py
Due: python

Feat: Introduce model linting
  examples/multi/repo_1/config.yaml
  examples/multi/repo_1/linter/user.py
  examples/multi/repo_2/config.yaml
  examples/sushi/linter/user.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/linter.py
  sqlmesh/core/config/model.py
  sqlmesh/core/config/root.py
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/linter/__init__.py
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/__init__.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/renderer.py
  sqlmesh/migrations/v0074_remove_validate_query.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Add rule violations to OptimizedQueryCache
  sqlmesh/core/model/cache.py
  sqlmesh/core/renderer.py
  tests/core/test_context.py
Due: python

Lift caching constraint for error violations
  sqlmesh/core/context.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/renderer.py
  tests/core/test_context.py
Due: python

Refactor console setting to a decorator
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/utils/test_helpers.py
Due: python

Chore!: bump sqlglot[rs] to v26.8.0 (#3934)
  setup.py
  sqlmesh/core/model/definition.py
  tests/core/test_macros.py
Due: python

PR Feedback 13
  sqlmesh/core/context.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/utils/errors.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

Move violated_rules to QueryRenderer, formatting fixes
  sqlmesh/core/context.py
  sqlmesh/core/renderer.py
Due: python

Bump migration script
  sqlmesh/migrations/v0075_remove_validate_query.py
Due: python

Feat!: Introduce Model linting (#3787)
  examples/multi/repo_1/config.yaml
  examples/multi/repo_1/linter/user.py
  examples/multi/repo_2/config.yaml
  examples/sushi/linter/user.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/linter.py
  sqlmesh/core/config/model.py
  sqlmesh/core/config/root.py
  sqlmesh/core/console.py
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/linter/__init__.py
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/__init__.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  sqlmesh/migrations/v0075_remove_validate_query.py
  sqlmesh/utils/errors.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/utils/test_helpers.py
Due: python

test: reproduce scheduler issue
  tests/core/test_scheduler.py
Due: python

Fix: Simplify the deployability index creation
  sqlmesh/core/snapshot/definition.py
Due: python

Fix: Simplify the deployability index creation (#3952)
  sqlmesh/core/snapshot/definition.py
Due: python

Chore: Switch from setup.py to pyproject.toml
  .circleci/continue_config.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
  tests/.gitignore
  tests/pyproject.toml
  tests/setup.py
Due: python, common

Fix: State sync snapshot count() quoting
  .circleci/continue_config.yml
  sqlmesh/core/state_sync/db/snapshot.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Fix Databricks bug in migration v0055
  sqlmesh/migrations/v0055_add_updated_ts_unpaused_ts_ttl_ms_unrestorable_to_snapshot.py
Due: python

Reinstate branch filter
  .circleci/continue_config.yml
Due: common

Airflow shotgun debugging
  examples/airflow/Dockerfile.template
Due: python

Fix: State sync snapshot count() quoting (#3954)
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/migrations/v0055_add_updated_ts_unpaused_ts_ttl_ms_unrestorable_to_snapshot.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Fix: Batch intervals in DAG order to make sure that parent snapshot signals are respected by their children
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

Fix: Batch intervals in DAG order to make sure that parent snapshot signals are respected by their children (#3956)
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
