Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

feat: add code href that links to the rule
  sqlmesh/core/linter/rule.py
  sqlmesh/lsp/main.py
  tests/core/test_rule.py
Due: python

Fix allow-destructive option name in docs
  docs/concepts/plans.md
  docs/guides/incremental_time.md
Due: none

Update mssql.md
  docs/integrations/engines/mssql.md
Due: none

fix: separate pyodbc dependency for azuresql and mssql
  pyproject.toml
Due: none

docs: update Azure SQL and MSSQL authentication details and connection options
  docs/integrations/engines/azuresql.md
  docs/integrations/engines/mssql.md
Due: none

Update azuresql.md
  docs/integrations/engines/azuresql.md
Due: none

fix: update return type annotation for connect function in MSSQLConnectionConfig
  sqlmesh/core/config/connection.py
Due: python

fix: determine if the bulk copy method exists
  sqlmesh/core/engine_adapter/mssql.py
Due: python

fix: improve MSSQL bulk copy handling and fallback to superclass implementation
  pyproject.toml
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/mssql.py
Due: python

fix: streamline fallback to superclass implementation in MSSQLEngineAdapter
  sqlmesh/core/engine_adapter/mssql.py
Due: python

feat: enhance MSSQL bulk insert handling with pyodbc support
  sqlmesh/core/engine_adapter/mssql.py
Due: python

feat: Enhance MSSQL connection configuration with detailed options and validation
  pyproject.toml
  sqlmesh/core/config/connection.py
Due: python

fix: add return type annotation to connect function in MSSQLConnectionConfig
  sqlmesh/core/config/connection.py
Due: python

Fix(table_diff): Allow diffing of empty tables
  sqlmesh/core/console.py
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

Fix(table_diff): Allow diffing of empty tables (#4347)
  sqlmesh/core/console.py
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

fix: revert incorrect changes in query_factory()
  sqlmesh/core/engine_adapter/mssql.py
Due: python

feat: add code href that links to the rule (#4355)
  sqlmesh/core/linter/rule.py
  sqlmesh/lsp/main.py
  tests/core/test_rule.py
Due: python

feat(vscode): add custom api call method
  sqlmesh/lsp/api.py
  sqlmesh/lsp/main.py
Due: python

address Iaroslav's comments
  sqlmesh/lsp/api.py
  sqlmesh/lsp/main.py
Due: python

chore(vscode): use with open correctly
  sqlmesh/lsp/reference.py
Due: python

chore(vscode): use with open correctly (#4360)
  sqlmesh/lsp/reference.py
Due: python

chore(vscode): remove use of deprecated function
  sqlmesh/lsp/main.py
Due: python

chore(vscode): remove use of deprecated function (#4361)
  sqlmesh/lsp/main.py
Due: python

feat: add hover information for columns
  examples/sushi/models/customers.sql
  package-lock.json
  sqlmesh/lsp/columns.py
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  tests/lsp/test_columns.py
Due: python

Chore: fix allow-destructive option name in docs (#4356)
  docs/concepts/plans.md
  docs/guides/incremental_time.md
Due: none

feat(vscode): add custom api call method (#4352)
  sqlmesh/lsp/api.py
  sqlmesh/lsp/main.py
Due: python

chore: update minor dependencies in ui
  package-lock.json
Due: none

chore: update minor dependencies in ui (#4365)
  package-lock.json
Due: none

chore: update zustand in ui
  package-lock.json
  web/client/package.json
Due: client

chore: update zustand in ui (#4366)
  package-lock.json
  web/client/package.json
Due: client

chore: update apache arrow in ui
  package-lock.json
  web/client/package.json
Due: client

chore: update apache arrow in ui (#4368)
  package-lock.json
  web/client/package.json
Due: client

chore: update react testing library
  package-lock.json
  web/client/package.json
Due: client

chore: update react testing library (#4371)
  package-lock.json
  web/client/package.json
Due: client

Chore: typo fixes
  docs/guides/notifications.md
  docs/guides/scheduling.md
  docs/guides/signals.md
Due: none

Chore: typo fixes (#4372)
  docs/guides/notifications.md
  docs/guides/scheduling.md
  docs/guides/signals.md
Due: none

Add tests for BigFrame and Snowpark dataframes
  pyproject.toml
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/integration/test_integration_bigquery.py
  tests/core/engine_adapter/integration/test_integration_snowflake.py
  tests/core/engine_adapter/test_snowflake.py
Due: python

Fix: Allow python models to emit DataFrame's with a different column order than what is declared in @model
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
