Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Feat: initial pass of SQLMetrics (#1221)
  examples/sushi/metrics/metrics.sql
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/core/loader.py
  sqlmesh/core/metric/__init__.py
  sqlmesh/core/metric/definition.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/node.py
  tests/core/metric/__init__.py
  tests/core/metric/test_metric.py
  tests/core/metric/test_renderer.py
  tests/core/test_format.py
Due: python

fix: allow render output to wrap instead of cropping (#1222)
  sqlmesh/core/console.py
Due: python

feat: make contextdiff and plans serializable
  setup.cfg
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_context.py
Due: python

fix: just drop the callable durng ser, deser can manage attaching new one
  setup.cfg
  sqlmesh/core/plan/definition.py
Due: python

Feat: Allow specifying of arbitrary table properties as part of the model definition
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_transformation.py
Due: python

Update docs
  docs/concepts/models/overview.md
Due: none

Chore: cleanup
  sqlmesh/core/loader.py
  sqlmesh/core/metric/definition.py
Due: python

Fix test
  tests/core/test_model.py
Due: python

feat: convert plan class to pydantic model and make serializable
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_context.py
Due: python

style: linting and style
  sqlmesh/core/plan/definition.py
  tests/core/test_context.py
Due: python

chore: remove unecessary privateattr calls, make super init nicer
  sqlmesh/core/plan/definition.py
Due: python

ci: last of the lint fixes
  sqlmesh/core/plan/definition.py
Due: python

chore: move unit test to test_plan
  tests/core/test_context.py
  tests/core/test_plan.py
Due: python

Address comments
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/dbt/test_transformation.py
Due: python

Update .gitignore
  .gitignore
Due: none

Update web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/Graph.tsx
Due: client

long names in change/add preview + soem styling fixes for lineage
  web/client/openapi.json
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

Update web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
Due: client

Add faq questions
  docs/faq.md
  docs/faq/faq.md
  docs/faq/faq/ui-colum-lineage_sushi-dbt.png
  docs/index.md
Due: none

Fix link in external models concepts page
  docs/concepts/models/external_models.md
Due: none

Chore: Improve the warning message when missing a schema while optimizing a model query (#1224)
  sqlmesh/core/renderer.py
Due: python

Fix: Parsing of the quoting config (#1227)
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  tests/dbt/test_config.py
Due: python

Fix: Enable Hive dynamic partition in Spark session (#1228)
  sqlmesh/engines/spark/db_api/spark_session.py
Due: python

FIX: Correctly set the hive dynamic partition mode
  sqlmesh/engines/spark/db_api/spark_session.py
Due: python

FIX: Correctly set the hive dynamic partition mode (#1229)
  sqlmesh/engines/spark/db_api/spark_session.py
Due: python

Fix: Styling bugs around lineage (#1223)
  .gitignore
  web/client/openapi.json
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

wrong key for tabs triggers rerenders
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/table/Table.tsx
Due: client

Fix: Wrong key for tabs triggers re-renders (#1233)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/table/Table.tsx
Due: client

Chore: Improve the error message in the query renderer (#1231)
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Fix: Use a pendulum datetime object for the start_date attribute in Airflow (#1230)
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python
