Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

ci: make vscode job also run in pr
  .circleci/config.yml
  .circleci/continue_config.yml
Due: common

ci: make vscode job also run in pr (#4281)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: common

chore: make ui-up work again
  web/Dockerfile.api
Due: none

chore: make ui-up work again (#4282)
  web/Dockerfile.api
Due: none

chore: update orval in web
  package-lock.json
  web/client/package.json
Due: client

chore: update orval in web (#4283)
  package-lock.json
  web/client/package.json
Due: client

chore: update vite in web
  package-lock.json
  web/client/package.json
  web/docker-compose.yml
Due: client

chore: update vite in web (#4284)
  package-lock.json
  web/client/package.json
  web/docker-compose.yml
Due: client

Fix: Fix enviroment / snapshot cleanup order in janitor
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  tests/core/state_sync/test_state_sync.py
  tests/core/test_context.py
  tests/core/test_integration.py
Due: python

PR Feedback 1
  sqlmesh/core/test/definition.py
Due: python

chore(vscode): delete unused eslint file
  web/client/.eslintrc.cjs
Due: client

chore(vscode): delete unused eslint file (#4286)
  web/client/.eslintrc.cjs
Due: client

chore(vscode): make eslint stricter
  .circleci/continue_config.yml
  package-lock.json
  vscode/extension/eslint.config.mjs
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/common/vscodeapi.ts
  vscode/extension/src/utilities/exec.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: common

chore(vscode): make eslint stricter (#4287)
  .circleci/continue_config.yml
  package-lock.json
  vscode/extension/eslint.config.mjs
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/common/vscodeapi.ts
  vscode/extension/src/utilities/exec.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: common

feat: better errors for missing sqlmesh_lsp
  vscode/extension/eslint.config.mjs
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/errors.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: none

Fix: Support blueprint variables in jinja macros
  docs/concepts/macros/jinja_macros.md
  sqlmesh/core/constants.py
  sqlmesh/utils/jinja.py
  tests/core/test_model.py
Due: python

Fix: Support blueprint variables in jinja macros (#4289)
  docs/concepts/macros/jinja_macros.md
  sqlmesh/core/constants.py
  sqlmesh/utils/jinja.py
  tests/core/test_model.py
Due: python

chore: update sqlglot
  pyproject.toml
Due: none

feat(vscode): better errors for missing sqlmesh_lsp (#4288)
  vscode/extension/eslint.config.mjs
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/errors.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: none

chore: update sqlglot (#4291)
  pyproject.toml
Due: none

Update definition.py
  sqlmesh/core/model/definition.py
Due: python

add test
  tests/utils/test_metaprogramming.py
Due: python

experiment - don't walk if not name_missing_from_env
  sqlmesh/utils/metaprogramming.py
Due: python

Update test_context.py
  tests/core/test_context.py
Due: python

Update test_model.py
  tests/core/test_model.py
Due: python

Fix: Enviroment & snapshot cleanup order (#4228)
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  tests/core/state_sync/test_state_sync.py
  tests/core/test_context.py
  tests/core/test_integration.py
Due: python

Fix: Avoid concurrent dialect patching in model testing (#4266)
  sqlmesh/core/test/definition.py
  sqlmesh/core/test/result.py
  sqlmesh/core/test/runner.py
  tests/core/test_test.py
Due: python

fix tests; use the assigned value
  sqlmesh/core/model/definition.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

Fix: Improve the table_name command
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  tests/core/test_integration.py
Due: python

update docs
  docs/guides/table_migration.md
  docs/reference/cli.md
  sqlmesh/core/context.py
Due: python

Fix: Add guards in render definition for on virtual update statements (#4293)
  sqlmesh/core/model/definition.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

add --prod argument
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
  tests/core/test_integration.py
Due: python
