Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

feat(vscode): add ability to specify project path
  vscode/extension/package.json
  vscode/extension/src/utilities/config.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: none

temp
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/tests/lineage.spec.ts
Due: none

fix(vscode): make work better with venvs (#4482)
  .circleci/continue_config.yml
  vscode/extension/package.json
Due: common

Revert "move table_format enforcement upstream"
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/table_diff.py
Due: python

feat: more cores for loading
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/dbt/loader.py
Due: python

fix circleci 3.9 test
  tests/test_forking.py
Due: python

adapt the query_cache_pool
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/snapshot/cache.py
  sqlmesh/utils/process.py
  tests/conftest.py
  tests/mock_executor.py
  tests/test_forking.py
Due: python

add mock executor; fix loader; adapt unit tests
  sqlmesh/core/loader.py
  tests/conftest.py
  tests/core/test_loader.py
  tests/core/test_model.py
  tests/mock_executor.py
Due: python

add as_completed in loader
  sqlmesh/core/loader.py
Due: python

fix python errors
  sqlmesh/core/loader.py
  sqlmesh/core/model/schema.py
Due: python

try to identify circleci issue
  tests/test_forking.py
Due: python

rebase; cleanup code
  Makefile
  sqlmesh/core/loader.py
  tests/conftest.py
  tests/core/test_loader.py
Due: python, common

fix process pool for microsoft windows
  sqlmesh/utils/process.py
Due: python

extend test
  tests/test_forking.py
Due: python

refactors and improvements
  Makefile
  sqlmesh/core/loader.py
  sqlmesh/utils/process.py
  tests/conftest.py
  tests/core/test_loader.py
Due: python, common

revert to use get_or_load_models for nonsqlmodels and dbt
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/dbt/loader.py
Due: python

rebase; remove comment
  sqlmesh/core/loader.py
Due: python

rebase of windows pr
  sqlmesh/core/model/cache.py
  sqlmesh/utils/process.py
Due: python

fix windows
  sqlmesh/utils/process.py
Due: python

revise mapping schema set; add docstrings
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/schema.py
Due: python

address comments
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/schema.py
  sqlmesh/utils/process.py
  tests/core/test_integration.py
Due: python

check source and target
  sqlmesh/core/table_diff.py
Due: python

test tablediff
  tests/core/engine_adapter/test_athena.py
Due: python

comment on need
  sqlmesh/core/table_diff.py
Due: python

feat(vscode): allow configuring project path
  sqlmesh/lsp/main.py
  vscode/extension/package.json
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/config.ts
  vscode/extension/tests/lineage.spec.ts
Due: python

feat(vscode): add ability to specify project path (#4520)
  sqlmesh/lsp/main.py
  vscode/extension/package.json
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/config.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
  vscode/extension/tests/lineage.spec.ts
Due: python

Chore: Make default connection optional
  sqlmesh/core/config/root.py
  tests/__init__.py
  tests/core/test_integration.py
Due: python

Feat: expose model fqn in the macro evaluator (#4510)
  sqlmesh/core/macros.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Chore: document this_model and this_model_fqn
  docs/concepts/macros/sqlmesh_macros.md
Due: none

macros concepts this_model edits
  docs/concepts/macros/sqlmesh_macros.md
Due: none

fix(vscode): fix installation of sqlmesh
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: none

fix(vscode): fix installation of sqlmesh (#4526)
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
Due: none

feat(lsp): add go to definition for ctes
  examples/sushi/models/customers.sql
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  tests/lsp/test_reference_cte.py
Due: python

temp
  sqlmesh/lsp/reference.py
Due: python

Chore!: bump sqlglot to v26.20.0
  pyproject.toml
Due: none

Chore!: bump sqlglot to v26.20.0 (#4530)
  pyproject.toml
Due: none

Fix(snowflake): Correctly handle COPY GRANTS property in materialized views
  tests/core/engine_adapter/test_snowflake.py
Due: python

Fix(snowflake): Correctly handle COPY GRANTS property in materialized views (#4518)
  tests/core/engine_adapter/test_snowflake.py
Due: python

Fix(mssql): Use truncate+insert for FULL models instead of merge
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Move the patch to an autouse fixture
  tests/__init__.py
  tests/conftest.py
  tests/core/test_integration.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
