Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

chore: make untyped error more informative
  sqlmesh/core/macros.py
Due: python

fix: ensure ser of multiple dec levels
  sqlmesh/utils/metaprogramming.py
  tests/core/test_macros.py
Due: python

chore: fallback to default behavior if we cant get hints or eval forward refs
  sqlmesh/core/macros.py
Due: python

nit: move cond up
  sqlmesh/core/macros.py
Due: python

chore: first pass at adding docs
  docs/concepts/macros/sqlmesh_macros.md
Due: none

chore: touch up docs more
  docs/concepts/macros/sqlmesh_macros.md
Due: none

chore: added more docs and another complex example
  docs/concepts/macros/sqlmesh_macros.md
  tests/core/test_macros.py
Due: python

chore: add note on recursivity and union
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Fixing typo in default connection method
  docs/integrations/engines/bigquery.md
Due: none

Update UI quickstart to reflect UI updates (#2234)
  docs/quickstart/ui.md
  docs/quickstart/ui/ui-quickstart_apply-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan-dev.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan.png
  docs/quickstart/ui/ui-quickstart_create-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev-results.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod-modified.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod.png
  docs/quickstart/ui/ui-quickstart_incremental-model-modified.png
  docs/quickstart/ui/ui-quickstart_incremental-model.png
  docs/quickstart/ui/ui-quickstart_plan-dev.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-warning.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-output.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev.png
  docs/quickstart/ui/ui-quickstart_run-plan.png
  docs/quickstart/ui/ui-quickstart_ui-startup-buttons.png
  docs/quickstart/ui/ui-quickstart_ui-startup-panes.png
  docs/quickstart/ui/ui-quickstart_ui-startup-status.png
  docs/quickstart/ui/ui-quickstart_ui-startup.png
Due: none

Separate truncation method into table and comment
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/spark.py
Due: python

Truncate comments to engine limit
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mysql.py
  tests/core/engine_adapter/test_spark.py
  tests/core/engine_adapter/test_trino.py
Due: python

Truncate bigquery comments at max allowed lenght 1024 chars
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

PR feedback
  sqlmesh/core/engine_adapter/base.py
Due: python

DRY up hive mixin
  sqlmesh/core/engine_adapter/mixins.py
Due: python

Feat: truncate comments to engine-specific maximum (#2238)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mysql.py
  tests/core/engine_adapter/test_spark.py
  tests/core/engine_adapter/test_trino.py
Due: python

PR feedback
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
Due: client

Address comments
  sqlmesh/core/engine_adapter/redshift.py
Due: python

Fix: redshift explain verbose no where limit (#2239)
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Fix: The default start value in the CICD bot config
  sqlmesh/integrations/github/cicd/config.py
  tests/integrations/github/cicd/test_config.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Fix: The default start value in the CICD bot config (#2244)
  sqlmesh/integrations/github/cicd/config.py
  tests/integrations/github/cicd/test_config.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Fix: Manual categorization (#2197)
  web/client/openapi.json
  web/client/src/api/index.ts
  web/client/src/library/components/environmentDetails/SelectEnvironment.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/root/Root.tsx
  web/client/src/utils/index.ts
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

improve error display for failed plan
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/pages/root/context/notificationCenter.tsx
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/utils.py
Due: client, python

chore: serialize engine integration tests
  pytest.ini
  tests/core/engine_adapter/test_integration.py
Due: python

Fix: Improve error display for failed plan (#2220)
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/pages/root/context/notificationCenter.tsx
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/utils.py
Due: client, python

Chore: Update the default start value in the CICD bot docs
  docs/integrations/github.md
Due: none

Chore: Update the default start value in the CICD bot docs (#2246)
  docs/integrations/github.md
Due: none

Fix: List existing data objects concurrently when creating snapshot tables
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/concurrency.py
  tests/utils/test_concurrency.py
Due: python

Fix: List existing data objects concurrently when creating snapshot tables (#2247)
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/concurrency.py
  tests/utils/test_concurrency.py
Due: python

Fix: Airflow local deployment for the most recent Docker version on Mac
  examples/airflow/Makefile
Due: python

Fix: Airflow local deployment for the most recent Docker version on Mac (#2248)
  examples/airflow/Makefile
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
