Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

whow active plan
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

change layout to include tests and audits into flow
  web/client/src/context/context.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/docs/Welcome.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/library/pages/tests/Tests.tsx
  web/client/src/routes.tsx
Due: client

check changes on env cnahge
  examples/sushi/models/customer_revenue_by_day.sql
  web/client/src/api/index.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Page.tsx
  web/server/settings.py
Due: client, python

select same model file when going back from editor to docs
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/models/file.ts
Due: client

fix page
  web/client/src/api/index.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/models/environment.ts
  web/client/src/routes.tsx
  web/server/settings.py
Due: client, python

v0 litellm
  setup.py
  sqlmesh/integrations/llm.py
Due: python

Fix: Use PARTITIONS view to fetch table partitions in the BigQuery adapter
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/dbt/test_transformation.py
Due: python

Address comments
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
  tests/dbt/test_transformation.py
Due: python

Fix: Sanitized model names before using them as part of Airflow task IDs
  sqlmesh/core/snapshot/definition.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/utils/__init__.py
Due: python

fix: add check for key
  sqlmesh/migrations/v0023_fix_added_models_with_forward_only_parents.py
Due: python

Fix: Use PARTITIONS view to fetch table partitions in the BigQuery adapter (#1406)
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/dbt/test_transformation.py
Due: python

add snowflake private key support
  docs/integrations/engines/snowflake.md
  setup.py
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

Fix: Sanitized model names before using them as part of Airflow task IDs (#1407)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/utils/__init__.py
Due: python

add snowflake private key support (#1409)
  docs/integrations/engines/snowflake.md
  setup.py
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

Docs: update cli reference plan args (#1398)
  docs/reference/cli.md
Due: none

Fix: Snapshot table contain kind_name enum value, not the enum
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0024_replace_model_kind_name_enum_with_value.py
Due: python

Fix: Snapshot table should contain the kind_name enum value, not the enum (#1410)
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0024_replace_model_kind_name_enum_with_value.py
Due: python

fix: add check for key (#1408)
  sqlmesh/migrations/v0023_fix_added_models_with_forward_only_parents.py
Due: python

feat: add merge support to Redshift
  setup.py
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_integration.py
Due: python

Replace join USING with ON, qualify column names
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/engine_adapter/test_base.py
Due: python

feat: spark schema to sqlglot support
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

feat: spark schema to sqlglot support (#1411)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

feat: add merge support to Redshift (#1412)
  setup.py
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_integration.py
Due: python

Feat: automatic dim joins
  docs/concepts/metrics/definition.md
  docs/concepts/metrics/overview.md
  docs/concepts/models/overview.md
  mkdocs.yml
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/rewriter.py
  sqlmesh/core/reference.py
  tests/core/metric/test_rewriter.py
  tests/core/test_reference.py
Due: python

Feat: Add standalone audits to sqlmesh format
  examples/sushi/audits/assert_item_price_above_zero.sql
  sqlmesh/core/audit/__init__.py
  sqlmesh/core/audit/definition.py
  sqlmesh/core/console.py
  sqlmesh/core/loader.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/test.py
  sqlmesh/utils/jinja.py
  tests/core/test_audit.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/dbt/test_config.py
Due: python

Address PR comments
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/jinja.py
  tests/core/test_audit.py
Due: python

change method name
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/jinja.py
Due: python

Make audit definition ordering consistent between pydantic v1 and v2
  sqlmesh/core/audit/definition.py
  tests/core/test_audit.py
Due: python

Feat: automatic dim joins (#1403)
  docs/concepts/metrics/definition.md
  docs/concepts/metrics/overview.md
  docs/concepts/models/overview.md
  mkdocs.yml
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/rewriter.py
  sqlmesh/core/reference.py
  tests/core/metric/test_rewriter.py
  tests/core/test_reference.py
Due: python

Feat: Add standalone audits to sqlmesh format (#1396)
  examples/sushi/audits/assert_item_price_above_zero.sql
  sqlmesh/core/audit/__init__.py
  sqlmesh/core/audit/definition.py
  sqlmesh/core/console.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/test.py
  sqlmesh/utils/jinja.py
  tests/core/test_audit.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/dbt/test_config.py
Due: python
