Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

fix naming
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: client, python

fix typo
  web/server/console.py
  web/server/models.py
Due: python

rename models for tracking plan stages
  sqlmesh/core/console.py
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: python

fix test
  tests/web/test_main.py
Due: python

pr comments
  sqlmesh/core/console.py
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/meta.py
  web/server/console.py
  web/server/models.py
Due: client, python

clean up
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: python

rename plan apply tracker classes
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: client, python

split trackers
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/meta.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: python

add openapi back
  web/client/openapi.json
Due: client

use only plan apply event
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: python

remove start/end fro PlanApplyStageValidation it already be in `meta` object,
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

fix wrong argument
  web/server/api/endpoints/plan.py
Due: python

dry up plan_run
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
Due: python

resolve conflicts
  sqlmesh/core/console.py
  tests/web/test_main.py
  web/client/src/library/components/documentation/Documentation.tsx
Due: client, python

update with latest changes
  web/client/src/api/channels.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

pr comments
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/models/initial.ts
  web/client/src/models/tracker-plan-cancel.ts
  web/server/api/endpoints/plan.py
Due: client, python

add missing type
  web/client/openapi.json
  web/server/api/endpoints/plan.py
Due: client, python

add plan apply stages support to ui
  web/client/src/App.tsx
  web/client/src/api/index.ts
  web/client/src/context/context.ts
  web/client/src/context/plan.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanOptions.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/PlanSidebar.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/initial.ts
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan-cancel.ts
  web/client/src/models/tracker-plan-overview.ts
  web/client/src/models/tracker-plan.ts
Due: client

fix ui test
  web/client/src/library/components/plan/help.spec.ts
Due: client

add steps to plan apply
  web/client/src/library/components/banner/Banner.tsx
  web/client/src/library/components/loading/Loading.tsx
  web/client/src/library/components/modal/ModalDrawer.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/title/Title.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

format
  web/client/openapi.json
  web/server/console.py
Due: client, python

set up console to log intermidate steps
  sqlmesh/core/console.py
  tests/web/test_main.py
  web/client/src/index.css
  web/client/src/library/components/banner/Banner.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/report/ReportTestsErrors.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/components/title/Title.tsx
  web/client/tailwind.config.js
Due: client, python

move test report from plan header
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
Due: client

fix styling
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/context.tsx
Due: client

fix test
  web/server/api/endpoints/plan.py
Due: python

Fix: use dummy sqlmesh version if it doesn't exist prior to migrating
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Simplify
  sqlmesh/core/state_sync/base.py
Due: python

Fix!: use dummy sqlmesh version if it doesn't exist prior to migrating (#1643)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Raise if spark/trino used as state connection
  examples/sushi/config.py
  sqlmesh/core/config/root.py
Due: python

Add duckdb state connection to engine integration tests
  tests/core/engine_adapter/config.yaml
Due: python

Add docs
  docs/guides/configuration.md
  docs/guides/connections.md
  docs/integrations/engines/spark.md
  docs/integrations/engines/trino.md
  docs/reference/configuration.md
Due: none

Optimize images
  docs/quickstart/ui/ui-quickstart_apply-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan-dev.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan.png
  docs/quickstart/ui/ui-quickstart_create-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev-results.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod-modified.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod.png
  docs/quickstart/ui/ui-quickstart_incremental-model-modified.png
  docs/quickstart/ui/ui-quickstart_incremental-model.png
  docs/quickstart/ui/ui-quickstart_plan-dev.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-warning.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-output.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev.png
  docs/quickstart/ui/ui-quickstart_run-plan.png
  docs/quickstart/ui/ui-quickstart_ui-startup-buttons.png
  docs/quickstart/ui/ui-quickstart_ui-startup-panes.png
  docs/quickstart/ui/ui-quickstart_ui-startup-status.png
  docs/quickstart/ui/ui-quickstart_ui-startup.png
Due: none

Optimize images (#1647)
  docs/quickstart/ui/ui-quickstart_apply-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan-dev.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_apply-plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_apply-plan.png
  docs/quickstart/ui/ui-quickstart_create-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev-results.png
  docs/quickstart/ui/ui-quickstart_fetchdf-dev.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod-modified.png
  docs/quickstart/ui/ui-quickstart_fetchdf-prod.png
  docs/quickstart/ui/ui-quickstart_incremental-model-modified.png
  docs/quickstart/ui/ui-quickstart_incremental-model.png
  docs/quickstart/ui/ui-quickstart_plan-dev.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-pane.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified-warning.png
  docs/quickstart/ui/ui-quickstart_plan-prod-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-modified.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev-output.png
  docs/quickstart/ui/ui-quickstart_run-plan-dev.png
  docs/quickstart/ui/ui-quickstart_run-plan.png
  docs/quickstart/ui/ui-quickstart_ui-startup-buttons.png
  docs/quickstart/ui/ui-quickstart_ui-startup-panes.png
  docs/quickstart/ui/ui-quickstart_ui-startup-status.png
  docs/quickstart/ui/ui-quickstart_ui-startup.png
Due: none

fix: include dialect when making dbt seed models
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/seed.py
  tests/dbt/test_config.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
