Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  generate-openapi-spec:
    docker:
      - image: cimg/python:3.11
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: make install-dev
      - run:
          name: Generate OpenAPI spec
          command: python web/server/openapi.py
      - persist_to_workspace:
          root: web/client
          paths:
            - openapi.json

  ide-build:
    docker:
      - image: cimg/node:19.8
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build IDE
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - generate-openapi-spec:
          <<: *on_tag_filter
          requires:
            - gh-release
      - ide-build:
          <<: *on_tag_filter
          requires:
            - generate-openapi-spec
      - publish:
          <<: *on_tag_filter
          requires:
            - ide-build

fix typo
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

feedback
  sqlmesh/utils/__init__.py
Due: python

Feat: Use dbt manifest to load dbt project
  setup.py
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/package.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/source.py
  sqlmesh/utils/__init__.py
  sqlmesh/utils/conversions.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

Install dbt dependencies when running core integration tests
  Makefile
  tests/fixtures/dbt/sushi_test/dbt_packages/customers
Due: python, common

Revert "Install dbt dependencies when running core integration tests"
  Makefile
  tests/fixtures/dbt/sushi_test/dbt_packages/customers
Due: python, common

Reset adapters after loading the manifest
  sqlmesh/dbt/manifest.py
Due: python

Revert unintended change
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

Fix adapter.dispatch
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/common.py
  tests/dbt/test_adapter.py
Due: python

add missing import
  sqlmesh/core/context.py
Due: python

Fix support for the 'dbt' macro namespace
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/jinja.py
  tests/utils/test_jinja.py
Due: python

add missing import (#823)
  sqlmesh/core/context.py
Due: python

Address comments
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/manifest.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
Due: python

Improve error handling
  sqlmesh/utils/jinja.py
Due: python

Add dbt_version support
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

Log exception stack traces from executor tasks to API console
  web/server/console.py
  web/server/main.py
  web/server/utils.py
Due: python

Include private macros when building the jinja environment
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/context.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

PR feedback
  web/server/console.py
  web/server/utils.py
Due: python

Bring back the test_variables test
  tests/dbt/test_config.py
Due: python

Use all fields from the attribute of the manifest node
  sqlmesh/dbt/manifest.py
Due: python

Feat: Log exception stack traces from executor tasks to API console (#825)
  web/server/console.py
  web/server/main.py
  web/server/utils.py
Due: python

fix bug with router and closing last tab
  web/client/src/context/editor.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/routes.tsx
Due: client

clean up
  examples/sushi/config.py
  examples/sushi/models/orders.py
Due: python

Update web/server/models.py
  web/server/models.py
Due: python

include missing direct model names
  examples/sushi/config.py
  examples/sushi/models/orders.py
  web/server/models.py
Due: python

fix formatting
  web/server/models.py
Due: python

Fix: Cnclude missing direct model names (#822)
  web/server/models.py
Due: python

Simplify creation of the macro callable
  sqlmesh/utils/jinja.py
  tests/utils/test_jinja.py
Due: python

Support top-level packages in the macro registry
  sqlmesh/dbt/context.py
  sqlmesh/utils/jinja.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
  tests/utils/test_jinja.py
Due: python

Feat: Use dbt manifest to load dbt projects (#821)
  setup.py
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/package.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/source.py
  sqlmesh/utils/__init__.py
  sqlmesh/utils/conversions.py
  sqlmesh/utils/jinja.py
  tests/core/test_snapshot.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/schedulers/airflow/test_client.py
  tests/utils/test_jinja.py
Due: python

Fix: Include source dependencies in depends_on for dbt models.
  sqlmesh/dbt/basemodel.py
Due: python

Fix: Include source dependencies in depends_on for dbt models. (#827)
  sqlmesh/dbt/basemodel.py
Due: python

PR comments
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/routes.tsx
Due: client

Update Graph.tsx
  web/client/src/library/components/graph/Graph.tsx
Due: client

Feat: Docs lineage for change categories (#817)
  web/client/openapi.json
  web/client/src/context/context.ts
  web/client/src/context/editor.ts
  web/client/src/context/lineage.tsx
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/models/file.ts
  web/client/src/models/initial.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/routes.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python
