Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

fix: redshift dbt connection timeout none (#1771)
  sqlmesh/dbt/target.py
Due: python

Unpin Pydantic
  setup.py
Due: python

Remove pydantic-settings dependency
  web/server/settings.py
Due: python

Remove email-validator dependency
  sqlmesh/core/notification_target.py
Due: python

Lint and test against Pydantic v1
  .circleci/continue_config.yml
Due: common

Get rid of annotations import
  sqlmesh/core/test/definition.py
Due: python

Feat: automate unit test generation
  sqlmesh/cli/example_project.py
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test/definition.py
Due: python

Revert annotation removal commit
  sqlmesh/core/test/definition.py
Due: python

Rename execute to _execute, evaluate to _execute_model
  sqlmesh/core/test/definition.py
Due: python

Fix typo
  docs/concepts/tests.md
Due: none

Improve link UX
  docs/concepts/tests.md
Due: none

Rephrase docstring
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test/definition.py
Due: python

Move _add_missing_columns method to its original place
  sqlmesh/core/test/definition.py
Due: python

Change header
  docs/concepts/tests.md
Due: none

Rephrase
  docs/concepts/tests.md
Due: none

Update reference
  docs/reference/cli.md
Due: none

Add 'overwrite', 'name', 'path' options
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test/definition.py
Due: python

Don't generate empty variable list in yaml file
  sqlmesh/core/test/definition.py
Due: python

Update --name help
  sqlmesh/cli/main.py
Due: python

Fixups
  sqlmesh/cli/main.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Make generate_test a function instead of a static method
  sqlmesh/core/context.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/definition.py
Due: python

Get rid of TODO comment
  sqlmesh/core/context.py
Due: python

Docstring fixup
  sqlmesh/core/test/definition.py
Due: python

Update docs
  docs/concepts/tests.md
  docs/reference/cli.md
Due: none

Fixup
  docs/concepts/tests.md
Due: none

Add tests
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Update intro sentence
  docs/concepts/tests.md
Due: none

Fix embedded models runtime stage bug, update sushi waiters
  examples/sushi/models/waiters.py
  sqlmesh/core/renderer.py
Due: python

Typo
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Normalize model name
  sqlmesh/core/macros.py
Due: python

Feat: expose snapshots to the MacroEvaluator
  sqlmesh/core/macros.py
  sqlmesh/core/renderer.py
Due: python

Docs cleanup
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Fix colors
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Refactor
  docs/concepts/macros/sqlmesh_macros.md
  examples/sushi/models/waiters.py
  sqlmesh/core/macros.py
Due: python

Or -> and
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Cleanup
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Rephrase
  docs/concepts/macros/sqlmesh_macros.md
Due: none
