Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

Update sqlmesh/core/engine_adapter/fabric.py
  sqlmesh/core/engine_adapter/fabric.py
Due: python

Update fabric.py
  sqlmesh/core/engine_adapter/fabric.py
Due: python

feat(vscode): add ability to turn on/off columns
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/react/src/components/graph/CogIcon.tsx
  vscode/react/src/components/graph/Graph.css
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

feat(vscode): add ability to turn on/off columns (#4826)
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/react/src/components/graph/CogIcon.tsx
  vscode/react/src/components/graph/Graph.css
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

chore: make vscode tests less flaky
  vscode/extension/tests/python_env.spec.ts
Due: none

chore: make vscode tests less flaky (#4875)
  vscode/extension/tests/python_env.spec.ts
Due: none

fix(vscode): allow undoing clicking of lineage columns
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/context.tsx
  vscode/react/src/domain/column.ts
Due: none

fix(vscode): allow undoing clicking of lineage columns (#4876)
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/context.tsx
  vscode/react/src/domain/column.ts
Due: none

Add docs
  docs/integrations/engines/mssql.md
Due: none

Make MSSQL merge exists implementation opt-in
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_snapshot_evaluator.py
Due: python

Chore: Move SnapshotEvaluator back at plan evaluator constructor
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/plan/explainer.py
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_plan_evaluator.py
Due: python

Fix: Create state sync without version check for destroy
  sqlmesh/core/context.py
  tests/core/test_integration.py
Due: python

Remove create_scheduler refactor
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
Due: python

Fix: make MSSQL merge exists implementation opt-in (#4870)
  docs/integrations/engines/mssql.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_snapshot_evaluator.py
Due: python

Chore: Move `SnapshotEvaluator` back at plan evaluator constructor (#4877)
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/plan/explainer.py
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_plan_evaluator.py
Due: python

Chore: Refactor the intervals check and move progress reporting into the scheduler
  sqlmesh/core/model/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot.py
Due: python

Fix: A restatement plan should not override environment statements
  sqlmesh/core/context_diff.py
  tests/core/test_integration.py
  tests/core/test_plan.py
Due: python

PR feedback
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Chore: Refactor the intervals check and move progress reporting into the scheduler (#4879)
  sqlmesh/core/model/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot.py
Due: python

Fix: A restatement plan should not override environment statements (#4880)
  sqlmesh/core/context_diff.py
  tests/core/test_integration.py
  tests/core/test_plan.py
Due: python

Feat: Add support for configurable cache directory
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/root.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/selector.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/core/test_context.py
  web/server/watcher.py
Due: python

use cache_dir name everywhere for clarity
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/selector.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/core/state_sync/test_export_import.py
  tests/core/state_sync/test_state_sync.py
Due: python

fix windows
  tests/core/test_context.py
Due: python

Feat: Add support for configurable cache directory (#4869)
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/root.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/selector.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/core/state_sync/test_export_import.py
  tests/core/state_sync/test_state_sync.py
  tests/core/test_context.py
  web/server/watcher.py
Due: python

Feat(cicd_bot): Improve output of 'PR Environment Synced' and 'Prod Plan Preview' steps (#4872)
  sqlmesh/core/console.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_integration.py
Due: python

chore(vscode): improving the playwright setup/teardown steps
  vscode/extension/playwright.config.ts
  vscode/extension/tests/extension.setup.ts
  vscode/extension/tests/extension.teardown.ts
Due: none

feat: add support for Apache Doris
  .circleci/continue_config.yml
  .circleci/wait-for-db.sh
  .readthedocs.yaml
  CLAUDE.md
  docs/concepts/models/overview.md
  docs/guides/configuration.md
  docs/guides/connections.md
  docs/installation.md
  docs/integrations/engines/doris.md
  docs/integrations/overview.md
  docs/quickstart/cli.md
  docs/reference/configuration.md
  mkdocs.yml
  pyproject.toml
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/doris.py
  sqlmesh/utils/migration.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/docker/compose.doris.yaml
  tests/core/engine_adapter/integration/test_integration_doris.py
  tests/core/engine_adapter/test_doris.py
  tests/core/test_connection_config.py
Due: python, common

chore(vscode): improving the playwright setup/teardown steps (#4883)
  vscode/extension/playwright.config.ts
  vscode/extension/tests/extension.setup.ts
  vscode/extension/tests/extension.teardown.ts
Due: none

chore(vscode): move to better exec async
  vscode/extension/tests/utils.ts
Due: none

chore(vscode): move to better exec async (#4884)
  vscode/extension/tests/utils.ts
Due: none

chore(vscode): delete unused code
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/ModelNodeHeaderHandles.tsx
Due: none

fix: ensure correct datatypes are fethed for RisingWave dialect
  sqlmesh/core/engine_adapter/risingwave.py
  tests/core/engine_adapter/test_risingwave.py
Due: python

chore(vscode): delete unused code (#4885)
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/ModelNodeHeaderHandles.tsx
Due: none

chore(vscode): make buttons neater html
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

Fix: Ran formatter on updated test for RW.
  tests/core/engine_adapter/test_risingwave.py
Due: python

chore(vscode): make buttons neater html (#4886)
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

chore(vscode): remove export block
  vscode/react/src/components/graph/help.ts
Due: none

chore(vscode): remove export block (#4887)
  vscode/react/src/components/graph/help.ts
Due: none

chore(vscode): typing lineage and storybook
  pnpm-lock.yaml
  vscode/react/.gitignore
  vscode/react/.storybook/main.ts
  vscode/react/.storybook/preview.ts
  vscode/react/.storybook/storybook.css
  vscode/react/.storybook/vitest.setup.ts
  vscode/react/package.json
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/ModelNodeHeaderHandles.tsx
  vscode/react/src/components/graph/context.tsx
  vscode/react/src/components/graph/help.ts
  vscode/react/src/components/graph/types.ts
  vscode/react/src/domain/lineage.ts
  vscode/react/src/domain/models.ts
  vscode/react/src/domain/sqlmesh-model.ts
  vscode/react/src/pages/lineage.tsx
  vscode/react/src/utils/index.ts
  vscode/react/src/workers/lineage.ts
  vscode/react/vitest.shims.d.ts
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
