Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Update tagline on front page and github README
  README.md
  docs/index.md
Due: none

Fix test/audit running in plan/apply
  docs/faq.md
Due: none

Docs: add FAQ (#1214)
  README.md
  docs/faq.md
  docs/index.md
  docs/quick_start.md
  docs/release_notes.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Feat: Respect the model's cron expression in the built-in scheduler
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/node.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/magics.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

Feat!: Make interval unit configurable per model (#1213)
  docs/concepts/models/overview.md
  sqlmesh/core/console.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/node.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
  web/server/api/endpoints/models.py
Due: python

Address comments
  sqlmesh/core/snapshot/definition.py
Due: python

add physical schema override
  docs/reference/configuration.md
  examples/sushi/config.py
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/node.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot.py
Due: python

cleanup
  sqlmesh/core/snapshot/definition.py
Due: python

fix tests
  setup.py
  sqlmesh/core/model/definition.py
  sqlmesh/migrations/v0019_add_schema_to_data_hash.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_client.py
Due: python

use model schema name
  sqlmesh/core/snapshot/definition.py
Due: python

move physical schema to model
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/node.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/magics.py
  tests/core/test_context.py
  tests/core/test_format.py
  tests/core/test_model.py
  tests/core/test_schema_loader.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_test.py
  tests/schedulers/airflow/test_client.py
Due: python

add physical schema back to snapshot
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

feedback
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/definition.py
  sqlmesh/magics.py
  tests/core/test_context.py
  tests/core/test_format.py
  tests/core/test_model.py
  tests/core/test_schema_loader.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_test.py
Due: python

update test
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot_evaluator.py
Due: python

fix tests
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Correct select * and model default kind in docs
  docs/concepts/models/sql_models.md
  docs/reference/configuration.md
Due: none

PR feedback
  docs/concepts/models/sql_models.md
Due: none

Rename only_latest to only_execution_time
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/renderer.py
  sqlmesh/utils/date.py
Due: python

Docs: Correct select * and model default kind (#1216)
  docs/concepts/models/sql_models.md
  docs/reference/configuration.md
Due: none

Fix UI tests
  sqlmesh/core/snapshot/definition.py
  web/client/openapi.json
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client, python

Recover removed tests
  tests/web/test_main.py
Due: python

Cosmetic
  tests/core/test_scheduler.py
Due: python

Doc fix
  docs/concepts/macros/macro_variables.md
Due: none

use pydantic for field validation
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
Due: python

bump sqlglot
  setup.py
  sqlmesh/migrations/v0019_add_schema_to_data_hash.py
Due: python

inherit config from node config
  sqlmesh/core/model/meta.py
Due: python

feedback
  sqlmesh/core/model/meta.py
Due: python

Feat: Add physical schema override (#1212)
  docs/reference/configuration.md
  examples/sushi/config.py
  setup.py
  sqlmesh/core/config/root.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/magics.py
  tests/core/test_context.py
  tests/core/test_format.py
  tests/core/test_model.py
  tests/core/test_schema_loader.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_test.py
  tests/schedulers/airflow/test_client.py
Due: python

Feat: Make interval unit configurable per model
  docs/concepts/models/overview.md
  sqlmesh/core/console.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/node.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  web/server/api/endpoints/models.py
Due: python

Fix inclusive exclusive end date
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Include interval unit into the model metadata hash calculation
  sqlmesh/core/model/definition.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Feat: Allow specifying of arbitrary table properties as part of the model definition (#1217)
  docs/concepts/models/overview.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/model.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_transformation.py
Due: python

Feat: initial pass of SQLMetrics
  examples/sushi/metrics/metrics.sql
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/core/loader.py
  sqlmesh/core/metric/__init__.py
  sqlmesh/core/metric/definition.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/node.py
  tests/core/metric/__init__.py
  tests/core/metric/test_metric.py
  tests/core/metric/test_renderer.py
  tests/core/test_format.py
Due: python

fix: allow render output to wrap instead of cropping
  sqlmesh/core/console.py
Due: python
