Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

Update docs/concepts/models/python_models.md
  docs/concepts/models/python_models.md
Due: none

python models docs (#382)
  docs/concepts/glossary.md
  docs/concepts/models/python_models.md
Due: none

Update the Model Kinds doc page
  docs/concepts/environments.md
  docs/concepts/glossary.md
  docs/concepts/models/model_kinds.md
  docs/concepts/plans.md
  sqlmesh/core/engine_adapter/redshift.py
Due: python

Address comments
  docs/concepts/models/model_kinds.md
Due: none

Update references to macros
  docs/concepts/models/model_kinds.md
Due: none

Update the Model Kinds doc page (#381)
  docs/concepts/environments.md
  docs/concepts/glossary.md
  docs/concepts/models/model_kinds.md
  docs/concepts/plans.md
  sqlmesh/core/engine_adapter/redshift.py
Due: python

Enable syntax highlighting and line numbers in docs
  docs/concepts/audits.md
  docs/concepts/macros.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/tests.md
  docs/development.md
  docs/guides/audit_model.md
  docs/guides/create_a_project.md
  docs/guides/evaluate_model.md
  docs/guides/test_model.md
  docs/guides/view_dag.md
  docs/integrations/airflow.md
  docs/quick_start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  mkdocs.yml
Due: none

Cosmetic fix in the quick start guide
  docs/quick_start.md
Due: none

Cosmetic fix in the plans doc
  docs/concepts/plans.md
Due: none

Cosmetic fix in the environments doc
  docs/concepts/environments.md
Due: none

Another cosmetic fix in plans doc
  docs/concepts/plans.md
Due: none

add graph component
  web/client/package-lock.json
  web/client/package.json
Due: client

add dag endpoint
  web/server/api/endpoints/commands.py
Due: python

add graph component
  web/client/src/api/index.ts
  web/client/src/library/components/ide/Graph.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/main.tsx
Due: client

clean up
  web/client/src/library/components/ide/IDE.tsx
Due: client

replace graph layout package
  web/client/package-lock.json
  web/client/package.json
Due: client

only send dag json
  web/server/api/endpoints/commands.py
Due: python

apply dag layout package
  web/client/src/library/components/ide/Graph.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/help.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/tailwind.config.js
Due: client

remove top nav for ide
  web/client/src/library/components/ide/IDE.tsx
Due: client

PR comments
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/ide/IDE.tsx
Due: client

change return type
  web/server/api/endpoints/commands.py
Due: python

Display Graph (#377)
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/main.tsx
  web/client/tailwind.config.js
  web/server/api/endpoints/commands.py
Due: client, python

Allow restatements of models with the incremental_by_unique_key kind
  docs/concepts/models/model_kinds.md
  setup.py
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

remove width and hight from splitted sections
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/IDE.tsx
Due: client

clean up
  web/client/src/library/components/editor/Editor.tsx
Due: client

fix width and hight from sections in split pane (#389)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/IDE.tsx
Due: client

Move dbt project/package macros loading to PackageLoader
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/macros.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/project.py
Due: python

Move model and seed loading to package loader
  sqlmesh/dbt/project.py
Due: python
