Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Chore: Remove leftover merge_operation constant for reshift adapter
  sqlmesh/core/engine_adapter/redshift.py
Due: python

Fix MotherDuck connection details in docs
  docs/integrations/engines/motherduck.md
Due: none

Chore: Remove leftover merge_operation constant for reshift adapter (#3897)
  sqlmesh/core/engine_adapter/redshift.py
Due: python

add full
  docs/concepts/models/model_kinds.md
Due: none

fix: allow_partial interval batching
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

fix: allow_partial interval batching (#3898)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Detect macro references in MODEL audit specification
  examples/sushi/macros/macros.py
  examples/sushi/models/waiter_names.sql
  sqlmesh/core/model/definition.py
  tests/integrations/jupyter/test_magics.py
Due: python

Fix: detect macro references in MODEL audits (#3899)
  examples/sushi/macros/macros.py
  examples/sushi/models/waiter_names.sql
  sqlmesh/core/model/definition.py
  tests/integrations/jupyter/test_magics.py
Due: python

Error if python model has SEED kind
  docs/concepts/audits.md
  docs/concepts/models/managed_models.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Fix test
  tests/core/test_model.py
Due: python

fix(rw): remove the schema param in test_create_table
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Chore: Refactor the snapshot state from the state sync
  sqlmesh/core/state_sync/engine_adapter/environment.py
  sqlmesh/core/state_sync/engine_adapter/facade.py
  sqlmesh/core/state_sync/engine_adapter/interval.py
  sqlmesh/core/state_sync/engine_adapter/snapshot.py
  sqlmesh/core/state_sync/engine_adapter/utils.py
  tests/core/test_state_sync.py
  tests/dbt/test_transformation.py
Due: python

feat(rw): use latest build for rw
  tests/core/engine_adapter/integration/docker/compose.risingwave.yaml
Due: python

fix(rw): correct typo in rw docs
  docs/integrations/engines/risingwave.md
Due: none

Fix: error if python model has SEED kind (#3900)
  docs/concepts/audits.md
  docs/concepts/models/managed_models.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Chore: Refactor the version state from the state sync
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter/facade.py
  sqlmesh/core/state_sync/engine_adapter/utils.py
  sqlmesh/core/state_sync/engine_adapter/version.py
  tests/core/test_state_sync.py
Due: python

Chore: Refactor the state migration logic from the state sync
  sqlmesh/core/state_sync/engine_adapter/facade.py
  sqlmesh/core/state_sync/engine_adapter/migrator.py
  tests/core/test_state_sync.py
Due: python

more efficient language
  docs/concepts/models/model_kinds.md
Due: none

add incremental by time range
  docs/concepts/models/model_kinds.md
Due: none

consistent language
  docs/concepts/models/model_kinds.md
Due: none

more explicit
  docs/concepts/models/model_kinds.md
Due: none

fix spelling
  docs/concepts/models/model_kinds.md
Due: none

Rename the package to db
  sqlmesh/core/state_sync/__init__.py
  sqlmesh/core/state_sync/db/__init__.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/utils.py
  sqlmesh/core/state_sync/db/version.py
  sqlmesh/core/state_sync/engine_adapter/__init__.py
  tests/core/test_context.py
  tests/core/test_environment.py
  tests/core/test_state_sync.py
  tests/dbt/test_transformation.py
Due: python

Break up the DB state sync (#3903)
  sqlmesh/core/state_sync/__init__.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/db/__init__.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/utils.py
  sqlmesh/core/state_sync/db/version.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_context.py
  tests/core/test_environment.py
  tests/core/test_state_sync.py
  tests/dbt/test_transformation.py
Due: python

fix full model sequence
  docs/concepts/models/model_kinds.md
Due: none

add unique key model
  docs/concepts/models/model_kinds.md
Due: none

add seed
  docs/concepts/models/model_kinds.md
Due: none

add note
  docs/concepts/models/model_kinds.md
Due: none

Feat: add risingwave engine adapter support for sqlmesh. (#3436)
  .circleci/continue_config.yml
  .circleci/wait-for-db.sh
  Makefile
  docs/integrations/engines/risingwave.md
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/risingwave.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/docker/compose.risingwave.yaml
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_risingwave.py
Due: python, common

updates to getting started
  docs/cloud/tcloud_getting_started.md
Due: none

Fix!: replace astor.to_source with ast.unparse
  setup.cfg
  setup.py
  sqlmesh/core/model/common.py
  sqlmesh/utils/metaprogramming.py
  tests/utils/test_metaprogramming.py
Due: python

Use inspect.getsource instead
  sqlmesh/utils/metaprogramming.py
  tests/core/test_model.py
  tests/utils/test_metaprogramming.py
Due: python

Fix >= 3.10 match test
  .pre-commit-config.yaml
  sqlmesh/utils/metaprogramming.py
  tests/core/metaprogramming_test_helper.py
  tests/utils/test_metaprogramming.py
Due: python, common

Fix!: use inspect.getsource in favor of custom parsing, stop relying on astor (#3857)
  .pre-commit-config.yaml
  setup.cfg
  setup.py
  sqlmesh/core/model/common.py
  sqlmesh/utils/metaprogramming.py
  tests/core/metaprogramming_test_helper.py
  tests/core/test_model.py
  tests/utils/test_metaprogramming.py
Due: python, common

fix bullets
  docs/concepts/models/model_kinds.md
Due: none

Update definition.py
  sqlmesh/core/model/definition.py
Due: python

Added test for multiple audits with same name
  tests/core/test_audit.py
Due: python

Properly initializing set
  sqlmesh/core/model/definition.py
Due: python

add in SSO language for getting started page (#3880)
  docs/cloud/tcloud_getting_started.md
  docs/cloud/tcloud_getting_started/tcloud_auth_success.png
Due: none

Revert "Fix!: use inspect.getsource in favor of custom parsing, stop relying …"
  .pre-commit-config.yaml
  setup.cfg
  setup.py
  sqlmesh/core/model/common.py
  sqlmesh/utils/metaprogramming.py
  tests/core/metaprogramming_test_helper.py
  tests/core/test_model.py
  tests/utils/test_metaprogramming.py
Due: python, common
