Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

tune-up editor typing ux
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/hooks.ts
Due: client

Fix: Tune-up editor typing ux (#2034)
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/hooks.ts
Due: client

Chore: Remove command from slack notification
  sqlmesh/core/notification_target.py
Due: python

Chore: Remove command from slack notification (#2073)
  sqlmesh/core/notification_target.py
Due: python

Fix: Order projections during insert overwrite when there WHERE clause is not present
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_spark.py
Due: python

Fix: Order projections during insert overwrite when there WHERE clause is not present (#2074)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_spark.py
Due: python

Fix: do not include a schema def in CTAS unless all column types are known (#2063)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/__init__.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_spark.py
  tests/utils/test_helpers.py
Due: python

chore: split out ui config again and impl feedback
  sqlmesh/core/config/format.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/ui.py
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

Expand EXTERNAL model documentation
  docs/concepts/models/external_models.md
  docs/faq/faq.md
Due: none

Make faq question model kind agnostic
  docs/faq/faq.md
Due: none

Docs: expand external model documentation (#2066)
  docs/concepts/models/external_models.md
  docs/faq/faq.md
Due: none

feat: make it even easier by parsing out annotations for the user
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

feat: coerce lit to expr and more advanced tests to hit codepaths
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

chore: fallback to default behavior if we cant get hints or eval forward refs
  sqlmesh/core/macros.py
Due: python

nit: unpack evaluator explicitly
  sqlmesh/core/macros.py
Due: python

feat: coerce types in macros to make interface more intuitive
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

feat: implicit best effort coercion and refactor to evaluator
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

chore: make untyped error more informative
  sqlmesh/core/macros.py
Due: python

fix: pass tests
  examples/sushi/macros/macros.py
  sqlmesh/core/macros.py
Due: python

chore: implement feedback and simplify code further
  sqlmesh/core/macros.py
Due: python

nit: more explicit msg
  sqlmesh/core/macros.py
Due: python

feat: more tests and coercion depth
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

nit: move cond up
  sqlmesh/core/macros.py
Due: python

fix: replace query unknown self-reference
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_spark.py
Due: python

fix: replace query unknown self-reference (#2075)
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_spark.py
Due: python

rearrange to fix race condition when selecting tab from selected file
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
Due: client

Fix: Display failed audit queries in the dialect of the engine adapter
  sqlmesh/core/context.py
Due: python

Styling
  sqlmesh/core/context.py
Due: python

Fix mypy issue
  sqlmesh/core/context.py
Due: python

Fix: Display failed audit queries in the dialect of the engine adapter (#2077)
  sqlmesh/core/context.py
Due: python

Fix: Rearrange to fix race condition when selecting tab from selected file (#2076)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
Due: client

improve plan flow transitions and animation
  web/client/src/App.tsx
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanActionsDescription.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/models/plan-action.ts
  web/client/src/models/tracker-plan-cancel.ts
  web/client/src/models/tracker-plan-overview.ts
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
Due: client, python
