Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: Batch intervals in DAG order to make sure that parent snapshot signals are respected by their children (#3956)
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

Fix wording
  docs/concepts/linter.md
Due: none

Wrap rule impl to snippet
  docs/concepts/linter.md
Due: none

Remove validate_query
  docs/reference/model_configuration.md
Due: none

PR Feedback 1
  docs/concepts/linter.md
  docs/concepts/models/overview.md
  docs/guides/configuration.md
Due: none

PR Feedback 2
  docs/concepts/linter.md
Due: none

Chore: Add Linter docs
  docs/concepts/linter.md
  docs/concepts/models/overview.md
  docs/guides/configuration.md
  docs/reference/model_configuration.md
Due: none

PR feedback, expose doc as guide in nav
  docs/concepts/linter.md
  mkdocs.yml
Due: none

Linter doc edits
  docs/concepts/linter.md
  docs/guides/configuration.md
Due: none

Docs: trey linter doc edits (#3957)
  docs/concepts/linter.md
  docs/guides/configuration.md
  mkdocs.yml
Due: none

Chore: Add Linter documentation (#3950)
  docs/concepts/linter.md
  docs/concepts/models/overview.md
  docs/guides/configuration.md
  docs/reference/model_configuration.md
  mkdocs.yml
Due: none

Move linter doc from concepts to guides
  docs/guides/linter.md
Due: none

Chore: move linter doc from concepts to guides (#3958)
  docs/guides/linter.md
Due: none

Plan edits
  docs/cloud/features/observability/plan.md
  docs/cloud/features/observability/plan/plan_tabs.png
Due: none

removing old images
  docs/cloud/features/observability/plan/plan_example.png
  docs/cloud/features/observability/plan/tcloud_plan.png
  docs/cloud/features/observability/plan/tcloud_plan_zoom.png
Due: none

adding in new seciton and fixing outdated sections
  docs/cloud/features/observability/plan.md
  docs/cloud/features/observability/plan/plan.png
  docs/cloud/features/observability/plan/plan_changes.png
  docs/cloud/features/observability/plan/plan_tabs.png
  docs/cloud/features/observability/plan/plan_top_section.png
Due: none

[DOCS]: Observe plan updates (#3911)
  docs/cloud/features/observability/plan.md
  docs/cloud/features/observability/plan/plan.png
  docs/cloud/features/observability/plan/plan_changes.png
  docs/cloud/features/observability/plan/plan_example.png
  docs/cloud/features/observability/plan/plan_tabs.png
  docs/cloud/features/observability/plan/plan_top_section.png
  docs/cloud/features/observability/plan/tcloud_plan.png
  docs/cloud/features/observability/plan/tcloud_plan_zoom.png
Due: none

Fix nav
  mkdocs.yml
Due: none

Chore: fix linter guide nav (#3959)
  mkdocs.yml
Due: none

chore: remove private push snapshots on state sync
  sqlmesh/core/state_sync/db/facade.py
Due: python

Model freshness edits
  docs/cloud/features/observability/model_freshness.md
  docs/cloud/features/observability/model_freshness/tcloud_model_freshness_list.png
Due: none

added new sections to freshness
  docs/cloud/features/observability/model_freshness.md
Due: none

[DOCS]: Observability Model Freshness updates (#3912)
  docs/cloud/features/observability/model_freshness.md
  docs/cloud/features/observability/model_freshness/tcloud_model_freshness_list.png
Due: none

Run edits
  docs/cloud/features/observability/run.md
  docs/cloud/features/observability/run/tcloud_run_summary.png
Due: none

[DOCS]: Observer Run updates (#3919)
  docs/cloud/features/observability/run.md
  docs/cloud/features/observability/run/tcloud_run_summary.png
Due: none

chore: remove private push snapshots on state sync (#3960)
  sqlmesh/core/state_sync/db/facade.py
Due: python

Fix: Resolution of this_model within macros of on_virtual_update
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Feat: Add support for conditional physical_properties, introduce model_kind_name macro
  docs/concepts/macros/macro_variables.md
  docs/reference/model_configuration.md
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Remove unnecessary assignment; revise test
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Add python test; handle variables in pythons attributes
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Provide more info on the comment
  sqlmesh/core/model/definition.py
Due: python

Allow macros in model defaults; move properties rendering to evaluation time
  sqlmesh/core/config/model.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Refactor, resolve rebase
  sqlmesh/core/config/model.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Add validations and types for model defaults
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Correct variable name
  sqlmesh/core/model/definition.py
Due: python

Revise obsolete handling
  sqlmesh/core/model/definition.py
Due: python

Chore: Switch from setup.py to pyproject.toml
  .circleci/continue_config.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
  tests/.gitignore
  tests/pyproject.toml
  tests/setup.py
Due: python, common

Airflow shotgun debugging
  examples/airflow/Dockerfile.template
Due: python

Reinstate airflow branch filter
  .circleci/continue_config.yml
Due: common
