Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Do not include a schema def in CTAS unless all col types known
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_spark.py
Due: python

feat: allow configuring default formatting behavior in the UI via sqlmesh config
  sqlmesh/core/config/root.py
  sqlmesh/core/config/ui.py
  web/server/api/endpoints/files.py
Due: python

fix: hide top handle when columns are selected
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
Due: client

Make columns_to_types all known helper
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/__init__.py
  tests/utils/test_helpers.py
Due: python

Make tests cover all cases
  tests/utils/test_helpers.py
Due: python

feat: move format_options to top level and use as base settings in ui and cli
  sqlmesh/cli/main.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/ui.py
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

chore: split out format to sep file and shorted key name
  sqlmesh/core/config/format.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/ui.py
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

Chore: Update the selector integration tests to include unchanged upstream models
  tests/core/test_integration.py
Due: python

Chore: Update the selector integration tests to include unchanged upstream models (#2065)
  tests/core/test_integration.py
Due: python

chore: implement feedback
  sqlmesh/core/config/format.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/ui.py
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

chore: cleanup and pass tests
  sqlmesh/core/config/format.py
  sqlmesh/core/config/root.py
  sqlmesh/magics.py
Due: python

Fix: Exclude non-model references from the selector's output
  sqlmesh/core/selector.py
  tests/core/test_selector.py
Due: python

Feat: Add support for MotherDuck
  docs/guides/configuration.md
  docs/guides/connections.md
  docs/integrations/engines/motherduck.md
  docs/integrations/overview.md
  docs/reference/configuration.md
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
Due: python

Fix: Exclude non-model references from the selector's output (#2068)
  sqlmesh/core/selector.py
  tests/core/test_selector.py
Due: python

Include MotherDuck into remote integration tests
  pytest.ini
  tests/core/engine_adapter/test_integration.py
Due: python

Fix: Protected against invalid backfill model names in the plan builder
  sqlmesh/core/plan/builder.py
Due: python

Feat: Add support for MotherDuck (#2067)
  docs/guides/configuration.md
  docs/guides/connections.md
  docs/integrations/engines/motherduck.md
  docs/integrations/overview.md
  docs/reference/configuration.md
  pytest.ini
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  tests/core/engine_adapter/test_integration.py
Due: python

Use parentheses for arrays in MODEL DDL (#2052)
  docs/concepts/audits.md
  docs/concepts/macros/jinja_macros.md
  docs/concepts/macros/sqlmesh_macros.md
  docs/concepts/tests.md
  docs/guides/notifications.md
  docs/guides/tablediff.md
  docs/quickstart/cli.md
  docs/quickstart/notebook.md
  docs/quickstart/ui.md
  examples/sushi/models/customer_revenue_by_day.sql
  examples/sushi/models/customer_revenue_lifetime.sql
  examples/sushi/models/top_waiters.sql
  examples/sushi/models/waiter_as_customer_by_day.sql
  sqlmesh/cli/example_project.py
  sqlmesh/core/audit/builtin.py
Due: python

Fix: do not include a schema def in CTAS unless all column types are known (#2063)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/__init__.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_spark.py
  tests/utils/test_helpers.py
Due: python

Add invalidate to CLI reference page
  docs/reference/cli.md
Due: none

Update web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Update web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
Due: client

Add invalidate to CLI reference page (#2069)
  docs/reference/cli.md
Due: none

Feat: Make editor inspector collapsable on click (#2018)
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tab/Tab.tsx
Due: client

Add motherduck integrations page to mkdocs config
  mkdocs.yml
Due: none

display all values from deleted rows
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
Due: client

Fix: Display all values from deleted rows (#2042)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
Due: client

Add motherduck integrations page to mkdocs config (#2072)
  mkdocs.yml
Due: none
