Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  generate-openapi-spec:
    docker:
      - image: cimg/python:3.11
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: make install-dev
      - run:
          name: Generate OpenAPI spec
          command: python web/server/openapi.py
      - persist_to_workspace:
          root: web/client
          paths:
            - openapi.json

  ide-build:
    docker:
      - image: cimg/node:19.8
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build IDE
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - generate-openapi-spec:
          <<: *on_tag_filter
          requires:
            - gh-release
      - ide-build:
          <<: *on_tag_filter
          requires:
            - generate-openapi-spec
      - publish:
          <<: *on_tag_filter
          requires:
            - ide-build

Feat: Docs lineage for change categories (#817)
  web/client/openapi.json
  web/client/src/context/context.ts
  web/client/src/context/editor.ts
  web/client/src/context/lineage.tsx
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/models/file.ts
  web/client/src/models/initial.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/routes.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

Fix json encoding for models
  web/server/watcher.py
Due: python

Fix json encoding for models (#828)
  web/server/watcher.py
Due: python

Move imports only used for type checking to TYPE_CHECKING block
  sqlmesh/dbt/manifest.py
Due: python

Fix: Pin dbt-duckdb version to avoid test failures
  setup.py
  sqlmesh/dbt/manifest.py
Due: python

Fix: replace exp.StructKwarg with exp.ColumnDef in schema diff
  sqlmesh/core/schema_diff.py
Due: python

Bump sqlglot
  setup.py
Due: python

Fix: replace exp.StructKwarg with exp.ColumnDef in schema diff (#830)
  setup.py
  sqlmesh/core/schema_diff.py
Due: python

Fix: Improve the change categorization results by pre-matching root AST nodes
  sqlmesh/core/model/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: Improve the change categorization results by pre-matching root AST nodes (#831)
  sqlmesh/core/model/definition.py
  tests/core/test_snapshot.py
Due: python

fix bugs
  web/client/openapi.json
  web/client/src/context/editor.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/file.ts
  web/client/src/workers/sqlglot/worker.ts
Due: client

Fix: optimizing without the schema is inconsistent
  sqlmesh/core/context.py
  sqlmesh/core/renderer.py
  tests/core/test_audit.py
  tests/core/test_model.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

fix lineage for non-main models
  web/client/src/context/context.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/main.tsx
  web/client/src/models/sqlmesh-model.ts
Due: client

Update main.tsx
  web/client/src/main.tsx
Due: client

Update web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

Update web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorCode.tsx
Due: client

Update web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
Due: client

Fix: various bugs from file tree, editor, lineage, docs (#832)
  web/client/openapi.json
  web/client/src/context/context.ts
  web/client/src/context/editor.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/file.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/workers/sqlglot/worker.ts
Due: client

always redirect back to index.html
  web/server/main.py
Due: python

Improve state sync queries using in instead and/or
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Uses builder methods
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fix: Improve performance of get snapshots queries by using IN instead of AND/OR (#820)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

always redirect back to index.html (#836)
  web/server/main.py
Due: python

Feat: allow sqlmesh models to import jinja macros.
  examples/sushi/macros/macros.sql
  examples/sushi/models/waiter_as_customer_by_day.sql
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/loader.py
  sqlmesh/magics.py
Due: python

Feat: allow sqlmesh models to import jinja macros. (#837)
  examples/sushi/macros/macros.sql
  examples/sushi/models/waiter_as_customer_by_day.sql
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/loader.py
  sqlmesh/magics.py
Due: python

Chore: BREAKING remove unused getter apis for macros/hooks
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

Fix: support manifest generated by dbt 1.2
  sqlmesh/dbt/manifest.py
Due: python

Fix: support manifest generated by dbt 1.2 (#839)
  sqlmesh/dbt/manifest.py
Due: python
