Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

Add tests for YamlParamType
  sqlmesh_dbt/cli.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_options.py
Due: python

Feat(dbt_cli): Add support for --vars
  sqlmesh/core/config/loader.py
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/error.py
  sqlmesh_dbt/operations.py
  sqlmesh_dbt/options.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_operations.py
Due: python

rebase
  sqlmesh/core/config/loader.py
Due: python

fix test
  sqlmesh_dbt/cli.py
Due: none

Fix: Catalog creation / deletion for motherduck (#5223)
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/state_sync/common.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

Fix: Make flat_graph a cached property
  sqlmesh/dbt/manifest.py
Due: python

Feat(dbt_cli): Add support for `--vars` (#5205)
  sqlmesh/core/config/loader.py
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/error.py
  sqlmesh_dbt/operations.py
  sqlmesh_dbt/options.py
  tests/dbt/cli/test_list.py
  tests/dbt/cli/test_operations.py
  tests/dbt/cli/test_options.py
Due: python

move colors in tailwind config
  web/common/tailwind.base.config.js
Due: none

chore(web_common): move colors in tailwind config (#5225)
  web/common/tailwind.base.config.js
Due: none

Fix: Make flat_graph a cached property (#5224)
  sqlmesh/dbt/manifest.py
Due: python

feat: widen dbt-core compatibility range
  .github/workflows/pr.yaml
  Makefile
  examples/sushi_dbt/profiles.yml
  pyproject.toml
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/relation.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/util.py
  tests/dbt/conftest.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_integration.py
  tests/dbt/test_manifest.py
  tests/dbt/test_model.py
  tests/dbt/test_transformation.py
Due: python, common

feat: widen dbt-core compatibility range (#5211)
  .github/workflows/pr.yaml
  Makefile
  examples/sushi_dbt/profiles.yml
  pyproject.toml
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/relation.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/util.py
  tests/dbt/conftest.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_integration.py
  tests/dbt/test_manifest.py
  tests/dbt/test_model.py
  tests/dbt/test_transformation.py
Due: python, common

chore: testing docs additions
  tests/dbt/test_docs.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/waiters_doc_block.md
Due: python

Update tests/dbt/test_docs.py
  tests/dbt/test_docs.py
Due: python

temp
  tests/dbt/test_docs.py
Due: python

chore: testing docs additions (#5221)
  tests/dbt/test_docs.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/waiters_doc_block.md
Due: python

Fix: Move before all statements execution before snapshot creation logic
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

Chore: Reinstate test cli flag to false
  pyproject.toml
Due: python

Chore: Reinstate test cli flag to false (#5230)
  pyproject.toml
Due: python

Fix: Move before all statements execution before snapshot creation logic (#5229)
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

Run cloud tests in CI
  .circleci/continue_config.yml
Due: common

Add rows tracking
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/version.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_execution_tracker.py
  web/server/console.py
Due: python

Add flag for supporting row tracking to engine adapters
  .circleci/continue_config.yml
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Add engine support flags
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

Remove seed tracking, have snapshot evaluator own tracker instance
  sqlmesh/core/console.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_execution_tracker.py
Due: python

Use threading.local() instead of locks
  sqlmesh/core/execution_tracker.py
Due: python

Move all tracking into snapshot evaluator, remove seed tracker class
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_execution_tracker.py
Due: python

Move tracker class into snapshot module
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/test_execution_tracker.py
  web/server/console.py
Due: python

Remove 'processed' and 'inserted' from console output
  sqlmesh/core/console.py
Due: python

Add BQ support and track bytes processed
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/execution_tracker.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/version.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_execution_tracker.py
  web/server/console.py
Due: python

Fix circular import
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Add databricks support
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Report 0 rows correctly
  sqlmesh/core/console.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Remove time travel test for cloud engines, handle pyspark DFs in dbx
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Fix tests and snowflake regex
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_table_diff.py
  tests/core/test_test.py
Due: python

Fix rebase
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Change tracking arg name to track_rows_processed
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/interval.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/version.py
Due: python

Handle snowflake lack of CTAS tracking
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Tidy up
  .circleci/continue_config.yml
  docs/integrations/engines/snowflake.md
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/execution_tracker.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/integration/test_integration_snowflake.py
  tests/core/test_execution_tracker.py
Due: python, common

Seeds are now handled in evaluator
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/scheduler.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
