Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

Editing pass. (#608)
  docs/best_practices/recommended_workflow.md
  docs/comparisons.md
  docs/concepts/architecture/serialization.md
  docs/concepts/architecture/snapshots.md
  docs/concepts/audits.md
  docs/concepts/environments.md
  docs/concepts/glossary.md
  docs/concepts/hooks.md
  docs/concepts/macros.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/sql_models.md
  docs/concepts/overview.md
  docs/concepts/plans.md
  docs/concepts/team_development.md
  docs/guides/connections.md
  docs/guides/projects.md
  docs/guides/scheduling.md
  docs/index.md
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/integrations/github.md
  docs/prerequisites.md
  docs/quick_start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  docs/reference/overview.md
  docs/reference/python.md
  docs/release_notes.md
  mkdocs.yml
Due: none

Update based on Chris feedback
  docs/integrations/dbt.md
Due: none

Wordsmith
  docs/integrations/dbt.md
Due: none

Edit concepts/models docs
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
Due: none

update logo
  sqlmesh.png
Due: none

fill in init prod env message (#609)
  web/client/src/library/components/plan/PlanHeader.tsx
Due: client

replace image
  README.md
  sqlmesh.png
  sqlmesh.svg
Due: none

Edit concepts/models docs (#610)
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
Due: none

[DBT] Implement adapter.rename_relation
  sqlmesh/dbt/adapter.py
  tests/dbt/test_adapter.py
Due: python

Don't load project yaml twice
  sqlmesh/dbt/profile.py
Due: python

[DBT] Support profile config field, target.target_name, and an additional variant of config field missing the "+" (#597)
  sqlmesh/dbt/common.py
  sqlmesh/dbt/package.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/target.py
Due: python

Edit integrations/dbt (#606)
  docs/integrations/dbt.md
Due: none

Fix: include sqlmesh in pip install when publishing pdoc
  .circleci/config.yml
Due: common

Update README.md
  README.md
Due: none

update docs
  docs/index.md
Due: none

Fix: create direct link to pdoc page in navbar instead of menu
  mkdocs.yml
Due: none

Fix: create direct link to pdoc page in navbar instead of menu (#613)
  mkdocs.yml
Due: none

order
  docs/index.md
Due: none

recognize model name in .py files
  web/client/src/library/components/editor/extensions/index.ts
Due: client

fix formatting
  .pre-commit-config.yaml
  web/client/index.html
  web/client/src/context/plan.ts
  web/client/src/index.css
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/models/file.ts
Due: client

PR commnets
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/root/Root.tsx
  web/client/src/models/file.ts
Due: client

remove unsued
  web/client/src/library/components/editor/CodeEditor.tsx
Due: client

save file changes only on cmd-s
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/models/file.ts
  web/client/src/utils/index.ts
Due: client

[UI] save file change only on ctrl-s (#603)
  .pre-commit-config.yaml
  web/client/index.html
  web/client/src/context/plan.ts
  web/client/src/index.css
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/models/file.ts
  web/client/src/utils/index.ts
Due: client

update comparison docs
  docs/comparisons.md
Due: none
