Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Support signals for Python models (#4797)
  examples/sushi/models/orders.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/decorator.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

fix(mssql): update SQL keywords to uppercase for consistency (#4795)
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Fix: Propagation of snapshots with missing intervals into the physical layer update stage (#4801)
  sqlmesh/core/plan/stages.py
  tests/core/test_plan_stages.py
Due: python

env vars docs update
  docs/guides/vscode.md
  docs/guides/vscode/loaded.png
  docs/guides/vscode/print_env_vars.png
  docs/guides/vscode/restart_servers.png
  docs/guides/vscode/terminal_env_vars.png
Due: none

Update docs/guides/vscode.md
  docs/guides/vscode.md
Due: none

wip: progress
  sqlmesh/core/console.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

restructure to add it to uncached (if exists both locally and in prod)
  sqlmesh/core/context.py
Due: python

updated tests
  sqlmesh/core/config/connection.py
  tests/core/engine_adapter/test_fabric.py
Due: python

Feat: Push filter down to query for get_expired_environments
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
Due: python

mypy
  sqlmesh/core/config/connection.py
Due: python

ci: make regex for circle ci stricter
  .circleci/config.yml
Due: common

ruff
  sqlmesh/core/config/connection.py
Due: python

ci: make regex for circle ci stricter (#4805)
  .circleci/config.yml
Due: common

ci: improve final regex requirement
  .circleci/config.yml
Due: common

ci: improve final regex requirement (#4806)
  .circleci/config.yml
Due: common

ci: create release of vscode extension
  .github/workflows/release_extension.yaml
Due: none

feat: add fixes to linting errors
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/lsp/context.py
  sqlmesh/lsp/main.py
  tests/lsp/test_code_actions.py
Due: python

ci: create release of vscode extension (#4765)
  .github/workflows/release_extension.yaml
Due: none

feat: add fixes to linting errors (#4800)
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/lsp/context.py
  sqlmesh/lsp/main.py
  tests/lsp/test_code_actions.py
Due: python

ci: publish to open vsx
  .github/workflows/release_extension.yaml
Due: none

chore: add branded model string types
  vscode/bus/src/brand.ts
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/help.ts
  vscode/react/src/domain/lineage.ts
  vscode/react/src/domain/models.ts
  vscode/react/src/domain/sqlmesh-model.ts
  vscode/react/src/pages/lineage.tsx
  vscode/react/src/workers/lineage.ts
Due: none

fix(build): add semantic version tag regex to setuptools_scm config
  pyproject.toml
Due: none

ci: fix for vscode releases
  .github/workflows/release_extension.yaml
  pyproject.toml
Due: none

Update fabric.md
  docs/integrations/engines/fabric.md
Due: none

Move private helper to end of class
  sqlmesh/core/state_sync/db/environment.py
Due: python

Fix: Push filter down to query for `get_expired_environments` (#4804)
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
Due: python

Feat: improve signal CLI UX
  sqlmesh/core/console.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_scheduler.py
  web/server/api/endpoints/plan.py
Due: python

update for feedback
  docs/guides/vscode.md
Due: none

chore: add branded model string types (#4808)
  vscode/bus/src/brand.ts
  vscode/react/src/components/graph/ModelColumns.tsx
  vscode/react/src/components/graph/help.ts
  vscode/react/src/domain/lineage.ts
  vscode/react/src/domain/models.ts
  vscode/react/src/domain/sqlmesh-model.ts
  vscode/react/src/pages/lineage.tsx
  vscode/react/src/workers/lineage.ts
Due: none

Chore(doc): Fix the 'table_name' command in the table migration guide
  docs/guides/table_migration.md
Due: none

chore: add CLAUDE.md
  CLAUDE.md
Due: none

fix!: failure instead of neutral missing req approval
  sqlmesh/integrations/github/cicd/command.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_integration.py
Due: python

chore: add CLAUDE.md (#4817)
  CLAUDE.md
Due: none

vscode-env-var-docs (#4803)
  docs/guides/vscode.md
  docs/guides/vscode/loaded.png
  docs/guides/vscode/print_env_vars.png
  docs/guides/vscode/restart_servers.png
  docs/guides/vscode/terminal_env_vars.png
Due: none

Chore(doc): Fix the 'table_name' command in the table migration guide (#4815)
  docs/guides/table_migration.md
Due: none

feat(vscode): remove unused button
  vscode/react/src/components/graph/ModelLineage.tsx
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
