Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Propagation of the forward_only flag from dbt models when it's set to false
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Edits to scheduler and overview
  docs/cloud/features/scheduler/hybrid_executors/hybrid-executors_standard-hybrid-deployment.png
  docs/cloud/features/scheduler/hybrid_executors_overview.md
  docs/cloud/features/scheduler/scheduler.md
  mkdocs.yml
Due: none

Fix test
  tests/core/test_macros.py
Due: python

Fix: Propagation of the forward_only flag from dbt models when it's set to false (#4121)
  sqlmesh/dbt/model.py
  tests/core/test_macros.py
  tests/dbt/test_transformation.py
Due: python

feat: add execution context to signals
  docs/guides/signals.md
  sqlmesh/core/macros.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_scheduler.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  web/server/api/endpoints/plan.py
Due: python

Fix: Properly support engines that can share a single connection instance across threads
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/connection_pool.py
Due: python

fix tests
  tests/core/engine_adapter/integration/test_integration_duckdb.py
  tests/core/test_context.py
Due: python

Introduce a thread local pool with a shared connection
  sqlmesh/core/config/connection.py
  sqlmesh/utils/connection_pool.py
  tests/core/test_connection_config.py
  tests/utils/test_connection_pool.py
Due: python

Chore: Refactor state stream
  sqlmesh/core/console.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/export_import.py
Due: python

PR feedback
  sqlmesh/core/state_sync/db/facade.py
Due: python

temp
  examples/sushi/models/disabled.sql
  examples/sushi/models/top_waiters.sql
  sqlmesh/lsp/main.py
  vscode/extension/src/lsp/lsp.ts
Due: python

test [ci skip]
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/lsp/main.py
  web/client/public/css/design.css
  web/client/src/library/components/editor/hooks.ts
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/graph/ModelColumns.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/sourceList/SourceListItem.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
  web/client/src/utils/tbk-components.js
Due: client, python

temp [ci skip]
  sqlmesh/core/context.py
Due: python

chore: refactor out targets as early as possible
  sqlmesh/core/context.py
Due: python

PR Feedback 1
  sqlmesh/core/context.py
  sqlmesh/core/test/runner.py
  tests/core/test_test.py
Due: python

Fix: Propagate gateway variables to model tests
  sqlmesh/core/context.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/discovery.py
  sqlmesh/core/test/runner.py
  tests/core/test_test.py
Due: python

Move get_variables up to Context
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/test/discovery.py
  sqlmesh/magics.py
  sqlmesh/utils/yaml.py
Due: python

Load variables from gateway specified in YAML
  sqlmesh/core/context.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/discovery.py
  sqlmesh/core/test/runner.py
  sqlmesh/magics.py
  sqlmesh/utils/yaml.py
  tests/core/test_test.py
Due: python

Handle special characters in gateway name
  sqlmesh/utils/yaml.py
  tests/core/test_test.py
Due: python

Move test loading logic to Loader
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/discovery.py
  sqlmesh/core/test/result.py
  sqlmesh/magics.py
  sqlmesh/utils/yaml.py
  tests/core/test_test.py
Due: python

Use a single loader if specific tests are specified
  sqlmesh/core/context.py
Due: python

chore: refactor out targets as early as possible (#4126)
  sqlmesh/core/context.py
Due: python

feat: introduce lsp
  Makefile
  pyproject.toml
  sqlmesh/lsp/main.py
Due: python, common

Update sqlmesh/lsp/main.py
  sqlmesh/lsp/main.py
Due: python

Clarify restatement plans catch up to env
  docs/concepts/plans.md
Due: none

PR feedback round 1
  docs/cloud/features/scheduler/hybrid_executors/hybrid-executors_standard-hybrid-deployment.png
  docs/cloud/features/scheduler/hybrid_executors_overview.md
Due: none

Fix: Properly support engines that can share a single connection instance across threads (#4124)
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/connection_pool.py
  tests/core/engine_adapter/integration/test_integration_duckdb.py
  tests/core/test_connection_config.py
  tests/core/test_context.py
  tests/utils/test_connection_pool.py
Due: python

feat: add execution context to signals (#4123)
  docs/guides/signals.md
  sqlmesh/core/macros.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_scheduler.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  web/server/api/endpoints/plan.py
Due: python

Refactors; account for identical db names between warehouses when creating schemas
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/engines/commands.py
  tests/core/state_sync/test_state_sync.py
Due: python

Make load_model_tests public
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

feat: more cores for loading
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
Due: python

Docs: clarify restatement plans catch up to environment intervals (#4112)
  docs/concepts/plans.md
Due: none

Helm and compose edits
  docs/cloud/features/scheduler/hybrid_executors_docker_compose.md
  docs/cloud/features/scheduler/hybrid_executors_helm.md
Due: none

Docs: Trey edits to hybrid deployment docs (#4122)
  docs/cloud/features/scheduler/hybrid_executors/hybrid-executors_standard-hybrid-deployment.png
  docs/cloud/features/scheduler/hybrid_executors_docker_compose.md
  docs/cloud/features/scheduler/hybrid_executors_helm.md
  docs/cloud/features/scheduler/hybrid_executors_overview.md
  docs/cloud/features/scheduler/scheduler.md
  mkdocs.yml
Due: none

feat: add helm chart and docker compose for hybrid executors
  docs/cloud/features/scheduler/hybrid_executors_docker_compose.md
  docs/cloud/features/scheduler/hybrid_executors_helm.md
  docs/cloud/features/scheduler/scheduler.md
  docs/cloud/features/scheduler/scheduler/.env.example
  docs/cloud/features/scheduler/scheduler/add_oath_client.png
  docs/cloud/features/scheduler/scheduler/docker-compose.yml
  mkdocs.yml
Due: none

A few fixes
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/state_sync/db/facade.py
Due: python

Revert to deleting first from state envs and snapshots
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

Feat!: Introduce multiple gateway virtual layer
  docs/reference/configuration.md
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/environment.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/migrations/v0056_restore_table_indexes.py
  sqlmesh/migrations/v0078_add_gateway_managed_virtual_layer.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/schedulers/airflow/test_client.py
Due: python

Revise clean up logic
  examples/multi_virtual_layer/audits/.gitkeep
  examples/multi_virtual_layer/config.yaml
  examples/multi_virtual_layer/macros/.gitkeep
  examples/multi_virtual_layer/macros/__init__.py
  examples/multi_virtual_layer/models/.gitkeep
  examples/multi_virtual_layer/models/local_schema/model_one.sql
  examples/multi_virtual_layer/models/local_schema/model_two.sql
  examples/multi_virtual_layer/models/memory_schema/model_one.sql
  examples/multi_virtual_layer/models/memory_schema/model_two.sql
  examples/multi_virtual_layer/tests/.gitkeep
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/db/environment.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

Remove unused refactored methods
  sqlmesh/core/state_sync/db/environment.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
