Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Only update updated environments during migration (#1805)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Chore: Override the str representation of ExecutableKind (#1811)
  sqlmesh/utils/metaprogramming.py
Due: python

chore!: upgrade sqlglot to v20
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/utils/jinja.py
  tests/core/engine_adapter/test_integration.py
Due: python

chore!: upgrade sqlglot to v20 (#1813)
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/utils/jinja.py
  tests/core/engine_adapter/test_integration.py
Due: python

fix(redshift): another attempt at hash fix
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_redshift.py
Due: python

fix test
  tests/core/engine_adapter/test_integration.py
Due: python

feat: less aggressive formatting closes #1816
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

feature!: remove graphviz and use html for dag gen
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/cli/options.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

fix: only log tests if you have any
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

feat: less aggressive formatting closes #1816 (#1817)
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

feature!: remove graphviz and use html for dag gen (#1812)
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/cli/options.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

Fix: Reduce the default dataframe batch size for the postgres engine adapter (#1810)
  sqlmesh/core/engine_adapter/base_postgres.py
Due: python

Add model selection guide
  docs/guides/model_selection.md
  docs/guides/model_selection/model-selection_sushi-dag.png
  mkdocs.yml
Due: none

Clarify lookback description
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
  sqlmesh/core/context.py
Due: python

fix: only log tests if you have any (#1814)
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Fix cloud_composer scheduler config supported field validation
  sqlmesh/core/config/scheduler.py
  tests/core/test_config.py
Due: python

Remove rolling window reference
  docs/concepts/models/overview.md
Due: none

Fix cloud_composer scheduler config supported field validation (#1820)
  sqlmesh/core/config/scheduler.py
  tests/core/test_config.py
Due: python

Update docs/guides/model_selection.md
  docs/guides/model_selection.md
Due: none

bump orval versions and address typing issues
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/instance.ts
  web/client/src/context/editor.ts
  web/client/src/context/plan.ts
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Textfield.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/models/file.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/models/tracker-plan-overview.ts
  web/server/models.py
Due: client, python

update playwright version
  .circleci/continue_config.yml
  Dockerfile.app
Due: common

PR feedback
  docs/guides/model_selection.md
Due: none

chore!: upgrade sqlglot, replace table comments
  setup.py
  tests/core/test_snapshot_evaluator.py
Due: python

chore!: upgrade sqlglot, replace table comments (#1823)
  setup.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Support adding partial intervals for models with monthly interval unit
  sqlmesh/core/model/cache.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/jinja.py
  tests/core/test_snapshot.py
Due: python

Fix: Support adding partial intervals for models with monthly interval unit (#1824)
  sqlmesh/core/model/cache.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/jinja.py
  tests/core/test_snapshot.py
Due: python

Fix: Bump orval versions and address typing issues (#1821)
  .circleci/continue_config.yml
  Dockerfile.app
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/instance.ts
  web/client/src/context/editor.ts
  web/client/src/context/plan.ts
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Textfield.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/models/file.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/models/tracker-plan-overview.ts
  web/server/models.py
Due: client, python, common

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
