Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

update doris adapter
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/doris.py
  sqlmesh/utils/migration.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration_doris.py
  tests/core/engine_adapter/test_doris.py
  tests/core/test_connection_config.py
Due: python

fix(fabric): Skip test_value_normalization for TIMESTAMPTZ
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Manually set sqlglot to dev branch.
  pyproject.toml
Due: python

feat(vscode): handling python errors well
  sqlmesh/core/config/loader.py
  vscode/extension/tests/broken_project.spec.ts
Due: python

Update sqlmesh/core/config/loader.py
  sqlmesh/core/config/loader.py
Due: python

feat(vscode): handling python errors well (#4947)
  sqlmesh/core/config/loader.py
  vscode/extension/tests/broken_project.spec.ts
Due: python

chore(vscode): add tests for duplicate model and bad model block
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/diagnostics.spec.ts
Due: none

chore(vscode): add tests for duplicate model and bad model block (#4954)
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/diagnostics.spec.ts
Due: none

chore(vscode): test bad audit diagnostic
  vscode/extension/tests/diagnostics.spec.ts
Due: none

chore(vscode): test bad audit diagnostic (#4955)
  vscode/extension/tests/diagnostics.spec.ts
Due: none

fix(vscode): ensure only load context once
  sqlmesh/lsp/main.py
  vscode/extension/tests/broken_project.spec.ts
Due: python

chore(vscode): adding tests for bad projects
  vscode/extension/tests/broken_project.spec.ts
Due: none

chore(vscode): adding tests for bad projects (#4957)
  vscode/extension/tests/broken_project.spec.ts
Due: none

Chore: Add auto restatement test with selected models
  tests/core/test_snapshot.py
Due: python

add documents and tests
  docs/guides/configuration.md
  docs/integrations/engines/doris.md
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/doris.py
  test_doris_create_table.py
  tests/core/engine_adapter/integration/test_integration_doris.py
  tests/core/engine_adapter/test_doris.py
Due: python

remove extra code and make style
  models/test_model.sql
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/doris.py
  sqlmesh/utils/migration.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/test_doris.py
  tests/core/test_connection_config.py
Due: python

more cleaning
  docs/integrations/engines/doris.md
  sqlmesh/core/engine_adapter/__init__.py
Due: python

chore(vscode): refactoring e2e tests
  vscode/extension/tests/bad_setup.spec.ts
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/completions.spec.ts
  vscode/extension/tests/diagnostics.spec.ts
  vscode/extension/tests/find_references.spec.ts
  vscode/extension/tests/format.spec.ts
  vscode/extension/tests/go_to_definition.spec.ts
  vscode/extension/tests/hints.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/extension/tests/python_env.spec.ts
  vscode/extension/tests/rename_cte.spec.ts
  vscode/extension/tests/render.spec.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/tcloud.spec.ts
  vscode/extension/tests/utils.ts
  vscode/extension/tests/venv_naming.spec.ts
Due: none

chore(vscode): refactoring e2e tests (#4962)
  vscode/extension/tests/bad_setup.spec.ts
  vscode/extension/tests/broken_project.spec.ts
  vscode/extension/tests/completions.spec.ts
  vscode/extension/tests/diagnostics.spec.ts
  vscode/extension/tests/find_references.spec.ts
  vscode/extension/tests/format.spec.ts
  vscode/extension/tests/go_to_definition.spec.ts
  vscode/extension/tests/hints.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tests/lineage_settings.spec.ts
  vscode/extension/tests/python_env.spec.ts
  vscode/extension/tests/rename_cte.spec.ts
  vscode/extension/tests/render.spec.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/tcloud.spec.ts
  vscode/extension/tests/utils.ts
  vscode/extension/tests/venv_naming.spec.ts
Due: none

Fix(table_diff): Properly handle null check for array types in data sample
  sqlmesh/core/console.py
  tests/core/test_table_diff.py
Due: python

Chore(cicd_bot): Tidy up failure output
  sqlmesh/core/console.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/conftest.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Fix!: Add project in environment statements for consistent multi-repo plans
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/environment.py
  sqlmesh/core/loader.py
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
Due: python

Fix!: Add project in environment statements for consistent multi-repo plans (#4966)
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/environment.py
  sqlmesh/core/loader.py
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
Due: python

Fix(table_diff): Properly handle null check for array types in data sample (#4963)
  sqlmesh/core/console.py
  tests/core/test_table_diff.py
Due: python

Chore(cicd_bot): Tidy up failure output (#4964)
  sqlmesh/core/console.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/conftest.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Feat(cicd_bot): Allow forward-only plans based on branch suffix
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/config.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

PR feedback
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Fix typo
  sqlmesh/integrations/github/cicd/config.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Feat(cicd_bot): Allow forward-only plans based on branch suffix (#4953)
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/config.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Chore: Add extra tests for the model test framework
  tests/core/test_test.py
Due: python

Fix bug in table mapping for python models in unit tests
  sqlmesh/core/test/context.py
  tests/core/test_test.py
Due: python

Improve error message
  sqlmesh/core/context.py
  tests/core/test_test.py
Due: python

Fix: Allow python models to call `resolve_table()` on themselves within a unit test (#4967)
  sqlmesh/core/context.py
  sqlmesh/core/test/context.py
  tests/core/test_test.py
Due: python

Chore: Show resources to be deleted and enhance warnings in destroy
  docs/reference/cli.md
  docs/reference/notebook.md
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  tests/core/test_integration.py
  tests/integrations/jupyter/test_magics.py
Due: python

make message closer to the original
  sqlmesh/core/console.py
  tests/integrations/jupyter/test_magics.py
Due: python

add back raw demographics model in the assertion
  tests/integrations/jupyter/test_magics.py
Due: python

revise to only prompt once; move logic to console
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  tests/integrations/jupyter/test_magics.py
Due: python

Chore: Show resources to be deleted and enhance warnings in destroy (#4965)
  docs/reference/cli.md
  docs/reference/notebook.md
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  tests/core/test_integration.py
  tests/integrations/jupyter/test_magics.py
Due: python

chore: remove private tests while they are reworked
  .circleci/continue_config.yml
Due: common

chore: remove private tests while they are reworked (#4968)
  .circleci/continue_config.yml
Due: common

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
