Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Feat: Add support for the synchronous mode to the 'invalidate' CLI command
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
Due: python

control autocompletion manually
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
Due: client

Add Go Back button to plan flow
  web/client/src/library/components/plan/PlanActions.tsx
Due: client

Fix: Add Go Back button to plan flow (#2100)
  web/client/src/library/components/plan/PlanActions.tsx
Due: client

Chore!: bump sqlglot to v21.0.0
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/core/schema_diff.py
Due: python

fix: airflow use model name instead of snapshot name
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

ibis example project (#2084)
  examples/ibis/audits/.gitkeep
  examples/ibis/audits/assert_positive_order_ids.sql
  examples/ibis/config.yaml
  examples/ibis/constants.py
  examples/ibis/data/.keep
  examples/ibis/macros/.gitkeep
  examples/ibis/macros/__init__.py
  examples/ibis/models/.gitkeep
  examples/ibis/models/full_model.sql
  examples/ibis/models/ibis_full_model_python.py
  examples/ibis/models/ibis_full_model_sql.py
  examples/ibis/models/incremental_model.sql
  examples/ibis/models/seed_model.sql
  examples/ibis/seeds/.gitkeep
  examples/ibis/seeds/seed_data.csv
  examples/ibis/tests/.gitkeep
Due: python

fix: airflow use model name instead of snapshot name (#2095)
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

Fix: Select file and add tab we no tabs present (#2096)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
Due: client

Chore!: bump sqlglot to v21.0.0 (#2101)
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/core/schema_diff.py
Due: python

fix icon color on dark mode
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Fix: Set min-width for split panes (#2097)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

Feat: Add support for the synchronous mode to the 'invalidate' CLI command (#2098)
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
Due: python

Update README.md
  README.md
Due: none

Update README.md (#2103)
  README.md
Due: none

Update LICENSE
  LICENSE
Due: none

Update LICENSE (#2104)
  LICENSE
Due: none

chore: use node for name instead of model
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

chore: use node for name instead of model (#2105)
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

replace formatted content
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
Due: client

have modules icons in sidebar
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

Fix: Control autocompletion manually (#2099)
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
Due: client

Fix: Have modules navigation in sidebar (#2102)
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

chore: scope log handlers to modules
  tests/conftest.py
Due: python

test: add test to reproduce
  tests/core/engine_adapter/test_bigquery.py
  tests/core/test_model.py
Due: python

test: build a struct instead of declare a type
  tests/core/test_model.py
Due: python

chore: scope log handlers to modules (#2106)
  tests/conftest.py
Due: python
