Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Docs: Add model selection guide (#1818)
  docs/guides/model_selection.md
  docs/guides/model_selection/model-selection_sushi-dag.png
  mkdocs.yml
Due: none

Chore(docs): Add columns model property to docs (#1841)
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

display ellipsis for long model names
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/search/help.ts
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/utils/index.ts
Due: client

show loading when waiting for files to load
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

fix pendulum dependency
  setup.py
Due: python

fix pendulum dependency (#1847)
  setup.py
Due: python

Chore: Do not load a context when starting the UI
  sqlmesh/cli/main.py
Due: python

Fix: Do not load environments just to get their naming info
  web/server/api/endpoints/plan.py
Due: python

Chore: Do not load a context when starting the UI (#1842)
  sqlmesh/cli/main.py
Due: python

Fix: Do not load environments just to get their naming info (#1843)
  web/server/api/endpoints/plan.py
Due: python

log and send SSE updates after each stage complition for plan_overview
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/models/plan-action.ts
  web/server/api/endpoints/plan.py
  web/server/settings.py
Due: client, python

pass planOverview to displayStatus
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

disable env selection when initial prod
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

fix dialect dropdown
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/input/Selector.tsx
Due: client

consider include_unmodified when running plan
  web/server/api/endpoints/plan.py
Due: python

Fix: Dialect dropdown + include_unmodified (#1839)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/input/Selector.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/server/api/endpoints/plan.py
Due: client, python

Chore: Show loading when waiting for files to load (#1845)
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

Chore: Log and send SSE updates after each stage completion for plan_overview (#1846)
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/plan-action.ts
  web/server/api/endpoints/plan.py
  web/server/settings.py
Due: client, python

Chore: Display ellipsis for long model names (#1844)
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/search/help.ts
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/utils/index.ts
Due: client

fix: macros resolution inside lambdas
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

fix: macros resolution inside lambdas (#1849)
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Chore: Add package management and docs sections to dbt integration docs.
  docs/integrations/dbt.md
Due: none

Chore: Add package management and docs sections to dbt integration docs. (#1850)
  docs/integrations/dbt.md
Due: none

fix!: improve perf of model loading by reducing the scope of type annotations to just the select if optimization fails or doesn't run
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/utils/date.py
Due: python

fix!: improve perf of model loading by reducing (#1848)
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/utils/date.py
Due: python

Fix: Deserialization of the when_matched attribute of the INCREMENTAL_BY_UNIQUE_KEY kind
  sqlmesh/core/dialect.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Fix: Deserialization of the when_matched attribute of the INCREMENTAL_BY_UNIQUE_KEY kind (#1851)
  sqlmesh/core/dialect.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python
