Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix(bigquery): sanitize physical table name closes #1352
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix(bigquery): sanitize physical table name closes #1352 (#1358)
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Chore: cleanup docs
  docs/index.md
Due: none

Fix(bigquery): fixes issue when dropping bigquery names with projects
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix(bigquery): fixes issue when dropping bigquery names with projects (#1359)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Feat: Support forward-only models in regular plans (#1355)
  sqlmesh/core/console.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/conftest.py
  tests/core/test_plan.py
  tests/schedulers/airflow/test_plan.py
Due: python

Chore: Revert an unnecessary make_snapshot change
  tests/conftest.py
Due: python

Pin pandas version
  setup.py
Due: python

Override base adapter columns method
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Pin pandas version (#1365)
  setup.py
Due: python

Feat: Use table clones instead of temp tables in dev environments for engines that support this
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_snapshot_evaluator.py
Due: python

Support Databricks shallow clones
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/test_databricks.py
Due: python

MSSQL does not allow TEXT type in indexes
  sqlmesh/utils/migration.py
Due: python

Feat: Use table clones instead of temp tables in dev environments for engines that support this (#1364)
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/test_snapshot_evaluator.py
Due: python

updated packages
  .pre-commit-config.yaml
  Dockerfile.app
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/button/tests/Button.spec.tsx
  web/client/src/library/components/divider/tests/Divider.spec.tsx
  web/client/src/library/components/plan/help.spec.ts
  web/client/src/models/artifact.spec.ts
  web/client/src/models/directory.spec.ts
  web/client/src/utils/index.spec.ts
Due: client, common

update playwright for ci
  .circleci/continue_config.yml
Due: common

Chore: Updated packages (#1363)
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  Dockerfile.app
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/button/tests/Button.spec.tsx
  web/client/src/library/components/divider/tests/Divider.spec.tsx
  web/client/src/library/components/plan/help.spec.ts
  web/client/src/models/artifact.spec.ts
  web/client/src/models/directory.spec.ts
  web/client/src/utils/index.spec.ts
Due: client, common

send query on shift-enter
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

Update web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/File.tsx
Due: client

Feat: Send query on shift-enter + option to open file in new tab (#1361)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

add type 2 scd
  docs/concepts/models/model_kinds.md
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

feedback
  docs/concepts/models/model_kinds.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_snapshot_evaluator.py
Due: python

feedback
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
Due: python

fix test
  tests/core/test_snapshot_evaluator.py
Due: python

fix docs
  docs/integrations/github.md
Due: none

add timezone to timestamp
  sqlmesh/core/engine_adapter/base.py
Due: python

other fixes
  docs/integrations/github.md
Due: none

Chore: Suggest a command to run when raising an error about the need for migration
  docs/guides/migrations.md
  sqlmesh/core/state_sync/base.py
Due: python

Fix: Improvements to Github CI/CD Bot Documentation (#1367)
  docs/integrations/github.md
Due: none

Chore: Suggest a command to run when raising an error about the need for migration (#1368)
  docs/guides/migrations.md
  sqlmesh/core/state_sync/base.py
Due: python
