Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: motherduck only supports duckdb==0.9.2 (#2134)
  Makefile
  setup.py
Due: python, common

Feat: ignore SQL model unit test row order unless query contains ORDER BY (#2133)
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

wip check allow partial
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
Due: python

tweak variable assignment
  sqlmesh/core/engine_adapter/mixins.py
Due: python

Add support for 'partitioning' property in Trino Iceberg tables
  .gitignore
  Makefile
  pytest.ini
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/trino.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/docker-compose.yaml
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/trino/catalog/datalake_iceberg.properties
  tests/core/engine_adapter/trino/initdb.sql
Due: python, common

Feat: Automatically create non-blocking copies of builtin audits (#2136)
  docs/concepts/audits.md
  sqlmesh/core/audit/__init__.py
  tests/core/test_audit.py
Due: python

Fix: Make sure that missing intervals don't exceed the target end date when applying plan
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_plan.py
Due: python

Fix: Lineage (#2059)
  tests/web/conftest.py
  tests/web/test_lineage.py
  tests/web/test_main.py
  web/server/api/endpoints/lineage.py
  web/server/models.py
Due: python

Fix: Make sure that missing intervals don't exceed the target end date when applying plan (#2142)
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_plan.py
Due: python

Fix: Make sure that builtin dbt macros can be referenced using the 'dbt.' prefix
  docs/integrations/dbt.md
  sqlmesh/dbt/builtin.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_transformation.py
Due: python

Address comments
  sqlmesh/utils/jinja.py
Due: python

feat: method to compose slack code blocks
  sqlmesh/integrations/slack.py
Due: python

Fix: Make sure that builtin dbt macros can be referenced using the 'dbt.' prefix (#2143)
  docs/integrations/dbt.md
  sqlmesh/dbt/builtin.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_transformation.py
Due: python

feat: improve slack formatting
  sqlmesh/core/notification_target.py
Due: python

Address PR comments
  sqlmesh/cli/main.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/loader.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/integrations/github/cicd/test_config.py
Due: python

Fix engine_adapter tests
  tests/core/engine_adapter/test_integration.py
Due: python

Feat: Support config class overriding in the loader and context
  sqlmesh/cli/main.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/loader.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/integrations/github/cicd/test_config.py
Due: python

Fix: Defer unpausing right to right before env finalization when ensuring finalized snapshots
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_plan.py
Due: python

fix: typo (#2140)
  docs/reference/configuration.md
Due: none

track unknownModels to diff from CTEs
  web/client/openapi.json
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
Due: client

Fix: Track unknownModels to diff from CTEs (#2141)
  web/client/openapi.json
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
Due: client

chore: update metrics docs
  docs/concepts/metrics/overview.md
Due: none

Fix: Defer unpausing right to right before env finalization when ensuring finalized snapshots (#2147)
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_plan.py
Due: python

Refactor test
  tests/core/test_dialect.py
Due: python

Fix: restrict scope of sqlmesh statement parsers
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

Refactor: use a try-except block instead
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

Add Generic Context that is parameterized by the Config type
  sqlmesh/cli/main.py
  sqlmesh/core/config/loader.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/dbt/loader.py
  sqlmesh/magics.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/integrations/github/cicd/test_config.py
Due: python

feat: capture the engine adapter dialect
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/errors.py
Due: python

feat: pretty-print the SQL query in the adapter's dialect
  sqlmesh/core/notification_target.py
Due: python

Fix: Improve handling of branches that are behind the target branch in the git selector
  sqlmesh/core/selector.py
  sqlmesh/utils/git.py
  tests/core/test_selector.py
Due: python
