Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Revert "Add dbt adapter"
  examples/sushi_dbt/profiles.yml
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/target.py
  tests/dbt/test_config.py
Due: python

Tidy up
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
Due: python

Generate sql from model meta storage_format expressions
  sqlmesh/core/model/meta.py
Due: python

Add join_use_nulls setting to table_diff
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/table_diff.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Add ON CLUSTER to delete_from()
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Make SCD type 2 work
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
Due: python

Add docs
  docs/guides/configuration.md
  docs/integrations/engines/clickhouse.md
  mkdocs.yml
Due: none

Add dbt adapter
  examples/sushi_dbt/profiles.yml
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/target.py
  tests/dbt/test_config.py
Due: python

Upgrade sqlglot and revert to_time_column changes
  .circleci/continue_config.yml
  sqlmesh/utils/date.py
Due: python, common

Allow user to specify arbitrary connection-level settings
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

PR feedback round 2
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/model/meta.py
Due: python

Only test cloud databases on main
  .circleci/continue_config.yml
Due: common

Add cloud-specific connection settings
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/clickhouse.py
Due: python

Replace execute calls with equivalent methods
  sqlmesh/core/engine_adapter/base.py
Due: python

Use exp.SettingsProperty to construct table and view properties
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

PR feedback
  docs/integrations/engines/clickhouse.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Clean up method that adds join_use_nulls setting
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/table_diff.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Maintain user-expected join_use_nulls value in scd source query
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Fix docs link
  docs/guides/configuration.md
Due: none

Detect cloud mode from host string
  sqlmesh/core/config/connection.py
Due: python

Tidy up some more
  sqlmesh/core/engine_adapter/clickhouse.py
Due: python

Inject settings into scd query instead of using context manager
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/trino.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Split join_use_nulls method in two for clearer naming
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/table_diff.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Feat!: finalize clickhouse engine adapter (#3125)
  docs/guides/configuration.md
  docs/integrations/engines/clickhouse.md
  mkdocs.yml
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/table_diff.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_connection_config.py
Due: python

Chore!: bump sqlglot to v25.22.0
  setup.py
Due: python

Fix gcp postgres docs page
  docs/integrations/engines/gcp-postgres.md
Due: none

Chore!: bump sqlglot to v25.22.0 (#3156)
  setup.py
Due: python

Docs: fix gcp postgres docs page (#3157)
  docs/integrations/engines/gcp-postgres.md
Due: none

Update this_model macro var description
  docs/concepts/macros/macro_variables.md
Due: none

Warn about DuckDb state and concurrency
  docs/integrations/engines/duckdb.md
Due: none

Add warning to state engine recommendations
  docs/guides/configuration.md
Due: none

Docs: warn about concurrency with DuckDB as state db (#3155)
  docs/guides/configuration.md
  docs/integrations/engines/duckdb.md
Due: none

Docs: update this_model macro var description (#3158)
  docs/concepts/macros/macro_variables.md
Due: none

Fix: Take deployability into account when rendering a model's query with the 'render' command
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

Fix: Take deployability into account when rendering a model's query with the 'render' command (#3160)
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

Clarify table location for trino on aws glue
  docs/integrations/engines/trino.md
Due: none

Remove model-specific location
  docs/integrations/engines/trino.md
Due: none

Docs: clarify how to set default table location for trino on aws glue (#3159)
  docs/integrations/engines/trino.md
Due: none

fix: support all model methods in dbt projects
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/__init__.py
  sqlmesh/utils/jinja.py
  tests/core/test_integration.py
  tests/dbt/test_manifest.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/top_waiters.sql
Due: python

cleanup
  tests/core/engine_adapter/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
