Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Chore: add test for rendering on external
  tests/core/test_schema_loader.py
Due: python

Fix: don't drop views of external sources.
  sqlmesh/core/snapshot/evaluator.py
Due: python

Fix: Call on_complete handler when promoting / demoting external models
  sqlmesh/core/snapshot/evaluator.py
Due: python

feedback
  docs/concepts/models/external_models.md
  docs/concepts/models/model_kinds.md
Due: none

Feat: add docs for external models (#873)
  docs/concepts/models/external_models.md
  docs/concepts/models/model_kinds.md
  docs/reference/cli.md
Due: none

Chore: update sqlglot
  setup.py
Due: python

Fix: add external models to the index
  mkdocs.yml
Due: none

Fix: Make sure we never use actual physical names of external tables when evaluating snapshots
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_schema_loader.py
Due: python

Refactor tests and introduce Python model tests
  examples/sushi/tests/test_order_items.yaml
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/test.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/context.py
  sqlmesh/core/test/definition.py
  sqlmesh/core/test/discovery.py
  sqlmesh/core/test/result.py
  web/server/console.py
Due: python

fix databricks freezing
  sqlmesh/core/console.py
Due: python

Chore: Update packages (#866)
  .pre-commit-config.yaml
  setup.py
  web/client/package-lock.json
  web/client/package.json
Due: client, python, common

Fix: quickstart example, csv strip spaces closes #876
  sqlmesh/cli/example_project.py
Due: python

Feat: Store snapshot intervals separately from snapshot payloads
  sqlmesh/core/context.py
  sqlmesh/core/model/seed.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/__init__.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0007_create_intervals_table.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/integration.py
  sqlmesh/schedulers/airflow/operators/hwm_sensor.py
  sqlmesh/schedulers/airflow/operators/targets.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_scheduler.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/operators/test_hwm_sensor.py
  tests/schedulers/airflow/operators/test_targets.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_integration.py
  tests/schedulers/airflow/test_plan.py
Due: python

Define the query that fetches snapshot intervals in one place
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Only run janitor when the target environment is prod
  sqlmesh/core/context.py
Due: python

Fix compaction for postgres state backend
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Address comments
  sqlmesh/core/model/seed.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0007_create_intervals_table.py
Due: python

add bot command
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/fixtures/github/pull_request_command_deploy.json
  tests/integrations/github/cicd/fixtures.py
  tests/integrations/github/cicd/helper.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_github_event.py
Due: python

remove default command namespace
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

remove automatic pound sign
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

remove aliases
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

feedback
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Rebase
  sqlmesh/migrations/v0008_create_intervals_table.py
Due: python

Feat!: Store snapshot intervals separately from snapshot payloads (#865)
  sqlmesh/core/context.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/__init__.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0008_create_intervals_table.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/integration.py
  sqlmesh/schedulers/airflow/operators/hwm_sensor.py
  sqlmesh/schedulers/airflow/operators/targets.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_scheduler.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/operators/test_hwm_sensor.py
  tests/schedulers/airflow/operators/test_targets.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_integration.py
  tests/schedulers/airflow/test_plan.py
Due: python

Expand macro documentation
  docs/concepts/macros.md
Due: none

fix databricks freezing (#875)
  sqlmesh/core/console.py
Due: python

fix
  docs/concepts/macros.md
Due: none

Fix typos
  docs/comparisons.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/overview.md
  docs/guides/projects.md
  docs/index.md
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
