Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Docs: Document the cloud scheduler feature (#3567)
  docs/cloud/features/scheduler.md
  docs/cloud/features/scheduler/add_connection.png
  docs/cloud/features/scheduler/add_connection_form.png
  docs/cloud/features/scheduler/add_connection_success.png
  docs/cloud/features/scheduler/create_pause.png
  docs/cloud/features/scheduler/create_pause_form.png
  docs/cloud/features/scheduler/delete_pause.png
  docs/cloud/features/scheduler/pause_environment.png
  docs/cloud/features/scheduler/resume_environment.png
  docs/cloud/features/scheduler/see_all_pauses.png
  docs/cloud/features/scheduler/settings_tab.png
  docs/guides/scheduling.md
  mkdocs.yml
Due: none

Address comments
  docs/cloud/features/scheduler.md
Due: none

Fix header hierarchy and typo
  docs/cloud/features/scheduler.md
Due: none

Docs: fix cloud scheduler headers (#3595)
  docs/cloud/features/scheduler.md
Due: none

properly include dialect when formatting
  web/Dockerfile.app
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/workers/sqlglot/sqlglot.ts
Due: client

Fix: Move rendering for merge_filter to evaluation time
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Move rendering for merge_filter to evaluation time (#3579)
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

fix(rw): correct default integration init and update rw tests
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/test_risingwave.py
Due: python

fix(rw): set flush true in cursor init for rw
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/risingwave.py
Due: python

config loader exclude SQLMESH__AIRFLOW__DISABLE_STATE_MIGRATION
  sqlmesh/core/config/loader.py
  sqlmesh/core/constants.py
  sqlmesh/schedulers/airflow/plugin.py
  tests/core/test_config.py
Due: python

change SQLMESH__AIRFLOW__DISABLE_STATE_MIGRATION var name
  sqlmesh/schedulers/airflow/plugin.py
Due: python

ruff format
  tests/core/test_config.py
Due: python

Fix: change SQLMESH__AIRFLOW__DISABLE_STATE_MIGRATION var name (#3592)
  sqlmesh/core/config/loader.py
  sqlmesh/core/constants.py
  sqlmesh/schedulers/airflow/plugin.py
  tests/core/test_config.py
Due: python

Docs: Scheduler facade docs
  docs/cloud/features/scheduler/airflow.md
  docs/cloud/features/scheduler/airflow/add_connection.png
  docs/cloud/features/scheduler/airflow/add_task_after_specific_model.png
  docs/cloud/features/scheduler/airflow/add_task_at_end.png
  docs/cloud/features/scheduler/airflow/add_task_at_start.png
  docs/cloud/features/scheduler/airflow/cloud_debugger.png
  docs/cloud/features/scheduler/airflow/connection_list.png
  docs/cloud/features/scheduler/airflow/dag_list.png
  docs/cloud/features/scheduler/airflow/dag_view.png
  docs/cloud/features/scheduler/airflow/task_logs.png
  docs/cloud/features/scheduler/dagster.md
  mkdocs.yml
Due: none

Airflow facade edits
  docs/cloud/features/scheduler/airflow.md
  docs/cloud/features/scheduler/airflow/boundary_tasks.png
Due: none

Fix: Make sure downstream models for which restatements are disabled are not auto-restated
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: Make sure downstream models for which restatements are disabled are not auto-restated (#3597)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix connection specification info
  docs/cloud/features/scheduler/airflow.md
Due: none

Docs: Airflow facade edits (#3598)
  docs/cloud/features/scheduler/airflow.md
  docs/cloud/features/scheduler/airflow/boundary_tasks.png
Due: none

Docs: Scheduler facade docs (#3558)
  docs/cloud/features/scheduler/airflow.md
  docs/cloud/features/scheduler/airflow/add_connection.png
  docs/cloud/features/scheduler/airflow/add_task_after_specific_model.png
  docs/cloud/features/scheduler/airflow/add_task_at_end.png
  docs/cloud/features/scheduler/airflow/add_task_at_start.png
  docs/cloud/features/scheduler/airflow/boundary_tasks.png
  docs/cloud/features/scheduler/airflow/cloud_debugger.png
  docs/cloud/features/scheduler/airflow/connection_list.png
  docs/cloud/features/scheduler/airflow/dag_list.png
  docs/cloud/features/scheduler/airflow/dag_view.png
  docs/cloud/features/scheduler/airflow/task_logs.png
  docs/cloud/features/scheduler/dagster.md
  mkdocs.yml
Due: none

fix(rw): impl truncate_table use delete from
  sqlmesh/core/engine_adapter/risingwave.py
Due: python

Fix: use dialect when freezing current date/time values in tests
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Fix: access SIGUSR1 using fully-qualified path to avoid windows issue
  sqlmesh/__init__.py
Due: python

Fix: access SIGUSR1 using fully-qualified path to avoid windows issue (#3605)
  sqlmesh/__init__.py
Due: python

Fix: use dialect when freezing current date/time values in tests (#3604)
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Fix: stop mutating model.when_matched in merge strategy
  sqlmesh/core/engine_adapter/base.py
Due: python

Fix: stop mutating model.when_matched in merge strategy (#3608)
  sqlmesh/core/engine_adapter/base.py
Due: python

Refactors
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Refactor, code cleanup
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Revise VirtualUpdateStatement to contain expressions; update docs
  docs/concepts/macros/macro_variables.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Add unit tests
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Rebase apply ruff
  tests/core/test_model.py
Due: python

Refactor to handle nested jinja and preserve original sql text
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
Due: python

Feat!: Add support for virtual statements to be executed post update
  sqlmesh/core/dialect.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Revise metadata hash
  sqlmesh/core/model/definition.py
Due: python

Resolve rebase
  sqlmesh/core/scheduler.py
Due: python

Revise to use public method
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Refactor and move logic in promote function after view creation
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python
