Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Fix: Resubscribe after new connection has beed established (#1282)
  web/client/src/api/channels.ts
  web/client/src/api/index.ts
  web/client/src/library/pages/ide/context.tsx
Due: client

fix lineage nodes visibility
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/main.tsx
Due: client

add abilityb to select node and build path from that node to current
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
Due: client

clean up
  web/client/src/library/components/graph/Graph.tsx
Due: client

store model's connections as tuple
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/main.tsx
  web/client/src/types/index.d.ts
Due: client

focus on selected column/node in lineage
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
Due: client

show adjacent nodes
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/tailwind.config.js
Due: client

clean up
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
Due: client

move ModelNode to seperate file
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
Due: client

move withAdjacent to context
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
Due: client

show nodes connected to main
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
Due: client

Update channels.ts
  web/client/src/api/channels.ts
Due: client

Update help.ts
  web/client/src/library/components/graph/help.ts
Due: client

PR comments
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/main.tsx
  web/client/src/types/index.d.ts
Due: client

Nits
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
Due: client

clean up
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/context.tsx
Due: client

set immediate true for updating editor content (#1283)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/graph/Graph.tsx
Due: client

Fix: Correctly recreate views for snapshots categorized as indirect non-breaking / forward-only
  examples/multi/repo_2/models/c.sql
  examples/multi/repo_2/models/d.sql
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Correctly recreate views for snapshots categorized as indirect non-breaking
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_plan.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: convert column names in columns_to_types to identifiers
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
Due: python

Refactor
  setup.py
  sqlmesh/core/model/meta.py
Due: python

support table properties on views
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_spark.py
Due: python

Chore: bump sqlglot to v17.10.2 (#1276)
  setup.py
  tests/core/test_model.py
Due: python

Fix: Correctly recreate views for snapshots categorized as indirect non-breaking (#1285)
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_plan.py
  tests/core/test_snapshot_evaluator.py
Due: python

fix tests
  tests/core/test_snapshot_evaluator.py
Due: python

Update Editor.tsx
  web/client/src/library/components/editor/Editor.tsx
Due: client

PR review feedback
  sqlmesh/core/node.py
  sqlmesh/dbt/model.py
Due: python

Fix: Improve interval_unit validation and support the field in dbt projects
  sqlmesh/core/node.py
  sqlmesh/dbt/model.py
  tests/core/test_model.py
  tests/dbt/test_config.py
Due: python

Fix python 3.11 error
  sqlmesh/core/node.py
  tests/core/test_model.py
Due: python

Fix: Improve interval_unit validation and support the field in dbt projects (#1281)
  sqlmesh/core/node.py
  sqlmesh/dbt/model.py
  tests/core/test_model.py
  tests/dbt/test_config.py
Due: python

Feat: add sqlmesh references and automatic joins
  docs/quick_start.md
  docs/quickstart/cli.md
  examples/sushi/metrics/metrics.sql
  examples/sushi/models/orders.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/definition.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/reference.py
  sqlmesh/utils/dag.py
  tests/core/metric/test_metric.py
  tests/core/metric/test_renderer.py
  tests/core/test_dialect.py
  tests/core/test_model.py
  tests/core/test_reference.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

pr feedback
  examples/sushi/models/orders.py
  sqlmesh/core/context.py
  sqlmesh/core/metric/definition.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/reference.py
  tests/core/metric/test_metric.py
  tests/core/metric/test_renderer.py
  tests/core/test_model.py
  tests/core/test_reference.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Chore: update sqlglot
  setup.py
Due: python

Separate engine docs and add snowflake sso
  docs/faq/faq.md
  docs/guides/connections.md
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/integrations/engines/bigquery.md
  docs/integrations/engines/databricks.md
  docs/integrations/engines/duckdb.md
  docs/integrations/engines/gcp-postgres.md
  docs/integrations/engines/mysql.md
  docs/integrations/engines/postgres.md
  docs/integrations/engines/redshift.md
  docs/integrations/engines/snowflake.md
  docs/integrations/engines/spark.md
  docs/integrations/overview.md
  docs/quickstart/notebook.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  mkdocs.yml
Due: none

Fix bigquery oauth typo
  docs/integrations/engines/bigquery.md
Due: none
