Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

feedback
  README.md
Due: none

simplify readme (#530)
  README.md
  docs/community.md
  docs/quick_start.md
  mkdocs.yml
Due: none

update docs index
  docs/index.md
  docs/why_sqlmesh.md
  mkdocs.yml
Due: none

cleanup
  docs/index.md
Due: none

update docs index (#531)
  docs/index.md
  docs/why_sqlmesh.md
  mkdocs.yml
Due: none

fix link
  README.md
Due: none

switch colors
  mkdocs.yml
Due: none

Make upsert_model more robust
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  tests/core/test_context.py
Due: python

update notebook magic docs
  docs/reference/notebook.md
Due: none

Fix MyPy issues
  sqlmesh/core/engine_adapter/base.py
Due: python

Replace exp.update with exp.Update without an empty table
  sqlmesh/core/engine_adapter/base.py
Due: python

Fix MyPy issues (#533)
  sqlmesh/core/engine_adapter/base.py
Due: python

fix: When an upstream model has been removed its snapshot won't show up in the snapshot registry that's composed locally on the client side
  sqlmesh/core/scheduler.py
Due: python

fix: When an upstream model has been removed its snapshot won't show up in the snapshot registry that's composed locally on the client side (#536)
  sqlmesh/core/scheduler.py
Due: python

fix: use distinct names for input views when testing models
  setup.py
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test.py
Due: python

default to backfill dates that are required fixes #336
  sqlmesh/core/context.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/magics.py
Due: python

fix indentation
  sqlmesh/core/scheduler.py
Due: python

fix: use distinct names for input views when testing models (#537)
  setup.py
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/test.py
Due: python

Support bool column type in seeds
  sqlmesh/core/model/seed.py
Due: python

missing intervals no longer depends on start
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

PR feedback
  docs/concepts/models/overview.md
Due: none

PR feedback
  docs/concepts/overview.md
Due: none

Revert models overview change
  docs/concepts/models/overview.md
Due: none

Wordsmithing
  docs/concepts/overview.md
Due: none

Use pre-commit prettier v2.7.1
  .pre-commit-config.yaml
Due: none

Run CI workflow when pre-commit config has been updated
  .circleci/config.yml
Due: common

Remove prettier from pre-commit
  .pre-commit-config.yaml
Due: none

Restore
  .pre-commit-config.yaml
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile
