Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Normalize max end interval by snapshot when models are selected explicitly (#1980)
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
Due: python

fix: qualify tables with default catalog in command nodes
  sqlmesh/core/renderer.py
Due: python

fix: pass default catalog to the render kwargs
  sqlmesh/core/renderer.py
Due: python

Feat: Add get model endpoint. Make query rendering optional.
  tests/web/test_main.py
  web/server/api/endpoints/models.py
  web/server/watcher.py
Due: python

Fix!: Prefer the builtin is_incremental macro over the dbt one (#1989)
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/manifest.py
  sqlmesh/migrations/v0037_remove_dbt_is_incremental_macro.py
  tests/dbt/test_manifest.py
Due: python

Feat: Only promote selected models in dev when selector is used (#1991)
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_integration.py
  tests/core/test_plan.py
Due: python

fix: set default catalog in seemingly correct place
  sqlmesh/core/macros.py
  sqlmesh/core/renderer.py
Due: python

Feat: Add @default_catalog to the macro environment (#1988)
  sqlmesh/core/macros.py
Due: python

Chore: Add groupby filter to utils package
  sqlmesh/utils/filters.py
  tests/utils/test_filters.py
Due: python

PR feedback
  tests/web/test_main.py
Due: python

Feat: Add get model endpoint. (#1990)
  tests/web/test_main.py
  web/server/api/endpoints/models.py
  web/server/watcher.py
Due: python

Render handles for Model Column only when that column has been select
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/help.ts
Due: client

feat: add a debugger friendly console mode
  sqlmesh/__init__.py
  sqlmesh/core/console.py
Due: python

chore: small touch up of output
  sqlmesh/core/console.py
Due: python

chore: more polish
  sqlmesh/core/console.py
Due: python

Address PR feedback
  sqlmesh/utils/__init__.py
  sqlmesh/utils/filters.py
  tests/utils/test_filters.py
Due: python

Chore: Add groupby filter to utils package (#1993)
  sqlmesh/utils/__init__.py
  tests/utils/test_filters.py
Due: python

Address comments
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
Due: python

fix: expand seed $root marker in constructor
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

chore: add documentation
  docs/concepts/models/seed_models.md
Due: none

Fix!: Prefer the builtin is_incremental macro over the dbt one
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/manifest.py
  sqlmesh/migrations/v0037_remove_dbt_is_incremental_macro.py
  tests/dbt/test_manifest.py
Due: python

Feat: Only promote selected models in dev when selector is used
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_integration.py
  tests/core/test_plan.py
Due: python

Address comments
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/manifest.py
Due: python

PR feedback
  sqlmesh/core/config/connection.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  tests/web/test_main.py
Due: python

Render handles for Model Column only when that column has been select (#1994)
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/help.ts
Due: client

show loading status when loading models or envs
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/pages/ide/EnvironmentDetails.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

formatting
  web/server/models.py
Due: python

remove unused module and make show loading msg
  web/client/src/App.tsx
  web/client/src/context/context.ts
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/meta.py
  web/server/models.py
Due: client, python

fix error display styling
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/errors/Content.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/root/NotFound.tsx
Due: client

Update docs
  docs/concepts/models/overview.md
  docs/reference/configuration.md
Due: none

add some animation to plan stages
  web/client/openapi.json
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
