Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

PR feedback
  sqlmesh/core/console.py
  sqlmesh/core/state_sync/db/migrator.py
  tests/core/state_sync/test_state_sync.py
Due: python

Rename pre-check migration script
  sqlmesh/migrations/v0089_add_pre_check_version.py
Due: python

Rename migration script to v0088
  sqlmesh/migrations/v0088_add_pre_check_version.py
Due: python

Add tests
  tests/core/state_sync/test_state_sync.py
Due: python

Feat: conditionally render sqlmesh macros
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Fix: Recreate MVs on first insert
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/integration/test_integration_bigquery.py
Due: python

Fix(risingwave): Recreate materialized views (#5195)
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/integration/test_integration_bigquery.py
Due: python

Fix: properly handle empty `vars` mapping in dbt_project.yml
  sqlmesh/dbt/project.py
  tests/dbt/test_config.py
Due: python

feat: support jinja in dbt vars
  sqlmesh/dbt/context.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/macros/top_waiters_limit.sql
Due: python

chore: create make command install dbt version
  .github/workflows/pr.yaml
  Makefile
Due: common

chore: create make command install dbt version (#5251)
  .github/workflows/pr.yaml
  Makefile
Due: common

Fix: properly handle empty `vars` mapping in dbt_project.yml (#5248)
  sqlmesh/dbt/project.py
  tests/dbt/test_config.py
Due: python

clean up
  web/common/src/components/Badge/Badge.stories.tsx
  web/common/src/components/Badge/Badge.test.tsx
  web/common/src/components/Badge/Badge.tsx
  web/common/src/components/Badge/help.ts
  web/common/src/components/Button/Button.css
  web/common/src/components/Button/Button.stories.tsx
  web/common/src/components/Button/Button.tsx
  web/common/src/components/Button/help.ts
  web/common/src/components/ClipboardCopy/ClipboardCopy.stories.tsx
  web/common/src/components/CopyButton/CopyButton.stories.tsx
  web/common/src/components/CopyButton/CopyButton.test.tsx
  web/common/src/components/CopyButton/CopyButton.tsx
  web/common/src/components/HorizontalContainer/HorizontalContainer.stories.tsx
  web/common/src/components/HorizontalContainer/HorizontalContainer.tsx
  web/common/src/components/ModelName/ModelName.css
  web/common/src/components/ModelName/ModelName.stories.tsx
  web/common/src/components/ModelName/ModelName.tsx
  web/common/src/components/ScrollContainer/ScrollContainer.css
  web/common/src/components/ScrollContainer/ScrollContainer.stories.tsx
  web/common/src/components/ScrollContainer/ScrollContainer.test.tsx
  web/common/src/components/ScrollContainer/ScrollContainer.tsx
  web/common/src/components/Tooltip/Tooltip.stories.tsx
  web/common/src/components/Tooltip/Tooltip.tsx
  web/common/src/components/VerticalContainer/VerticalContainer.stories.tsx
  web/common/src/components/VerticalContainer/VerticalContainer.tsx
  web/common/src/index.ts
  web/common/src/styles/design/semantic-colors.css
  web/common/src/styles/tokens.ts
  web/common/src/types.ts
  web/common/src/types/enums.ts
  web/common/src/types/index.ts
  web/common/src/utils.ts
  web/common/src/utils/index.ts
Due: none

clean up
  web/common/src/components/CopyButton/CopyButton.tsx
  web/common/src/index.ts
  web/common/src/types.ts
Due: none

forgaot type
  web/common/src/components/Button/Button.tsx
Due: none

chore: improve adapter compatibility old dbt releases
  Makefile
  tests/dbt/test_config.py
Due: python, common

feat: support custom macros in dbt vars (#5250)
  sqlmesh/dbt/context.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/macros/top_waiters_limit.sql
Due: python

Fix: Automatically repair dbt test circular references by moving upstream test to downstream model
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_model.py
Due: python

chore: improve adapter compatibility old dbt releases (#5252)
  Makefile
  tests/dbt/test_config.py
Due: python, common

feat: make dbt loader multi core
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/model/schema.py
  sqlmesh/core/renderer.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/loader.py
Due: python

fix: pydantic v1 issues with dbt 1.6 semantic models
  .github/workflows/pr.yaml
  sqlmesh/dbt/manifest.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
Due: python

fix: pydantic v1 issues with dbt 1.6 semantic models (#5255)
  .github/workflows/pr.yaml
  sqlmesh/dbt/manifest.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
Due: python

Chore: Address more integration test flakiness
  .circleci/manage-test-db.sh
  sqlmesh/core/engine_adapter/fabric.py
  tests/conftest.py
Due: python, common

Enable cloud tests
  .circleci/continue_config.yml
Due: common

feat: dbt adapter allow invalid source ref for tests
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/utils/errors.py
  tests/dbt/test_model.py
Due: python

update type
  sqlmesh/dbt/test.py
Due: python

Revert "Enable cloud tests"
  .circleci/continue_config.yml
Due: common

feat: dbt adapter allow invalid source ref for tests (#5259)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/utils/errors.py
  tests/dbt/test_model.py
Due: python

Feat(dbt_cli): Set proper plan flags and also allow --empty and --environment (#5226)
  sqlmesh/cli/project_init.py
  sqlmesh/core/context.py
  sqlmesh_dbt/cli.py
  sqlmesh_dbt/operations.py
  tests/cli/test_cli.py
  tests/dbt/cli/test_operations.py
Due: python

fix: update TestConfig limit type (#5257)
  sqlmesh/dbt/test.py
Due: python

Chore: Address more integration test flakiness (#5258)
  .circleci/manage-test-db.sh
  sqlmesh/core/engine_adapter/fabric.py
  tests/conftest.py
Due: python, common

Fix: Automatically repair dbt test circular references by moving upstream test to downstream model (#5253)
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_model.py
Due: python

ci: limit the vscode test job to 30mins
  .github/workflows/pr.yaml
Due: none

ci: limit the vscode test job to 30mins (#5260)
  .github/workflows/pr.yaml
Due: none

Chore: Fix to add heplful error when drop operation fails
  sqlmesh/core/schema_diff.py
  tests/core/test_schema_diff.py
Due: python

Chore: Add heplful error message when drop operation fails (#5261)
  sqlmesh/core/schema_diff.py
  tests/core/test_schema_diff.py
Due: python

Fix: Regression in WAP support
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Skip cleanup of missing physical tables (#5150)
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Regression in WAP support (#5264)
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_snapshot_evaluator.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
