Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Chore!: bump sqlglot to v26.24.0 (#4598)
  pyproject.toml
  tests/core/engine_adapter/test_trino.py
Due: python

Feat: add support for DATA_PATH in DuckDBAttachOptions for ducklake
  sqlmesh/core/config/connection.py
Due: python

Docs: add DuckLake catalog example to DuckDB integration documentation
  docs/integrations/engines/duckdb.md
Due: none

Feat: add test for DuckDBAttachOptions with DATA_PATH for DuckLake catalog
  tests/core/test_connection_config.py
Due: python

Feat: Add support for ducklake encryption
  docs/integrations/engines/duckdb.md
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

feat(lsp): go to definition/hover for variable macros
  sqlmesh/lsp/reference.py
  tests/lsp/test_reference_macro_variable.py
Due: python

chore(vscode): add an integration test for gtd
  vscode/extension/tests/go_to_definition.spec.ts
Due: none

chore(vscode): add an integration test for gtd (#4608)
  vscode/extension/tests/go_to_definition.spec.ts
Due: none

Fix: Added newline below header in md and made the ducklake conditional DRYer
  docs/integrations/engines/duckdb.md
  sqlmesh/core/config/connection.py
Due: python

chore(lsp): introducing benchmark
  .circleci/continue_config.yml
  Makefile
  benchmarks/lsp_render_model_bench.py
  pyproject.toml
Due: common

chore(lsp): introducing benchmark (#4601)
  .circleci/continue_config.yml
  Makefile
  benchmarks/lsp_render_model_bench.py
  pyproject.toml
Due: common

chore(vscode): cleaning up setup and tests
  vscode/extension/package.json
  vscode/extension/tests/diagnostics.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tsconfig.json
Due: none

feat(vscode): autcomplete for macros
  sqlmesh/lsp/completions.py
  tests/lsp/test_completions.py
Due: python

chore(vscode): cleaning up setup and tests (#4610)
  vscode/extension/package.json
  vscode/extension/tests/diagnostics.spec.ts
  vscode/extension/tests/lineage.spec.ts
  vscode/extension/tsconfig.json
Due: none

Update docs/cloud/features/security/security.md
  docs/cloud/features/security/security.md
Due: none

add encryption and back up details
  docs/cloud/features/security/security.md
Due: none

add new security docs page
  docs/cloud/features/security/security.md
  docs/cloud/features/security/tcloud_standard_deployment.png
  mkdocs.yml
Due: none

add pull only details
  docs/cloud/features/security/security.md
Due: none

add pen test section
  docs/cloud/features/security/security.md
Due: none

add in hybrid cloud deployment section
  docs/cloud/features/security/security.md
  docs/cloud/features/security/tcloud_hybrid_deployment.png
Due: none

clean up grammar spelling
  docs/cloud/features/security/security.md
Due: none

add attestations
  docs/cloud/features/security/security.md
Due: none

backups stored timeframe
  docs/cloud/features/security/security.md
Due: none

format
  docs/cloud/features/security/security.md
Due: none

fix links and clarify component descriptions
  docs/cloud/features/security/security.md
Due: none

Apply suggestions from code review
  docs/cloud/features/security/security.md
Due: none

add new security docs page (#4564)
  docs/cloud/features/security/security.md
  docs/cloud/features/security/tcloud_hybrid_deployment.png
  docs/cloud/features/security/tcloud_standard_deployment.png
  mkdocs.yml
Due: none

Fix test
  sqlmesh/core/model/definition.py
  tests/core/test_loader.py
  tests/core/test_model.py
Due: python

Wordsmith
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Update error message when model file has no MODEL block
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Add data path and encrypted to duckdb catalog (#4600)
  docs/integrations/engines/duckdb.md
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

refactor(lsp): refactor lsp calls into context
  sqlmesh/lsp/context.py
  sqlmesh/lsp/main.py
Due: python

chore(vscode): for tests tell it to install extension
  vscode/extension/tests/utils.ts
Due: none

chore(vscode): for tests tell it to install extension (#4617)
  vscode/extension/tests/utils.ts
Due: none

refactor(lsp): refactor lsp calls into context (#4616)
  sqlmesh/lsp/context.py
  sqlmesh/lsp/main.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
