Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

chore!: upgrade deps
  setup.py
  sqlmesh/core/config/connection.py
Due: python

chore!: upgrade deps (#2272)
  setup.py
  sqlmesh/core/config/connection.py
Due: python

chore: add pypirc command
  .circleci/config.yml
Due: common

chore: isolate state sync cache
  tests/core/test_state_sync.py
Due: python

chore: isolate state sync cache (#2274)
  tests/core/test_state_sync.py
Due: python

chore: add pypirc command (#2273)
  .circleci/config.yml
Due: common

Fix: Place LIMIT before ORDER BY for UNION queries when generating a CTAS query
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: Place LIMIT before ORDER BY for UNION queries when generating a CTAS query (#2277)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Record successful tests and return them in the API
  sqlmesh/core/context.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/result.py
  web/server/api/endpoints/commands.py
  web/server/models.py
Due: python

Add a test
  tests/core/test_test.py
Due: python

fix: skip limit on recursive ctes
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

fix: skip limit on recursive ctes (#2278)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Chore: copy sqlmesh.svg under html/ so it shows in the API docs
  docs/_readthedocs/html/sqlmesh.svg
Due: none

chore: add name_version prop to name version class
  sqlmesh/core/snapshot/definition.py
Due: python

Feat: Record successful tests and return them in the API (#2271)
  sqlmesh/core/context.py
  sqlmesh/core/test/__init__.py
  sqlmesh/core/test/result.py
  tests/core/test_test.py
  web/server/api/endpoints/commands.py
  web/server/models.py
Due: python

chore: add name_version prop to name version class (#2280)
  sqlmesh/core/snapshot/definition.py
Due: python

Fix: Use latest finalized environment snapshots in selector
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
Due: python

chore: fix version detection for sqlmesh_tests
  tests/setup.py
Due: python

Chore: copy sqlmesh.svg under html/ so it shows in the API docs (#2279)
  docs/_readthedocs/html/sqlmesh.svg
Due: none

chore: fix version detection for sqlmesh_tests (#2284)
  tests/setup.py
Due: python

Document python model pre/post statements
  docs/concepts/models/python_models.md
Due: none

Remove references to cleaning up
  docs/concepts/models/python_models.md
  docs/concepts/models/sql_models.md
Due: none

Docs: python model pre/post statements (#2281)
  docs/concepts/models/python_models.md
  docs/concepts/models/sql_models.md
Due: none

Fix: Make sure that the deployable table is used for pre-/post- statements during the snapshot table creation
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Use latest finalized environment snapshots in selector (#2283)
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
Due: python

Fix: Make sure that the deployable table is used for pre-/post- statements during the snapshot table creation (#2282)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Ignore models from the 'elementary' package when loading a dbt project
  sqlmesh/dbt/manifest.py
Due: python

Fix: Ignore models from the 'elementary' package when loading a dbt project (#2285)
  sqlmesh/dbt/manifest.py
Due: python
