Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

update components
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/utils/tbk-components.js
Due: client

fix missing closing
  web/client/src/types/index.d.ts
Due: client

update playwright
  .circleci/continue_config.yml
Due: common

update playwright image
  .circleci/continue_config.yml
Due: common

fix playwright version
  web/Dockerfile.app
Due: none

fixed quoted model name display
  web/client/src/library/components/graph/ModelColumns.tsx
  web/client/src/library/pages/models/Models.tsx
  web/client/src/utils/tbk-components.js
Due: client

fix datetime cmp
  web/client/src/utils/tbk-components.js
Due: client

update components
  web/Dockerfile.app
  web/client/src/utils/tbk-components.js
Due: client

update playwright image
  .circleci/continue_config.yml
  web/Dockerfile.app
Due: common

update comps
  web/client/src/utils/tbk-components.js
Due: client

Chore!: bump sqlglot to v26.1.3
  setup.py
Due: python

docs: docs for dwh cost estimates and savings
  docs/cloud/features/costs_savings.md
  docs/cloud/features/costs_savings/costs-example.png
  docs/cloud/features/costs_savings/costs-navigation.png
  docs/cloud/features/costs_savings/costs-steps.png
  mkdocs.yml
Due: none

Costs edits round 2
  docs/cloud/features/costs_savings.md
Due: none

Docs: edit cloud costs/savings doc (#3626)
  docs/cloud/features/costs_savings.md
Due: none

docs: docs for dwh cost estimates and savings (#3554)
  docs/cloud/features/costs_savings.md
  docs/cloud/features/costs_savings/costs-example.png
  docs/cloud/features/costs_savings/costs-navigation.png
  docs/cloud/features/costs_savings/costs-steps.png
  mkdocs.yml
Due: none

clean up
  .history/.circleci/continue_config_20250113104220.yml
  .history/.circleci/continue_config_20250113153422.yml
Due: none

Fix: Reduce parsing overhead and improve performance when unpausing snapshots deployed to prod
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Fix: The inference of the default plan start
  sqlmesh/core/context.py
  tests/core/test_context.py
  tests/core/test_integration.py
Due: python

Fix: The inference of the default plan start (#3628)
  sqlmesh/core/context.py
  tests/core/test_context.py
  tests/core/test_integration.py
Due: python

Chore!: bump sqlglot to v26.1.3 (#3625)
  setup.py
Due: python

PR Feedback 2
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

Add migration script
  sqlmesh/migrations/v0067_add_validate_query.py
  tests/core/test_model.py
Due: python

Feat: Add 'validate_query' SQL model attribute for compile-time checks
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

PR Feedback 3
  sqlmesh/core/renderer.py
Due: python

PR Feedback 4
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Underscore on validate_query
  sqlmesh/core/renderer.py
Due: python

Remove migration script in favor of sqlglot bump
  sqlmesh/migrations/v0067_add_validate_query.py
Due: python

Chore: fix python model audit docs
  docs/concepts/models/python_models.md
Due: none

Chore: fix python model audit docs (#3632)
  docs/concepts/models/python_models.md
Due: none

Fix: Don't set the is_incremental flag for non-incremental dbt models (#3616)
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

Fix: Reduce parsing overhead and improve performance when unpausing snapshots deployed to prod (#3627)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Chore!: bump sqlglot to v26.2.1
  setup.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Chore!: bump sqlglot to v26.2.1 (#3634)
  setup.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Feat!: Add 'validate_query' model attribute for compile-time checks (#3614)
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

feat: implement support for bigframes
  docs/concepts/models/python_models.md
  setup.cfg
  setup.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/_typing.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Feat: implement support for bigframes (#3620)
  docs/concepts/models/python_models.md
  setup.cfg
  setup.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/_typing.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/snapshot/evaluator.py
Due: python
