Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Chore!: upgrade sqlglot to v17 (#1090)
  setup.py
  sqlmesh/core/audit/builtin.py
  sqlmesh/core/dialect.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_schema_loader.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_transformation.py
Due: python

Fix: handle corrupt snapshots due to upgrades closes #1063
  sqlmesh/core/model/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Run table diff sushi plans for 2023-01-31 only
  tests/core/test_table_diff.py
Due: python

Chore: update table diff styling and expand tests (#1077)
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

add type so eslint understand when value is exists
  web/client/src/utils/index.ts
Due: client

Add new built-in audits to audits guide
  docs/concepts/audits.md
Due: none

Fix: Update views only for snapshots that are new to the target environment. Close state sync connections properly
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/dbt/loader.py
  sqlmesh/schedulers/airflow/state_sync.py
Due: python

Fix: Update views only for snapshots that are new to the target environment. Close state sync connections properly (#1093)
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/dbt/loader.py
  sqlmesh/schedulers/airflow/state_sync.py
Due: python

Fix(docs): fix integration docs links
  docs/integrations/airflow.md
  docs/integrations/engines.md
Due: none

Fix: circular ref debug_mode
  sqlmesh/__init__.py
  sqlmesh/cli/__init__.py
  sqlmesh/cli/main.py
  sqlmesh/utils/__init__.py
Due: python

fix sql text highlighting in code editor
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/hooks.ts
  web/client/src/workers/sqlglot/worker.ts
Due: client

fix code editor extendsions and hooks
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorIndicator.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/SqlMeshModel.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/editor/hooks.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/types/index.d.ts
  web/client/src/utils/index.ts
  web/client/src/workers/sqlglot/sqlglot.py
  web/client/src/workers/sqlglot/worker.ts
Due: client

Chore: Remove noisy warnings
  sqlmesh/dbt/builtin.py
Due: python

Update EditorCode.tsx
  web/client/src/library/components/editor/EditorCode.tsx
Due: client

Fix: handle corrupt snapshots due to upgrades closes #1063 (#1091)
  sqlmesh/core/model/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

rename file
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/SqlMeshModel.ts
Due: client

rename file
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
  web/client/src/library/components/editor/extensions/SQLMeshModel.ts
Due: client

add missing getTableDataFromArrowStreamResult
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/hooks.ts
Due: client

clean up
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/editor/hooks.ts
Due: client

Fix typo in notification target validator
  sqlmesh/core/user.py
Due: python

Fix: Support older versions of BigQuery python library
  setup.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/model/definition.py
Due: python

Fix: Support older versions of BigQuery python library (#1096)
  setup.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/model/definition.py
Due: python

Feat: Add tags support for dbt projects.
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

Feat: Add tags support for dbt projects. (#1087)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

Fix typo in notification guide
  docs/guides/notifications.md
Due: none

Add new built-in audits to audits guide (#1094)
  docs/concepts/audits.md
Due: none

Fix: Preserve the model query cache after fetching snapshots from state sync
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/model/definition.py
Due: python

Fix: Preserve the model query cache after fetching snapshots from state sync (#1098)
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/model/definition.py
Due: python

fix: cli failure due to missing package
  setup.py
Due: python
