Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Remove Pydantic v2 warning
  docs/installation.md
Due: none

Standardize quickstart spelling
  docs/quick_start.md
  docs/quickstart/cli.md
  docs/quickstart/notebook.md
  docs/quickstart/ui.md
  docs/reference/notebook.md
Due: none

Chore: Fix the Airflow e2e test
  tests/schedulers/airflow/test_end_to_end.py
Due: python

Add docs contribution commands
  docs/development.md
Due: none

Chore: Set run_on_deploy_to_prod to false by default for the CICD bot
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/config.py
  tests/core/analytics/test_collector.py
Due: python

Chore!: Set run_on_deploy_to_prod to false by default for the CICD bot (#3572)
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/config.py
  tests/core/analytics/test_collector.py
Due: python

include additional components
  web/client/src/types/index.d.ts
  web/client/src/utils/additional-components.ts
  web/client/src/utils/tbk-components.js
Due: client

types placeholder
  web/client/src/utils/additional-components.ts
Due: client

fix missing closing
  web/client/src/types/index.d.ts
Due: client

update components
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/utils/tbk-components.js
Due: client

include additional components form cloud
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/pages/data-catalog/DataCatalog.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/src/styles/design.css
  web/client/src/types/index.d.ts
  web/client/src/utils/additional-components.ts
  web/client/src/utils/tbk-components.js
Due: client

update playwright
  .circleci/continue_config.yml
  web/Dockerfile.app
Due: common

update playwright image
  .circleci/continue_config.yml
  web/Dockerfile.app
Due: common

update components
  web/Dockerfile.app
  web/client/src/utils/tbk-components.js
Due: client

Fix: Show diff for metadata changes in the plan output
  sqlmesh/core/console.py
  sqlmesh/core/plan/definition.py
Due: python

Docs: Add contribution commands for docs (#3571)
  docs/development.md
Due: none

Refactor to handle nested jinja and preserve original sql text
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
Due: python

Feat!: Add support for virtual statements to be executed post update
  sqlmesh/core/dialect.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Add unit tests
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Refactor, code cleanup
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Rebase apply ruff
  tests/core/test_model.py
Due: python

Resolve rebase
  sqlmesh/core/scheduler.py
Due: python

Refactors
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Revise VirtualUpdateStatement to contain expressions; update docs
  docs/concepts/macros/macro_variables.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

fix datetime cmp
  web/client/src/utils/tbk-components.js
Due: client

Fix: Show diff for metadata changes in the plan output (#3574)
  sqlmesh/core/console.py
  sqlmesh/core/plan/definition.py
Due: python

Fix: Always create views in the virtual layer for expired environments
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_state_sync.py
Due: python

Fix: Always create views in the virtual layer for expired environments (#3575)
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_state_sync.py
Due: python

Fix!: Models with allow_partials set to true should respect cron
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
Due: python

fix(rw): use latest rw image
  tests/core/engine_adapter/integration/docker/compose.risingwave.yaml
Due: python

fix(rw): remove unnecessary log and comment
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/risingwave.py
Due: python

fix(rw): remove print in test_integration
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Fix: Add adapters for commands that are not using the snapshot evaluator
  sqlmesh/core/context.py
Due: python

Use a cached property for the engine adapters
  sqlmesh/core/context.py
Due: python

Add unit tests
  tests/core/test_model.py
  tests/core/test_test.py
Due: python

Revise to get all engine adapters; adapt parallel integration tests to support this
  sqlmesh/core/context.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_test.py
Due: python

Refactor to create the adapters inside _get_engine_adapter
  sqlmesh/core/context.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_test.py
Due: python
