Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Feat!: Add depends_on_past through self-reference check support (Built-in only) (#917)
  examples/sushi/models/customer_revenue_lifetime.sql
  sqlmesh/core/config/model.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/migrations/v0010_seed_hash_batch_size.py
  tests/core/test_integration.py
  tests/core/test_scheduler.py
  tests/core/test_snapshot.py
  tests/utils/test_dag.py
Due: python

Wordsmith
  docs/concepts/macros/sqlmesh_macros.md
Due: none

add full with history
  sqlmesh/core/dialect.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

add full with history model with test
  examples/sushi/models/customer_revenue_lifetime.sql
Due: python

remove full with history kind
  sqlmesh/core/dialect.py
  sqlmesh/core/model/kind.py
Due: python

add restate support for depends_on_past
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
Due: python

add is_restatement
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_snapshot.py
Due: python

sort lists
  tests/core/test_integration.py
Due: python

change is_restatement to set of restatement snapshots
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
Due: python

feedback
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

fix bad rebase
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Add example project overview to quickstart
  docs/quick_start.md
Due: none

revert back to get restatement interval
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fixing some minor styling bugs
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
Due: client

PR comments
  web/client/src/library/pages/docs/Docs.tsx
Due: client

Fix: Some minor styling bugs (#927)
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
Due: client

go back to for_removal
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

update docstring
  sqlmesh/core/snapshot/definition.py
Due: python

fix tests
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_schema_loader.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

Chore: add external models to sushi project (#898)
  examples/sushi/models/customers.sql
  examples/sushi/schema.yaml
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_schema_loader.py
  tests/integrations/github/cicd/test_github_controller.py
Due: python

Fix!: Make sure internal models are not accidentally converted to external ones
  sqlmesh/core/context.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/schema_loader.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0010_add_model_kind_name.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_schema_loader.py
  tests/schedulers/airflow/test_client.py
Due: python

Feat: table-diff, easily diff two tables.
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/table_diff.py
  sqlmesh/magics.py
  tests/core/test_table_diff.py
Due: python

display node for CTE
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/server/api/endpoints/lineage.py
Due: client, python

use Editor component to display source SQL
  tests/web/test_main.py
  web/client/openapi.json
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/server/api/endpoints/lineage.py
  web/server/models.py
Due: client, python

Address PR commnets and ifx bugs
  tests/web/test_main.py
  web/client/src/api/instance.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/lineage.py
Due: client, python

Feat: Display node for CTE (#915)
  tests/web/test_main.py
  web/client/openapi.json
  web/client/src/api/instance.ts
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/lineage.py
  web/server/models.py
Due: client, python

Update setup.py
  setup.py
Due: python

Rename the migration script module
  sqlmesh/migrations/v0011_add_model_kind_name.py
Due: python

Address comments
  sqlmesh/core/schema_loader.py
Due: python

Update setup.py (#929)
  setup.py
Due: python

Fix!: Make sure internal models are not accidentally converted to external ones (#926)
  sqlmesh/core/context.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/schema_loader.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0011_add_model_kind_name.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_schema_loader.py
  tests/schedulers/airflow/test_client.py
Due: python

pr feedback
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

Fix: test no longer creates duckdb file.
  sqlmesh/core/config/loader.py
  tests/core/test_integration.py
Due: python

add cli and magics
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

Feat: table-diff, easily diff two tables. (#907)
  sqlmesh/cli/main.py
  sqlmesh/core/config/loader.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/table_diff.py
  sqlmesh/magics.py
  tests/core/test_integration.py
  tests/core/test_table_diff.py
Due: python
