Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: manually check if sqlglot ready when loading Editor component (#1142)
  web/client/openapi.json
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/workers/sqlglot/worker.ts
Due: client

Feat: Show scrollbar on hover for all scrollable blocks (#1141)
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/report/ReportTestsErrors.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/tab/Tab.tsx
  web/client/src/library/components/table/TableDiff.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

Feat!: Add support for forward_only and disable_restatement flags to incremental models
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/dbt/model.py
  tests/core/test_plan.py
  tests/core/test_snapshot.py
  tests/dbt/test_transformation.py
  tests/schedulers/airflow/test_client.py
Due: python

Make project configs and model default dialect mandatory
  sqlmesh/core/config/loader.py
  sqlmesh/core/config/model.py
  sqlmesh/core/context.py
Due: python

Add model default dialect to sushi configs
  examples/sushi/config.py
Due: python

Update tests with model default dialect
  tests/core/test_config.py
  tests/core/test_context.py
Due: python

Refactor!: Make sqlmesh incremental blocks more clear (#1140)
  docs/integrations/dbt.md
  examples/sushi_dbt/macros/incremental.sql
  examples/sushi_dbt/models/customer_revenue_by_day.sql
  examples/sushi_dbt/models/waiter_revenue_by_day.sql
  sqlmesh/dbt/builtin.py
  tests/fixtures/dbt/sushi_test/macros/incremental.sql
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
  tests/fixtures/dbt/sushi_test/packages/customers/models/customer_revenue_by_day.sql
Due: python

feat: prettier webhook notifications
  sqlmesh/core/notification_target.py
  sqlmesh/utils/slack.py
Due: python

chore: add horizonal divider
  sqlmesh/core/notification_target.py
Due: python

chore: touch up output
  sqlmesh/core/notification_target.py
  sqlmesh/utils/slack.py
Due: python

fix: safe use of typeddict
  sqlmesh/core/notification_target.py
  sqlmesh/utils/slack.py
Due: python

Feat!: Add support for forward_only and disable_restatement flags to incremental models (#1144)
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/dbt/model.py
  tests/core/test_plan.py
  tests/core/test_snapshot.py
  tests/dbt/test_transformation.py
  tests/schedulers/airflow/test_client.py
Due: python

Support for postgres users and documentation
  examples/sushi_dbt/config.py
  sqlmesh/core/config/connection.py
Due: python

gcp postgres connection config
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
Due: python

Remove sushi_dbt config changes
  examples/sushi_dbt/config.py
Due: python

Add gcp postgres setup dependency
  setup.py
Due: python

Add defaults for input paths
  sqlmesh/core/config/loader.py
Due: python

Fix test_config
  tests/core/test_config.py
Due: python

add promote_all option
  web/client/openapi.json
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

Fix: Skip auto categorization for snapshots that indirectly modify models with missing schema
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

Rename
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
Due: python

Feature: Add connection config for GCP managed Postgres (#1146)
  setup.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
Due: python

style: move slack.py to integrations
  sqlmesh/core/notification_target.py
  sqlmesh/integrations/slack.py
Due: python

add promote_all option (#1148)
  web/client/openapi.json
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

add sort nad filter to table
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/EditorIndicator.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/table/help.ts
  web/client/src/library/components/tableDiff/TableDiff.tsx
  web/client/src/library/components/tableDiff/help.ts
  web/server/api/endpoints/commands.py
  web/server/models.py
Due: client, python

PR comments
  web/client/src/api/index.ts
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/table/help.ts
  web/client/src/library/components/tableDiff/help.ts
Due: client

clean up
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

display compiled query
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

Fix: display compiled query in model docs (#1149)
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

Feat: add sorting/filtering to table (#1138)
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/index.ts
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/EditorIndicator.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/table/help.ts
  web/client/src/library/components/tableDiff/TableDiff.tsx
  web/client/src/library/components/tableDiff/help.ts
  web/server/api/endpoints/commands.py
  web/server/models.py
Due: client, python

improve consistent styling for inputs + use radix/select for selectors
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorIndicator.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/input/Selector.tsx
  web/client/src/library/components/input/Textfield.tsx
  web/client/src/library/components/plan/PlanBackfillDates.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/selector/Selector.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

Update PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
Due: client

Fix: Re-introduce the 'sqlmesh' jinja flag for dbt projects
  sqlmesh/dbt/builtin.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
