Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Dont reuse the dev table version for non-materialized models
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: Dont reuse the dev table version for non-materialized models (#3694)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

fix: use correct type sig for validation info
  sqlmesh/core/model/common.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Fix: use correct type sig for validation info, ensure dialect in expr deser (#3698)
  sqlmesh/core/model/common.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

feat: add airflow operator and hook for ClickHouse
  sqlmesh/schedulers/airflow/hooks/clickhouse.py
  sqlmesh/schedulers/airflow/operators/clickhouse.py
  sqlmesh/schedulers/airflow/util.py
Due: python

ref: pass ruff tests
  sqlmesh/schedulers/airflow/hooks/clickhouse.py
  sqlmesh/schedulers/airflow/util.py
Due: python

Feat: Clarify Trino/Iceberg/Nessie support and add Nessie to our Trino integration test suite
  Makefile
  docs/integrations/engines/trino.md
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/docker/_common-hive.yaml
  tests/core/engine_adapter/integration/docker/compose.trino.yaml
  tests/core/engine_adapter/integration/docker/init-metastore-db.sql
  tests/core/engine_adapter/integration/docker/trino/catalog/datalake_nessie.properties
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Feat: Nessie support (#3700)
  Makefile
  docs/integrations/engines/trino.md
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/docker/_common-hive.yaml
  tests/core/engine_adapter/integration/docker/compose.trino.yaml
  tests/core/engine_adapter/integration/docker/init-metastore-db.sql
  tests/core/engine_adapter/integration/docker/trino/catalog/datalake_nessie.properties
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Chore: Fix validate_query docs
  docs/reference/model_configuration.md
Due: none

Chore: Fix model_configuration docs typo (#3701)
  docs/reference/model_configuration.md
Due: none

ref: import connection in case of type checking
  sqlmesh/schedulers/airflow/hooks/clickhouse.py
Due: python

Fix: merge DEFAULT_ARGS and kwargs in pydantic dict method
  sqlmesh/utils/pydantic.py
  tests/utils/test_pydantic.py
Due: python

Fix: merge DEFAULT_ARGS and kwargs in pydantic dict method (#3705)
  sqlmesh/utils/pydantic.py
  tests/utils/test_pydantic.py
Due: python

Feat: Automatically detect dbt Python deps and include them in project requirements
  sqlmesh/core/context.py
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
Due: python

Move nothing to run message out of scheduler
  sqlmesh/core/context.py
  sqlmesh/core/scheduler.py
Due: python

Fix: nothing to run message should not appear during plan (#3708)
  sqlmesh/core/context.py
  sqlmesh/core/scheduler.py
Due: python

Feat: Allow partials for dbt incremental models by default
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Feat: Set allow_partials to true by default for dbt incremental models
  docs/integrations/dbt.md
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Fix: Catch all macro evaluator exceptions when rendering a query
  sqlmesh/core/renderer.py
Due: python

Address comments
  docs/integrations/dbt.md
  sqlmesh/dbt/model.py
Due: python

fix: catch more errors from macros so that debugging is easier
  sqlmesh/core/renderer.py
Due: python

Feat dbt incremental allow partials (#3709)
  docs/integrations/dbt.md
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Fix: Include unrendered query into the metadata hash
  sqlmesh/core/model/definition.py
  sqlmesh/migrations/v0068_include_unrendered_query_in_metadata_hash.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

fix: catch more errors from macros so that debugging is easier (#3711)
  sqlmesh/core/renderer.py
Due: python

chore: add uv info for tcloud getting started
  docs/cloud/tcloud_getting_started.md
Due: none

Fix: Include unrendered query into the metadata hash (#3710)
  sqlmesh/core/model/definition.py
  sqlmesh/migrations/v0068_include_unrendered_query_in_metadata_hash.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

Add newlines and indents to plan output
  sqlmesh/core/console.py
  sqlmesh/core/context_diff.py
Due: python

Chore: minor plan output formatting (#3697)
  sqlmesh/core/console.py
  sqlmesh/core/context_diff.py
Due: python

Move inc by partition
  docs/concepts/models/model_kinds.md
Due: none

Docs: model kind concepts move inc by partition (#3713)
  docs/concepts/models/model_kinds.md
Due: none

Fix: Stop publishing sources to pypi
  Makefile
Due: common

Feat: Automatically detect dbt Python deps and include them in project requirements (#3707)
  sqlmesh/core/context.py
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
Due: python

chore: add uv info for tcloud getting started (#3712)
  docs/cloud/tcloud_getting_started.md
Due: none

chore: reduce sdist size
  MANIFEST.in
Due: none

chore: reduce sdist size (#3715)
  MANIFEST.in
Due: none

Chore!: bump sqlglot to v26.3.8
  setup.py
  tests/core/engine_adapter/test_athena.py
Due: python

update docs for ClickHouse Airflow engine; Fix username parameter
  docs/integrations/engines/clickhouse.md
  sqlmesh/schedulers/airflow/hooks/clickhouse.py
Due: python

Update docs
  docs/reference/cli.md
  docs/reference/notebook.md
  sqlmesh/cli/main.py
  sqlmesh/magics.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
