Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

clean up
  web/client/.eslintrc.js
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

improve file/tab selection
  web/client/.eslintrc.js
  web/client/src/context/editor.ts
  web/client/src/context/fileTree.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/fileExplorer/help.ts
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/directory.ts
Due: client

Update Directory.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
Due: client

optimize move artifact
  web/client/src/library/components/fileExplorer/context.tsx
Due: client

add details to confirmation modal
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
Due: client

rename directories without confirmation
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

clean up
  web/client/src/library/components/fileExplorer/Directory.tsx
Due: client

delete selected + scroll to active tab
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

clean up
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/hooks.ts
Due: client

remove parse_model_name
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
Due: python

change to materialized
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

Fix: Databricks session_configuration can be None (#1129)
  sqlmesh/core/config/connection.py
Due: python

store plan in user namespace
  sqlmesh/magics.py
Due: python

store commands into variables
  sqlmesh/magics.py
Due: python

Feat: Improve file explorer (#1044)
  web/client/.eslintrc.js
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/editor.ts
  web/client/src/context/project.ts
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/editor/hooks.ts
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/DragLayer.tsx
  web/client/src/library/components/fileExplorer/File.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/fileExplorer/help.ts
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/search/help.ts
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/directory.ts
  web/client/src/models/file.ts
  web/client/tailwind.config.js
Due: client

updated packages
  .pre-commit-config.yaml
  setup.py
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
Due: client, python, common

fix broken test
  web/client/package-lock.json
  web/client/src/utils/index.spec.ts
Due: client

update playwright
  .circleci/continue_config.yml
  Dockerfile.app
Due: common

Chore: updated packages (#1134)
  .circleci/continue_config.yml
  .pre-commit-config.yaml
  Dockerfile.app
  setup.py
  web/client/openapi.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/utils/index.spec.ts
Due: client, python, common

allow partials when loading config
  sqlmesh/core/config/loader.py
  sqlmesh/core/context.py
  sqlmesh/utils/__init__.py
  tests/core/test_config.py
  tests/core/test_context.py
Due: python

switch to pathlib
  tests/core/test_context.py
  tests/core/test_format.py
  tests/utils/test_filesystem.py
Due: python

Fix: Allow forward-only on added external models (#1130)
  sqlmesh/core/context_diff.py
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_plan.py
Due: python

Feat: Promote only changed snapshots in dev environments
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/environment.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/magics.py
  sqlmesh/migrations/v0015_environment_add_promoted_snapshot_ids.py
  sqlmesh/utils/errors.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/web/test_main.py
  web/server/api/endpoints/plan.py
Due: python

Address comments
  docs/reference/configuration.md
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

switch to args
  sqlmesh/core/config/loader.py
  sqlmesh/utils/__init__.py
Due: python

remove extra check
  sqlmesh/utils/__init__.py
Due: python

show scrollbar on hover for all scrollable blocks
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/report/ReportTestsErrors.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/tab/Tab.tsx
  web/client/src/library/components/table/TableDiff.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

Feat!: Promote only changed snapshots in dev environments (#1131)
  docs/reference/configuration.md
  sqlmesh/cli/main.py
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/environment.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/magics.py
  sqlmesh/migrations/v0015_environment_add_promoted_snapshot_ids.py
  sqlmesh/utils/errors.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/core/test_plan_evaluator.py
  tests/schedulers/airflow/test_client.py
  tests/web/test_main.py
  web/server/api/endpoints/plan.py
Due: python

Make sqlmesh incremental blocks more clear
  docs/integrations/dbt.md
  examples/sushi_dbt/macros/incremental.sql
  examples/sushi_dbt/models/customer_revenue_by_day.sql
  examples/sushi_dbt/models/waiter_revenue_by_day.sql
  sqlmesh/dbt/builtin.py
  tests/fixtures/dbt/sushi_test/macros/incremental.sql
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
  tests/fixtures/dbt/sushi_test/packages/customers/models/customer_revenue_by_day.sql
Due: python

Fix!: Allow partials when loading configs + Personal Config Overrides Project (#1136)
  sqlmesh/core/config/loader.py
  sqlmesh/core/context.py
  sqlmesh/utils/__init__.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/core/test_format.py
  tests/utils/test_filesystem.py
Due: python

Make sqlglot_dialects a public util function
  sqlmesh/cli/main.py
  sqlmesh/magics.py
  sqlmesh/utils/__init__.py
Due: python

Remove dialect default enforcement from context
  sqlmesh/core/context.py
Due: python

manually check if sqlglot ready when loading Editor component
  web/client/openapi.json
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/workers/sqlglot/worker.ts
Due: client

Fix: manually check if sqlglot ready when loading Editor component (#1142)
  web/client/openapi.json
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/workers/sqlglot/worker.ts
Due: client
