Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

chore: bump sqlglot (#1586)
  setup.py
Due: python

Fix: Support older versions of Airflow (#1587)
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/operators/hwm_sensor.py
  sqlmesh/utils/migration.py
Due: python

Use 8-character random ID for temp table names
  Makefile
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/__init__.py
  tests/core/engine_adapter/__init__.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mixins.py
  tests/core/engine_adapter/test_mssql.py
Due: python, common

Tidy tests
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mixins.py
  tests/core/engine_adapter/test_mssql.py
Due: python

chore: ci only run local engine integration tests
  .circleci/continue_config.yml
  Makefile
  tests/core/engine_adapter/test_integration.py
Due: python, common

add additional log for different stage of plan apply
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
  tests/web/test_main.py
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/meta.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: client, python

fix naming
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: client, python

pr comments
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/meta.py
  web/server/console.py
  web/server/models.py
Due: client, python

fix typo
  web/server/console.py
  web/server/models.py
Due: python

fix wrong argument
  web/server/api/endpoints/plan.py
Due: python

fix test
  tests/web/test_main.py
Due: python

rename plan apply tracker classes
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: client, python

remove start/end fro PlanApplyStageValidation it already be in `meta` object,
  web/client/openapi.json
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

use only plan apply event
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: python

rename models for tracking plan stages
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
  web/server/models.py
Due: python

add openapi back
  web/client/openapi.json
Due: client

clean up
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: python

Convert temp_table_name test function to fixture
  tests/conftest.py
  tests/core/engine_adapter/__init__.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mixins.py
  tests/core/engine_adapter/test_mssql.py
Due: python

format
  sqlmesh/core/plan/evaluator.py
  web/client/openapi.json
  web/server/console.py
Due: client, python

PR feedback
  sqlmesh/utils/__init__.py
  tests/conftest.py
Due: python

fix: include stack trace bot output
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_integration.py
Due: python

chore: ci only run local engine integration tests (#1590)
  .circleci/continue_config.yml
  Makefile
  tests/core/engine_adapter/test_integration.py
Due: python, common

Fix(mysql): use 8-character random ID for temp table names (#1589)
  Makefile
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/__init__.py
  tests/conftest.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_mixins.py
  tests/core/engine_adapter/test_mssql.py
Due: python, common

fix: include stack trace bot output (#1592)
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_integration.py
Due: python

fix: bot properly deal with truncated output
  sqlmesh/integrations/github/cicd/controller.py
Due: python

mysql does not have FULL OUTER JOIN
  examples/sushi/models/customer_revenue_lifetime.sql
Due: python

Fix: Update updated_ts for all demoted snapshtos and not just the ones representing removed models
  sqlmesh/core/state_sync/common.py
  tests/core/test_state_sync.py
Due: python

Add MSSQL to make install-engine-integration
  Makefile
Due: common

fix: bot properly deal with truncated output (#1594)
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Add MSSQL to make install-engine-integration (#1596)
  Makefile
Due: common

Fix: Update updated_ts for all demoted snapshtos and not just the ones representing removed models (#1595)
  sqlmesh/core/state_sync/common.py
  tests/core/test_state_sync.py
Due: python

Fix: Warn when failed to cleanup environment schemas / views
  sqlmesh/core/state_sync/common.py
Due: python

Fix: Warn when failed to cleanup environment schemas / views (#1597)
  sqlmesh/core/state_sync/common.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
