Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

fix: correct slack block with multiple fields
  sqlmesh/integrations/slack.py
Due: python

fix: correct slack block with multiple fields (#2183)
  sqlmesh/integrations/slack.py
Due: python

add bigquery execution project config support (#2181)
  sqlmesh/core/config/connection.py
  sqlmesh/dbt/target.py
  tests/core/test_connection_config.py
Due: python

Fix: A negative number of macros when running 'sqlmesh info' for dbt projects
  sqlmesh/dbt/loader.py
Due: python

Feat: Support custom Virtual Warehouses for Snowflake
  docs/integrations/engines/snowflake.md
  sqlmesh/core/_typing.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_integration.py
  tests/core/test_model.py
Due: python

Fix: A negative number of macros when running 'sqlmesh info' for dbt projects (#2186)
  sqlmesh/dbt/loader.py
Due: python

Feat: Support custom Virtual Warehouses for Snowflake (#2185)
  docs/integrations/engines/snowflake.md
  sqlmesh/core/_typing.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_integration.py
  tests/core/test_model.py
Due: python

Fix: Bump the batch size for object names when fetching data objects in the engine adapter
  sqlmesh/core/engine_adapter/base.py
Due: python

fix: propogate false and limit to every select as some queries do not have sufficient predicate pushdown
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

fix: propogate false and limit to every select as some queries do not have sufficient predicate pushdown (#2187)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

WIP: addition of trino airflow scheduler
  docs/integrations/airflow.md
  docs/integrations/engines/trino.md
  sqlmesh/schedulers/airflow/operators/trino.py
  sqlmesh/schedulers/airflow/util.py
Due: python

formatting fix
  sqlmesh/schedulers/airflow/util.py
Due: python

fixed docs
  docs/guides/scheduling.md
Due: none

Feat: Support the Snowflake Warehouse model config for dbt projects
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Feat: Support the Snowflake Warehouse model config for dbt projects (#2189)
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Fix: temporarily unwrap sushi.customers's query again
  examples/sushi/models/customers.sql
  tests/integrations/github/cicd/test_integration.py
Due: python

Fix: temporarily unwrap sushi.customers's query again (#2191)
  examples/sushi/models/customers.sql
  tests/integrations/github/cicd/test_integration.py
Due: python

Make tests that import dbt adapters run on CI/CD only
  .circleci/continue_config.yml
  Makefile
  pytest.ini
  setup.py
  tests/dbt/test_config.py
Due: python, common

rename make commands cicd -> cicdtest
  .circleci/continue_config.yml
  Makefile
  setup.py
Due: python, common

Remove extra make exclusions
  Makefile
  examples/airflow/docker_compose_decorator.py
Due: python, common

Clean up make command name
  .circleci/continue_config.yml
  Makefile
Due: common

Add airflow test
  examples/airflow/docker_compose_decorator.py
Due: python

Clarify circleci step descriptions
  .circleci/continue_config.yml
Due: common

Chore: tests that import dbt adapters run on CI/CD only (#2190)
  .circleci/continue_config.yml
  Makefile
  pytest.ini
  setup.py
  tests/dbt/test_config.py
Due: python, common

clean up lineage styling
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/tailwind.config.js
Due: client

feat: dbt multi repo
  examples/multi_dbt/bronze/config.py
  examples/multi_dbt/bronze/dbt_project.yml
  examples/multi_dbt/bronze/models/a.sql
  examples/multi_dbt/bronze/models/b.sql
  examples/multi_dbt/bronze/profiles.yml
  examples/multi_dbt/silver/config.py
  examples/multi_dbt/silver/dbt_project.yml
  examples/multi_dbt/silver/models/c.sql
  examples/multi_dbt/silver/models/d.sql
  examples/multi_dbt/silver/models/schema.yml
  examples/multi_dbt/silver/profiles.yml
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/conftest.py
Due: python

docs: fixed spell and trino connection link
  docs/integrations/engines/trino.md
Due: none

feat: dbt multi repo (#2168)
  examples/multi_dbt/bronze/config.py
  examples/multi_dbt/bronze/dbt_project.yml
  examples/multi_dbt/bronze/models/a.sql
  examples/multi_dbt/bronze/models/b.sql
  examples/multi_dbt/bronze/profiles.yml
  examples/multi_dbt/silver/config.py
  examples/multi_dbt/silver/dbt_project.yml
  examples/multi_dbt/silver/models/c.sql
  examples/multi_dbt/silver/models/d.sql
  examples/multi_dbt/silver/models/schema.yml
  examples/multi_dbt/silver/profiles.yml
  sqlmesh/dbt/loader.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/conftest.py
Due: python

WIP: addition of trino airflow scheduler (#2188)
  docs/guides/scheduling.md
  docs/integrations/airflow.md
  docs/integrations/engines/trino.md
  sqlmesh/schedulers/airflow/operators/trino.py
  sqlmesh/schedulers/airflow/util.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
