Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Remove unnecessary argument
  sqlmesh/core/snapshot/evaluator.py
Due: python

Uppercase to account for lowercase guard; adapt test for it
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Move on_virtual_update execution to _promote_snapshot
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Apply style
  tests/core/test_model.py
Due: python

Clarify interval_unit definition and use in lookback
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

Fix: The interval unit can be larger than cron perid of allow_partials is set to true
  sqlmesh/core/node.py
  tests/core/test_model.py
Due: python

Feat!: Add support for on_virtual_update statements (#3524)
  docs/concepts/macros/macro_variables.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  sqlmesh/core/dialect.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: The interval unit can be larger than cron perid of allow_partials is set to true (#3609)
  sqlmesh/core/node.py
  tests/core/test_model.py
Due: python

Fix calculation of when next model ready to run
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: this_model macro usage in the on_virtual_update statements
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: this_model macro usage in the on_virtual_update statements (#3611)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: calculate when next model ready to run correctly (#3612)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Feat(redshift): Add native Merge support for Redshift
  docs/concepts/models/model_kinds.md
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Test run circleci integration tests
  .circleci/continue_config.yml
Due: common

Add validation for single when matched and when not matched clauses
  sqlmesh/core/engine_adapter/redshift.py
Due: python

Reinstate circleci config filters
  .circleci/continue_config.yml
Due: common

Feat(redshift): Add native Merge support for Redshift (#3607)
  docs/concepts/models/model_kinds.md
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_redshift.py
Due: python

test case update
  tests/cli/test_cli.py
Due: python

respect no-prompts flag while creating plan
  sqlmesh/core/console.py
Due: python

Fix: Don't set the is_incremental flag for non-incremental dbt models
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

Docs: Clarify "sqlmesh init" usage
  docs/guides/projects.md
Due: none

Fix: Properly include dialect when formatting (#3596)
  web/Dockerfile.app
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/workers/sqlglot/sqlglot.ts
Due: client

preserv chnages when navigating tabs
  web/client/src/library/components/editor/EditorTab.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/models/file.spec.ts
  web/client/src/models/file.ts
  web/client/src/utils/index.spec.ts
  web/client/src/utils/index.ts
Due: client

Docs: Clarify "sqlmesh init" usage (#3617)
  docs/guides/projects.md
Due: none

Fix: Don't set the is_incremental flag for non-incremental dbt models (#3616)
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

fix: update default value for `invalidate_hard_deletes` to match documentation
  sqlmesh/core/model/kind.py
Due: python

Fix: Physical view not being created when needed for non-deployable indirect non-breaking snapshots
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_integration.py
Due: python

Fix: Physical view not being created when needed for non-deployable indirect non-breaking snapshots (#3619)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_integration.py
Due: python

chore: fix tag docs
  docs/guides/model_selection.md
Due: none

Fix: Preserve file changes when navigating tabs (#3587)
  web/client/src/library/components/editor/EditorTab.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/models/file.spec.ts
  web/client/src/models/file.ts
  web/client/src/utils/index.spec.ts
  web/client/src/utils/index.ts
Due: client

Update docs/concepts/models/overview.md
  docs/concepts/models/overview.md
Due: none

Clarify interval_unit definition and use in lookback/batch size
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

Add example config
  docs/concepts/models/overview.md
Due: none

Clarify allow_partials warning
  docs/concepts/models/overview.md
Due: none

Docs: clarify interval_unit definition and use in lookback/batch size (#3613)
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

include additional components form cloud
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/pages/data-catalog/DataCatalog.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/src/styles/design.css
  web/client/src/types/index.d.ts
  web/client/src/utils/additional-components.ts
  web/client/src/utils/tbk-components.js
Due: client

types placeholder
  web/client/src/utils/additional-components.ts
Due: client

include additional components
  web/client/src/types/index.d.ts
  web/client/src/utils/additional-components.ts
  web/client/src/utils/tbk-components.js
Due: client
