Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Update web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/Editor.tsx
Due: client

[UI] Display plan in drawer instead of modal (#593)
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/modal/ModalDrawer.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
  web/client/tailwind.config.js
Due: client

Misc dbt fixes
  sqlmesh/dbt/common.py
  sqlmesh/dbt/package.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/target.py
Due: python

update footer tech info and add a documentation link
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/root/Root.tsx
Due: client

[UI] Update footer tech info and add a documentation link (#598)
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/root/Root.tsx
Due: client

fix: Drop columns before adding columns when altering table in Spark
  sqlmesh/core/engine_adapter/base_spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

fix: Drop columns before adding columns when altering table in Spark (#599)
  sqlmesh/core/engine_adapter/base_spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

fix layout for direct/indirect change, fix dark theme colors for environment dropdown
  web/client/src/index.css
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
Due: client

Fix layout for direct/indirect change, fix dark theme colors for environment dropdown (#600)
  web/client/src/index.css
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
Due: client

capitalization
  README.md
Due: none

Remove bash syntax highlighting for CLI
  docs/reference/cli.md
Due: none

Reorder guides and add integrations engine page to mkdocs.yml
  docs/integrations/engines.md
  docs/integrations/overview.md
  mkdocs.yml
Due: none

Fix links in concepts/overview and quick_start
  docs/concepts/overview.md
  docs/quick_start.md
Due: none

Edit guides/connections
  docs/guides/connections.md
Due: none

Edit guides/scheduling
  docs/guides/scheduling.md
Due: none

Edit guides/models
  docs/guides/models.md
Due: none

Edit integrations/github
  docs/integrations/github.md
Due: none

minor edits to reference/ docs
  docs/reference/configuration.md
  docs/reference/notebook.md
  docs/reference/overview.md
Due: none

[DBT] Second pass at docs section
  docs/integrations/airflow.md
  docs/integrations/dbt.md
Due: none

[DBT] Second pass at docs section (#602)
  docs/integrations/airflow.md
  docs/integrations/dbt.md
Due: none

fix: Plan start date inference when targeting the prod environment
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

Edits to documentation (#601)
  docs/concepts/overview.md
  docs/guides/connections.md
  docs/guides/models.md
  docs/guides/scheduling.md
  docs/integrations/engines.md
  docs/integrations/github.md
  docs/integrations/overview.md
  docs/quick_start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  docs/reference/overview.md
  mkdocs.yml
Due: none

fix: Plan start date inference when targeting the prod environment (#605)
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

fix: Consolidate auto change categorization in the plan definition
  sqlmesh/core/context.py
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

fix: Consolidate auto change categorization in the plan definition (#604)
  sqlmesh/core/context.py
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

Edit integrations/dbt
  docs/integrations/dbt.md
Due: none

Editing pass at mostly final docs.
  docs/best_practices/recommended_workflow.md
  docs/comparisons.md
  docs/concepts/architecture/serialization.md
  docs/concepts/architecture/snapshots.md
  docs/concepts/audits.md
  docs/concepts/environments.md
  docs/concepts/glossary.md
  docs/concepts/hooks.md
  docs/concepts/macros.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/sql_models.md
  docs/concepts/overview.md
  docs/concepts/plans.md
  docs/concepts/team_development.md
  docs/guides/connections.md
  docs/guides/projects.md
  docs/guides/scheduling.md
  docs/index.md
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/integrations/github.md
  docs/prerequisites.md
  docs/quick_start.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  docs/reference/overview.md
  docs/reference/python.md
  docs/release_notes.md
  mkdocs.yml
Due: none

fill in init prod env message
  web/client/src/library/components/plan/PlanHeader.tsx
Due: client

Update glossary.md
  docs/concepts/glossary.md
Due: none

Update engines.md
  docs/integrations/engines.md
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile
