Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  generate-openapi-spec:
    docker:
      - image: cimg/python:3.11
    resource_class: small
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: make install-dev
      - run:
          name: Generate OpenAPI spec
          command: python web/server/openapi.py
      - persist_to_workspace:
          root: web/client
          paths:
            - openapi.json

  ide-build:
    docker:
      - image: cimg/node:19.8
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build IDE
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - generate-openapi-spec:
          <<: *on_tag_filter
          requires:
            - gh-release
      - ide-build:
          <<: *on_tag_filter
          requires:
            - generate-openapi-spec
      - publish:
          <<: *on_tag_filter
          requires:
            - ide-build

format code (#812)
  sqlmesh/cli/main.py
Due: python

Feat: Extend Airflow integration with the ability to provide an external DB connection for SQLMesh state (#811)
  docs/integrations/airflow.md
  docs/integrations/airflow/airflow_sqlmesh_state_connection.png
  sqlmesh/schedulers/airflow/util.py
Due: python

Update engines.md
  docs/integrations/engines.md
Due: none

Update engines.md (#813)
  docs/integrations/engines.md
Due: none

remove unneeded expand
  sqlmesh/core/renderer.py
Due: python

Upgrade sqlglot to 12.0.0
  setup.py
Due: python

PR review fixes
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/logical_merge.py
Due: python

Introduce logical merge for adapters that do not natively support merge
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/logical_merge.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

Use sql builder
  sqlmesh/core/engine_adapter/logical_merge.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

More PR fixes
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/logical_merge.py
  sqlmesh/core/renderer.py
Due: python

Feat: Introduce logical merge for adapters that do not natively support merge (#802)
  setup.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/logical_merge.py
  sqlmesh/core/renderer.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

implement load df for create table
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

fixes
  examples/wursthall/config.yaml
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

Feat: BREAKING always parse macro returns as sql
  examples/sushi/macros/macros.py
  examples/wursthall/macros/macros.py
  setup.cfg
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

fix tests
  setup.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Improve BigQuery Pandas Implementation (#814)
  examples/wursthall/config.yaml
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Chore: upgrade sqlglot
  setup.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_base_spark.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Feat: BREAKING always parse macro returns as sql (#815)
  examples/sushi/macros/macros.py
  examples/wursthall/macros/macros.py
  setup.cfg
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Fix: don't add where false if no from statement
  sqlmesh/core/model/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_model.py
Due: python

make it work
  web/client/openapi.json
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

improve styling
  web/client/src/library/components/container/Container.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

refactor CodeEditor component
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/models/file.ts
  web/client/src/utils/index.ts
  web/server/models.py
Due: client, python

connect columns in editro/docs with lineage
  tests/web/test_main.py
  web/client/openapi.json
  web/client/src/context/context.ts
  web/client/src/context/editor.ts
  web/client/src/context/lineage.tsx
  web/client/src/index.css
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/models/file.ts
  web/client/src/models/initial.ts
  web/client/src/models/sqlmesh-model.ts
  web/client/src/routes.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

set up docs page
  web/client/openapi.json
  web/client/src/library/components/container/ContainerPage.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/root/Footer.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/main.tsx
  web/client/src/routes.tsx
Due: client

add not-found page
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/routes.tsx
Due: client

add page
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/routes.tsx
Due: client

add flags to hide documantation sections
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

add Github actions cicd bot
  docs/integrations/github.md
  docs/integrations/images/github_deployed_plans.png
  docs/integrations/images/github_env_summary.png
  docs/integrations/images/github_prod_plan_preview.png
  docs/integrations/images/github_reviewers.png
  docs/integrations/images/github_test_summary.png
  setup.py
  sqlmesh/cicd/__init__.py
  sqlmesh/cicd/bot.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/core/user.py
  sqlmesh/integrations/github/cicd/__init__.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  sqlmesh/utils/errors.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

cleanup
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/options.py
Due: python

fix typo
  sqlmesh/core/console.py
Due: python

share run tests
  docs/integrations/github.md
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

fix naming
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python
