Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

chore: Add logging for jinja rendered queries that fail to parse
  sqlmesh/core/renderer.py
Due: python

Fix!: Integrate dbt macros into creation of model and source names
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/source.py
  sqlmesh/dbt/test.py
  tests/dbt/conftest.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/schema.yaml
Due: python

Fix bad merge
  sqlmesh/dbt/manifest.py
Due: python

update type
  web/client/src/library/components/plan/hooks.ts
Due: client

Add API to python api reference page title
  docs/reference/python.md
Due: none

Add API to python api reference page title (#1834)
  docs/reference/python.md
Due: none

Chore: Add plan action class to control plan flow (#1827)
  web/client/openapi.json
  web/client/src/App.tsx
  web/client/src/api/index.ts
  web/client/src/context/context.ts
  web/client/src/context/plan.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanActionsDescription.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanOptions.tsx
  web/client/src/library/components/plan/help.spec.ts
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/PlanSidebar.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/plan-action.ts
  web/client/src/models/tracker-plan-apply.ts
  web/client/src/models/tracker-plan-cancel.ts
  web/client/src/models/tracker-plan-overview.ts
  web/client/src/models/tracker-plan.ts
  web/client/src/utils/index.ts
Due: client

Fix: Pickup project macros missed by dbt parsers
  sqlmesh/dbt/manifest.py
Due: python

Fix!: Include macro dependencies missed by dbt manifest parser
  sqlmesh/dbt/manifest.py
Due: python

Address PR feedback
  sqlmesh/dbt/manifest.py
Due: python

Fix!: Include macro dependencies missed by dbt manifest parser (#1836)
  sqlmesh/dbt/manifest.py
Due: python

Feat: Detect circular references from dbt tests
  sqlmesh/dbt/basemodel.py
Due: python

the unit tests
  tests/dbt/test_model.py
Due: python

Add comment block
  sqlmesh/dbt/basemodel.py
Due: python

Feat: Detect circular references from dbt tests (#1822)
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_model.py
Due: python

Fix: Build UI before wheel
  Makefile
Due: common

Fix: Build UI before wheel (#1838)
  Makefile
Due: common

Update sqlmesh/core/dialect.py
  sqlmesh/core/dialect.py
Due: python

fix: add rust tokenizer support with new parser
  sqlmesh/core/dialect.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

don't use is for rust
  setup.py
  sqlmesh/core/engine_adapter/redshift.py
Due: python

fix!: add rust tokenizer support with new parser (#1835)
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

fix: parse errors with upgrade
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

fix: parse errors with upgrade (#1840)
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

Add columns model property to docs
  docs/concepts/models/overview.md
  docs/reference/model_configuration.md
Due: none

Update docs/concepts/models/overview.md
  docs/concepts/models/overview.md
Due: none

Chore: Attempt to fix the Airflow build
  examples/airflow/Dockerfile.template
Due: python

Tidy backfill examples
  docs/guides/model_selection.md
Due: none

Update docs/guides/model_selection.md
  docs/guides/model_selection.md
Due: none

Clarify backfill language
  docs/guides/model_selection.md
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
