Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Chore!: bump sqlglot to v26.19.0 (#4504)
  pyproject.toml
  tests/core/test_model.py
  tests/lsp/test_completions.py
Due: python

Chore: add pyproject.toml in examples/custom_materializations
  examples/custom_materializations/pyproject.toml
Due: python

Chore: add pyproject.toml in examples/custom_materializations (#4506)
  examples/custom_materializations/pyproject.toml
Due: python

feat: validate session properties in model meta
  sqlmesh/core/model/common.py
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
Due: python

chore: make check status message clearer
  sqlmesh/integrations/github/cicd/command.py
Due: python

chore: parse AST from string
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/test_model.py
Due: python

chore: make check status message clearer (#4507)
  sqlmesh/integrations/github/cicd/command.py
Due: python

Fix: prompt if there are any uncategorized snapshots in a plan (#4498)
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

fix: explictely require packaging
  .circleci/config.yml
  pyproject.toml
Due: common

fix: explictely require packaging (#4508)
  .circleci/config.yml
  pyproject.toml
Due: common

feat(vscode): improve readme (#4489)
  vscode/extension/README.md
Due: none

Chore: configure logging before loading config to log errors properly
  sqlmesh/__init__.py
  sqlmesh/cli/main.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

PR feedback
  sqlmesh/core/config/connection.py
Due: python

Feat: expose model fqn in the macro evaluator
  sqlmesh/core/macros.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

Fix test
  tests/core/test_connection_config.py
Due: python

Fix: Improve the field location reporting in config errors
  sqlmesh/utils/pydantic.py
Due: python

Apply suggestion
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

update comment
  tests/core/engine_adapter/integration/conftest.py
Due: python

Chore: Migrate pytest config to pyproject.toml
  Makefile
  pyproject.toml
  pytest.ini
  tests/core/engine_adapter/integration/conftest.py
  tests/core/engine_adapter/integration/docker/compose.trino.yaml
Due: python, common

Revert "Enable cloud tests for PR"
  .circleci/continue_config.yml
Due: common

Enable cloud tests for PR
  .circleci/continue_config.yml
Due: common

Fix: Improve the field location reporting in config errors (#4511)
  sqlmesh/utils/pydantic.py
Due: python

Chore!: configure logging before loading config to log errors properly (#4509)
  sqlmesh/__init__.py
  sqlmesh/cli/main.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
  tests/core/test_connection_config.py
Due: python

Chore: Test retry flakiness and migrate pytest config to pyproject.toml (#4496)
  Makefile
  pyproject.toml
  pytest.ini
  tests/core/engine_adapter/integration/conftest.py
  tests/core/engine_adapter/integration/docker/compose.trino.yaml
Due: python, common

Fix: Relax the error regex in state sync tests
  tests/core/state_sync/test_state_sync.py
Due: python

Fix: Relax the error regex in state sync tests (#4512)
  tests/core/state_sync/test_state_sync.py
Due: python

Chore: remove setup.py in favor of pyproject.toml for custom materializations example
  examples/custom_materializations/pyproject.toml
  examples/custom_materializations/setup.py
Due: python

Chore: remove setup.py in favor of pyproject.toml for custom materializations example (#4514)
  examples/custom_materializations/pyproject.toml
  examples/custom_materializations/setup.py
Due: python

Only warn for disabled restatements if snapshot in restatement subgraph
  sqlmesh/core/plan/builder.py
Due: python

Chore: detect invalid signal refs and raise early
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Chore: detect invalid signal refs and raise early (#4515)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: only warn for disabled restatements if snapshot in restatement subgraph (#4516)
  sqlmesh/core/plan/builder.py
Due: python

Chore: Run audits for metadata snaphots after creating snapshots and their tables
  sqlmesh/core/plan/evaluator.py
Due: python

Chore: Run audits for metadata snaphots after creating snapshots and their tables (#4517)
  sqlmesh/core/plan/evaluator.py
Due: python

Fix(snowflake): Correctly handle COPY GRANTS property in materialized views
  tests/core/engine_adapter/test_snowflake.py
Due: python

Feat: Allow supplying complex connection config fields as JSON strings
  sqlmesh/core/config/connection.py
  sqlmesh/utils/pydantic.py
  tests/core/test_config.py
  tests/core/test_connection_config.py
  tests/utils/test_pydantic.py
Due: python

PR feedback
  sqlmesh/core/config/connection.py
  tests/core/test_config.py
Due: python

Feat: Allow supplying complex connection config fields as JSON strings (#4519)
  sqlmesh/core/config/connection.py
  sqlmesh/utils/pydantic.py
  tests/core/test_config.py
  tests/core/test_connection_config.py
  tests/utils/test_pydantic.py
Due: python

chore(vscode): move e2e test to use temp folder each time
  vscode/extension/tests/lineage.spec.ts
Due: none

chore(vscode): move e2e test to use temp folder each time (#4521)
  vscode/extension/tests/lineage.spec.ts
Due: none
