Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

breaking: validate only correct model kinds support batch_size. (#665)
  examples/wursthall/models/db/item_d.sql
  sqlmesh/core/model/__init__.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/dbt/test_config.py
Due: python

Attach workspace when publishing Python package (#656)
  .circleci/config.yml
Due: common

Fix file not selected after tab closed and create .sql file by default in models
  web/client/src/context/fileTree.ts
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
  web/client/src/models/directory.ts
Due: client

Fix issue: renaming file creates a duplicate editor tab on UI
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
Due: client

make first local editor tab non-closeable
  web/client/src/library/components/editor/Editor.tsx
Due: client

[UI] Fix bugs for file tree (#662)
  web/client/src/context/editor.ts
  web/client/src/context/fileTree.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/fileTree/Directory.tsx
  web/client/src/library/components/fileTree/File.tsx
  web/client/src/models/directory.ts
Due: client

use view name for targets in backfill progress
  docs/guides/models.md
  docs/quick_start.md
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

use view name for targets in backfill progress
  sqlmesh/core/console.py
Due: python

cleanup
  sqlmesh/core/context.py
  web/server/console.py
Due: python

check for missing backfills
  web/client/src/library/components/plan/Plan.tsx
  web/server/api/endpoints/plan.py
Due: client, python

Feat: Use view name for targets in backfill progress (#661)
  docs/guides/models.md
  docs/quick_start.md
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
  web/server/console.py
Due: python

[UI] Check for missing backfills (#667)
  web/client/src/library/components/plan/Plan.tsx
  web/server/api/endpoints/plan.py
Due: client, python

Display Test report for plan
  web/client/src/library/components/banner/Banner.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
Due: client

set fallback for view name to model name
  web/server/api/endpoints/plan.py
Due: python

revert changeing file in examples folder
  examples/sushi/seeds/waiter_names.csv
Due: python

display view name for backfills/tasks instead of model name
  web/client/src/context/plan.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
Due: client

add view_name to backfills
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: python

clean up
  web/server/api/endpoints/plan.py
Due: python

clean up
  examples/sushi/seeds/waiter_names.csv
  web/server/api/endpoints/plan.py
Due: python

add check for skipped tests
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/hooks.ts
Due: client

[UI] Include and display view name (#669)
  web/client/src/context/plan.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

Remove unused variable and unneccessary param reordering
  sqlmesh/dbt/basemodel.py
Due: python

Extract raw config from model to match dbt behavior.
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

[DBT] Capture all config fields before rendering them
  sqlmesh/core/config/base.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/source.py
  tests/dbt/test_config.py
Due: python

Support jinja render without methods param
  sqlmesh/utils/jinja.py
Due: python

PR cleanup
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
Due: python

Fix dependency detection.
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

Address PR comments
  sqlmesh/core/config/base.py
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_transformation.py
Due: python

Reuse jinja env
  sqlmesh/dbt/basemodel.py
Due: python

[DBT] Mimic dbt behavior for config() jinja within sql models (#634)
  sqlmesh/core/config/base.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/source.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

Update help.ts
  web/client/src/library/components/graph/help.ts
Due: client

increase distance between nodes in graph
  web/client/src/library/components/graph/help.ts
Due: client

[UI] Use elkjs bundled (#670)
  web/client/src/library/components/graph/help.ts
Due: client

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
