Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Adapt integration test to support this
  tests/core/engine_adapter/integration/__init__.py
Due: python

Fix: Add adapters for commands that are not using the snapshot evaluator (#3531)
  sqlmesh/core/context.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/test_config.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_test.py
Due: python

Docs: Minor updates (#3570)
  docs/installation.md
  docs/quick_start.md
  docs/quickstart/cli.md
  docs/quickstart/notebook.md
  docs/quickstart/ui.md
  docs/reference/notebook.md
Due: none

Fix physical creation progress bar
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/cli/test_cli.py
Due: python

Fix: Move rendering for merge_filter to evaluation time
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Don't drop intervals in state when restating models in a dev environment
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  tests/core/test_integration.py
Due: python

Fix: Don't drop intervals in state when restating models in a dev environment (#3580)
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  tests/core/test_integration.py
Due: python

Give useful error for invalid model kind
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Specify nanosecond precision for CH model partitioning expression DateTime64
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Fix: Unpaused snapshots that are downstream of snapshots with enabled auto-restatement can still be representative
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: Unpaused snapshots that are downstream of snapshots with enabled auto-restatement can still be representative (#3584)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

updatte peer deps
  .circleci/continue_config.yml
  web/Dockerfile.app
  web/client/package-lock.json
  web/docker-compose.build.yml
  web/docker-compose.yml
Due: client, common

update packages and migrate to latest eslint
  .pre-commit-config.yaml
  examples/sushi/models/customer_revenue_by_day.sql
  web/client/.eslintrc.cjs
  web/client/.prettierrc.js
  web/client/eslint.config.js
  web/client/package-lock.json
  web/client/package.json
  web/client/playwright.config.js
  web/client/postcss.config.js
  web/client/src/api/channels.ts
  web/client/src/api/index.ts
  web/client/src/api/instance.ts
  web/client/src/library/components/editor/extensions/help.ts
  web/client/src/library/components/graph/ModelColumns.tsx
  web/client/src/library/components/input/Selector.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/main.tsx
  web/client/src/tests/utils.tsx
  web/client/src/workers/sqlglot/sqlglot.ts
  web/client/tailwind.config.js
  web/client/tsconfig.json
  web/client/vite.config.js
Due: client, python, common

use current headlessui version
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/graph/help.ts
Due: client

Feat: provide useful error for invalid model kind (#3581)
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Remove passive voice from plan messages
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/utils/errors.py
  tests/cli/test_cli.py
  tests/integrations/jupyter/test_magics.py
Due: python

update package json
  web/client/.gitignore
  web/client/package-lock.json
  web/client/package.json
  web/client/playwright.config.ts
  web/client/tsconfig.json
Due: client

Fix!: Models with allow_partials set to true should respect cron
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/dbt/test_integration.py
Due: python

Chore: condense completion messages (#3563)
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/utils/errors.py
  tests/cli/test_cli.py
  tests/integrations/jupyter/test_magics.py
Due: python

update pyodide
  .circleci/continue_config.yml
  examples/sushi/models/customer_revenue_by_day.sql
  web/Dockerfile.app
  web/client/package-lock.json
  web/client/src/types/index.d.ts
  web/client/src/workers/sqlglot/sqlglot.ts
Due: client, python, common

Fix: Restatement of models that are present in prod but are missing in dev
  sqlmesh/core/plan/evaluator.py
  tests/core/test_integration.py
Due: python

Fix: Restatement of models that are present in prod but are missing in dev (#3589)
  sqlmesh/core/plan/evaluator.py
  tests/core/test_integration.py
Due: python

update addit deps
  .pre-commit-config.yaml
Due: common

update eslint
  web/client/eslint.config.js
  web/client/tsconfig.json
  web/client/vite.config.ts
Due: client

formatting
  examples/sushi/models/customer_revenue_by_day.sql
Due: python

formatting
  .pre-commit-config.yaml
  web/client/eslint.config.mjs
  web/client/tsconfig.json
Due: client, common

Fix!: Models with allow_partials set to true should respect cron (#3577)
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/dbt/test_integration.py
Due: python

change format to cjs
  .pre-commit-config.yaml
  web/client/eslint.config.cjs
  web/client/tsconfig.json
Due: client, common

change format to cjs
  .pre-commit-config.yaml
  web/client/eslint.config.js
  web/client/package.json
  web/client/tsconfig.json
Due: client, common

Add test
  tests/core/engine_adapter/integration/test_integration_clickhouse.py
Due: python

Fix: plan physical tables progress bar (#3578)
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  tests/cli/test_cli.py
Due: python

Fix(clickhouse): specify DateTime64 precision for model partitioning expression (#3582)
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/integration/test_integration_clickhouse.py
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Fix: Automatically categorize python models by default
  docs/guides/configuration.md
  examples/sushi/config.py
  sqlmesh/core/config/categorizer.py
Due: python

Fix!: Automatically categorize python models by default (#3594)
  docs/guides/configuration.md
  examples/sushi/config.py
  sqlmesh/core/config/categorizer.py
Due: python

Address comments
  docs/cloud/features/scheduler.md
Due: none

Chore: Document the cloud scheduler feature
  docs/cloud/features/scheduler.md
  docs/cloud/features/scheduler/add_connection.png
  docs/cloud/features/scheduler/add_connection_form.png
  docs/cloud/features/scheduler/add_connection_success.png
  docs/cloud/features/scheduler/create_pause.png
  docs/cloud/features/scheduler/create_pause_form.png
  docs/cloud/features/scheduler/delete_pause.png
  docs/cloud/features/scheduler/pause_environment.png
  docs/cloud/features/scheduler/resume_environment.png
  docs/cloud/features/scheduler/see_all_pauses.png
  docs/cloud/features/scheduler/settings_tab.png
  mkdocs.yml
Due: none

Scheduler docs edit pass
  docs/cloud/features/scheduler.md
  docs/guides/scheduling.md
Due: none

Docs: cloud scheduler docs edits (#3590)
  docs/cloud/features/scheduler.md
  docs/guides/scheduling.md
Due: none
