Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Docs: Clarify Bigquery connection methods (#959)
  docs/integrations/engines.md
Due: none

Fix: When evaluating a snapshot render pre- and post-statements right before their evaluation
  sqlmesh/core/snapshot/evaluator.py
Due: python

Fix: When evaluating a snapshot render pre- and post-statements right before their evaluation (#961)
  sqlmesh/core/snapshot/evaluator.py
Due: python

fix: Support config() method in jinja.
  sqlmesh/utils/__init__.py
  tests/dbt/test_transformation.py
Due: python

fix: Support config() method in jinja. (#962)
  sqlmesh/utils/__init__.py
  tests/dbt/test_transformation.py
Due: python

Feat!: Extend SQL parser with designated blocks for jinja code
  docs/concepts/macros/jinja_macros.md
  examples/sushi/models/waiter_as_customer_by_day.sql
  sqlmesh/core/audit/definition.py
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/test.py
  sqlmesh/migrations/v0012_update_jinja_expressions.py
  tests/core/test_audit.py
  tests/core/test_dialect.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/dbt/test_config.py
Due: python

Address comments
  sqlmesh/migrations/v0012_update_jinja_expressions.py
Due: python

Feat!: Extend SQL parser with designated blocks for jinja code (#963)
  docs/concepts/macros/jinja_macros.md
  examples/sushi/models/waiter_as_customer_by_day.sql
  sqlmesh/core/audit/definition.py
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/test.py
  sqlmesh/migrations/v0012_update_jinja_expressions.py
  tests/core/test_audit.py
  tests/core/test_dialect.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/dbt/test_config.py
Due: python

Fix: Unit test due to merging the stale branch
  tests/dbt/test_transformation.py
Due: python

Chore: Increate the no_output_timeout to 15m for the Airflow integration tests
  .circleci/continue_config.yml
Due: common

Fix: Redundant extraction of macro references in jinja expressions
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

use dialect when creating table
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

update redshift connection id to be consistent (#960)
  docs/integrations/engines.md
  sqlmesh/schedulers/airflow/operators/redshift.py
Due: python

use dialect when creating table (#966)
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

bump sqlglot
  setup.py
Due: python

bump sqlglot (#967)
  setup.py
Due: python

Fix: Redundant extraction of macro references in jinja expressions (#965)
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Update dev model changes
  docs/quick_start.md
Due: none

Define backfill
  docs/quick_start.md
Due: none

Update docs/quick_start.md
  docs/quick_start.md
Due: none

Address PR comments
  docs/quick_start.md
Due: none

Fix: Invalidate the in-memory cache for the columns-to-types mapping when updating the model's schema
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
Due: python

Fix: Invalidate the in-memory cache for the columns-to-types mapping when updating the model's schema (#971)
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
Due: python

Chore: Cosmetic fix
  sqlmesh/core/loader.py
Due: python

Bump sqlglot to v16.0.0
  setup.py
Due: python

Chore: bump sqlglot version
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  web/client/src/workers/sqlglot/sqlglot.py
Due: client, python

Bump sqlglot to v15.3.0
  setup.py
Due: python

Fix: Determine model dependencies after rendering.
  sqlmesh/dbt/basemodel.py
Due: python
