Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: Various UI lineage issues (#2017)
  tests/web/test_main.py
  web/server/api/endpoints/lineage.py
Due: python

Fix: Child snapshot targeting a wrong parent forward-only snapshot table when the parent was created in dev and the child in prod (#2019)
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_plan.py
Due: python

set warning when getting content results in error
  web/server/api/endpoints/files.py
  web/server/watcher.py
Due: python

adjustments to new layout based on feedback
  web/client/openapi.json
  web/client/src/context/context.ts
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanOptions.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/components/tab/Tab.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/ide/EnvironmentDetails.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/meta.py
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

use placeholder when no backfills
  web/client/src/library/pages/root/Page.tsx
Due: client

raise if file not found
  web/server/api/endpoints/files.py
Due: python

fix: clean up model lineage section at smaller widths
  package-lock.json
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageInformation.tsx
  web/client/src/library/components/graph/ModelLineageSearch.tsx
  web/client/src/library/components/listbox/ListboxShow.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/tailwind.config.js
Due: client

remove file
  package-lock.json
Due: none

remove comment
  web/client/src/library/components/graph/ModelLineageSearch.tsx
Due: client

pr comment fix
  web/client/src/library/components/graph/ModelLineage.tsx
Due: client

recover running plan state on ferfresh
  web/client/src/App.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Footer.tsx
  web/client/src/library/pages/root/Page.tsx
  web/server/api/endpoints/meta.py
Due: client, python

addressing pr comments, switching model lineage information name to details
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelLineageSearch.tsx
  web/client/src/library/components/listbox/ListboxShow.tsx
Due: client

adjust left and right spacing of the details popover
  web/client/src/library/components/graph/ModelLineage.tsx
Due: client

show correct highlight on change lineage
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

rename default mode to all
  web/server/api/endpoints/meta.py
Due: python

clean up
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

Fix: Adjustments to new layout based on feedback (#2011)
  web/client/openapi.json
  web/client/src/App.tsx
  web/client/src/context/context.ts
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/fileExplorer/Directory.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanOptions.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/components/tab/Tab.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/ide/EnvironmentDetails.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/Footer.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/library/pages/root/Page.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/meta.py
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

Fix: Set warning when getting file content results in error (#2020)
  web/server/api/endpoints/files.py
  web/server/watcher.py
Due: python

fix: model lineage section at smaller widths (#2021)
  web/client/package-lock.json
  web/client/package.json
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelLineageSearch.tsx
  web/client/src/library/components/listbox/ListboxShow.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/tailwind.config.js
Due: client

make editor inspector collapsable on click
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tab/Tab.tsx
Due: client

remove query from Inspector
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
Due: client

fix: further improve performance of dag by introducing a dummy node
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

fix: further improve performance of dag by introducing a dummy node (#2022)
  sqlmesh/core/scheduler.py
  tests/core/test_scheduler.py
Due: python

fix: databricks get catalog unity exception
  sqlmesh/core/engine_adapter/databricks.py
Due: python

fix: databricks get catalog unity exception (#2027)
  sqlmesh/core/engine_adapter/databricks.py
Due: python

Feat: Create snapshot tables on demand
  docs/quickstart/cli.md
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_plan.py
Due: python

Address comments
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Fix airflow
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

fix: lookback always ignoring cron
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_plan.py
Due: python

fix: lookback always ignoring cron (#2029)
  sqlmesh/core/plan/definition.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/schedulers/airflow/plan.py
  tests/core/test_plan.py
Due: python

Fix engines
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Fix: When deleting expired snapshots in janitor only fetch relevant snapshot records
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0038_add_expiration_ts_to_snapshot.py
  tests/core/test_state_sync.py
Due: python

Address comments. Add more tests
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/adapter.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_integration.py
  tests/integrations/github/cicd/test_integration.py
Due: python
