Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Feat: Macro typing coercion (#2041)
  examples/sushi/macros/macros.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Fix: Use correct root path when listing files with git
  sqlmesh/utils/git.py
Due: python

addressing pr comments
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

formatting
  web/client/src/library/components/sourceList/SourceList.tsx
Due: client

Fix: Show errors in preview only with lineage/table/diff (#2083)
  web/client/src/library/components/editor/EditorPreview.tsx
Due: client

Fix: Slightly improve model autocompletion (#2043)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
  web/client/src/library/components/editor/extensions/SQLMeshModel.ts
  web/client/src/library/components/editor/extensions/help.ts
  web/client/src/library/components/editor/hooks.ts
Due: client

Fix: Use correct root path when listing files with git (#2087)
  sqlmesh/utils/git.py
Due: python

Add comment registration default arg to configuration reference
  docs/reference/configuration.md
Due: none

cleanup
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

Add comment registration default arg to configuration reference (#2088)
  docs/reference/configuration.md
Due: none

Revert "Feat: Macro typing coercion (#2041)"
  examples/sushi/macros/macros.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Revert "Feat: Macro typing coercion (#2041)" (#2089)
  examples/sushi/macros/macros.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

feat: Virtualized docs list, auto scroll to active item on refresh (#2082)
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

chore: add airflow test to develop doc
  docs/development.md
Due: none

chore: add airflow test to develop doc (#2090)
  docs/development.md
Due: none

clean up SourceList component
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

fix!: airflow truncate tag and task id names
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/util.py
  tests/schedulers/airflow/test_util.py
Due: python

PR comments
  web/client/src/library/components/sourceList/SourceList.tsx
Due: client

Fix: Clean up SourceList component (#2092)
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

python and sql models using ibis
  examples/ibis/models/ibis_full_model.py
  examples/ibis/models/ibis_full_model_python.py
  examples/ibis/models/ibis_full_model_sql.py
Due: python

feat: add dbt scd type 2 feature flag (#2085)
  sqlmesh/core/config/feature_flag.py
  sqlmesh/core/config/root.py
  sqlmesh/dbt/loader.py
  tests/core/test_config.py
  tests/dbt/test_adapter.py
Due: python

descriptions
  examples/ibis/constants.py
  examples/ibis/models/ibis_full_model_python.py
  examples/ibis/models/ibis_full_model_sql.py
Due: python

moved descriptions
  examples/ibis/models/ibis_full_model_python.py
  examples/ibis/models/ibis_full_model_sql.py
Due: python

select file and add tab we no tabs present
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
Due: client

set min-width for split panes
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/pages/root/Page.tsx
Due: client

improve perf by lazy loading models list
  web/client/src/App.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageSearch.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/workers/lineage.ts
Due: client

Fix: Improve perf by lazy loading models list (#2094)
  web/client/src/App.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageSearch.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/workers/lineage.ts
Due: client
