Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

make sure environments called from IDE level
  web/client/src/library/components/ide/IDE.tsx
Due: client

pass additional options when running/applying plan
  sqlmesh/core/context.py
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
Due: python

handle different use cases for additional options when runnin or applying plan
  web/client/src/api/index.ts
  web/client/src/context/context.ts
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanBackfillDates.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/toggle/Toggle.tsx
Due: client

default plan flow, created_from in additional options, new tag
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/context.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/main.tsx
  web/client/src/models/environment.ts
  web/client/tailwind.config.js
Due: client

remove unused
  web/client/src/library/components/plan/PlanSidebar.tsx
Due: client

define if running plan for thew first time
  web/client/src/context/context.ts
Due: client

roll back changes for setting change category server
  sqlmesh/core/context.py
  web/server/api/endpoints/commands.py
Due: python

clean up
  sqlmesh/core/context.py
Due: python

remove comma
  web/client/src/main.tsx
Due: client

Start working on auto-deployment of docs
  .circleci/config.yml
Due: common

Fix typo
  .circleci/config.yml
Due: common

Update config.yml
  .circleci/config.yml
Due: common

[UI] Plan and Apply commands with additional options (#510)
  tests/web/test_main.py
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/channels.ts
  web/client/src/api/index.ts
  web/client/src/api/instance.ts
  web/client/src/context/context.ts
  web/client/src/context/plan.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanBackfillDates.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanSidebar.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/plan/Tasks.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
  web/client/src/models/environment.ts
  web/client/tailwind.config.js
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/models.py
  web/server/api/endpoints/plan.py
  web/server/models.py
Due: client, python

update packages and re-run formatting
  web/client/index.html
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/fileTree.ts
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/folderTree/File.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/folderTree/help.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/directory.ts
  web/client/src/models/file.ts
  web/client/src/tests/utils.tsx
Due: client

add vite and format
  .pre-commit-config.yaml
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/context.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/models/environment.ts
Due: client

fix styling
  web/client/index.html
Due: client

[UI] Update packages (#544)
  .pre-commit-config.yaml
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/context.ts
  web/client/src/context/fileTree.ts
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/folderTree/File.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/folderTree/help.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/models/artifact.ts
  web/client/src/models/directory.ts
  web/client/src/models/environment.ts
  web/client/src/models/file.ts
  web/client/src/tests/utils.tsx
Due: client

rename to quick start
  docs/quick_start.md
Due: none

fix crash with virtual updates
  sqlmesh/core/scheduler.py
Due: python

Start working on auto-deployment of API docs (#532)
  .circleci/config.yml
Due: common

Report the promotion progress in CLI and Jupyter notebooks
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  web/server/console.py
Due: python

Use 'Virtually Updating' instead of just 'Updating'
  sqlmesh/core/console.py
Due: python

Report the promotion progress in CLI and Jupyter notebooks (#545)
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/evaluator.py
  web/server/console.py
Due: python

Add a guide for the connection configuration (#542)
  docs/guides/connections.md
  docs/reference/configuration.md
  mkdocs.yml
Due: none

Add sql hooks to hook serialization logic
  sqlmesh/core/snapshot/definition.py
Due: python

Add sql hook support to sqlmesh models
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

lazy jinja_env creation, support sql hooks in double quotes, and hook model test
  sqlmesh/core/macros.py
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
Due: python

alter_table should handle column changes where only the type changes, not the name
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_snapshot_evaluator.py
Due: python

Execute dbt hooks
  examples/sushi_dbt/dbt_project.yml
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/package.py
  tests/dbt/test_transformation.py
Due: python

Remove commented out code
  sqlmesh/dbt/model.py
Due: python

Always evaluate jinja for literals and misc PR fixes
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot.py
Due: python

Do not parse jinja strings. Move jinja string rendering to MacroEvaluator.
  sqlmesh/core/dialect.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

[DBT] Execute hooks and fix package scoping (#522)
  examples/sushi_dbt/dbt_project.yml
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/renderer.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/package.py
  tests/core/engine_adapter/test_base.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_transformation.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile
