Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

fix styling
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/pages/docs/Content.tsx
Due: client

Fix: styling (#2118)
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/pages/docs/Content.tsx
Due: client

Fix: Support a missing value for an explicitly provided 'vars' key (#2117)
  sqlmesh/dbt/package.py
Due: python

fix: use space instead of T for timestamp format
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/date.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/utils/test_date.py
Due: python

fix: use space instead of T for timestamp format (#2119)
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/date.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/utils/test_date.py
Due: python

rename details
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
Due: client

handle duplicates in column lineage
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/search/SearchList.tsx
Due: client

Update ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
Due: client

add ability to reset lineage
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/logo/Spinner.tsx
  web/client/tailwind.config.js
Due: client

Fix: Improve lineage flow (#2062)
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/tailwind.config.js
Due: client

Clarify/edit environment schema and catalog in config guide
  docs/guides/configuration.md
Due: none

Link to schema FAQ
  docs/faq/faq.md
  docs/guides/configuration.md
Due: none

chore: bump dev dbt duckdb
  setup.py
  tests/core/test_table_diff.py
  tests/dbt/test_transformation.py
Due: python

order select *
  tests/core/test_integration.py
Due: python

update test
  tests/core/test_integration.py
  tests/dbt/test_transformation.py
Due: python

chore: bump dev dbt duckdb (#2123)
  setup.py
  tests/core/test_integration.py
  tests/core/test_table_diff.py
  tests/dbt/test_transformation.py
Due: python

feat!: add tstz support
  docs/concepts/macros/macro_variables.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/utils/test_date.py
Due: python

update comments
  tests/core/engine_adapter/test_integration.py
Due: python

feat!: add tstz support (#2121)
  docs/concepts/macros/macro_variables.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/date.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_state_sync.py
  tests/utils/test_date.py
Due: python

Docs: improve configuration guide environment view schema and catalog (#2120)
  docs/faq/faq.md
  docs/guides/configuration.md
Due: none

Differentiate seed date and datetime types
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

fix!: add missing tstz variable
  sqlmesh/utils/date.py
  tests/utils/test_date.py
Due: python

fix!: add missing tstz variable (#2124)
  sqlmesh/utils/date.py
  tests/utils/test_date.py
Due: python

Differentiate seed date and datetime types (#2122)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

feat!: include sqlmesh in version check
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_state_sync.py
Due: python

add missing change categories
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/context.tsx
Due: client

Fix: Add missing change categories (#2126)
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/context.tsx
Due: client

select plan's env if selected different env
  web/client/src/App.tsx
  web/client/src/context/context.ts
Due: client

fix: use microsecond level precision for inclusive end dates
  sqlmesh/utils/date.py
  tests/utils/test_date.py
Due: python

fix: use microsecond level precision for inclusive end dates (#2128)
  sqlmesh/utils/date.py
  tests/utils/test_date.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
