Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

fix!: normalize scd type 2 columns
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/pydantic.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Add support for loading multiple yaml files containing external models
  examples/sushi/external_models/model1.yaml
  examples/sushi/external_models/model2.yaml
  sqlmesh/core/constants.py
  sqlmesh/core/loader.py
  tests/core/test_context.py
Due: python

Fix jupyter integration test
  tests/integrations/jupyter/test_magics.py
Due: python

Update docs
  docs/concepts/models/external_models.md
Due: none

add migration script
  sqlmesh/migrations/v0046_change_scd_string_to_column.py
Due: python

fix: remove migrate on sqlmesh minor bump
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

PR feedback
  sqlmesh/core/loader.py
Due: python

fix: remove migrate on sqlmesh minor bump (#2460)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

add pydantic 1 support
  sqlmesh/core/model/kind.py
  sqlmesh/utils/pydantic.py
Due: python

Chore: Remove the obsolete snapshot rebasing logic
  docs/concepts/glossary.md
  docs/concepts/models/sql_models.md
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/snapshot/__init__.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/migrations/v0048_drop_indirect_versions.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Docs: assorted minor updates (#2455)
  docs/concepts/macros/sqlmesh_macros.md
  docs/integrations/engines/duckdb.md
  docs/reference/cli.md
  docs/reference/model_configuration.md
Due: none

Typo
  docs/concepts/tests.md
Due: none

Revert
  docs/concepts/tests.md
Due: none

Chore: update test docs, include schema overriding capability
  docs/concepts/tests.md
Due: none

Chore: update test docs, include schema overriding capability (#2462)
  docs/concepts/tests.md
Due: none

Update docs/concepts/glossary.md
  docs/concepts/glossary.md
Due: none

Chore: Remove the obsolete snapshot rebasing logic (#2463)
  docs/concepts/glossary.md
  docs/concepts/models/sql_models.md
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/snapshot/__init__.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/migrations/v0048_drop_indirect_versions.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

fix: databricks catalog with session support
  sqlmesh/core/engine_adapter/databricks.py
Due: python

bump migration number
  sqlmesh/migrations/v0047_change_scd_string_to_column.py
Due: python

fix: databricks catalog with session support (#2464)
  sqlmesh/core/engine_adapter/databricks.py
Due: python

PR feedback: Update docs
  docs/concepts/models/external_models.md
Due: none

fix!: normalize scd type 2 columns (#2458)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/migrations/v0047_change_scd_string_to_column.py
  sqlmesh/utils/pydantic.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Add support for loading multiple yaml files containing external models (#2459)
  docs/concepts/models/external_models.md
  examples/sushi/external_models/model1.yaml
  examples/sushi/external_models/model2.yaml
  sqlmesh/core/constants.py
  sqlmesh/core/loader.py
  tests/core/test_context.py
  tests/integrations/jupyter/test_magics.py
Due: python

Manually convert test input string if db returns datetime.xxx
  sqlmesh/core/test/definition.py
Due: python

Remove motherduck remote engine tests
  Makefile
  tests/core/engine_adapter/test_integration.py
Due: python, common

Fix: manually convert test input string if db returns datetime.xxx (#2466)
  Makefile
  sqlmesh/core/test/definition.py
  tests/core/engine_adapter/test_integration.py
Due: python, common

Minor updates to table migration guide
  docs/guides/table_migration.md
Due: none

Minor updates to table migration guide (#2467)
  docs/guides/table_migration.md
Due: none

fix: Github action bot handle test exceptions
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

fix: Github action bot handle test exceptions (#2468)
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
