Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

reinstate the walrus
  sqlmesh/core/engine_adapter/snowflake.py
Due: python

chore: fix developer flow for vscode
  tooling/vscode/tasks.json
  vscode/extension/package.json
Due: none

Fix(snowflake): Support cloning transient tables for dev previews (#4155)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_snowflake.py
  tests/core/test_snapshot_evaluator.py
Due: python

fix: prevent past ttl values for environment and snapshot
  sqlmesh/core/config/root.py
  tests/integrations/github/cicd/test_config.py
Due: python

chore: fix developer flow for vscode (#4156)
  tooling/vscode/tasks.json
  vscode/extension/package.json
Due: none

Use correct environment info when determining progress bar col widths
  sqlmesh/core/console.py
Due: python

Fix: column spacing for progress bar updates (#4159)
  sqlmesh/core/console.py
Due: python

fix: fix circle ci job
  .circleci/config.yml
Due: common

fix: fix circle ci job (#4160)
  .circleci/config.yml
Due: common

fix: allow macro defs to references dates and other builtins
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

chore: remove unused imports
  pyproject.toml
  sqlmesh/core/config/janitor.py
  sqlmesh/core/linter/definition.py
  sqlmesh/lsp/main.py
  sqlmesh/utils/errors.py
Due: python

fix: allow macro defs to references dates and other builtins (#4157)
  sqlmesh/core/renderer.py
  tests/core/test_model.py
Due: python

chore: remove unused imports (#4161)
  pyproject.toml
  sqlmesh/core/config/janitor.py
  sqlmesh/core/linter/definition.py
  sqlmesh/lsp/main.py
  sqlmesh/utils/errors.py
Due: python

fix: properly share engine adapter config to spark engine adapter
  sqlmesh/core/engine_adapter/databricks.py
Due: python

run cloud tests in CI (will remove once done)
  .circleci/continue_config.yml
Due: common

Fix: Apply empty backfill only to snapshots that have been selected for backfill within a plan
  sqlmesh/core/plan/evaluator.py
  tests/core/test_integration.py
Due: python

remove cloud tests ci
  .circleci/continue_config.yml
Due: common

fix: properly share engine adapter config to spark engine adapter (#4162)
  sqlmesh/core/engine_adapter/databricks.py
Due: python

update other field validators to match pattern
  sqlmesh/core/config/root.py
Due: python

Fix: Apply empty backfill only to snapshots that have been selected for backfill within a plan (#4163)
  sqlmesh/core/plan/evaluator.py
  tests/core/test_integration.py
Due: python

must delete old datasets
  docs/integrations/engines/bigquery.md
Due: none

Updated CLI document output to match new CLI
  docs/quickstart/cli.md
Due: none

BigQuery must delete old datasets (#4164)
  docs/integrations/engines/bigquery.md
Due: none

Fix: Escape backslash in string to prevent syntax error
  sqlmesh/core/console.py
Due: python

Fix: Escape backslash in string to prevent syntax error (#4165)
  sqlmesh/core/console.py
Due: python

refactor: move ruleset into linter definition
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/loader.py
Due: python

refactor: move ruleset into linter definition (#4166)
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/core/linter/rules/builtin.py
  sqlmesh/core/loader.py
Due: python

Chore: Refine environment statements cli output
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/core/test_plan.py
Due: python

add guard for model difference
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Decouple environment and model difference summary
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/core/test_context.py
Due: python

rename
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/core/test_context.py
Due: python

Chore: Refine environment statements cli output (#4153)
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/core/test_context.py
  tests/core/test_plan.py
Due: python

feat: add linting to the lsp
  examples/sushi/config.py
  sqlmesh/core/context.py
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
Due: python

temp linting
  sqlmesh/core/context.py
  sqlmesh/lsp/main.py
Due: python

last fix
  sqlmesh/lsp/main.py
Due: python

refactor: further break apart console interface
  sqlmesh/core/console.py
Due: python

feat: publish linter errors through lsp (#4152)
  examples/sushi/config.py
  sqlmesh/core/context.py
  sqlmesh/core/linter/definition.py
  sqlmesh/core/linter/rule.py
  sqlmesh/lsp/main.py
Due: python

chore: small reusage of console
  sqlmesh/core/plan/builder.py
Due: python

ci: fix vscode extension job
  .circleci/config.yml
Due: common
