Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Use skip-backfill to initialize model
  docs/guides/table_migration.md
Due: none

Fixups
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/snowflake.py
Due: python

Revert
  web/server/watcher.py
Due: python

Refactor!: get rid of JSON escaping logic throughout the codebase
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/core/test/definition.py
  sqlmesh/migrations/v0003_move_batch_size.py
  sqlmesh/migrations/v0007_env_table_info_to_kind.py
  sqlmesh/migrations/v0009_remove_pre_post_hooks.py
  sqlmesh/migrations/v0011_add_model_kind_name.py
  sqlmesh/migrations/v0012_update_jinja_expressions.py
  sqlmesh/migrations/v0013_serde_using_model_dialects.py
  sqlmesh/migrations/v0016_fix_windows_path.py
  sqlmesh/migrations/v0017_fix_windows_seed_path.py
  sqlmesh/migrations/v0018_rename_snapshot_model_to_node.py
  sqlmesh/migrations/v0020_remove_redundant_attributes_from_dbt_models.py
  sqlmesh/migrations/v0021_fix_table_properties.py
  sqlmesh/migrations/v0022_move_project_to_model.py
  sqlmesh/migrations/v0024_replace_model_kind_name_enum_with_value.py
  sqlmesh/migrations/v0025_fix_intervals_and_missing_change_category.py
  sqlmesh/migrations/v0026_remove_dialect_from_seed.py
  sqlmesh/migrations/v0027_minute_interval_to_five.py
  sqlmesh/migrations/v0029_generate_schema_types_using_dialect.py
  sqlmesh/migrations/v0030_update_unrestorable_snapshots.py
  sqlmesh/migrations/v0031_remove_dbt_target_fields.py
  sqlmesh/migrations/v0034_add_default_catalog.py
  sqlmesh/migrations/v0037_remove_dbt_is_incremental_macro.py
  sqlmesh/migrations/v0038_add_expiration_ts_to_snapshot.py
  sqlmesh/migrations/v0039_include_environment_in_plan_dag_spec.py
  sqlmesh/migrations/v0041_remove_hash_raw_query_attribute.py
  sqlmesh/migrations/v0042_trim_indirect_versions.py
  sqlmesh/migrations/v0043_fix_remove_obsolete_attributes_in_plan_dags.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/utils/__init__.py
Due: python

Fixup
  web/server/watcher.py
Due: python

Feat: Support variables in native SQLMesh projects
  docs/concepts/macros/macro_variables.md
  docs/concepts/macros/sqlmesh_macros.md
  docs/concepts/models/python_models.md
  docs/reference/configuration.md
  sqlmesh/core/audit/definition.py
  sqlmesh/core/config/root.py
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/test/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/jinja.py
  tests/core/test_audit.py
  tests/core/test_config.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

PR feedback
  docs/guides/incremental_time.md
  docs/guides/table_migration.md
Due: none

PR feedback round 2 - wordsmith
  docs/guides/table_migration.md
Due: none

Expres 'gateway' macro through a variable
  sqlmesh/core/constants.py
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/jinja.py
  tests/core/test_audit.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/integrations/jupyter/test_magics.py
Due: python

Fixups
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/spark.py
Due: python

Refactor!: get rid of JSON escaping logic throughout the codebase (#2386)
  setup.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/core/test/definition.py
  sqlmesh/migrations/v0003_move_batch_size.py
  sqlmesh/migrations/v0007_env_table_info_to_kind.py
  sqlmesh/migrations/v0009_remove_pre_post_hooks.py
  sqlmesh/migrations/v0011_add_model_kind_name.py
  sqlmesh/migrations/v0012_update_jinja_expressions.py
  sqlmesh/migrations/v0013_serde_using_model_dialects.py
  sqlmesh/migrations/v0016_fix_windows_path.py
  sqlmesh/migrations/v0017_fix_windows_seed_path.py
  sqlmesh/migrations/v0018_rename_snapshot_model_to_node.py
  sqlmesh/migrations/v0020_remove_redundant_attributes_from_dbt_models.py
  sqlmesh/migrations/v0021_fix_table_properties.py
  sqlmesh/migrations/v0022_move_project_to_model.py
  sqlmesh/migrations/v0024_replace_model_kind_name_enum_with_value.py
  sqlmesh/migrations/v0025_fix_intervals_and_missing_change_category.py
  sqlmesh/migrations/v0026_remove_dialect_from_seed.py
  sqlmesh/migrations/v0027_minute_interval_to_five.py
  sqlmesh/migrations/v0029_generate_schema_types_using_dialect.py
  sqlmesh/migrations/v0030_update_unrestorable_snapshots.py
  sqlmesh/migrations/v0031_remove_dbt_target_fields.py
  sqlmesh/migrations/v0034_add_default_catalog.py
  sqlmesh/migrations/v0037_remove_dbt_is_incremental_macro.py
  sqlmesh/migrations/v0038_add_expiration_ts_to_snapshot.py
  sqlmesh/migrations/v0039_include_environment_in_plan_dag_spec.py
  sqlmesh/migrations/v0041_remove_hash_raw_query_attribute.py
  sqlmesh/migrations/v0042_trim_indirect_versions.py
  sqlmesh/migrations/v0043_fix_remove_obsolete_attributes_in_plan_dags.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/utils/__init__.py
Due: python

Fix: Don't insert an empty dataframe of seed rows during migration
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

trigger renovate last
  .circleci/config.yml
Due: common

trigger renovate last (#2393)
  .circleci/config.yml
Due: common

Chore!: bump sqlglot to v23.7.0
  setup.py
Due: python

Fix: Set the default value for the _dbt_max_partition variable
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Chore!: bump sqlglot to v23.7.0 (#2394)
  setup.py
Due: python

Expand global variables docs
  docs/concepts/macros/jinja_macros.md
  docs/concepts/macros/macro_variables.md
  docs/concepts/macros/sqlmesh_macros.md
  docs/concepts/models/python_models.md
  docs/reference/configuration.md
Due: none

Fix: Set the default value for the _dbt_max_partition variable (#2395)
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Fix: Correctly return missing intervals when the model start / end is set
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Fix: Correctly return missing intervals when the model start / end is set (#2397)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

fix: allow macros to recursively resolve closes #2399
  sqlmesh/core/macros.py
  tests/core/test_audit.py
  tests/core/test_macros.py
Due: python

fix: allow macros to recursively resolve closes #2399 (#2400)
  sqlmesh/core/macros.py
  tests/core/test_audit.py
  tests/core/test_macros.py
Due: python

Docs: add table migration guide (#2385)
  docs/guides/incremental_time.md
  docs/guides/table_migration.md
  mkdocs.yml
Due: none

Fix: An individual plan DAG failure shouldn't prevent the remaining DAGs from loading in Airflow
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/integration.py
Due: python

chore: update databricks doc to link to notebook magic
  docs/integrations/engines/databricks.md
Due: none

Fix: randomize unit test fixture names to avoid concurrency issues
  sqlmesh/core/context.py
  sqlmesh/core/test/context.py
  sqlmesh/core/test/definition.py
Due: python

Get rid of redundant sql call
  sqlmesh/core/test/definition.py
Due: python

Associate tests with a random id, use it as fixture name suffix
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Fix: randomize unit test fixture names to avoid concurrency issues (#2403)
  sqlmesh/core/context.py
  sqlmesh/core/test/context.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python
