Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

Docs: update engine integration docs (#1288)
  docs/faq/faq.md
  docs/guides/connections.md
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/integrations/engines/bigquery.md
  docs/integrations/engines/databricks.md
  docs/integrations/engines/duckdb.md
  docs/integrations/engines/gcp-postgres.md
  docs/integrations/engines/mysql.md
  docs/integrations/engines/postgres.md
  docs/integrations/engines/redshift.md
  docs/integrations/engines/snowflake.md
  docs/integrations/engines/spark.md
  docs/integrations/overview.md
  docs/quickstart/notebook.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  mkdocs.yml
Due: none

Strip trailing whitespace from docs
  docs/comparisons.md
  docs/concepts/architecture/serialization.md
  docs/concepts/architecture/snapshots.md
  docs/concepts/audits.md
  docs/concepts/glossary.md
  docs/concepts/macros/macro_variables.md
  docs/concepts/macros/overview.md
  docs/concepts/macros/sqlmesh_macros.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/concepts/overview.md
  docs/concepts/plans.md
  docs/guides/models.md
  docs/guides/notifications.md
  docs/guides/scheduling.md
  docs/guides/testing.md
  docs/integrations/dbt.md
  docs/integrations/github.md
  docs/quick_start.md
  docs/quickstart/cli.md
  docs/quickstart/ui.md
  docs/reference/cli.md
Due: none

Strip trailing whitespace from docs (#1289)
  docs/comparisons.md
  docs/concepts/architecture/serialization.md
  docs/concepts/architecture/snapshots.md
  docs/concepts/audits.md
  docs/concepts/glossary.md
  docs/concepts/macros/macro_variables.md
  docs/concepts/macros/overview.md
  docs/concepts/macros/sqlmesh_macros.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/concepts/overview.md
  docs/concepts/plans.md
  docs/guides/models.md
  docs/guides/notifications.md
  docs/guides/scheduling.md
  docs/guides/testing.md
  docs/integrations/dbt.md
  docs/integrations/github.md
  docs/quick_start.md
  docs/quickstart/cli.md
  docs/quickstart/ui.md
  docs/reference/cli.md
Due: none

only overwrite on insert/overwrite
  sqlmesh/core/engine_adapter/spark.py
Due: python

Feat: add sqlmesh references and automatic joins (#1278)
  docs/quickstart/cli.md
  examples/sushi/metrics/metrics.sql
  examples/sushi/models/orders.py
  setup.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/definition.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/reference.py
  sqlmesh/utils/dag.py
  tests/core/metric/test_metric.py
  tests/core/metric/test_renderer.py
  tests/core/test_dialect.py
  tests/core/test_model.py
  tests/core/test_reference.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

make databricks replace where
  sqlmesh/core/engine_adapter/databricks.py
Due: python

implement databricks sql replace where support
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_databricks.py
Due: python

Fix: Make Databricks use replace where (#1291)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_databricks.py
Due: python

copy value
  sqlmesh/core/engine_adapter/spark.py
Due: python

Fix: migration of grain
  sqlmesh/core/model/meta.py
Due: python

Address comments
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/common.py
Due: python

Fix: editor content updates too late with debounce
  web/client/src/library/components/editor/Editor.tsx
Due: client

Feat: Add ability to select node and build path from that node to current (#1245)
  web/client/src/api/channels.ts
  web/client/src/index.css
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/main.tsx
  web/client/src/types/index.d.ts
  web/client/tailwind.config.js
Due: client

set debounceImmediate to false for model lineage
  web/client/src/library/components/graph/ModelLineage.tsx
Due: client

Fix: Set debounceImmediate to false for model lineage (#1293)
  web/client/src/library/components/graph/ModelLineage.tsx
Due: client

Feat: Support Table Properties on Views (#1286)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_snapshot_evaluator.py
Due: python

add model to promote
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/engines/commands.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/operators/targets.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_plan.py
Due: python

fix test
  tests/core/test_snapshot_evaluator.py
Due: python

Fix!: Exclude redundant keys from the config attribute in dbt models
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/test.py
  sqlmesh/migrations/v0020_remove_redundant_attributes_from_dbt_models.py
Due: python

Fix: resolve self references in rendering closes #1215
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_model.py
Due: python

Fix!: Exclude redundant keys from the config attribute in dbt models (#1294)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/test.py
  sqlmesh/migrations/v0020_remove_redundant_attributes_from_dbt_models.py
Due: python

Respect --include-unmodified when no changes
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
Due: python

improve depends on past behavior
  examples/sushi/models/customer_revenue_lifetime.sql
  sqlmesh/core/console.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/environment.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/dag.py
  sqlmesh/utils/date.py
  sqlmesh/utils/rich.py
  tests/conftest.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/test_plan.py
  tests/core/test_scheduler.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_plan.py
  web/server/models.py
Due: python

style
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/node.py
Due: python

fix core int tests
  sqlmesh/core/plan/definition.py
  tests/conftest.py
  tests/core/test_integration.py
Due: python

dry up logic and PR feedback
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/definition.py
Due: python

Update docstring
  sqlmesh/core/plan/definition.py
Due: python
