Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

fix: support all model methods in dbt projects (#3161)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/__init__.py
  sqlmesh/utils/jinja.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
  tests/dbt/test_manifest.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/top_waiters.sql
Due: python

feat: add support for GCP postgres instance authentication using IAM and service account keyfile/keyfile json
  docs/integrations/engines/gcp-postgres.md
  sqlmesh/core/config/connection.py
Due: python

Fix: style
  sqlmesh/core/config/connection.py
Due: python

Fix: regression caused by optionally normalizing identifiers in renderer
  sqlmesh/core/renderer.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

feat: add support for GCP postgres instance authentication using IAM with service account keyfile/keyfile json (#3162)
  docs/integrations/engines/gcp-postgres.md
  sqlmesh/core/config/connection.py
Due: python

PR feedback
  .gitignore
  Makefile
  docs/integrations/engines/athena.md
  sqlmesh/core/config/common.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/athena.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_athena.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_connection_config.py
Due: python, common

Feat: Athena adapter
  .circleci/continue_config.yml
  Makefile
  docs/guides/configuration.md
  docs/integrations/engines/athena.md
  docs/integrations/overview.md
  mkdocs.yml
  pytest.ini
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_athena.py
  tests/core/engine_adapter/test_integration.py
Due: python, common

reinstate circleci config
  .circleci/continue_config.yml
Due: common

Feat: Athena adapter (#3154)
  .circleci/continue_config.yml
  .gitignore
  Makefile
  docs/guides/configuration.md
  docs/integrations/engines/athena.md
  docs/integrations/overview.md
  mkdocs.yml
  pytest.ini
  setup.py
  sqlmesh/core/config/common.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_athena.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_connection_config.py
Due: python, common

fix: only limit the root node since bigquery can't handle too many limits
  sqlmesh/core/model/definition.py
Due: python

Revert "fix: only limit the root node since bigquery can't handle too many limits"
  sqlmesh/core/model/definition.py
Due: python

Reapply "fix: only limit the root node since bigquery can't handle too many limits"
  sqlmesh/core/model/definition.py
Due: python

Reapply "fix: only limit the root node since bigquery can't handle to… (#3167)
  sqlmesh/core/model/definition.py
Due: python

Fix: Fix columns-to-types when inserting by time partition if the type of the time column is unknown
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
Due: python

Fix: Remove dependency on tenacity from Athena adapter
  sqlmesh/core/engine_adapter/athena.py
Due: python

Fix: Remove dependency on tenacity from Athena adapter (#3169)
  sqlmesh/core/engine_adapter/athena.py
Due: python

Fix: regression caused by optionally normalizing identifiers in renderer (#3165)
  sqlmesh/core/renderer.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Fix: Fix columns-to-types when inserting by time partition if the type of the time column is unknown (#3168)
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
Due: python

fix: only load prod if multi repo is enabled
  sqlmesh/core/context.py
Due: python

Fix: update _parse_table_parts to reflect latest sqlglot signature
  sqlmesh/core/dialect.py
Due: python

fix: only load prod if multi repo is enabled (#3170)
  sqlmesh/core/context.py
Due: python

Chore: Bump sqlglot to 25.20.2
  setup.py
Due: python

Fix: update _parse_table_parts to reflect latest sqlglot signature (#3171)
  sqlmesh/core/dialect.py
Due: python

Chore: remove incomplete & outdated commands from API overview doc page
  docs/reference/overview.md
Due: none

Chore: remove incomplete & outdated commands from API overview doc page (#3174)
  docs/reference/overview.md
Due: none

PR feedback: rename cast_function to no_rewrite_casts
  docs/reference/cli.md
  docs/reference/notebook.md
  sqlmesh/cli/main.py
  sqlmesh/core/config/format.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/magics.py
  tests/core/test_dialect.py
Due: python

Feat: allow formatter to use CAST over :: syntax
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  sqlmesh/cli/main.py
  sqlmesh/core/config/format.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/magics.py
  tests/core/test_dialect.py
Due: python

Cleanup
  docs/reference/configuration.md
Due: none

fix!: typing imports were not working
  sqlmesh/core/macros.py
Due: python

update docs
  docs/concepts/macros/sqlmesh_macros.md
Due: none

fix!: typing imports were not working (#3176)
  docs/concepts/macros/sqlmesh_macros.md
  sqlmesh/core/macros.py
Due: python

PR feedback
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/magics.py
  tests/core/test_dialect.py
Due: python

Fix
  sqlmesh/core/context.py
Due: python

Refactor: allow overriding is_breaking_change in categorize_change
  sqlmesh/core/snapshot/categorizer.py
Due: python

Refactor: allow overriding is_breaking_change in categorize_change (#3178)
  sqlmesh/core/snapshot/categorizer.py
Due: python

Feat: allow formatter to use CAST over :: syntax (#3173)
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/notebook.md
  sqlmesh/cli/main.py
  sqlmesh/core/config/format.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/magics.py
  tests/core/test_dialect.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
