Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

adjust button component for new colors
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/types/enum.ts
  web/client/src/types/index.d.ts
Due: client

reset editor style
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
Due: client

add dark/light switch
  web/client/src/hooks/useColorScheme.ts
  web/client/src/library/components/root/Root.tsx
Due: client

fix formatting
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
Due: client

Update Editor.tsx
  web/client/src/library/components/editor/Editor.tsx
Due: client

fix colors in task and active plan
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/modal/Modal.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
  web/client/tailwind.config.js
Due: client

fix gray color to nutral
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/tabs/Tabs.tsx
Due: client

fix gray color
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/folderTree/File.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
Due: client

add background for pop up for actiuve plan
  web/client/src/library/components/ide/ActivePlan.tsx
Due: client

fix colors for editor and split
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/tailwind.config.js
Due: client

apply color to toggle
  web/client/src/library/components/toggle/Toggle.tsx
Due: client

set colors and fonts
  web/client/index.html
  web/client/src/index.css
  web/client/tailwind.config.js
Due: client

Prefer tuple over list for static list
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
Due: python

DBT: Allow sqlmesh model fields, that are not available in dbt config, to be set in config or meta
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

create engines page and consolidate
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/reference/configuration.md
Due: none

add engine configuration links
  docs/reference/configuration.md
Due: none

fix order
  docs/reference/configuration.md
Due: none

Implment dbt schema and project_name methods (#581)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

Create engines page and consolidate (#582)
  docs/integrations/airflow.md
  docs/integrations/engines.md
  docs/reference/configuration.md
Due: none

DBT: Allow sqlmesh-only model fields to be set in config or meta (#567)
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

Prefer comprehension
  sqlmesh/utils/jinja.py
Due: python

Prefer comprehension (#583)
  sqlmesh/utils/jinja.py
Due: python

[UI] Change primary color and add dark theme support (#566)
  web/client/index.html
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/theme.tsx
  web/client/src/index.css
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/divider/Divider.tsx
  web/client/src/library/components/dropdown/Dropdown.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/folderTree/File.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/library/components/modal/Modal.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
  web/client/src/types/enum.ts
  web/client/src/types/index.d.ts
  web/client/tailwind.config.js
Due: client

first draft at comparisons
  docs/comparisons.md
  mkdocs.yml
Due: none

Improve incremental incompatibility error messages
  sqlmesh/dbt/model.py
Due: python

Apply suggestions from code review
  docs/comparisons.md
Due: none

first draft at comparisons (#558)
  docs/comparisons.md
  mkdocs.yml
Due: none

Improve incremental incompatibility error messages (#584)
  sqlmesh/dbt/model.py
Due: python

fixing colors
  web/client/index.html
  web/client/public/favicons/favicon.ico
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
Due: client

fixing colors (#585)
  web/client/index.html
  web/client/public/favicons/favicon.ico
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
Due: client

update docs
  docs/comparisons.md
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile
