Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Support Airflow URLs without trailing slashes (#2808)
  sqlmesh/schedulers/airflow/client.py
  tests/schedulers/airflow/test_client.py
Due: python

Enable dbt transpilation
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/test.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

PR cleanup round 1
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/project.py
  sqlmesh/dbt/test.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
Due: python

Allow seed dialect specification
  sqlmesh/dbt/model.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/seed.py
  tests/dbt/test_config.py
Due: python

Pass project dialect to runtime adapter
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  tests/dbt/test_adapter.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/config.py
Due: python

Pass project dialect to API
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/target.py
Due: python

Fix the dbt adapter normalization test
  tests/dbt/test_adapter.py
Due: python

Docs: Add custom materializations guide (#2807)
  docs/guides/custom_materializations.md
  mkdocs.yml
  sqlmesh/core/snapshot/evaluator.py
Due: python

Use the project dialect instead of the target one in the dbt adapter
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  tests/dbt/test_adapter.py
Due: python

Fix: Move away from the local custom-materializations dependency to unblock the release
  setup.py
Due: python

Fix: Move away from the local custom-materializations dependency to unblock the release (#2814)
  setup.py
Due: python

Feat: enable dbt transpilation (#2806)
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/seed.py
  sqlmesh/dbt/target.py
  sqlmesh/dbt/test.py
  tests/dbt/test_adapter.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/dbt/test_transformation.py
  tests/fixtures/dbt/sushi_test/config.py
  tests/fixtures/dbt/sushi_test/models/schema.yml
  tests/fixtures/dbt/sushi_test/models/waiter_revenue_by_day.sql
Due: python

Address comments
  sqlmesh/core/context.py
Due: python

Fix: Check all dialects used in a project when retrieving a model by its name (#2801)
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

add ux help
  docs/guides/custom_materializations.md
Due: none

future proof link
  docs/guides/custom_materializations.md
Due: none

add ux help (#2815)
  docs/guides/custom_materializations.md
Due: none

Fix: Add missing dependency importlib-metadata
  setup.py
Due: python

Fix: Add missing dependency importlib-metadata (#2816)
  setup.py
Due: python

Feat: allow marking audits as [non-]blocking at use site
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Update docs
  docs/concepts/audits.md
Due: none

Update test based on PR feedback
  tests/core/test_snapshot_evaluator.py
Due: python

Feat: allow marking audits as [non-]blocking at use site (#2813)
  docs/concepts/audits.md
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Fix: Non-deployable changes downstream of ignored ones should also be ignored
  sqlmesh/core/plan/builder.py
  tests/core/test_integration.py
Due: python

Fix: Non-deployable changes downstream of ignored ones should also be ignored (#2818)
  sqlmesh/core/plan/builder.py
  tests/core/test_integration.py
Due: python

remove limit from render api call input payload
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Fix: Remove limit from render api call input payload (#2819)
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Fix: Make sure to render all model kind attributes
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Fix: Make sure to render all model kind attributes (#2820)
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
