Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

cleanup status conclusion handling
  sqlmesh/integrations/github/cicd/controller.py
Due: python

cleanup old integration
  sqlmesh/core/_typing.py
  sqlmesh/integrations/github/cicd/controller.py
  sqlmesh/integrations/github/notification_operator_provider.py
  sqlmesh/integrations/github/notification_target.py
  sqlmesh/integrations/github/shared.py
  sqlmesh/schedulers/airflow/dag_generator.py
  tests/integrations/github/test_notification_target.py
Due: python

cleanup
  docs/integrations/github.md
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/__init__.py
  tests/integrations/github/__init__.py
  tests/integrations/github/fixtures/pull_request_review.json
Due: python

remove extra union
  sqlmesh/core/_typing.py
Due: python

feedback
  sqlmesh/cicd/bot.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/options.py
Due: python

improve merged check
  sqlmesh/integrations/github/cicd/controller.py
Due: python

share format intervals
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

implement snapshot intervals instead
  sqlmesh/core/console.py
  sqlmesh/core/plan/__init__.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

feedback
  sqlmesh/integrations/github/cicd/controller.py
Due: python

move loaded snapshots to plan
  sqlmesh/core/plan/__init__.py
  sqlmesh/core/plan/definition.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

fix import
  sqlmesh/integrations/github/cicd/controller.py
Due: python

testing
  sqlmesh/core/config/loader.py
Due: python

temp remove validator
  sqlmesh/core/config/connection.py
Due: python

try partial
  sqlmesh/integrations/github/cicd/controller.py
Due: python

debug
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

pass in conclusion
  sqlmesh/integrations/github/cicd/command.py
Due: python

cleanup after testing
  docs/integrations/github.md
  docs/integrations/github/github_deployed_plans.png
  docs/integrations/github/github_env_summary.png
  docs/integrations/github/github_prod_plan_preview.png
  docs/integrations/github/github_reviewers.png
  docs/integrations/github/github_test_summary.png
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/loader.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
Due: python

Feat: Add Github Actions CI/CD Bot (#810)
  docs/integrations/github.md
  docs/integrations/github/github_deployed_plans.png
  docs/integrations/github/github_env_summary.png
  docs/integrations/github/github_prod_plan_preview.png
  docs/integrations/github/github_reviewers.png
  docs/integrations/github/github_test_summary.png
  setup.py
  sqlmesh/cicd/__init__.py
  sqlmesh/cicd/bot.py
  sqlmesh/core/_typing.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/plan/__init__.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/core/user.py
  sqlmesh/integrations/github/cicd/__init__.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  sqlmesh/integrations/github/notification_operator_provider.py
  sqlmesh/integrations/github/notification_target.py
  sqlmesh/integrations/github/shared.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/utils/errors.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/integrations/github/fixtures/pull_request_review.json
  tests/integrations/github/test_notification_target.py
Due: python

Use package materialization config in dbt fixture
  tests/fixtures/dbt/sushi_test/dbt_project.yml
Due: python

Fix: Use package materialization config in dbt fixture (#816)
  tests/fixtures/dbt/sushi_test/dbt_project.yml
Due: python

add flags to hide documantation sections
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

improve styling
  web/client/src/library/components/container/Container.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

refactor CodeEditor component
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/models/file.ts
  web/client/src/utils/index.ts
  web/server/models.py
Due: client, python

PR comments
  tests/web/test_main.py
  web/client/openapi.json
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/server/models.py
Due: client, python

fixc typos
  tests/web/test_main.py
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/server/api/endpoints/models.py
Due: client, python

add not-found page
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

make ModelDetails more readable
  web/client/openapi.json
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/models/file.ts
  web/server/api/endpoints/models.py
Due: client, python

add not-found page
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/routes.tsx
Due: client

set up docs page
  web/client/openapi.json
  web/client/src/library/components/container/ContainerPage.tsx
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/root/Footer.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/main.tsx
  web/client/src/routes.tsx
Due: client

make it work
  web/client/openapi.json
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/routes.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

add page
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/routes.tsx
Due: client

Feat: Set up Docs (#801)
  tests/web/test_main.py
  web/client/openapi.json
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/container/Container.tsx
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/editor/EditorTabs.tsx
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/editor/extensions/index.ts
  web/client/src/library/components/fileTree/FileTree.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/editor/Editor.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/library/pages/root/Footer.tsx
  web/client/src/library/pages/root/Header.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/main.tsx
  web/client/src/models/file.ts
  web/client/src/routes.tsx
  web/client/src/utils/index.ts
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

display lineage in with change category:
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanChangePreview.tsx
Due: client

fix styling
  web/client/openapi.json
  web/client/src/library/components/documentation/Documantation.tsx
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
Due: client

improve loader overriding
  sqlmesh/core/config/loader.py
  sqlmesh/utils/__init__.py
  tests/core/test_config.py
Due: python

Update EditorInspector.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

remove dfuplicate owner form Model
  web/server/models.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
