Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Prevent formatting=false throwing an error
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

fix: set default for append-newline flag to None
  sqlmesh/cli/main.py
Due: python

PR feedback
  sqlmesh/core/model/definition.py
Due: python

fix: set default for append-newline flag to None (#4820)
  sqlmesh/cli/main.py
Due: python

Fix: Prevent formatting=false throwing an error (#4819)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: display_name should not exclude the default catalog when environment_suffix_target is set to CATALOG
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

feat(vscode): remove unused button (#4818)
  vscode/react/src/components/graph/ModelLineage.tsx
Due: none

fix(vscode): lineage on non model file
  vscode/react/src/pages/lineage.tsx
Due: none

fix(vscode): lineage on non model file (#4824)
  vscode/react/src/pages/lineage.tsx
Due: none

chore: pin pygls to avoid issues
  pyproject.toml
Due: none

chore: pin pygls to avoid issues (#4825)
  pyproject.toml
Due: none

temp
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

feat(vscode): allow users to turn off/on columns in graph
  vscode/react/src/components/graph/ModelLineage.tsx
  vscode/react/src/components/graph/ModelNode.tsx
  vscode/react/src/components/graph/SettingsControl.tsx
Due: none

chore: moving everything to node 20
  .circleci/config.yml
  .nvmrc
  package.json
Due: common

chore: moving everything to node 20 (#4828)
  .circleci/config.yml
  .nvmrc
  package.json
Due: common

Add no-op extras for duckdb and motherduck
  pyproject.toml
Due: none

Improve MSSQL merge performance
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Chore: Improve MSSQL merge performance (#4811)
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Chore!: bump sqlglot to v26.31.0
  pyproject.toml
  tests/core/engine_adapter/test_mssql.py
Due: python

Feat: Tag all queries under a plan
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_plan_evaluator.py
Due: python

ci: publish to open vsx (#4807)
  .github/workflows/release_extension.yaml
Due: none

ci: make release vscode manual step
  .github/workflows/release_extension.yaml
Due: none

ci: test extension through code-server and in ci
  .github/workflows/pr.yaml
  .nvmrc
  vscode/extension/package.json
  vscode/extension/playwright.config.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/utils_code_server.ts
Due: none

ci: test extension through code-server and in ci (#4827)
  .github/workflows/pr.yaml
  .nvmrc
  vscode/extension/package.json
  vscode/extension/playwright.config.ts
  vscode/extension/tests/stop.spec.ts
  vscode/extension/tests/utils_code_server.ts
Due: none

Refactor APIs
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/plan/explainer.py
  tests/conftest.py
  tests/core/test_plan_evaluator.py
  tests/core/test_table_diff.py
Due: python

ci: make release vscode manual step (#4830)
  .github/workflows/release_extension.yaml
Due: none

Fix: display_name should not exclude the default catalog when environment_suffix_target is set to CATALOG (#4821)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

fix!: failure instead of neutral missing req approval (#4816)
  sqlmesh/integrations/github/cicd/command.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_integration.py
Due: python

Chore: Warn user about interval expansion only if the model is incremental
  sqlmesh/core/snapshot/definition.py
Due: python

Chore: Warn user about interval expansion only if the model is incremental (#4834)
  sqlmesh/core/snapshot/definition.py
Due: python

Chore: Fix references end to end tests
  vscode/extension/tests/find_references.spec.ts
Due: none

Chore: Fix find references lsp end to end tests (#4835)
  vscode/extension/tests/find_references.spec.ts
Due: none

Chore!: bump sqlglot to v26.31.0 (#4831)
  pyproject.toml
  tests/core/engine_adapter/test_mssql.py
Due: python

PR Feedback 1
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/__init__.py
  tests/conftest.py
  tests/core/test_integration.py
  tests/core/test_plan_evaluator.py
Due: python

Fix: bug in model creation related to metadata-only statements
  sqlmesh/core/model/definition.py
Due: python

Feat: add dtntz date macro variant
  sqlmesh/utils/date.py
  tests/core/test_model.py
  tests/utils/test_date.py
Due: python

PR Feedback 2
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/utils/__init__.py
  tests/core/test_integration.py
Due: python

properly set null for all dialects
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
Due: python

Feat: Add support for Restatements on SCD Type 2 models
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

update warnings and docs
  docs/concepts/models/model_kinds.md
  sqlmesh/core/plan/builder.py
  sqlmesh/core/snapshot/definition.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
