Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Remove _backups table
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0005_backups.py
  tests/core/test_state_sync.py
Due: python

Only backup the most recent migration
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0005_backups.py
  tests/core/test_state_sync.py
Due: python

Fix: Use Snowflake's API to write a dataframe into a table
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  tests/core/engine_adapter/test_base.py
Due: python

Feat: Introduce state backups during migrations (#824)
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_state_sync.py
Due: python

Fix: Use Snowflake's API to write a dataframe into a table (#850)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/snowflake.py
  tests/core/engine_adapter/test_base.py
Due: python

Fix: Escape JSON when inserting a dataframe (#849)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/spark.py
Due: python

Fix: mypy error due to merging without rebasing first
  sqlmesh/core/engine_adapter/snowflake.py
Due: python

Fix: Return no missing intervals for seed models if evaluated at least once
  sqlmesh/core/snapshot/definition.py
Due: python

Fix tests
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Feat[breaking]: don't qualify columns on external tables.
  setup.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_audit.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_plan_evaluator.py
  tests/core/test_snapshot.py
  tests/dbt/test_config.py
  tests/schedulers/airflow/test_client.py
  tests/web/test_main.py
  web/client/openapi.json
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

Fix: Return no missing intervals for seed models if evaluated at least once (#851)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Feat[breaking]: don't qualify columns on external tables. (#840)
  setup.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_audit.py
  tests/core/test_context.py
  tests/core/test_model.py
  tests/core/test_plan_evaluator.py
  tests/core/test_snapshot.py
  tests/dbt/test_config.py
  tests/schedulers/airflow/test_client.py
  tests/web/test_main.py
  web/client/openapi.json
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

Chore: improve error message
  sqlmesh/core/snapshot/definition.py
Due: python

improve lineage performance
  web/client/openapi.json
  web/client/src/index.css
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/main.tsx
  web/server/api/endpoints/lineage.py
Due: client, python

fix duplicates in docs search
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/docs/Welcome.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/src/routes.tsx
Due: client

handle connections betwwen columns:
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/server/api/endpoints/lineage.py
Due: client, python

add github action tests
  examples/sushi/config.py
  sqlmesh/core/context.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/fixtures/github/pull_request_closed.json
  tests/fixtures/github/pull_request_comment.json
  tests/fixtures/github/pull_request_review_submit.json
  tests/fixtures/github/pull_request_synchronized.json
  tests/integrations/__init__.py
  tests/integrations/github/__init__.py
  tests/integrations/github/cicd/__init__.py
  tests/integrations/github/cicd/fixtures.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_github_event.py
Due: python

add github action tests
  tests/integrations/github/cicd/test_github_controller.py
Due: python

mypy bug workaround
  examples/sushi/config.py
Due: python

cleanup shared fixture import
  examples/sushi/config.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_github_event.py
Due: python

improve workaround
  examples/sushi/config.py
Due: python

bump mypy version
  setup.py
Due: python

add 3.7 support
  tests/integrations/github/cicd/test_github_commands.py
Due: python

remove workaround
  examples/sushi/config.py
Due: python

PR comments
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/main.tsx
  web/client/src/routes.tsx
Due: client

Fix: Improve lineage performance (#848)
  web/client/openapi.json
  web/client/src/index.css
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/Search.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/library/pages/docs/Welcome.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/src/routes.tsx
Due: client

Feat: Store seed content separetly from snapshot payload
  sqlmesh/core/context_diff.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/seed.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0005_create_seed_table.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_model.py
  tests/core/test_plan.py
  tests/core/test_seed.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
Due: python

Address comments
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/seed.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/schedulers/airflow/operators/targets.py
  tests/core/test_model.py
  tests/core/test_seed.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

Include the seeds table into the backup sequence
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Feat: Store seed content separately from snapshot payload (#853)
  sqlmesh/core/context_diff.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/seed.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/migrations/v0005_create_seed_table.py
  sqlmesh/schedulers/airflow/api.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/operators/targets.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_model.py
  tests/core/test_plan.py
  tests/core/test_seed.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
