Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Wordsmith
  docs/concepts/tests.md
Due: none

Write test more compactly
  tests/core/test_test.py
Due: python

Add model DDL columns example and fix typos
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/quickstart/cli.md
  docs/quickstart/ui.md
Due: none

More descriptive column names
  docs/concepts/models/overview.md
Due: none

Docs: add model DDL columns example (#2366)
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/quickstart/cli.md
  docs/quickstart/ui.md
Due: none

chore: improve recommended state sync documentation
  docs/faq/faq.md
  docs/guides/configuration.md
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  tests/core/test_connection_config.py
Due: python

fix tests
  tests/cli/test_cli.py
Due: python

feedback
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
Due: python

fix: don't load models if start is ahead of end
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot.py
Due: python

fix: don't load models if start is ahead of end (#2368)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_context.py
  tests/core/test_snapshot.py
Due: python

chore: improve recommended state sync documentation (#2367)
  docs/faq/faq.md
  docs/guides/configuration.md
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  tests/cli/test_cli.py
  tests/core/test_connection_config.py
Due: python

Feat: add support for freezing time in unit tests (#2362)
  docs/concepts/tests.md
  setup.py
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

fix: don't warn duckdb recommended state
  sqlmesh/core/config/scheduler.py
Due: python

fix: don't warn about state
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  tests/core/test_connection_config.py
Due: python

fix: don't warn about state (#2371)
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  tests/core/test_connection_config.py
Due: python

Add snowflake column comment command and make comment default true
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/shared.py
  sqlmesh/core/engine_adapter/snowflake.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_snowflake.py
Due: python

Update docs
  docs/concepts/models/overview.md
  docs/integrations/dbt.md
  docs/reference/configuration.md
Due: none

Fix!: expand snowflake VIEW column comments and make comment default true (#2369)
  docs/concepts/models/overview.md
  docs/integrations/dbt.md
  docs/reference/configuration.md
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/shared.py
  sqlmesh/core/engine_adapter/snowflake.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_snowflake.py
Due: python

Fix: top nav flashing (#2326)
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/models/Models.tsx
Due: client

Fix: Some keyboard bindings (#2334)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/hooks.ts
  web/client/src/library/components/fileExplorer/DragLayer.tsx
  web/client/src/library/components/fileExplorer/FileExplorer.tsx
Due: client

Chore: Report success at the end of the run command
  sqlmesh/core/context.py
Due: python

send file updates for plan, lineage modules
  web/server/watcher.py
Due: python

Fix tests
  tests/cli/test_cli.py
  tests/integrations/jupyter/test_magics.py
Due: python

Fix: Send file updates for plan and lineage modules (#2375)
  web/server/watcher.py
Due: python

Fix!: Data hash values for the model kind
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  tests/core/test_snapshot.py
Due: python

Fix: Improve inference of upstream dependencies for python models
  examples/sushi/models/order_items.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/metaprogramming.py
Due: python

Chore: Report success at the end of the run command (#2374)
  sqlmesh/core/context.py
  tests/cli/test_cli.py
  tests/integrations/jupyter/test_magics.py
Due: python

chore: make dbt scd type 2 test cicd only
  tests/dbt/test_integration.py
Due: python

trigger renovate
  .circleci/config.yml
Due: common

chore: make dbt scd type 2 test cicd only (#2378)
  tests/dbt/test_integration.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
