Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

Implment dbt schema and project_name methods
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/common.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python

clean up
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/context.tsx
  web/server/api/endpoints/commands.py
Due: client, python

Update web/server/api/endpoints/commands.py
  web/server/api/endpoints/commands.py
Due: python

make error non optional
  web/client/src/library/components/ide/RunPlan.tsx
Due: client

[DBT] Implement adapter.get_missing_columns (#578)
  sqlmesh/dbt/adapter.py
  tests/dbt/test_adapter.py
Due: python

Handle model test failures
  tests/web/test_main.py
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
Due: python

Handle model test failures (#557)
  tests/web/test_main.py
  web/server/api/endpoints/commands.py
  web/server/api/endpoints/plan.py
  web/server/console.py
Due: python

[UI] Display error indication on top level (#577)
  web/client/src/api/instance.ts
  web/client/src/library/components/ide/RunPlan.tsx
Due: client

[UI] Fix virtual update not applied and rename 'logical' to 'virtual' (#579)
  web/client/src/context/plan.ts
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/context.tsx
  web/client/src/library/components/plan/help.ts
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/server/api/endpoints/commands.py
  web/server/models.py
Due: client, python

Add rendering support for sql statements
  examples/sushi/models/customers.sql
  sqlmesh/core/model/definition.py
Due: python

PR feedback
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Move test to test_snapshot_evaluator::test_evaluate
  examples/sushi/models/customers.sql
  tests/core/test_snapshot_evaluator.py
Due: python

Add rendering support for sql statements (#562)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

Add Databricks Submit Support for Airflow (#565)
  docs/integrations/airflow.md
  docs/reference/configuration.md
  setup.cfg
  setup.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/engines/commands.py
  sqlmesh/engines/spark/app.py
  sqlmesh/schedulers/airflow/client.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/integration.py
  sqlmesh/schedulers/airflow/operators/databricks.py
  sqlmesh/schedulers/airflow/operators/spark_submit.py
  sqlmesh/schedulers/airflow/util.py
  tests/schedulers/airflow/test_client.py
Due: python

Add virtual update terminology (#580)
  docs/concepts/glossary.md
  docs/concepts/plans.md
  docs/guides/models.md
  docs/quick_start.md
  sqlmesh/core/console.py
  sqlmesh/core/plan/evaluator.py
Due: python

add redshift connection information
  docs/integrations/airflow.md
  docs/reference/configuration.md
  sqlmesh/schedulers/airflow/hooks/redshift.py
Due: python

rework databricks config
  docs/reference/configuration.md
Due: none

cleanup Snowflake config
  docs/integrations/airflow.md
  docs/reference/configuration.md
Due: none

cleanup databricks config
  docs/reference/configuration.md
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/databricks_api.py
  sqlmesh/dbt/target.py
  tests/core/engine_adapter/test_databricks.py
Due: python

add bigquery connection information
  docs/integrations/airflow.md
  docs/reference/configuration.md
  sqlmesh/schedulers/airflow/hooks/bigquery.py
Due: python

rework scheduler information
  docs/reference/configuration.md
Due: none

fix typos
  docs/reference/configuration.md
Due: none

add note about CI/CD bot
  docs/integrations/github.md
Due: none

add links
  docs/integrations/github.md
Due: none

fix typo
  docs/reference/configuration.md
Due: none

Improve connection documentation (#572)
  docs/integrations/airflow.md
  docs/integrations/github.md
  docs/reference/configuration.md
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/databricks_api.py
  sqlmesh/dbt/target.py
  sqlmesh/schedulers/airflow/hooks/bigquery.py
  sqlmesh/schedulers/airflow/hooks/redshift.py
  tests/core/engine_adapter/test_databricks.py
Due: python

add dark/light theme for code mirror
  web/client/package-lock.json
  web/client/package.json
  web/client/src/context/theme.tsx
  web/client/src/hooks/useColorScheme.ts
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/root/Root.tsx
  web/client/tailwind.config.js
Due: client

switch run plan button to primary blue
  web/client/src/index.css
  web/client/src/library/components/button/Button.tsx
  web/client/tailwind.config.js
Due: client

fix icons colors
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/types/enum.ts
  web/client/src/types/index.d.ts
  web/client/tailwind.config.js
Due: client

fix typo
  web/client/src/index.css
  web/client/src/library/components/button/Button.tsx
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/Directory.tsx
  web/client/src/library/components/folderTree/File.tsx
  web/client/src/library/components/ide/ActivePlan.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/input/InputToggle.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
  web/client/src/types/enum.ts
  web/client/tailwind.config.js
Due: client

adjust divider and toggle
  web/client/src/index.css
  web/client/src/library/components/divider/Divider.tsx
  web/client/src/library/components/dropdown/Dropdown.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/library/components/toggle/Toggle.tsx
Due: client

fix colors for dark theme
  web/client/src/index.css
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/ide/RunPlan.tsx
  web/client/src/library/components/logo/Spinner.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/components/plan/PlanHeader.tsx
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/progress/Progress.tsx
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/tailwind.config.js
Due: client
