Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

fix tests
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_base.py
Due: python

PR feedback
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/integration/test_integration.py
Due: python

shotgun debugging
  tests/core/engine_adapter/integration/test_integration.py
Due: python

Enable cloud tests
  .circleci/continue_config.yml
Due: common

Revert "Enable cloud tests"
  .circleci/continue_config.yml
Due: common

Fix!: Allow python models to emit DataFrame's with a different column order (#4348)
  pyproject.toml
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/integration/test_integration_bigquery.py
  tests/core/engine_adapter/integration/test_integration_snowflake.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_snowflake.py
Due: python

chore: add dependabot for npm
  .github/dependabot.yml
Due: none

chore: update minor node dependencies
  package-lock.json
Due: none

chore: add dependabot for npm (#4373)
  .github/dependabot.yml
Due: none

chore: update minor node dependencies (#4374)
  package-lock.json
Due: none

chore: fix dependabot file formatting
  .github/dependabot.yml
Due: none

chore: fix dependabot file formatting (#4380)
  .github/dependabot.yml
Due: none

chore: update diff dependency
  package-lock.json
  web/client/package.json
Due: client

chore: update diff dependency (#4384)
  package-lock.json
  web/client/package.json
Due: client

Chore: Add legends for clarity in multiengine docs
  docs/guides/multi_engine.md
Due: none

chore: update pluralize deps
  package-lock.json
  web/client/package.json
Due: client

chore: update pluralize deps (#4385)
  package-lock.json
  web/client/package.json
Due: client

Chore: Add legends for clarity in multiengine docs (#4386)
  docs/guides/multi_engine.md
Due: none

chore: update react query
  package-lock.json
  web/client/package.json
  web/client/src/api/index.ts
  web/client/src/main.tsx
Due: client

chore: update react query (#4387)
  package-lock.json
  web/client/package.json
  web/client/src/api/index.ts
  web/client/src/main.tsx
Due: client

chore: update elkjs
  package-lock.json
  web/client/package.json
Due: client

chore: update jsdom
  package-lock.json
  web/client/package.json
Due: client

chore: update jsdom (#4389)
  package-lock.json
  web/client/package.json
Due: client

chore: update react router
  package-lock.json
  web/client/package.json
  web/client/src/App.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/historyNavigation/historyNavigation.tsx
  web/client/src/library/components/moduleNavigation/ModuleLink.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/sourceList/SourceListItem.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/data-catalog/DataCatalog.tsx
  web/client/src/library/pages/data/Data.tsx
  web/client/src/library/pages/errors/Content.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/lineage/Lineage.tsx
  web/client/src/library/pages/models/Models.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/library/pages/root/Root.tsx
  web/client/src/library/pages/tests/Tests.tsx
  web/client/src/routes.tsx
Due: client

chore: update react router (#4390)
  package-lock.json
  web/client/package.json
  web/client/src/App.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/historyNavigation/historyNavigation.tsx
  web/client/src/library/components/moduleNavigation/ModuleLink.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/search/SearchList.tsx
  web/client/src/library/components/sourceList/SourceListItem.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/data-catalog/DataCatalog.tsx
  web/client/src/library/pages/data/Data.tsx
  web/client/src/library/pages/errors/Content.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/lineage/Lineage.tsx
  web/client/src/library/pages/models/Models.tsx
  web/client/src/library/pages/plan/Content.tsx
  web/client/src/library/pages/plan/Plan.tsx
  web/client/src/library/pages/root/NotFound.tsx
  web/client/src/library/pages/root/Root.tsx
  web/client/src/library/pages/tests/Tests.tsx
  web/client/src/routes.tsx
Due: client

Chore: Remove optional snapshot_is from get_snapshots() API
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

chore: update radix select in web
  package-lock.json
  web/client/package.json
  web/client/src/library/components/input/Selector.tsx
Due: client

chore: update radix select in web (#4392)
  package-lock.json
  web/client/package.json
  web/client/src/library/components/input/Selector.tsx
Due: client

chore: update headless ui
  package-lock.json
  web/client/package.json
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
Due: client

chore: update headless ui (#4393)
  package-lock.json
  web/client/package.json
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/plan/PlanActions.tsx
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/components/tasksOverview/TasksOverview.tsx
Due: client

Fix string escape warning
  tests/integrations/jupyter/test_magics.py
Due: python

Chore: fix string escape warning (#4394)
  tests/integrations/jupyter/test_magics.py
Due: python

chore: remove version from docker compose
  web/docker-compose.build.yml
  web/docker-compose.yml
Due: none

chore: remove version from docker compose (#4395)
  web/docker-compose.build.yml
  web/docker-compose.yml
Due: none

chore: move orval to root
  package-lock.json
  package.json
  web/client/package.json
Due: client

Feat: resolve (blueprint) variables when parsing python deps
  docs/concepts/models/python_models.md
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

chore: move to pnpm
  .circleci/config.yml
  .circleci/continue_config.yml
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/extension/package.json
  web/Dockerfile.app
  web/client/package.json
  web/client/src/library/components/table/Table.tsx
  web/docker-compose.build.yml
  web/docker-compose.yml
Due: client, common

chore: move to pnpm (#4401)
  .circleci/config.yml
  .circleci/continue_config.yml
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vscode/extension/package.json
  web/Dockerfile.app
  web/client/package.json
  web/client/src/library/components/table/Table.tsx
  web/docker-compose.build.yml
  web/docker-compose.yml
Due: client, common
