Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Ignore partial intervals when adding intervals to a snapshot (#1466)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
Due: python

Feat: skip croniter when possible for performance
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/cron.py
Due: python

Feat: skip croniter when possible for performance (#1468)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/utils/cron.py
Due: python

Chore: update sqlglot to 18.7.0
  setup.py
Due: python

chore: cleanup github cicd bot tests
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/fixtures.py
  tests/integrations/github/cicd/helper.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_github_event.py
Due: python

chore: fix tests
  tests/core/engine_adapter/test_redshift.py
Due: python

Chore: Update the Airflow end-to-end test
  tests/schedulers/airflow/test_end_to_end.py
Due: python

chore: cleanup github cicd bot tests (#1470)
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/integrations/github/cicd/controller.py
  tests/integrations/github/cicd/fixtures.py
  tests/integrations/github/cicd/helper.py
  tests/integrations/github/cicd/test_github_commands.py
  tests/integrations/github/cicd/test_github_controller.py
  tests/integrations/github/cicd/test_github_event.py
Due: python

fix!: remove postgres materialized view support
  .circleci/continue_config.yml
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/redshift.py
Due: python, common

clean up
  web/client/src/models/environment.ts
Due: client

fix typo
  web/client/src/context/context.ts
Due: client

restore env selection from local storage + create pinned env and to local list
  web/client/src/context/context.ts
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/environment.ts
Due: client

Fix : Restore selected env from local storage + add pinned envs to local list (#1469)
  web/client/src/context/context.ts
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/environment.ts
Due: client

fix!: remove postgres materialized view support (#1475)
  .circleci/continue_config.yml
  sqlmesh/core/engine_adapter/base_postgres.py
  sqlmesh/core/engine_adapter/redshift.py
Due: python, common

Feat: Allow evaluation of partial intervals (#1451)
  examples/sushi/models/raw_marketing.py
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/dbt/model.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
Due: python

replace lock icon , relax zoom effect on lineage
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/pages/docs/SourceList.tsx
Due: client

move columns and rendered query to separate tabs in Editor inspector
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Chore: fix types
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/dbt/context.py
Due: python

Chore: fix types (#1478)
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/dbt/context.py
Due: python

Update web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/Graph.tsx
Due: client

remove optional chaning
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Update web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Fix: Move columns and rendered query to separate tabs in Editor inspector (#1477)
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
Due: client

Fix: Replace lock icon , relax zoom effect on lineage (#1476)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/pages/docs/SourceList.tsx
Due: client

Fix: #1435 introduced invalid sql for querying the state sync
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fix: Support standalone audits in the Airflow DAG generator
  sqlmesh/schedulers/airflow/dag_generator.py
Due: python

Fix: #1435 introduced invalid sql for querying the state sync (#1479)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
