Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

add better types to getData
  web/client/src/library/components/tabs/Tabs.tsx
Due: client

Show confirmation modal when deleting file/directory (#366)
  web/client/src/api/instance.ts
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/folderTree/help.ts
  web/client/src/library/components/modal/Modal.tsx
  web/client/src/library/components/modal/ModalConfirmation.tsx
  web/client/src/models/directory.ts
  web/client/vite.config.ts
Due: client

Display query results or terminal error (#369)
  web/client/src/api/index.ts
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/models/artifact.ts
Due: client

remove adding json for 204 code
  web/client/src/api/instance.ts
Due: client

correct formatting
  web/client/src/api/instance.ts
Due: client

Remove directory even if not empty
  tests/web/test_main.py
  web/server/api/endpoints/directories.py
Due: python

optimize everything even without schema
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/dbt/test_config.py
Due: python

Remove directory even if not empty (#374)
  tests/web/test_main.py
  web/server/api/endpoints/directories.py
Due: python

Adjust settings for the diffing algorithm in the categorizer to better handle a case when a lot of new projections are being added to a model
  sqlmesh/core/snapshot/categorizer.py
  tests/core/test_snapshot.py
Due: python

Update instance.ts
  web/client/src/api/instance.ts
Due: client

Update instance.ts (#376)
  web/client/src/api/instance.ts
Due: client

always annotate types
  setup.py
  sqlmesh/core/renderer.py
Due: python

optimize everything even without schema (#375)
  setup.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
  sqlmesh/core/snapshot/categorizer.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
  tests/dbt/test_config.py
Due: python

move double escape to generator
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

use engine adapter to escape
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_spark.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/utils/__init__.py
Due: python

undo extra change
  sqlmesh/core/dialect.py
Due: python

pr feedback
  sqlmesh/core/engine_adapter/base.py
Due: python

match with base class
  sqlmesh/core/engine_adapter/spark.py
Due: python

Improve Double Escape Implementation (#371)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/base_spark.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/utils/__init__.py
Due: python

Move branching from workflows into jobs
  .circleci/continue_config.yml
Due: common

PR feedback
  .circleci/continue_config.yml
Due: common

Move branching from workflows into jobs (#379)
  .circleci/continue_config.yml
Due: common

python models docs
  docs/concepts/glossary.md
  docs/concepts/models/python_models.md
Due: none

Update docs/concepts/models/python_models.md
  docs/concepts/models/python_models.md
Due: none

add split pane to ide, editor, plan
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tabs/Tabs.tsx
Due: client

Add split pane to ide, editor, plan (#380)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/ide/IDE.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/splitPane/SplitPane.css
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tabs/Tabs.tsx
Due: client
