Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish
      - run:
          name: Update API Documentation
          command: |
            pip install pdoc sqlmesh
            make api-docs
            git add docs
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git commit -m "CI: Auto-generated documentation" -a | exit 0
      - run:
          name: Deploy API Documentation
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            git push origin main

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

remove date formatting and display dates as UTC
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanBackfillDates.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/utils/index.ts
Due: client

format plan dates for UI
  web/server/api/endpoints/plan.py
Due: python

Update Plan.tsx
  web/client/src/library/components/plan/Plan.tsx
Due: client

make todo note
  web/server/api/endpoints/plan.py
Due: python

Remove date formatting and display dates as UTC (#615)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/plan/PlanBackfillDates.tsx
  web/client/src/library/components/plan/hooks.ts
  web/client/src/library/components/tasksProgress/TasksProgress.tsx
  web/client/src/utils/index.ts
  web/server/api/endpoints/plan.py
Due: client, python

fix typos in the doc
  docs/installation.md
  docs/quick_start.md
Due: none

fix dates
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  tests/core/test_plan.py
  web/server/api/endpoints/plan.py
Due: python

remove leftover code
  sqlmesh/core/plan/definition.py
Due: python

fixes
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
Due: python

fix quotes
  sqlmesh/core/scheduler.py
Due: python

fixes
  sqlmesh/core/scheduler.py
  tests/core/test_plan.py
Due: python

cache interval unit
  sqlmesh/core/model/meta.py
Due: python

Fix dates (#623)
  sqlmesh/core/model/meta.py
  sqlmesh/core/plan/definition.py
  sqlmesh/core/scheduler.py
  tests/core/test_plan.py
  web/server/api/endpoints/plan.py
Due: python

📝 Remove duplicate code in docs
  docs/comparisons.md
Due: none

📝 Correct SQL typo in docs
  docs/comparisons.md
Due: none

📝 Correct SQL typo in docs (#626)
  docs/comparisons.md
Due: none

playing around with ci to auto-commit pdoc changes
  .circleci/continue_config.yml
Due: common

Add docker field
  .circleci/continue_config.yml
Due: common

Fixup
  .circleci/continue_config.yml
Due: common

Prints
  .circleci/continue_config.yml
Due: common

Ret codes
  .circleci/continue_config.yml
Due: common

Show git status
  .circleci/continue_config.yml
Due: common

Get rid of exit
  .circleci/continue_config.yml
Due: common

Try pushing the docs
  .circleci/continue_config.yml
Due: common

Set upstream
  .circleci/continue_config.yml
Due: common

Cleanup messages
  .circleci/continue_config.yml
Due: common

update links
  README.md
Due: none

set dialect from model and remove dates from apply step
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

PR Comments
  web/client/src/library/components/editor/Editor.tsx
  web/server/models.py
Due: client, python

[UI] Set dialect from model and remove dates from apply step (#625)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/plan/PlanWizard.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/server/api/endpoints/models.py
  web/server/models.py
Due: client, python

docs: add unsupported adapter jinja functions for dbt
  docs/integrations/dbt.md
Due: none

docs: generate pdoc assets as a readthedocs pre_build job
  .circleci/config.yml
  .readthedocs.yaml
  docs/requirements.txt
Due: common
