Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

add dbt test
  tests/dbt/test_transformation.py
Due: python

Fix!: Normalize dbt model cluster_by field (#2305)
  examples/sushi/config.py
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
  tests/dbt/test_transformation.py
Due: python

Fix: Use SourceList to display/filter lineage columns (#2306)
  web/client/openapi.json
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/hooks.ts
  web/client/src/library/components/graph/ModelColumns.tsx
  web/client/src/library/components/graph/ModelLineageDetails.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/components/graph/ModelNodeHeaderHandles.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/sourceList/SourceList.tsx
  web/client/src/library/components/sourceList/SourceListItem.tsx
  web/client/src/library/components/tab/Tab.tsx
  web/client/src/library/pages/audits/Audits.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/errors/Errors.tsx
  web/client/src/library/pages/models/Models.tsx
  web/client/src/library/pages/tests/Tests.tsx
Due: client

Make default false
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/mixins.py
Due: python

feat: support github enterprise url
  sqlmesh/integrations/github/cicd/controller.py
  tests/fixtures/github/pull_request_synchronized_enterprise.json
  tests/integrations/github/cicd/test_github_event.py
Due: python

feat: support github enterprise url (#2311)
  sqlmesh/integrations/github/cicd/controller.py
  tests/fixtures/github/pull_request_synchronized_enterprise.json
  tests/integrations/github/cicd/test_github_event.py
Due: python

Fix: escape backslashes in comments (#2307)
  examples/sushi/models/marketing.sql
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/postgres.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_postgres.py
Due: python

Add missing seed kind fields to model config reference
  docs/reference/model_configuration.md
Due: none

Add missing seed kind fields to model config reference (#2312)
  docs/reference/model_configuration.md
Due: none

rename
  .circleci/continue_config.yml
Due: common

chore: add tested doc examples of usage to optional_expression function
  sqlmesh/core/macros.py
Due: python

Fix: Reset the 'effective_from' attribute for migrated snapshots
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_snapshot.py
Due: python

Feat: add optional @limit macro (#2275)
  docs/concepts/macros/sqlmesh_macros.md
  sqlmesh/core/dialect.py
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

Fix: Reset the 'effective_from' attribute for migrated snapshots (#2313)
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/engine_adapter.py
  tests/core/test_snapshot.py
Due: python

do not modify path on UI
  web/client/src/context/project.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/plan/help.spec.ts
  web/client/src/models/artifact.posix.spec.ts
  web/client/src/models/artifact.ts
  web/client/src/models/artifact.win.spec.ts
  web/client/src/models/directory.posix.spec.ts
  web/client/src/models/directory.ts
  web/client/src/models/directory.win.spec.ts
  web/client/src/utils/index.ts
Due: client

Fix: Default value for the models_to_backfill in the Plan Application Request
  sqlmesh/schedulers/airflow/common.py
Due: python

Feat: Allow setting depends_on_past explicitly instead of inferring it
  docs/reference/model_configuration.md
  sqlmesh/core/model/common.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

chore: bump airflow version for testing
  examples/airflow/Makefile
  setup.py
Due: python

fix: cast to timestamp to guarantee safe coalesce
  sqlmesh/core/engine_adapter/base.py
Due: python

fix: try casting to time type var in main codepath
  sqlmesh/core/engine_adapter/base.py
Due: python

chore: bump airflow version for testing (#2315)
  examples/airflow/Makefile
  setup.py
Due: python

chore: document bq execution project
  docs/integrations/engines/bigquery.md
Due: none

chore: document bq execution project (#2319)
  docs/integrations/engines/bigquery.md
Due: none

chore: document that issue comment needs to be in main to work
  docs/integrations/github.md
Due: none

chore: document that issue comment needs to be in main to work (#2320)
  docs/integrations/github.md
Due: none

trigger on merge
  .circleci/continue_config.yml
Due: common

lint
  .circleci/continue_config.yml
Due: common

Chore: Ignore _version.py in tests
  .gitignore
Due: none

Make tablediff on error more informative
  sqlmesh/core/context.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
