Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Chore: bump sqlglot to v25.8.1 (#2965)
  setup.py
Due: python

Use sqlmesh blue for docs colors
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Docs: use sqlmesh blue for header and links (#2966)
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Fix: conditional statement parsing edge case
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

Fix: conditional statement parsing edge case (#2967)
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

drafted tests
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

more test coverage
  tests/core/test_macros.py
Due: python

Feat: Add support for dbt adapter method quote_as_configured
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  tests/dbt/test_adapter.py
Due: python

Feat: Add support for dbt adapter method quote_as_configured (#2970)
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  tests/dbt/test_adapter.py
Due: python

fix types
  sqlmesh/core/macros.py
Due: python

Fix!: Handle lookback correctly on incremental models with an end date defined (#2962)
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Chore!: Run cloud engines after docker engines
  .circleci/continue_config.yml
Due: common

Chore!: Run cloud engines after docker engines (#2972)
  .circleci/continue_config.yml
Due: common

add docs example
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Fix!: enable loading of Snowflake models that use staged file paths
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Docs: add databricks connection quickstart (#2957)
  docs/integrations/engines/databricks.md
  docs/integrations/engines/databricks/db-guide_access-tokens-generate-button.png
  docs/integrations/engines/databricks/db-guide_access-tokens-generate.png
  docs/integrations/engines/databricks/db-guide_access-tokens-link.png
  docs/integrations/engines/databricks/db-guide_advanced-options.png
  docs/integrations/engines/databricks/db-guide_compute-advanced-options-link.png
  docs/integrations/engines/databricks/db-guide_compute-create.png
  docs/integrations/engines/databricks/db-guide_compute.png
  docs/integrations/engines/databricks/db-guide_config-yaml.png
  docs/integrations/engines/databricks/db-guide_copy-server-http.png
  docs/integrations/engines/databricks/db-guide_copy-token.png
  docs/integrations/engines/databricks/db-guide_default-gateway.png
  docs/integrations/engines/databricks/db-guide_profile-settings-developer.png
  docs/integrations/engines/databricks/db-guide_profile-settings-link.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-no-warning.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-succeeded.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-warning.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-plan-objects.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-plan.png
  docs/integrations/engines/databricks/db-guide_state-connection.png
  docs/integrations/engines/databricks/db-guide_workspace.png
Due: none

Fix!: enable loading of Snowflake models that use staged file paths (#2973)
  sqlmesh/core/dialect.py
  tests/core/test_model.py
Due: python

Fix!: Improve handling of the `--where` option in table_diff
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

PR feedback
  sqlmesh/core/table_diff.py
Due: python

Refactor; add unit test for default audit
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: Include audit macros in python environment
  sqlmesh/core/loader.py
  sqlmesh/core/model/definition.py
  sqlmesh/dbt/loader.py
  tests/core/test_model.py
Due: python

fix: full_refresh is expected to be None as a default value but the validator forced it to be a boolean
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_transformation.py
Due: python

WIP: Add Materialize Engine Adapter
  Makefile
  docs/guides/configuration.md
  docs/integrations/engines/materialize.md
  docs/integrations/overview.md
  docs/reference/configuration.md
  pytest.ini
  setup.cfg
  setup.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/materialize.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_materialize.py
Due: python, common

Enable integration tests
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/materialize.py
  tests/core/engine_adapter/test_integration.py
Due: python

fix: full_refresh is expected to be None as a default value but the v… (#2978)
  sqlmesh/dbt/basemodel.py
  tests/dbt/test_transformation.py
Due: python

Rebase
  Makefile
  tests/core/engine_adapter/docker/compose.materialize.yaml
Due: python, common

Fix!: Improve handling of the `--where` option in table_diff (#2975)
  sqlmesh/core/table_diff.py
  tests/core/test_table_diff.py
Due: python

pr feedback
  docs/concepts/macros/sqlmesh_macros.md
  sqlmesh/core/macros.py
  tests/core/test_macros.py
Due: python

remove dialect
  sqlmesh/core/macros.py
Due: python

no need for list comprehension
  sqlmesh/core/macros.py
Due: python
