Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

feat: inline macro func
  sqlmesh/core/macros.py
Due: python

ci: make style
  sqlmesh/core/macros.py
Due: python

fix: properly handle multiple arguments
  sqlmesh/core/macros.py
Due: python

fix: only sqlglot format sql files
  sqlmesh/core/context.py
Due: python

fix: only sqlglot format sql files (#1916)
  sqlmesh/core/context.py
Due: python

re-run plan after changing test file
  web/server/watcher.py
Due: python

show test message or details and clean on each run
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

fix: get_versions validate should not validate at all
  sqlmesh/core/state_sync/base.py
  tests/core/test_state_sync.py
Due: python

fix: get_versions validate should not validate at all (#1917)
  sqlmesh/core/state_sync/base.py
  tests/core/test_state_sync.py
Due: python

Fix: In Airflow delete orphaned snapshot DAGs when new versions supersede the old ones
  sqlmesh/schedulers/airflow/integration.py
Due: python

feedback
  docs/concepts/plans.md
  docs/guides/model_selection.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/selector.py
  tests/core/test_plan.py
  tests/core/test_selector.py
Due: python

feat: add model tag restatement selector (#1908)
  docs/concepts/plans.md
  docs/guides/model_selection.md
  examples/sushi/models/customer_revenue_lifetime.sql
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/selector.py
  tests/core/test_plan.py
  tests/core/test_selector.py
Due: python

Fix: test_plan.py::test_restate_models test
  tests/core/test_plan.py
Due: python

chore: add passing tests
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

docs: add some documentation
  docs/concepts/macros/sqlmesh_macros.md
Due: none

chore: pr feedback
  sqlmesh/core/model/definition.py
Due: python

Feat: Simple inline macro functions (#1915)
  docs/concepts/macros/sqlmesh_macros.md
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: Show detailed view when plan tests failed or just success massage when tests are passed (#1920)
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/server/watcher.py
Due: client, python

chore: clarify migration instructions
  docs/guides/migrations.md
Due: none

Update docs/guides/migrations.md
  docs/guides/migrations.md
Due: none

fix: include plan_dags in migration
  sqlmesh/migrations/v0036_delete_plan_dags_bug_fix.py
Due: python

fix: set airflow default catalog
  sqlmesh/engines/spark/app.py
  sqlmesh/schedulers/airflow/operators/databricks.py
  sqlmesh/schedulers/airflow/operators/spark_submit.py
  sqlmesh/schedulers/airflow/operators/targets.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

fix: include plan_dags in migration (#1922)
  sqlmesh/migrations/v0036_delete_plan_dags_bug_fix.py
Due: python

fix: set airflow default catalog (#1923)
  sqlmesh/engines/spark/app.py
  sqlmesh/schedulers/airflow/operators/databricks.py
  sqlmesh/schedulers/airflow/operators/spark_submit.py
  sqlmesh/schedulers/airflow/operators/targets.py
  tests/schedulers/airflow/operators/test_targets.py
Due: python

fix: correctly set missing model selectors to None
  sqlmesh/cli/main.py
Due: python

fix: correctly set missing model selectors to None (#1924)
  sqlmesh/cli/main.py
Due: python

chore: clarify migration instructions (#1921)
  docs/guides/migrations.md
Due: none

Chore!: bump sqlglot to v20.6.0
  setup.py
Due: python

Fix mypy issue
  sqlmesh/core/macros.py
Due: python

Fix: In Airflow delete orphaned snapshot DAGs when new versions supersede the old ones (#1918)
  sqlmesh/schedulers/airflow/integration.py
Due: python
