Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile common true

  release:
    jobs:
      - gh-release:
          <<: *on_tag_filter
      - publish:
          <<: *on_tag_filter
          requires:
            - gh-release

Suppress traceback for model tests (#418)
  sqlmesh/core/test.py
Due: python

env helper for extensions
  sqlmesh/core/dialect.py
  sqlmesh/core/renderer.py
  sqlmesh/core/test.py
  sqlmesh/utils/jinja.py
Due: python

env helper for extensions (#420)
  sqlmesh/core/dialect.py
  sqlmesh/core/renderer.py
  sqlmesh/core/test.py
  sqlmesh/utils/jinja.py
Due: python

Move evaluate limit checks inside snapshot evaluator
  sqlmesh/core/context.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_context.py
Due: python

Move evaluate limit checks inside snapshot evaluator (#414)
  sqlmesh/core/context.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_context.py
Due: python

Support full automatic snapshot categorization
  docs/reference/configuration.md
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/categorizer.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/snapshot/categorizer.py
  sqlmesh/schedulers/airflow/common.py
  tests/core/test_snapshot.py
Due: python

Fix tests and docs
  docs/reference/configuration.md
  examples/sushi/config.py
  examples/sushi_dbt/config.py
  sqlmesh/core/snapshot/categorizer.py
  tests/conftest.py
Due: python

Move model type specific change categorization logic into the Model class
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/categorizer.py
Due: python

Support full automatic snapshot categorization (#424)
  docs/reference/configuration.md
  examples/sushi/config.py
  examples/sushi_dbt/config.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/categorizer.py
  sqlmesh/core/config/root.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/categorizer.py
  sqlmesh/schedulers/airflow/common.py
  tests/conftest.py
  tests/core/test_snapshot.py
Due: python

Update .eslintrc.js
  web/client/.eslintrc.js
Due: client

add ability to run Evaluate command on models
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/tabs/Tabs.tsx
Due: client

update evaluate form
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/types/index.d.ts
  web/client/tailwind.config.js
Due: client

add css vars to use in css for components
  web/client/src/index.css
  web/client/tailwind.config.js
Due: client

PR comments
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/input/Input.tsx
Due: client

make inputs full-width
  web/client/src/library/components/editor/Editor.tsx
Due: client

Update the plans doc to point out that SQLMesh attempts to categorize change automatically
  docs/concepts/plans.md
Due: none

Add evaluate command for models (#385)
  web/client/.eslintrc.js
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/help.ts
  web/client/src/library/components/input/Input.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/client/src/types/index.d.ts
  web/client/tailwind.config.js
Due: client

initial commit for macro recfactor
  sqlmesh/dbt/macros.py
  sqlmesh/utils/jinja.py
  sqlmesh/utils/yaml.py
Due: python

fix broken import from client.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
Due: client

fix broken import from client.ts (#428)
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/splitPane/SplitPane.tsx
Due: client

Switch evaluate and fetchdf response to pyarrow
  setup.py
  tests/web/test_main.py
  web/server/api/endpoints/commands.py
  web/server/utils.py
Due: python

Parse arrow response
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/instance.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/tabs/Tabs.tsx
Due: client

Use arrow format for query results (#423)
  setup.py
  tests/web/test_main.py
  web/client/package-lock.json
  web/client/package.json
  web/client/src/api/instance.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/folderTree/FolderTree.tsx
  web/client/src/library/components/tabs/Tabs.tsx
  web/server/api/endpoints/commands.py
  web/server/utils.py
Due: client, python

make views the default kind
  tests/core/test_audit.py
  tests/core/test_plan.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_integration.py
  tests/schedulers/airflow/test_plan.py
Due: python

make views the default kind
  examples/sushi/models/customer_revenue_by_day.sql
  examples/sushi/models/top_waiters.sql
  examples/sushi/models/waiter_as_customer_by_day.sql
  examples/sushi/models/waiter_revenue_by_day.sql
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  tests/core/test_audit.py
  tests/core/test_model.py
  tests/core/test_plan.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_integration.py
  tests/schedulers/airflow/test_plan.py
Due: python

remove default kind
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
Due: python

update documentation
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
Due: none

Make views the default kind (#430)
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  examples/sushi/models/customer_revenue_by_day.sql
  examples/sushi/models/top_waiters.sql
  examples/sushi/models/waiter_as_customer_by_day.sql
  examples/sushi/models/waiter_revenue_by_day.sql
  sqlmesh/core/model/kind.py
  sqlmesh/core/model/meta.py
  tests/core/test_audit.py
  tests/core/test_model.py
  tests/core/test_plan.py
  tests/core/test_snapshot.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_client.py
  tests/schedulers/airflow/test_integration.py
  tests/schedulers/airflow/test_plan.py
Due: python

Various changes that will be documented in the PR.
  README.md
  docs/concepts/architecture/serialization.md
  docs/concepts/glossary.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/guides/add_model.md
  docs/guides/audit_model.md
  docs/guides/delete_model.md
  docs/guides/evaluate_model.md
  docs/guides/models.md
  docs/guides/projects.md
  docs/guides/revert_change.md
  docs/guides/scheduling.md
  docs/guides/scheduling/airflow_successful_plan_apply.png
  docs/guides/scheduling/airflow_successful_setup.png
  docs/guides/test_model.md
  docs/guides/testing.md
  docs/guides/validate_model.md
  docs/guides/view_dag.md
  docs/integrations/airflow.md
  docs/integrations/dbt.md
  docs/prerequisites.md
  docs/quick_start.md
  docs/why_sqlmesh.md
  mkdocs.yml
Due: none

Updated per PR review.
  README.md
  docs/concepts/architecture/serialization.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/guides/models.md
Due: none

Guides section revamp and other changes (#402)
  README.md
  docs/concepts/architecture/serialization.md
  docs/concepts/glossary.md
  docs/concepts/models/model_kinds.md
  docs/concepts/models/overview.md
  docs/concepts/models/python_models.md
  docs/concepts/models/seed_models.md
  docs/concepts/models/sql_models.md
  docs/guides/add_model.md
  docs/guides/audit_model.md
  docs/guides/delete_model.md
  docs/guides/evaluate_model.md
  docs/guides/models.md
  docs/guides/projects.md
  docs/guides/revert_change.md
  docs/guides/scheduling.md
  docs/guides/scheduling/airflow_successful_plan_apply.png
  docs/guides/scheduling/airflow_successful_setup.png
  docs/guides/test_model.md
  docs/guides/testing.md
  docs/guides/validate_model.md
  docs/guides/view_dag.md
  docs/integrations/airflow.md
  docs/integrations/dbt.md
  docs/prerequisites.md
  docs/quick_start.md
  docs/why_sqlmesh.md
  mkdocs.yml
Due: none
