Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

remove depends on override
  docker-compose.build.yml
Due: none

Chore: Add dev publish command (#1331)
  Makefile
  docker-compose.build.yml
Due: common

fix: mssql tests
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

fix: mssql style
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

fix: pymssql package placement
  sqlmesh/core/engine_adapter/mssql.py
Due: python

fix: mssql merge expression
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

fix: mssql bulk rows type
  sqlmesh/core/engine_adapter/mssql.py
Due: python

fix: mssql test type
  tests/core/engine_adapter/test_mssql.py
Due: python

Feat: Support model selection when constructing a plan
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
  sqlmesh/magics.py
  tests/core/test_selector.py
Due: python

Address comments
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
  sqlmesh/magics.py
  tests/core/test_selector.py
Due: python

Fix pydantic v2
  tests/core/test_selector.py
Due: python

Feat: Support model selection when constructing a plan (#1335)
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
  sqlmesh/magics.py
  tests/core/test_selector.py
Due: python

fix: mssql 3.7 tests
  tests/core/engine_adapter/test_mssql.py
Due: python

Feat: Support simple model selection expressions
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
  tests/core/test_selector.py
Due: python

return context if loaded context failed
  web/server/settings.py
Due: python

fix: mssql connection, table_exists bugs
  sqlmesh/core/engine_adapter/mssql.py
Due: python

fix: test_mssql py3.7
  tests/core/engine_adapter/test_mssql.py
Due: python

doc: call py3.7 workaround
  .gitignore
  tests/core/engine_adapter/test_mssql.py
Due: python

doc: style
  .gitignore
  tests/core/engine_adapter/test_mssql.py
Due: python

Feat: Support simple model selection expressions (#1338)
  sqlmesh/core/context.py
  sqlmesh/core/selector.py
  tests/core/test_selector.py
Due: python

Feat: Introduce support for MSSQL
  setup.cfg
  setup.py
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Chore: Add documentation for the MSSQL connection config
  docs/guides/connections.md
  docs/integrations/engines/mssql.md
  docs/integrations/engines/mysql.md
  docs/integrations/overview.md
  docs/reference/configuration.md
  mkdocs.yml
  sqlmesh/core/config/connection.py
Due: python

Refactor!: use a rewriter instead of a renderer for metrics
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/__init__.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/metric/rewriter.py
  tests/core/metric/test_renderer.py
  tests/core/metric/test_rewriter.py
Due: python

Chore: Add documentation for the MSSQL connection config (#1341)
  docs/guides/connections.md
  docs/integrations/engines/mssql.md
  docs/integrations/engines/mysql.md
  docs/integrations/overview.md
  docs/reference/configuration.md
  mkdocs.yml
  sqlmesh/core/config/connection.py
Due: python

Add note about not supporting MWAA
  docs/integrations/airflow.md
Due: none

Add instructions for running on MWAA
  docs/integrations/airflow.md
Due: none

Refactor!: move project from snapshot to model/node
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/node.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/migrations/v0022_move_project_to_model.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Add config concepts page with python config docs
  docs/concepts/configuration/overview.md
  docs/reference/configuration.md
  mkdocs.yml
Due: none

Refactor!: move project from snapshot to model/node (#1345)
  sqlmesh/core/context.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/node.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/migrations/v0022_move_project_to_model.py
  tests/core/test_integration.py
  tests/core/test_snapshot.py
  tests/schedulers/airflow/test_client.py
Due: python

Refactor!: use a rewriter instead of a renderer for metrics (#1340)
  setup.py
  sqlmesh/core/dialect.py
  sqlmesh/core/metric/__init__.py
  sqlmesh/core/metric/renderer.py
  sqlmesh/core/metric/rewriter.py
  tests/core/metric/test_renderer.py
  tests/core/metric/test_rewriter.py
Due: python

PR feedback
  docs/integrations/airflow.md
Due: none

Docs: add info about MWAA support (#1342)
  docs/integrations/airflow.md
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
