Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

simplify table diff for modified columns
  web/client/src/library/components/tableDiff/TableDiff.tsx
  web/client/src/library/components/tableDiff/help.ts
Due: client

clean up
  web/client/src/library/components/editor/EditorPreview.tsx
Due: client

styling updates for table and table-diff
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/listbox/ListboxShow.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
Due: client

Fix: Styling updates for table and table-diff (#1312)
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/listbox/ListboxShow.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
  web/client/src/library/components/tableDiff/help.ts
Due: client

Fix: dbt-redshift 1.6 removed column class specialization
  sqlmesh/dbt/target.py
Due: python

Fix: dbt-redshift 1.6 removed column class specialization (#1320)
  sqlmesh/dbt/target.py
Due: python

create map path to model
  web/server/api/endpoints/files.py
  web/server/api/endpoints/models.py
  web/server/settings.py
Due: python

format only sql files and set model's dialect
  web/client/src/api/index.ts
  web/server/api/endpoints/files.py
Due: client, python

send format error as SSE
  web/server/api/endpoints/files.py
Due: python

format only content
  examples/sushi/models/customer_revenue_by_day.sql
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

format model on save
  sqlmesh/core/context.py
  web/server/api/endpoints/files.py
Due: python

clean up
  examples/sushi/models/customer_revenue_by_day.sql
Due: python

PR feedback
  docs/reference/configuration.md
Due: none

Fix: Format model on save (#1309)
  web/client/src/api/index.ts
  web/server/api/endpoints/files.py
  web/server/api/endpoints/models.py
  web/server/settings.py
Due: client, python

use full file path to getm model from path_to_model_mapping
  web/server/api/endpoints/files.py
Due: python

Fix: Use full file path to get model from path_to_model_mapping (#1321)
  web/server/api/endpoints/files.py
Due: python

Docs: update configuration reference (#1307)
  docs/concepts/models/python_models.md
  docs/reference/configuration.md
Due: none

Fix: Support latest Pydantic V2 version in tests
  tests/schedulers/airflow/operators/test_targets.py
Due: python

Fix: Support latest Pydantic V2 version in tests (#1325)
  tests/schedulers/airflow/operators/test_targets.py
Due: python

switch back to insert/overwrite for databricks
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/test_databricks.py
Due: python

Fix: Fetch column types if the type is unknown for a partition column in the BQ engine adapter
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Fix: Fetch column types if the type is unknown for a partition column in the BQ engine adapter (#1326)
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

switch back to insert/overwrite for databricks (#1327)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/databricks.py
  tests/core/engine_adapter/test_databricks.py
Due: python

Update unit test to demonstrate python model that returns a string
  tests/core/test_model.py
Due: python

Feat: allow python models to return SQL expressions
  examples/sushi/models/waiters.py
  examples/sushi/models/waiters.sql
  sqlmesh/core/loader.py
  sqlmesh/core/macros.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  tests/core/test_integration.py
Due: python

Revert pydantic serialization change
  sqlmesh/utils/pydantic.py
Due: python

Update Audit query type as well
  sqlmesh/core/audit/definition.py
Due: python

Fixup
  examples/sushi/models/waiters.py
  sqlmesh/utils/pydantic.py
Due: python

Cleanup
  sqlmesh/utils/metaprogramming.py
Due: python

Bring back the serialization logic
  sqlmesh/utils/pydantic.py
Due: python

Fix typo
  sqlmesh/utils/pydantic.py
Due: python

Refactor, add unit test
  sqlmesh/core/audit/definition.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/utils/pydantic.py
  tests/core/test_model.py
Due: python
