Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Chore: Run ui style not only on main branch
  .circleci/continue_config.yml
Due: common

Chore: Run format to fix ui style (#4672)
  vscode/extension/tests/hints.spec.ts
Due: none

chore(vscode): add e2e test
  .github/workflows/pr.yaml
  vscode/extension/.gitignore
  vscode/extension/tests/utils.ts
Due: none

ci: adding testing to pr
  .github/dependabot.yml
  .github/workflows/pr.yaml
  vscode/extension/.gitignore
  vscode/extension/tests/utils.ts
Due: none

Chore: Run the UI linter on all branches, not just main (#4673)
  .circleci/continue_config.yml
Due: common

chore(vscode): add testing in gha (#4670)
  .github/dependabot.yml
  .github/workflows/pr.yaml
Due: none

chore: update node dependencies
  pnpm-lock.yaml
  vscode/extension/package.json
  vscode/react/package.json
  web/client/package.json
Due: client

chore: update node dependencies (#4677)
  pnpm-lock.yaml
  vscode/extension/package.json
  vscode/react/package.json
  web/client/package.json
Due: client

PR Feedback 1
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
Due: python

PR Feedback 2, various fixes and improvements
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
  tests/core/test_integration.py
Due: python

Add documentation
  docs/guides/configuration.md
  sqlmesh/core/context_diff.py
Due: python

Feat: Add plan option to always compare against prod
  sqlmesh/core/config/plan.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
  tests/core/test_integration.py
Due: python

Rename initial_environment
  sqlmesh/core/context_diff.py
Due: python

Switch impl to always_init_from_prod
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/plan.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  tests/core/test_integration.py
Due: python

Rename to always_recreate_environment, PR feedback 3
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/plan.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
  tests/core/test_integration.py
Due: python

Minor fixes
  sqlmesh/core/config/plan.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/core/plan/builder.py
Due: python

make style
  sqlmesh/core/linter/rules/builtin.py
Due: python

remove redundant logic
  sqlmesh/core/linter/rules/builtin.py
Due: python

refactor(vscode): centralise error handlers
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/errors.ts
Due: none

refactor(vscode): centralise error handlers (#4679)
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/errors.ts
Due: none

feat(vscode): gracefully handle not supported apis
  sqlmesh/lsp/custom.py
  sqlmesh/lsp/main.py
  vscode/extension/src/commands/renderModel.ts
  vscode/extension/src/lsp/custom.ts
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/errors.ts
Due: python

feat(vscode): gracefully handle not supported apis (#4678)
  sqlmesh/lsp/custom.py
  sqlmesh/lsp/main.py
  vscode/extension/src/commands/renderModel.ts
  vscode/extension/src/lsp/custom.ts
  vscode/extension/src/lsp/lsp.ts
  vscode/extension/src/utilities/errors.ts
Due: python

feat(vscode): move format functionality to lsp
  sqlmesh/lsp/custom.py
  sqlmesh/lsp/main.py
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/lsp/custom.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
  vscode/extension/tests/format.spec.ts
Due: python

Ensure plan option does not work if target env == create_from
  sqlmesh/core/context_diff.py
  tests/core/test_integration.py
Due: python

feat(vscode): move format functionality to lsp (#4681)
  sqlmesh/lsp/custom.py
  sqlmesh/lsp/main.py
  vscode/extension/src/commands/format.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/lsp/custom.ts
  vscode/extension/src/utilities/sqlmesh/sqlmesh.ts
  vscode/extension/tests/format.spec.ts
Due: python

Feat: Add plan option to always compare against prod (#4615)
  docs/guides/configuration.md
  docs/reference/configuration.md
  sqlmesh/core/config/plan.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  tests/core/test_integration.py
Due: python

Feat(lsp): Add support for find references for Model usages
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  tests/lsp/test_reference_macro.py
  tests/lsp/test_reference_macro_multi.py
  tests/lsp/test_reference_model_find_all.py
  vscode/extension/tests/find_references.spec.ts
Due: python

address comments; remove LSPBaseReference class
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  tests/lsp/test_reference.py
  tests/lsp/test_reference_cte.py
Due: python

Chore: Fix readme flag of always_recreate_environment
  docs/guides/configuration.md
Due: none

Chore: Fix readme flag of always_recreate_environment (#4682)
  docs/guides/configuration.md
Due: none

Chore: Remove obsolete warning when converting a dbt project
  sqlmesh/dbt/model.py
Due: python

fix test
  tests/dbt/test_transformation.py
Due: python

Chore: Remove obsolete warning when converting a dbt project (#4685)
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

feat: Add optional dependencies for azuresql-odbc and mssql-odbc
  pyproject.toml
Due: none

feat: Implement MSSQL engine import validator for driver configuration and add corresponding tests
  sqlmesh/core/config/connection.py
  tests/core/test_connection_config.py
Due: python

feat: Enhance MSSQL connection configuration with ODBC options and improve bulk copy handling
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/mssql.py
Due: python

feat: Update Azure SQL and MSSQL documentation to include ODBC authentication options
  docs/integrations/engines/azuresql.md
  docs/integrations/engines/mssql.md
Due: none

feat: Add tests for MSSQL connection configuration and parameter validation
  tests/core/test_connection_config.py
Due: python

Interactive project setup for sqlmesh init
  sqlmesh/cli/example_project.py
  sqlmesh/cli/main.py
Due: python

Feat(lsp): Add support for find and go to references for Model usages (#4680)
  sqlmesh/lsp/main.py
  sqlmesh/lsp/reference.py
  tests/lsp/test_reference.py
  tests/lsp/test_reference_cte.py
  tests/lsp/test_reference_macro.py
  tests/lsp/test_reference_macro_multi.py
  tests/lsp/test_reference_model_find_all.py
  vscode/extension/tests/find_references.spec.ts
Due: python
