Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Add hooks, macros, and tests file types (#494)
  web/server/api/endpoints/files.py
  web/server/models.py
  web/server/settings.py
  web/server/utils.py
Due: python

run sqlglot to parse sql
  web/client/src/library/components/editor/sqlglot.py
Due: client

fix case
  web/client/src/library/components/editor/sqlglot.py
Due: client

run sqlglot to parse sql
  .pre-commit-config.yaml
  web/client/.prettierignore
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/sqlglot.py
  web/client/src/library/components/editor/worker.ts
  web/client/src/library/components/ide/IDE.tsx
Due: client

remove redundunt type
  web/client/src/library/components/editor/sqlglot.py
Due: client

start code autocomplete for sqlmesh model
  web/client/src/api/index.ts
  web/client/src/context/fileTree.ts
  web/client/src/index.css
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/Editor.tsx
  web/client/tailwind.config.js
Due: client

add missing imports
  web/client/src/library/components/editor/Editor.tsx
Due: client

move code editor extensions to separate file
  web/client/src/library/components/editor/CodeEditor.tsx
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/extensions.ts
Due: client

switch to use Map for files
  web/client/src/context/fileTree.ts
  web/client/src/library/components/editor/Editor.tsx
Due: client

Add ability to initialize a target env from a different env
  sqlmesh/cli/main.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/magics.py
  tests/core/test_integration.py
  web/server/api/endpoints/plan.py
Due: python

Rename init_from to create_from
  sqlmesh/cli/main.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/magics.py
  tests/core/test_integration.py
Due: python

Indicate a default value for create_from in CLI/magics
  sqlmesh/cli/main.py
  sqlmesh/magics.py
Due: python

Add ability to initialize a target env from a base env (#512)
  sqlmesh/cli/main.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/context_diff.py
  sqlmesh/magics.py
  tests/core/test_integration.py
  web/server/api/endpoints/plan.py
Due: python

fix: Remove the 'from' argument from the plan command
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

fix: Remove the 'from' argument from the plan command (#517)
  docs/reference/cli.md
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

fix: Implement the to_sqlmesh method for dbt targets that are currently supported in sqlmesh
  sqlmesh/core/config/__init__.py
  sqlmesh/dbt/target.py
Due: python

fix: Implement the to_sqlmesh method for dbt targets that are currently supported in sqlmesh (#518)
  sqlmesh/core/config/__init__.py
  sqlmesh/dbt/target.py
Due: python

Add support for various DBT macros
  sqlmesh/dbt/__init__.py
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  sqlmesh/magics.py
  sqlmesh/utils/jinja.py
  sqlmesh/utils/yaml.py
  tests/dbt/test_transformation.py
  tests/utils/test_yaml.py
Due: python

Add support for various DBT macros (#519)
  sqlmesh/dbt/__init__.py
  sqlmesh/dbt/adapter.py
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/model.py
  sqlmesh/magics.py
  sqlmesh/utils/jinja.py
  sqlmesh/utils/yaml.py
  tests/dbt/test_transformation.py
  tests/utils/test_yaml.py
Due: python

Don't prompt for the start date when a plan targets the prod environment
  sqlmesh/core/console.py
  sqlmesh/core/plan/definition.py
Due: python

Improve prod plan start validation
  sqlmesh/core/plan/definition.py
  tests/conftest.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/schedulers/airflow/test_end_to_end.py
Due: python

Don't prompt for the start date when a plan targets the prod environment (#520)
  sqlmesh/core/console.py
  sqlmesh/core/plan/definition.py
  tests/conftest.py
  tests/core/test_context.py
  tests/core/test_integration.py
  tests/core/test_plan.py
  tests/schedulers/airflow/test_end_to_end.py
Due: python

Cache the Jinja Environment instance in DBT context
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/target.py
  sqlmesh/utils/__init__.py
  tests/dbt/test_adapter.py
Due: python

Cache the Jinja Environment instance in DBT context (#521)
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/common.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/profile.py
  sqlmesh/dbt/target.py
  sqlmesh/utils/__init__.py
  tests/dbt/test_adapter.py
Due: python

Improve readability of the discover_engine_operator function
  sqlmesh/schedulers/airflow/util.py
Due: python

Pass jinja_globals into the parsetime adapter when creating builtins
  sqlmesh/dbt/builtin.py
Due: python

Add support for key-value arguments to the DBT's sqlmesh_config
  examples/sushi_dbt/config.py
  sqlmesh/dbt/loader.py
Due: python

Pass test engine adapter when running tests from CLI
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
Due: python

simplify readme
  README.md
  docs/community.md
  docs/quick_start.md
  mkdocs.yml
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile
