Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: Use correct attribute to fetch the dialect from a dbt target
  sqlmesh/dbt/builtin.py
Due: python

Fix: Use correct attribute to fetch the dialect from a dbt target (#2953)
  sqlmesh/dbt/builtin.py
Due: python

Lazy load images in docs pages
  docs/guides/observer.md
  docs/guides/ui.md
  docs/quickstart/notebook.md
  docs/quickstart/ui.md
  mkdocs.yml
Due: none

Fix: Use a distinct name for the dbt manifest cache file
  sqlmesh/dbt/manifest.py
Due: python

Fix: Use a distinct name for the dbt manifest cache file (#2955)
  sqlmesh/dbt/manifest.py
Due: python

Docs: lazy load images (#2954)
  docs/guides/observer.md
  docs/guides/ui.md
  docs/quickstart/notebook.md
  docs/quickstart/ui.md
  mkdocs.yml
Due: none

Fix: Load external model yaml in subdirs of external_models dir
  examples/sushi/external_models/model1/model1.yaml
  examples/sushi/external_models/model2/model2.yaml
  sqlmesh/core/loader.py
Due: python

Fix: Load external model yaml in subdirs of external_models dir (#2956)
  examples/sushi/external_models/model1/model1.yaml
  examples/sushi/external_models/model2/model2.yaml
  sqlmesh/core/loader.py
Due: python

deduplicate macro
  sqlmesh/core/macros.py
Due: python

fix test for deduplicate
  sqlmesh/core/macros.py
Due: python

Chore!: Refactor how engine adapter integration tests are run (#2926)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/install-prerequisites.sh
  .circleci/manage-test-db.sh
  .circleci/wait-for-db.sh
  .gitignore
  Makefile
  setup.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/docker-compose.yaml
  tests/core/engine_adapter/docker/_common-hive.yaml
  tests/core/engine_adapter/docker/compose.mssql.yaml
  tests/core/engine_adapter/docker/compose.mysql.yaml
  tests/core/engine_adapter/docker/compose.postgres.yaml
  tests/core/engine_adapter/docker/compose.spark.yaml
  tests/core/engine_adapter/docker/compose.trino.yaml
  tests/core/engine_adapter/docker/init-metastore-db.sql
  tests/core/engine_adapter/docker/spark/Dockerfile
  tests/core/engine_adapter/docker/spark/conf/hive-site.xml
  tests/core/engine_adapter/docker/spark/conf/spark-defaults.conf
  tests/core/engine_adapter/docker/trino/catalog/datalake.properties
  tests/core/engine_adapter/docker/trino/catalog/datalake_delta.properties
  tests/core/engine_adapter/docker/trino/catalog/datalake_iceberg.properties
  tests/core/engine_adapter/docker/trino/catalog/testing.properties
  tests/core/engine_adapter/test_integration.py
Due: python, common

use builder method
  sqlmesh/core/macros.py
Due: python

Fix spark tests
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

Chore!: bump sqlglot to v25.8.0
  setup.py
Due: python

Warn about using databricks as a state engine
  docs/integrations/engines/databricks.md
Due: none

Add databricks connection quickstart
  docs/integrations/engines/databricks.md
  docs/integrations/engines/databricks/db-guide_access-tokens-generate-button.png
  docs/integrations/engines/databricks/db-guide_access-tokens-generate.png
  docs/integrations/engines/databricks/db-guide_access-tokens-link.png
  docs/integrations/engines/databricks/db-guide_advanced-options.png
  docs/integrations/engines/databricks/db-guide_compute-advanced-options-link.png
  docs/integrations/engines/databricks/db-guide_compute-create.png
  docs/integrations/engines/databricks/db-guide_compute.png
  docs/integrations/engines/databricks/db-guide_config-yaml.png
  docs/integrations/engines/databricks/db-guide_copy-server-http.png
  docs/integrations/engines/databricks/db-guide_copy-token.png
  docs/integrations/engines/databricks/db-guide_default-gateway.png
  docs/integrations/engines/databricks/db-guide_profile-settings-developer.png
  docs/integrations/engines/databricks/db-guide_profile-settings-link.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-no-warning.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-succeeded.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info-warning.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-info.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-plan-objects.png
  docs/integrations/engines/databricks/db-guide_sqlmesh-plan.png
  docs/integrations/engines/databricks/db-guide_state-connection.png
  docs/integrations/engines/databricks/db-guide_workspace.png
Due: none

Move py library info to top, expand secret warnings
  docs/integrations/engines/databricks.md
Due: none

rough draft for date_spine
  sqlmesh/core/macros.py
Due: python

Ensure databricks-connect is actually installed before running Databricks tests
  .circleci/install-prerequisites.sh
  Makefile
  tests/core/engine_adapter/config.yaml
Due: python, common

Chore!: Ensure databricks-connect is actually installed before running Databricks tests (#2961)
  .circleci/install-prerequisites.sh
  Makefile
  tests/core/engine_adapter/config.yaml
Due: python, common

Chore!: bump sqlglot to v25.8.0 (#2959)
  setup.py
  sqlmesh/core/engine_adapter/spark.py
  tests/core/engine_adapter/test_spark.py
Due: python

address comments
  sqlmesh/core/macros.py
Due: python

fix test
  sqlmesh/core/macros.py
Due: python

Fix!: Handle lookback correctly on incremental models with an end date defined
  sqlmesh/core/snapshot/definition.py
  tests/core/test_snapshot.py
Due: python

Correct airflow state connection info
  docs/guides/configuration.md
  docs/integrations/airflow.md
Due: none

Docs: correct airflow state connection info in configuration guide (#2963)
  docs/guides/configuration.md
  docs/integrations/airflow.md
Due: none

Minor FAQ updates
  docs/faq/faq.md
  docs/integrations/engines/bigquery.md
Due: none

Docs: minor FAQ updates (#2964)
  docs/faq/faq.md
  docs/integrations/engines/bigquery.md
Due: none

Chore: bump sqlglot to v25.8.1
  setup.py
Due: python
