Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common, vscode

Rename pre-check migration script
  sqlmesh/migrations/v0089_add_pre_check_version.py
Due: python

Feat!: cancel submitted BigQuery jobs on keyboard interrupts
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Refactor: cancel jobs on `close()`
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Clear query_jobs set on `close()`
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

Refactor
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

PR feedback: use try/except to avoid failing when cancelling a job
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

adjust intervals based on force rebuild at runtime
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/common.py
  sqlmesh/core/plan/stages.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_integration.py
  tests/core/test_plan_stages.py
  tests/core/test_snapshot.py
Due: python

Refactor to fetch all jobs across all threads
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/utils/connection_pool.py
Due: python

fix model kind change edge case
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

Feat!: Dev-only VDE mode (#5087)
  docs/guides/configuration.md
  docs/reference/configuration.md
  examples/sushi/config.py
  sqlmesh/core/config/common.py
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/redshift.py
  sqlmesh/core/engine_adapter/shared.py
  sqlmesh/core/loader.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/plan/builder.py
  sqlmesh/core/plan/common.py
  sqlmesh/core/plan/stages.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/model.py
  sqlmesh/dbt/seed.py
  sqlmesh/migrations/v0088_add_virtual_environment_mode.py
  tests/conftest.py
  tests/core/engine_adapter/test_athena.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_databricks.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/engine_adapter/test_redshift.py
  tests/core/engine_adapter/test_spark.py
  tests/core/state_sync/test_state_sync.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_plan.py
  tests/core/test_plan_stages.py
  tests/core/test_snapshot.py
  tests/core/test_snapshot_evaluator.py
  tests/core/test_test.py
Due: python

Fix: Migration script name
  sqlmesh/migrations/v0089_add_virtual_environment_mode.py
Due: python

Feat: Re-introduce merge for updating auto restatements
  sqlmesh/core/engine_adapter/postgres.py
  tests/core/engine_adapter/test_postgres.py
Due: python

Show server_version
  sqlmesh/core/engine_adapter/postgres.py
  tests/core/engine_adapter/test_postgres.py
Due: python

Revert "Fix: Revert "Fix: Use merge when updating auto restatements (#5016)" (#5108)"
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

Add an integration test
  sqlmesh/core/engine_adapter/postgres.py
  tests/core/engine_adapter/integration/test_integration_postgres.py
Due: python

Feat: Re-introduce merge for updating auto restatements (#5112)
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/state_sync/db/snapshot.py
  tests/core/engine_adapter/integration/test_integration_postgres.py
  tests/core/engine_adapter/test_postgres.py
Due: python

Introduce GCP Postgers integration tests
  .circleci/continue_config.yml
  .circleci/manage-test-db.sh
  Makefile
  sqlmesh/core/config/connection.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

PR feedback
  .circleci/manage-test-db.sh
Due: common

Chore: GCP Postgres integration tests (#5143)
  .circleci/continue_config.yml
  .circleci/manage-test-db.sh
  Makefile
  sqlmesh/core/config/connection.py
  tests/core/engine_adapter/integration/__init__.py
  tests/core/engine_adapter/integration/config.yaml
  tests/core/engine_adapter/integration/test_integration.py
Due: python, common

Factor out much of the vibe code
  .circleci/continue_config.yml
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/fabric.py
  tests/conftest.py
  tests/core/engine_adapter/test_fabric.py
Due: python, common

Fix: Use drop cascade in janitor
  sqlmesh/core/engine_adapter/athena.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration_postgres.py
  tests/core/test_snapshot_evaluator.py
Due: python

Feat!: cancel submitted BigQuery jobs on keyboard interrupts (#4979)
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/utils/connection_pool.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

Revert: Partial restatements for scd type 2 models
  docs/concepts/models/model_kinds.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

add model name in the error message
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

Chore: Validate start and end dates during plan build time
  sqlmesh/core/context.py
  tests/core/test_context.py
Due: python

pr feedback
  sqlmesh/core/context.py
  sqlmesh/core/plan/builder.py
  tests/core/test_context.py
Due: python

Chore: Validate start and end dates during plan build time (#5100)
  sqlmesh/core/plan/builder.py
  tests/core/test_context.py
Due: python

Revert: Partial restatements for SCD type 2 models (#5138)
  docs/concepts/models/model_kinds.md
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/scheduler.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/integration/test_integration.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_integration.py
  tests/core/test_model.py
  tests/core/test_snapshot_evaluator.py
Due: python

chore(vscode): fix test stability
  vscode/extension/tests/quickfix.spec.ts
Due: none

chore(vscode): fix test stability (#5145)
  vscode/extension/tests/quickfix.spec.ts
Due: none

feat(vscode): adding validation to config
  vscode/extension/src/utilities/config.ts
Due: none

feat(vscode): adding validation to config (#5126)
  vscode/extension/src/utilities/config.ts
Due: none

Chore!: Optimize snapshot unpausing
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/utils.py
  sqlmesh/migrations/v0090_add_forward_only_column.py
  tests/core/state_sync/test_state_sync.py
Due: python

Revert "Chore!: Optimize snapshot unpausing"
  sqlmesh/core/state_sync/db/facade.py
  sqlmesh/core/state_sync/db/migrator.py
  sqlmesh/core/state_sync/db/snapshot.py
  sqlmesh/core/state_sync/db/utils.py
  sqlmesh/migrations/v0090_add_forward_only_column.py
  tests/core/state_sync/test_state_sync.py
Due: python

fix: selector use provided models and fix mypy
  sqlmesh/core/selector.py
Due: python

unrestorable by (name, version)
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

improve comment
  sqlmesh/core/state_sync/db/snapshot.py
Due: python

Chore!: bump sqlglot to v27.7.0
  pyproject.toml
Due: python

Fix: Skip cleanup of missing physical tables
  sqlmesh/core/snapshot/evaluator.py
  tests/core/test_snapshot_evaluator.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py|pyproject.toml)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
  vscode: any of: vscode/extensions/.*
