Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Remove cloud port env var guard from makefile clickhouse-cloud-test
  Makefile
Due: common

Update tests
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_integration.py
Due: python

Revert table-specific cluster kwargs
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/duckdb.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Handle nullable types in to_time_column()
  sqlmesh/utils/date.py
Due: python

Add LogicalMergeMixin, bugfixes
  sqlmesh/core/engine_adapter/clickhouse.py
Due: python

Automatically set join_use_nulls to on when connecting
  sqlmesh/core/config/connection.py
Due: python

Use kind=DATABASE even though sqlglot transpiles
  sqlmesh/core/engine_adapter/clickhouse.py
Due: python

Add more connection configuration args
  sqlmesh/core/config/connection.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_connection_config.py
Due: python

Update clickhouse on cluster tests
  tests/core/engine_adapter/test_clickhouse.py
Due: python

Fix query integration SCD test
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
Due: python

Add cluster mode
  .circleci/continue_config.yml
  Makefile
  pytest.ini
  setup.py
  sqlmesh/core/engine_adapter/clickhouse.py
  tests/conftest.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/test_base_postgres.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_integration.py
Due: python, common

Make automatic ordering configurable
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/snapshot/evaluator.py
Due: python

Exclude time column from partitioned_by based on dialect
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/evaluator.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_integration.py
  tests/core/test_snapshot_evaluator.py
Due: python

test: refactor tests to handle all 3 cases
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Test all engines
  .circleci/continue_config.yml
Due: common

Update create_table_like signatures
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
Due: python

Revert CI testing changes
  .circleci/continue_config.yml
Due: common

fix: rename keyword argument
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Feat!: add clickhouse engine adapter (#3019)
  .circleci/continue_config.yml
  .circleci/wait-for-db.sh
  Makefile
  examples/sushi/models/raw_marketing.py
  pytest.ini
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/dialect.py
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/engine_adapter/clickhouse.py
  sqlmesh/core/engine_adapter/databricks.py
  sqlmesh/core/engine_adapter/mixins.py
  sqlmesh/core/engine_adapter/mssql.py
  sqlmesh/core/engine_adapter/mysql.py
  sqlmesh/core/engine_adapter/postgres.py
  sqlmesh/core/engine_adapter/shared.py
  sqlmesh/core/engine_adapter/snowflake.py
  sqlmesh/core/engine_adapter/spark.py
  sqlmesh/core/engine_adapter/trino.py
  sqlmesh/core/model/meta.py
  tests/conftest.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/docker/clickhouse/config.xml
  tests/core/engine_adapter/docker/clickhouse/keeper.xml
  tests/core/engine_adapter/docker/compose.clickhouse.yaml
  tests/core/engine_adapter/test_base.py
  tests/core/engine_adapter/test_base_postgres.py
  tests/core/engine_adapter/test_clickhouse.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_spark.py
  tests/core/test_connection_config.py
Due: python, common

fix: properly assert output file content
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Fix: Prepopulate the model's depends on in-memory cache for converted dbt models
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

Fix: Support for unique key expressions for SCD2 by column models
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
Due: python

fix: always provide feedback during plan execution (#3071)
  sqlmesh/core/state_sync/engine_adapter.py
  sqlmesh/integrations/github/cicd/command.py
  sqlmesh/utils/errors.py
  tests/integrations/github/cicd/test_github_commands.py
Due: python

Fix: Support for unique key expressions for SCD2 by column models (#3075)
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_base.py
Due: python

Fix: Prepopulate the model's depends on in-memory cache for converted dbt models (#3074)
  sqlmesh/dbt/model.py
  tests/dbt/test_config.py
Due: python

Reset app dependency overrides in web test fixtures
  tests/web/conftest.py
Due: python

Create FastAPI test client in a fixture for web lineage tests
  tests/web/test_lineage.py
Due: python

Remove return types of fixtures
  tests/web/conftest.py
Due: python

feat: use multiprocessing to speed up loading
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
  sqlmesh/core/renderer.py
Due: python

Chore: Isolate web tests (#3076)
  tests/web/conftest.py
  tests/web/test_lineage.py
Due: python

chore: update SQLMesh and Tobiko logos to the new style in header and favicon
  web/client/index.html
  web/client/openapi.json
  web/client/public/favicons/favicon.ico
  web/client/public/favicons/favicon.svg
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/library/pages/root/Header.tsx
Due: client

not this file
  web/client/openapi.json
Due: client

ignore the favicon svg for prettier
  web/client/.prettierignore
Due: client

Cosmetic refactor
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
Due: python

chore: update SQLMesh and Tobiko logos to the new style in header and favicon (#3079)
  web/client/.prettierignore
  web/client/index.html
  web/client/public/favicons/favicon.ico
  web/client/public/favicons/favicon.svg
  web/client/src/library/components/logo/SqlMesh.tsx
  web/client/src/library/components/logo/Tobiko.tsx
  web/client/src/library/pages/root/Header.tsx
Due: client

Chore!: bump sqlglot to v25.19.0
  setup.py
Due: python

Cosmetic refactor (#3081)
  sqlmesh/core/loader.py
  sqlmesh/core/model/cache.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
