Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

assign corrent error key
  web/client/src/api/index.ts
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/context.tsx
  web/server/watcher.py
Due: client, python

add isTimeout to timeout hook to track
  web/client/src/api/index.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
Due: client

Update context.tsx
  web/client/src/library/pages/ide/context.tsx
Due: client

remove error duplicate when applying plan
  web/client/src/api/index.ts
  web/client/src/library/components/plan/Plan.tsx
Due: client

abstract request with timeout + add debouncing by default
  web/client/src/App.tsx
  web/client/src/api/index.ts
  web/client/src/api/instance.ts
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/main.tsx
  web/client/src/utils/index.ts
Due: client

make status optional for error payload
  web/client/openapi.json
  web/client/src/api/index.ts
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/models/environment.ts
  web/server/models.py
Due: client, python

Fix: Timeout request after 10s by default (#1225)
  web/client/openapi.json
  web/client/src/App.tsx
  web/client/src/api/index.ts
  web/client/src/api/instance.ts
  web/client/src/library/components/editor/EditorCode.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/fileExplorer/context.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/plan/Plan.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/library/pages/ide/context.tsx
  web/client/src/main.tsx
  web/client/src/models/environment.ts
  web/client/src/routes.tsx
  web/client/src/utils/index.ts
  web/server/models.py
  web/server/watcher.py
Due: client, python

remove console for errors and push all errors to top level
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/pages/editor/Editor.tsx
Due: client

add: mssql connection
  sqlmesh/core/config/__init__.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/__init__.py
Due: python

fix: index support in engine
  sqlmesh/core/engine_adapter/__init__.py
  sqlmesh/core/engine_adapter/mssql.py
Due: python

remove console for errors and push all errors to top level (#1255)
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/table/Table.tsx
  web/client/src/library/pages/editor/Editor.tsx
Due: client

Chore: Warn by default if the error occurs during the schema creation (#1256)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

Fix: Pass sleep generator parameters directly into the Retry instance in the BigQuery adapter
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

Fix: Implement richless Databricks console for Model Creation (#1250)
  sqlmesh/core/console.py
Due: python

add: mssql tests
  tests/core/engine_adapter/test_mssql.py
Due: python

add: mssql install support
  setup.py
Due: python

fix: extraneous mysql change
  sqlmesh/core/config/connection.py
Due: python

fix: MsSqlConnectionConfig default port type
  sqlmesh/core/config/connection.py
Due: python

Fix: Pass sleep generator parameters directly into the Retry instance in the BigQuery adapter (#1257)
  sqlmesh/core/engine_adapter/bigquery.py
Due: python

fix: ci checks
  setup.cfg
  setup.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/engine_adapter/mssql.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Chore: Warn by default if the error occurs during the schema creation
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_duckdb.py
Due: python

fix: DataObject type ignore
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Feat: Allow schema override in configuration for dbt projects
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/dbt/test_manifest.py
Due: python

fix: _get_data_objects types
  sqlmesh/core/engine_adapter/mssql.py
Due: python

DRY up audit error messages and add model to audit result
  sqlmesh/core/audit/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/errors.py
Due: python

DRY up audit error messages and add model to audit result (#1260)
  sqlmesh/core/audit/definition.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/errors.py
Due: python

Address comments
  sqlmesh/dbt/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/project.py
Due: python

Fix: Rendering of a model definition with table properties specified
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Address comments
  sqlmesh/core/model/definition.py
Due: python

Fix: Rendering of a model definition with table properties specified (#1261)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Feat: Make default target environment configurable
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
Due: python

Use dbt variables to override target's schema
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
  sqlmesh/dbt/loader.py
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/project.py
  tests/dbt/test_config.py
  tests/dbt/test_manifest.py
  tests/fixtures/dbt/sushi_test/dbt_project.yml
  tests/fixtures/dbt/sushi_test/profiles.yml
Due: python

Feat: Make default target environment configurable (#1262)
  sqlmesh/core/config/root.py
  sqlmesh/core/context.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
