Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: Categorization of forward-only snapshots after rebasing (#1703)
  sqlmesh/core/plan/definition.py
Due: python

Fix: Discard file changes file after closing tab (#1702)
  web/client/src/context/editor.ts
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/models/file.ts
Due: client

Chore!: bump sqlglot to v19.4.0
  setup.py
Due: python

Fix: No gaps check for non-representative snapshots
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_plan.py
Due: python

Chore!: bump sqlglot to v19.4.0 (#1706)
  setup.py
Due: python

Chore: Simplify the error message. Make it more actionable
  sqlmesh/core/plan/definition.py
  tests/core/test_plan.py
Due: python

handle win path for models and files
  web/client/src/context/context.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/models/artifact.posix.spec.ts
  web/client/src/models/artifact.ts
  web/client/src/models/artifact.win.spec.ts
  web/client/src/models/directory.posix.spec.ts
  web/client/src/models/directory.ts
  web/client/src/models/directory.win.spec.ts
  web/client/src/models/file.ts
  web/client/src/utils/index.ts
  web/server/api/endpoints/files.py
Due: client, python

Address comments
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_state_sync.py
Due: python

remove patch to handle url with dot
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/vite.config.ts
Due: client

Fix: No gaps check for non-representative snapshots (#1704)
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/common.py
  sqlmesh/schedulers/airflow/common.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/plan.py
  sqlmesh/schedulers/airflow/state_sync.py
  tests/core/test_state_sync.py
  tests/schedulers/airflow/test_plan.py
Due: python

Fix: Handle windows path for models and files (#1707)
  web/client/src/context/context.ts
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/models/artifact.posix.spec.ts
  web/client/src/models/artifact.ts
  web/client/src/models/artifact.win.spec.ts
  web/client/src/models/directory.posix.spec.ts
  web/client/src/models/directory.ts
  web/client/src/models/directory.win.spec.ts
  web/client/src/utils/index.ts
  web/server/api/endpoints/files.py
Due: client, python

Chore: Remove patch to handle url with dot (#1708)
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/Docs.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/models/sqlmesh-model.ts
  web/client/vite.config.ts
Due: client

PR feedback
  sqlmesh/core/engine_adapter/mssql.py
Due: python

chore: update testing docs to show overriding time macros
  docs/concepts/tests.md
Due: none

Fix tztext removal
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Fix: not all queries are renderable
  web/server/api/endpoints/models.py
Due: python

Update mssql tests for new sqlglot version
  tests/core/engine_adapter/test_mssql.py
Due: python

Fix: not all queries are renderable (#1710)
  web/server/api/endpoints/models.py
Due: python

Cast back to timestamp
  sqlmesh/core/engine_adapter/mssql.py
Due: python

remove duplicate request to lineage
  web/client/src/library/components/editor/Editor.tsx
  web/client/src/library/components/editor/EditorPreview.tsx
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/library/components/plan/PlanChangePreview.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/library/pages/docs/SourceList.tsx
  web/client/src/models/tracker-plan.ts
  web/server/api/endpoints/plan.py
Due: client, python

Don't modify in place
  sqlmesh/core/engine_adapter/mssql.py
Due: python

Fix: Make sure there is only one copy of a new snapshot with the same ID when migration snapshot rows
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fix: Make sure there is only one copy of a new snapshot with the same ID when migration snapshot rows (#1712)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fix: Sanitize the snapshot name when generating an Airflow DAG ID
  sqlmesh/schedulers/airflow/common.py
  tests/schedulers/airflow/test_common.py
Due: python

Fix: Sanitize the snapshot name when generating an Airflow DAG ID (#1713)
  sqlmesh/schedulers/airflow/common.py
  tests/schedulers/airflow/test_common.py
Due: python

Fix!: remove auto expansion in render of unpushed snapshots
  sqlmesh/core/renderer.py
  tests/core/test_context.py
  tests/core/test_model.py
Due: python

fix: improve performance of fetching the cache by using a simpler sql gen method
  sqlmesh/core/model/cache.py
Due: python

Redshift does not support CTAS if not exists
  examples/sushi/models/customers.sql
Due: python

Test table properties inline
  examples/sushi/models/items.py
  tests/core/test_model.py
Due: python

fix: improve performance of fetching the cache by using a simpler sql gen method (#1716)
  sqlmesh/core/model/cache.py
Due: python
