Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Fix: Warn when failed to cleanup environment schemas / views (#1597)
  sqlmesh/core/state_sync/common.py
Due: python

chore: update tests to use new db dev env
  tests/core/engine_adapter/test_integration.py
Due: python

chore: update tests to use new db dev env (#1598)
  tests/core/engine_adapter/test_integration.py
Due: python

Fix: time format filtering for dates and timestamp
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: time format filtering for dates and timestamp (#1599)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix!: move cron to metadata hash
  setup.py
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_snapshot.py
Due: python

Fix!: move cron to metadata hash (#1600)
  setup.py
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/test_mssql.py
  tests/core/test_snapshot.py
Due: python

fix!: remove most fields from dbt target
  sqlmesh/dbt/target.py
  sqlmesh/migrations/v0031_remove_dbt_target_fields.py
  tests/dbt/test_transformation.py
Due: python

chore: update docs to only deploy on merge to main
  docs/integrations/github.md
Due: none

chore: update docs to only deploy on merge to main (#1602)
  docs/integrations/github.md
Due: none

fix!: remove most fields from dbt target (#1601)
  sqlmesh/dbt/target.py
  sqlmesh/migrations/v0031_remove_dbt_target_fields.py
  tests/dbt/test_transformation.py
Due: python

Fix: Register source and ref dependencies from macros
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/package.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_manifest.py
Due: python

Cannot reuses call_name to get arg names
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/jinja.py
  web/client/openapi.json
Due: client, python

restore openapi.json
  web/client/openapi.json
Due: client

cleanup
  tests/dbt/test_manifest.py
  web/client/openapi.json
Due: client, python

Resolve PR feedback
  sqlmesh/dbt/manifest.py
  sqlmesh/utils/jinja.py
  tests/dbt/test_manifest.py
  tests/utils/test_jinja.py
Due: python

chore: include schema version in cache key
  sqlmesh/utils/cache.py
Due: python

stringval is a literal
  tests/utils/test_jinja.py
Due: python

Fix: Register source and ref dependencies from macros (#1588)
  sqlmesh/dbt/manifest.py
  sqlmesh/dbt/package.py
  sqlmesh/utils/jinja.py
  tests/utils/test_jinja.py
Due: python

Fix: Get dbt types without all config fields present
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/target.py
Due: python

classproperty and tests
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/target.py
  tests/dbt/test_config.py
Due: python

Fix: Get dbt classes without all config fields present (#1605)
  sqlmesh/dbt/builtin.py
  sqlmesh/dbt/target.py
  tests/dbt/test_config.py
Due: python

Output log and print macros during dbt project parsing
  sqlmesh/dbt/builtin.py
Due: python

Fix: jinja root macro override order
  sqlmesh/utils/jinja.py
Due: python

add better autocomplete for models and columns
  web/client/src/index.css
  web/client/src/library/components/editor/Editor.css
  web/client/src/library/components/editor/EditorFooter.tsx
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
  web/client/src/library/components/graph/Graph.tsx
Due: client

Enable logging
  sqlmesh/dbt/builtin.py
Due: python

No need to update log and print dynamically
  sqlmesh/dbt/builtin.py
Due: python

Use logger for dbt log, print, and warn methods
  sqlmesh/dbt/builtin.py
  tests/dbt/test_transformation.py
Due: python

clean up
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
Due: client

Fix: improve detection of mocked star column
  sqlmesh/core/macros.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/renderer.py
Due: python

Fix typo
  sqlmesh/core/renderer.py
Due: python

allow dot trigger full list in case of model columns
  web/client/src/library/components/editor/extensions/SQLMeshDialect.ts
Due: client

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
