Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

.circleci/config.yml:

version: 2.1

setup: true

on_tag_filter: &on_tag_filter
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.+/

orbs:
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  publish:
    docker:
      - image: cimg/python:3.10
    resource_class: small
    steps:
      - checkout
      - attach_workspace:
          at: web/client
      - run:
          name: Publish Python package
          command: make publish

  gh-release:
    docker:
      - image: cimg/node:16.14
    resource_class: small
    steps:
      - run:
          name: Create release on GitHub
          command: |
            GITHUB_TOKEN="$GITHUB_TOKEN" \
            TARGET_TAG="$CIRCLE_TAG" \
            REPO_OWNER="$CIRCLE_PROJECT_USERNAME" \
            REPO_NAME="$CIRCLE_PROJECT_REPONAME" \
            CONTINUE_ON_ERROR="false" \
            npx https://github.com/TobikoData/circleci-gh-conventional-release

  ui-build:
    docker:
      - image: cimg/node:19.8
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Install packages
          command: npm --prefix web/client ci
      - run:
          name: Build UI
          command: npm --prefix web/client run build
      - persist_to_workspace:
          root: web/client
          paths:
            - dist

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            web/client/.* client true
            (sqlmesh|tests|examples|web/server)/.* python true
            pytest.ini|setup.cfg|setup.py python true
            \.circleci/.*|Makefile|\.pre-commit-config\.yaml common true

      - gh-release:
          <<: *on_tag_filter
      - ui-build:
          <<: *on_tag_filter
          requires:
            - gh-release
      - publish:
          <<: *on_tag_filter
          requires:
            - ui-build

Fix: set DataFrame column names explicitly in unit tests (#1798)
  sqlmesh/core/test/definition.py
  tests/core/test_test.py
Due: python

Remove redshift from sushi dbt profile
  examples/sushi_dbt/profiles.yml
Due: python

Add column modification to partitioned_by
  docs/concepts/models/overview.md
Due: none

Pin pytest-asyncio
  setup.py
Due: python

Add observer guide
  docs/guides/observer.md
  docs/guides/observer/observer_chart-hover.png
  docs/guides/observer/observer_chart-scale-selector.png
  docs/guides/observer/observer_chart-time-selector.png
  docs/guides/observer/observer_cli.png
  docs/guides/observer/observer_dashboard-components.png
  docs/guides/observer/observer_dashboard.png
  docs/guides/observer/observer_environments-info-1.png
  docs/guides/observer/observer_environments-info-2.png
  docs/guides/observer/observer_environments-info-3.png
  docs/guides/observer/observer_environments-info-prod-diff.png
  docs/guides/observer/observer_environments-landing.png
  docs/guides/observer/observer_key-file.png
  docs/guides/observer/observer_model-information-1.png
  docs/guides/observer/observer_model-information-2.png
  docs/guides/observer/observer_model-information-3.png
  docs/guides/observer/observer_model-information-4.png
  docs/guides/observer/observer_plans-information.png
  docs/guides/observer/observer_plans-list.png
  docs/guides/observer/observer_plans-text-diff.png
  mkdocs.yml
Due: none

Pin pytest-asyncio (#1802)
  setup.py
Due: python

Small type fixed.
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Wordsmith
  docs/concepts/models/overview.md
Due: none

Chore(docs): add column modification example to partitioned_by (#1801)
  docs/concepts/models/overview.md
Due: none

Small type fixed. (#1804)
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Add table chart toggle, sqlmesh observe command
  docs/guides/observer.md
  docs/guides/observer/observer_cli.png
  docs/guides/observer/observer_table-chart-toggle.png
Due: none

Optimize image
  docs/guides/observer/observer_table-chart-toggle.png
Due: none

feat: redshift plan parsing to address ctas varchar(1) bug
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Fix: The hadoop distro link in the airflow docker image
  examples/airflow/Dockerfile.template
Due: python

feat: redshift plan parsing to address ctas varchar(1) bug (#1797)
  sqlmesh/core/engine_adapter/base.py
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_integration.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Only update updated environments during migration
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Fix encode model names for lineage and wrong layer order for errors popup
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/modal/Modal.tsx
  web/client/src/library/components/modal/ModalDrawer.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/editor/Editor.tsx
Due: client

Fix encode model names for lineage and wrong layer order for errors popup (#1806)
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/modal/Modal.tsx
  web/client/src/library/components/modal/ModalDrawer.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/editor/Editor.tsx
Due: client

Docs: add observer guide (#1803)
  docs/guides/observer.md
  docs/guides/observer/observer_chart-hover.png
  docs/guides/observer/observer_chart-scale-selector.png
  docs/guides/observer/observer_chart-time-selector.png
  docs/guides/observer/observer_cli.png
  docs/guides/observer/observer_dashboard-components.png
  docs/guides/observer/observer_dashboard.png
  docs/guides/observer/observer_environments-info-1.png
  docs/guides/observer/observer_environments-info-2.png
  docs/guides/observer/observer_environments-info-3.png
  docs/guides/observer/observer_environments-info-prod-diff.png
  docs/guides/observer/observer_environments-landing.png
  docs/guides/observer/observer_key-file.png
  docs/guides/observer/observer_model-information-1.png
  docs/guides/observer/observer_model-information-2.png
  docs/guides/observer/observer_model-information-3.png
  docs/guides/observer/observer_model-information-4.png
  docs/guides/observer/observer_plans-information.png
  docs/guides/observer/observer_plans-list.png
  docs/guides/observer/observer_plans-text-diff.png
  docs/guides/observer/observer_table-chart-toggle.png
  mkdocs.yml
Due: none

Document dbt runtime vars
  docs/integrations/dbt.md
Due: none

dbt test is supported
  docs/integrations/dbt.md
Due: none

Fix: Skip null macro dependencies when extracting macro references from the dbt manifest
  sqlmesh/dbt/manifest.py
Due: python

PR feedback
  docs/integrations/dbt.md
Due: none

Fix: Skip null macro dependencies when extracting macro references from the dbt manifest (#1808)
  sqlmesh/dbt/manifest.py
Due: python

Chore(docs): document dbt runtime vars (#1807)
  docs/integrations/dbt.md
Due: none

fix(redshift): cast the children of aliases
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_redshift.py
Due: python

fix(redshift): cast the children of aliases (#1809)
  sqlmesh/core/engine_adapter/redshift.py
  tests/core/engine_adapter/test_redshift.py
Due: python

Chore: Override the str representation of ExecutableKind
  sqlmesh/utils/metaprogramming.py
Due: python

Fix: Reduce the default dataframe batch size for the postgres engine adapter
  sqlmesh/core/engine_adapter/base_postgres.py
Due: python
