Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

bugfix pinning bitnami image due to pyspark pandas 3.12 issue
  tests/core/engine_adapter/integration/docker/spark/Dockerfile
Due: python

bugfix remove impact to snapshot and environment migration process
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

Revert "bugfix account for breaking change in dbt-fabric"
  setup.py
Due: python

Fix: apply cast-to-dcolon rule for every model statement
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

do not merge: sample pr with json schema
  _version.py
  connection_config_schema.json
  sqlmesh/core/config/connection.py
Due: python

Fix: apply cast-to-dcolon rule for every model statement (#3463)
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
Due: python

fix: consider sqlmesh major/minor for migrate and rollback (#3446)
  sqlmesh/core/state_sync/engine_adapter.py
Due: python

evolve language to complement website
  README.md
Due: none

fix grammar
  README.md
Due: none

clearer language
  README.md
Due: none

mirror changes to index
  docs/index.md
Due: none

blank header
  docs/index.md
Due: none

fix mkdocs formatting
  docs/index.md
Due: none

fix code indents
  docs/index.md
Due: none

fix indent again
  docs/index.md
Due: none

fix format in readme too
  README.md
Due: none

update tagline
  README.md
  docs/index.md
Due: none

evolve language to complement website (#3467)
  README.md
  docs/index.md
Due: none

remove irrelevant stuff
  docs/examples/tcloud_getting_started.md
Due: none

finish draft of debugger view
  docs/examples/debugger_view.md
  docs/examples/debugger_view_step_1.png
  docs/examples/debugger_view_step_2.png
  docs/examples/definition.png
  docs/examples/impact.png
  docs/examples/intervals.png
  docs/examples/log.png
  docs/examples/overview.png
  docs/examples/schema.png
  mkdocs.yml
Due: none

outline
  docs/examples/tcloud_getting_started.md
  mkdocs.yml
Due: none

Trey edits
  docs/examples/debugger_view.md
  docs/examples/debugger_view_step_2.png
Due: none

outline
  docs/examples/debugger_view.md
Due: none

fix ui plan application tasks the wrong way around
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
Due: client

fix ui promote tasks the wrong way around
  web/client/src/library/components/plan/PlanApplyStageTracker.tsx
Due: client

adding v1 tobiko welcome content
  docs/cloud/cloud_index.md
Due: none

added embeded cal lnk
  docs/cloud/cloud_index.md
Due: none

default expanded navigation
  mkdocs.yml
Due: none

commented out line until table is ready
  docs/cloud/cloud_index.md
Due: none

Reorganize files
  docs/cloud/features/dag_debugger.md
  docs/cloud/features/debugger_view.md
  docs/cloud/features/debugger_view/debugger_view_step_1.png
  docs/cloud/features/debugger_view/debugger_view_step_2.png
  docs/cloud/features/debugger_view/definition.png
  docs/cloud/features/debugger_view/impact.png
  docs/cloud/features/debugger_view/intervals.png
  docs/cloud/features/debugger_view/log.png
  docs/cloud/features/debugger_view/overview.png
  docs/cloud/features/debugger_view/schema.png
  mkdocs.yml
Due: none

Debugger View Docs (#3429)
  docs/cloud/features/dag_debugger.md
  docs/cloud/features/debugger_view.md
  docs/cloud/features/debugger_view/debugger_view_step_1.png
  docs/cloud/features/debugger_view/debugger_view_step_2.png
  docs/cloud/features/debugger_view/definition.png
  docs/cloud/features/debugger_view/impact.png
  docs/cloud/features/debugger_view/intervals.png
  docs/cloud/features/debugger_view/log.png
  docs/cloud/features/debugger_view/overview.png
  docs/cloud/features/debugger_view/schema.png
  mkdocs.yml
Due: none

Make pin more constraining
  setup.py
Due: python

Deprecate python 3.8, lift pin on dbt-duckdb
  .circleci/continue_config.yml
  setup.py
  sqlmesh/core/audit/definition.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/notification_target.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/dbt/target.py
  sqlmesh/integrations/github/cicd/config.py
  sqlmesh/integrations/slack.py
  sqlmesh/magics.py
  sqlmesh/utils/metaprogramming.py
  sqlmesh/utils/pydantic.py
  tests/core/engine_adapter/test_bigquery.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python, common

Fix: use public API for magics argument parsing
  sqlmesh/magics.py
Due: python

Exclude dbt-duckdb 1.9.1 to fix python3.8 typing issue
  setup.py
Due: python

Chore!: deprecate python 3.8, use public API for magics arg parsing (#3468)
  .circleci/continue_config.yml
  setup.py
  sqlmesh/core/audit/definition.py
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/kind.py
  sqlmesh/core/notification_target.py
  sqlmesh/core/snapshot/definition.py
  sqlmesh/core/state_sync/cache.py
  sqlmesh/dbt/target.py
  sqlmesh/integrations/github/cicd/config.py
  sqlmesh/integrations/slack.py
  sqlmesh/magics.py
  sqlmesh/utils/metaprogramming.py
  sqlmesh/utils/pydantic.py
  tests/core/engine_adapter/test_bigquery.py
  tests/dbt/test_config.py
  tests/dbt/test_transformation.py
Due: python, common

Fix: use python 3.9 for airflow dockerfile template
  examples/airflow/Dockerfile.template
Due: python

refactor: move creation of snapshots into own method
  sqlmesh/core/snapshot/evaluator.py
Due: python

refactor: move creation of snapshots into own method (#3471)
  sqlmesh/core/snapshot/evaluator.py
Due: python

Chore: Move model selection for runs into a separate method
  sqlmesh/core/context.py
  sqlmesh/core/plan/evaluator.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
