Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

lineage had handlers swapped , make so making sure we have them in logical order
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/types/enum.ts
Due: client

Update RunPlan.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
Due: client

clean up
  web/client/src/library/components/graph/help.ts
Due: client

refetch envirements after promote step happened
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/workers/sqlglot/worker.ts
  web/server/console.py
Due: client, python

fix type and make sure node handlers on right positions
  web/client/src/context/context.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/environment.ts
Due: client

Fix: Backfilling batch size for seeds should always be None (#979)
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
  tests/core/test_snapshot.py
Due: python

Fix: Various bugs (#969)
  sqlmesh/core/constants.py
  web/client/src/context/context.ts
  web/client/src/library/components/editor/extensions/SqlMeshDialect.ts
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/context.tsx
  web/client/src/library/components/graph/help.ts
  web/client/src/library/components/plan/PlanWizardStepOptions.tsx
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/ide/ActivePlan.tsx
  web/client/src/library/pages/ide/IDE.tsx
  web/client/src/library/pages/ide/RunPlan.tsx
  web/client/src/models/environment.ts
  web/client/src/types/enum.ts
  web/client/src/workers/sqlglot/worker.ts
  web/server/api/endpoints/lineage.py
  web/server/console.py
  web/server/settings.py
  web/server/watcher.py
Due: client, python

Remove pipeline and DAG
  docs/quick_start.md
Due: none

Only run UI tests when UI files have changed.
  .circleci/config.yml
  .circleci/continue_config.yml
Due: common

Update quickstart (#970)
  docs/quick_start.md
Due: none

Only run UI tests when UI files have changed. (#980)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: common

avoid duplicate subscription on component reuse
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

fix error formatting
  web/client/src/library/components/report/ReportTestsErrors.tsx
Due: client

Fix: Avoid duplicate subscription on component reuse (#981)
  web/client/src/library/components/report/ReportErrors.tsx
  web/client/src/library/components/report/ReportTestsErrors.tsx
  web/client/src/library/pages/ide/IDE.tsx
Due: client

Chore: Refactor the snapshot evaluator
  sqlmesh/core/snapshot/evaluator.py
Due: python

Raise on migrate in the view strategy
  sqlmesh/core/snapshot/evaluator.py
Due: python

fix: use metavar
  sqlmesh/cli/main.py
Due: python

fix: ensure change is exclusive to cli interface and arbitrary comp is supported
  sqlmesh/cli/main.py
  sqlmesh/core/context.py
Due: python

feat: greatly simplify table diff cli api
  sqlmesh/cli/main.py
Due: python

feat: add padding to cli and improve diff output
  sqlmesh/cli/main.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/core/table_diff.py
Due: python

fix: ensure model name is not required
  sqlmesh/cli/main.py
Due: python

fix: address cli on cond usage to use multiple and actually return a seq
  sqlmesh/cli/main.py
  sqlmesh/core/table_diff.py
Due: python

chore: use row diff verbiage for brevity and semantic correctness
  sqlmesh/core/console.py
Due: python

Fix: Convert seed's dataframe columns to the datetime object when their type is explicitly set to date / time
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/test_model.py
Due: python

ci: run linter
  sqlmesh/cli/main.py
Due: python

Update config.yml
  .circleci/config.yml
Due: common

Update config.yml (#984)
  .circleci/config.yml
Due: common

ci: fix test
  sqlmesh/core/console.py
Due: python

Change fetchdf magic to cell_magic
  sqlmesh/magics.py
Due: python

Make API-specific quickstarts
  docs/quick_start.md
  docs/quickstart/cli.md
  docs/quickstart/notebook.md
  docs/quickstart/overview.md
  docs/quickstart/ui.md
Due: none

Address comments
  sqlmesh/core/model/definition.py
  tests/core/test_model.py
Due: python

Fix: Convert seed's dataframe columns to the datetime object when their type is explicitly set to date / time (#983)
  sqlmesh/core/engine_adapter/bigquery.py
  sqlmesh/core/model/definition.py
  tests/core/engine_adapter/test_bigquery.py
  tests/core/test_model.py
Due: python

dont include model in metadata change if it in direct/indirect
  web/server/models.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
