Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

workflow language
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

Fix: Forward-only models can't be categorized manually (#4184)
  sqlmesh/core/console.py
  sqlmesh/core/plan/builder.py
  tests/core/test_plan.py
Due: python

Fix: When initialising multiple connections pass concurrent tasks
  sqlmesh/core/context.py
  tests/core/test_config.py
Due: python

fix test by using duckdb instead of bigquery
  tests/core/test_config.py
Due: python

Refactor
  sqlmesh/core/config/connection.py
Due: python

Refactor to pass as argument to create _engine_adapter
  sqlmesh/core/config/connection.py
  sqlmesh/core/config/scheduler.py
  sqlmesh/core/context.py
Due: python

retain logic in state
  sqlmesh/core/config/scheduler.py
Due: python

Fix spacing for eval progress bar with standalone audit
  sqlmesh/core/console.py
Due: python

Update CLI documentation descriptions to match current output format (#4183)
  docs/quickstart/cli.md
Due: none

update prose
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

tweak prose more you language
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

add useful links
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

make it clear
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

capitalize
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

feat: add the ability to check intervals
  docs/guides/signals.md
  docs/reference/cli.md
  docs/reference/notebook.md
  mkdocs.yml
  sqlmesh/cli/main.py
  sqlmesh/core/console.py
  sqlmesh/core/context.py
  sqlmesh/magics.py
Due: python

feat: vscode auth
  vscode/extension/package-lock.json
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/signin.ts
  vscode/extension/src/commands/signout.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/exec.ts
  vscode/extension/src/utilities/sleep.ts
Due: none

feat: adds auth to vscode extension (#4188)
  vscode/extension/package-lock.json
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/signin.ts
  vscode/extension/src/commands/signout.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/exec.ts
  vscode/extension/src/utilities/sleep.ts
Due: none

feat: add device flow to vscode extension
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/signin.ts
  vscode/extension/src/commands/signinSpecifyFlow.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/isCodespaces.ts
Due: none

docs: adding better readme to vscode extension
  vscode/extension/README.md
Due: none

polished formatting and prose
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

make it explicit
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

better framing
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

better ignore cron example
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

consistency
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

format the callout
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

Fix: Columns should be sourced from the target table and not the temporary merge table
  sqlmesh/core/engine_adapter/bigquery.py
  tests/core/engine_adapter/test_bigquery.py
Due: python

output is from a plan
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

how unit tests behave
  docs/examples/sqlmesh_cli_crash_course.md
Due: none

docs: adding better readme to vscode extension (#4190)
  vscode/extension/README.md
Due: none

feat: add device flow to vscode extension (#4189)
  vscode/extension/package.json
  vscode/extension/src/auth/auth.ts
  vscode/extension/src/commands/signin.ts
  vscode/extension/src/commands/signinSpecifyFlow.ts
  vscode/extension/src/extension.ts
  vscode/extension/src/utilities/isCodespaces.ts
Due: none

ci: fix vscode job
  .circleci/config.yml
Due: common

fix(vscode): improve naming of lsp channel)
  vscode/extension/src/lsp/lsp.ts
Due: none

ci(vscode): fix vscode job (#4192)
  .circleci/config.yml
Due: common

fix(vscode): force extension to run on host
  vscode/extension/package.json
Due: none

fix(vscode): improve naming of lsp channel (#4193)
  vscode/extension/src/lsp/lsp.ts
Due: none

fix(vscode): force extension to run on host (#4194)
  vscode/extension/package.json
Due: none

feat(vscode): add icon to extension
  vscode/extension/.vscodeignore
  vscode/extension/assets/logo.png
  vscode/extension/assets/logo.svg
  vscode/extension/package.json
Due: none

feat(vscode): add icon to extension (#4195)
  vscode/extension/.vscodeignore
  vscode/extension/assets/logo.png
  vscode/extension/assets/logo.svg
  vscode/extension/package.json
Due: none

chore(vscode): not pacakge esbuild.js file
  vscode/extension/.vscodeignore
Due: none

chore(vscode): not pacakge esbuild.js file (#4196)
  vscode/extension/.vscodeignore
Due: none

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
