Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

remove unused callbacks
  web/client/src/api/index.ts
Due: client

conditionally show column description
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
Due: client

display column description + display model referrenceses in docs
  web/client/openapi.json
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/types/index.d.ts
  web/client/src/utils/index.ts
Due: client

PR comments
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/types/index.d.ts
  web/client/src/utils/index.ts
Due: client

clean up
  web/client/src/utils/index.ts
Due: client

return string from getValue
  web/client/src/library/components/documentation/Documentation.tsx
Due: client

Add depends_on model config
  docs/concepts/models/python_models.md
  docs/reference/configuration.md
Due: none

Fix: Display column description + display model references in docs (#1305)
  web/client/openapi.json
  web/client/src/library/components/documentation/Documentation.tsx
  web/client/src/library/components/graph/Graph.tsx
  web/client/src/library/components/graph/ModelNode.tsx
  web/client/src/library/pages/docs/Content.tsx
  web/client/src/types/index.d.ts
  web/client/src/utils/index.ts
Due: client

Fix: Remove debounce async (#1308)
  web/client/src/api/index.ts
  web/client/src/library/components/graph/ModelLineage.tsx
  web/client/src/utils/index.ts
Due: client

Feat: Add model to promote (#1292)
  sqlmesh/core/plan/evaluator.py
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/engines/commands.py
  sqlmesh/schedulers/airflow/dag_generator.py
  sqlmesh/schedulers/airflow/operators/targets.py
  tests/core/test_snapshot_evaluator.py
  tests/schedulers/airflow/test_plan.py
Due: python

fix table prop serde
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
Due: python

check if we get a column
  sqlmesh/core/model/meta.py
Due: python

fix expression parsing
  examples/sushi/models/items.py
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/meta.py
  sqlmesh/dbt/model.py
  tests/core/test_model.py
Due: python

Update table diff styling
  sqlmesh/core/console.py
  sqlmesh/core/table_diff.py
Due: python

Wordsmith
  sqlmesh/core/console.py
Due: python

Fix: Extend audit error with a snapshot ID
  sqlmesh/core/snapshot/evaluator.py
  sqlmesh/utils/errors.py
Due: python

Fix config source precedence
  docs/reference/configuration.md
Due: none

store expression for table properties
  sqlmesh/core/model/decorator.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/dbt/model.py
  tests/core/test_model.py
Due: python

add table properties to snapshots.json
  tests/fixtures/migrations/snapshots.json
Due: python

make table properties tuple only
  sqlmesh/core/model/meta.py
  tests/core/test_model.py
Due: python

bump sqlglot
  setup.py
Due: python

fix: mssql replace_query_pandas
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Fix: CLI table-diff styling (#1313)
  sqlmesh/core/console.py
  sqlmesh/core/table_diff.py
Due: python

remove extra convert
  sqlmesh/core/model/meta.py
Due: python

add migration script
  sqlmesh/migrations/v0021_fix_table_properties.py
  tests/fixtures/migrations/snapshots.json
Due: python

add tuple encoder
  sqlmesh/utils/pydantic.py
Due: python

Chore: Add the Delegating State Sync base class to simplify downstream implementations
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
Due: python

Chore: Add the Delegating State Sync base class to simplify downstream implementations (#1316)
  sqlmesh/core/context.py
  sqlmesh/core/state_sync/base.py
  sqlmesh/core/state_sync/cache.py
Due: python

Fix: Table properties serde (#1310)
  examples/sushi/models/items.py
  setup.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/migrations/v0021_fix_table_properties.py
  sqlmesh/utils/pydantic.py
  tests/core/test_model.py
  tests/fixtures/migrations/snapshots.json
Due: python

fix: style, pinned version
  setup.py
  sqlmesh/core/engine_adapter/base.py
  tests/core/engine_adapter/test_mssql.py
Due: python

Update table diff guide
  docs/guides/tablediff.md
Due: none

Update table diff guide (#1319)
  docs/guides/tablediff.md
Due: none

DRY TableDiff elements
  web/client/src/library/components/editor/EditorInspector.tsx
  web/client/src/library/components/tableDiff/TableDiff.tsx
Due: client

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
