Repository TobikoData/sqlmesh: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, python, common

Chore: Add Missing ConnectionConfigs to core.config init (#2940)
  sqlmesh/core/config/__init__.py
Due: python

Chore: add persistent duckdb gateway to sushi and wursthall examples (#2938)
  examples/sushi/config.py
  examples/wursthall/config.yaml
  tests/core/test_context.py
Due: python

add scratch work
  sqlmesh/core/macros.py
Due: python

PR feedback
  .circleci/install-prerequisites.sh
  setup.py
  tests/core/engine_adapter/test_integration.py
Due: python, common

Refactor how CircleCI runs engine adapter integration tests and re-enable the tests for cloud databases
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/install-prerequisites.sh
  .circleci/manage-test-db.sh
  .circleci/wait-for-db.sh
  .gitignore
  Makefile
  setup.py
  tests/core/engine_adapter/config.yaml
  tests/core/engine_adapter/docker-compose.yaml
  tests/core/engine_adapter/docker/_common-hive.yaml
  tests/core/engine_adapter/docker/compose.mssql.yaml
  tests/core/engine_adapter/docker/compose.mysql.yaml
  tests/core/engine_adapter/docker/compose.postgres.yaml
  tests/core/engine_adapter/docker/compose.spark.yaml
  tests/core/engine_adapter/docker/compose.trino.yaml
  tests/core/engine_adapter/docker/init-metastore-db.sql
  tests/core/engine_adapter/docker/spark/Dockerfile
  tests/core/engine_adapter/docker/spark/conf/hive-site.xml
  tests/core/engine_adapter/docker/spark/conf/spark-defaults.conf
  tests/core/engine_adapter/docker/trino/catalog/datalake.properties
  tests/core/engine_adapter/docker/trino/catalog/datalake_delta.properties
  tests/core/engine_adapter/docker/trino/catalog/datalake_iceberg.properties
  tests/core/engine_adapter/docker/trino/catalog/testing.properties
  tests/core/engine_adapter/test_integration.py
Due: python, common

store test results for style_and_slow_tests as well
  .circleci/continue_config.yml
  Makefile
Due: common

Feat!: Expose Snowflake dynamic tables through the DBT adapter
  sqlmesh/core/model/__init__.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

Use deprecated method for pydantic v1 compatibility
  tests/dbt/test_transformation.py
Due: python

Update sqlmesh_macros.md
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Docs: clarify macro variables docs, add examples (#2927)
  docs/concepts/macros/macro_variables.md
  docs/concepts/macros/sqlmesh_macros.md
  mkdocs.yml
Due: none

Fix typed macro example
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Docs: fix typed macro example (#2946)
  docs/concepts/macros/sqlmesh_macros.md
Due: none

Feat!: Expose Snowflake dynamic tables through the DBT adapter (#2942)
  sqlmesh/core/model/__init__.py
  sqlmesh/dbt/basemodel.py
  sqlmesh/dbt/model.py
  tests/dbt/test_transformation.py
Due: python

chore!: upgrade sqlglot
  setup.py
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
  tests/core/test_macros.py
Due: python

chore!: upgrade sqlglot (#2945)
  setup.py
  sqlmesh/core/dialect.py
  tests/core/test_dialect.py
  tests/core/test_macros.py
Due: python

Feat: Support enabling audits in model defaults
  sqlmesh/core/config/model.py
  sqlmesh/core/context.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
Due: python

Add unit tests
  sqlmesh/core/config/model.py
  tests/core/test_config.py
  tests/core/test_model.py
Due: python

Refactors
  sqlmesh/core/config/model.py
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
Due: python

Switch to use parse_one
  sqlmesh/core/config/model.py
Due: python

Refactor referenced_audits
  sqlmesh/core/model/definition.py
  sqlmesh/core/snapshot/definition.py
Due: python

feat: add GenericNotificationTarget to NotificationTargets for greater customisation
  sqlmesh/core/notification_target.py
Due: python

Update docs
  docs/concepts/audits.md
  docs/concepts/overview.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
Due: python

Feat: Support enabling audits in model defaults (#2947)
  docs/concepts/audits.md
  docs/concepts/overview.md
  docs/reference/model_configuration.md
  sqlmesh/core/config/model.py
  sqlmesh/core/context.py
  sqlmesh/core/dialect.py
  sqlmesh/core/model/definition.py
  sqlmesh/core/model/meta.py
  sqlmesh/core/snapshot/definition.py
  tests/core/test_config.py
  tests/core/test_model.py
Due: python

Fix migration test
  .circleci/test_migration.sh
Due: common

Chore: fix migration test (#2951)
  .circleci/test_migration.sh
Due: common

Helpful err msg if forward_only specified in inc by partition
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Feat: helpful err msg if forward_only specified in incremental by partition (#2950)
  sqlmesh/core/model/kind.py
  tests/core/test_model.py
Due: python

Fix!: Set the project dialect in jinja global objects for dbt projects
  sqlmesh/dbt/builtin.py
  sqlmesh/migrations/v0055_fix_dbt_project_dialect.py
Due: python

feat: preserve cache when running both dbt and sqlmesh
  sqlmesh/dbt/manifest.py
Due: python

feat: add GenericNotificationTarget to NotificationTargets (#2944)
  sqlmesh/core/notification_target.py
Due: python

Path conditions:
  client: any of: web/client/.*
  python: (any of: (sqlmesh|tests|examples|web/server)/.*) or (any of: pytest.ini|setup.cfg|setup.py)
  common: any of: \.circleci/.*|Makefile|\.pre-commit-config\.yaml
